@import '_h5bp';


@import 'components/_variables';
@import 'components/_utils';
@import 'components/_amp/_product-normalize';
@import 'components/_amp/_global';

@import 'components/_amp/_navbar-product';
@import 'components/_amp/_sidebar';
@import 'components/_amp/_header-product';
@import 'components/_amp/_main-product';

// @import 'components/_amp/_product-blockquote';
@import 'components/_amp/_product-btn';
@import 'components/_amp/_content-product';

@import 'components/_amp/_headline-product';
// @import 'components/_amp/_product-list';
@import 'components/_components/_media';

@import 'components/_amp/_bg';
@import 'components/_components/_color';
@import 'components/_components/_burger';
@import 'components/_amp/_shopping-bag-quantity-product';
@import 'components/_amp/_ts-logo';

.ts-logo {
    @media screen and (max-width: 768px) {
        top: 7px;
        left: 15px;
    }
}
// @import 'components/_components/_ts-logo';
@import 'components/_amp/_block-product';

@import 'components/_components/_product-table';
@import 'components/_amp/_bottle';

@import 'components/_components/_product-name';
@import 'components/_components/_product-property';
@import 'components/_amp/_product-action';
@import 'components/_components/_product-delivery';


@import 'components/_components/_nav-left';
@import 'components/_components/_old-price';
@import 'components/_amp/_aside-page';

@import 'components/_amp/_js-replacement';
@import 'components/_amp/_order';



.nav-left__logo {
    @media (max-width: 768px) {
        max-width: 140px;
        margin: {
            left: auto;
            right: auto;
        }
    }
}

@import 'components/_amp/_helper';
