/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
/*@import url(https://fonts.googleapis.com/css?family=Fondamento|Milonga|Trykker|Modern+Antiqua|Lancelot|Croissant+One|Inknut+Antiqua&subset=latin,latin-ext);*/
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

button {
  border: 0;
}

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
/**
*
* Main Stylesheet For Visual Style Guide
*
**/
/** Components (you can replace the below ones to bootstrap or other framework's files just with components) **/
/*@import '_utils';
@import '_components/_functions';
@import '_bootstrap/_bootstrap';


@import '_layout/vars';
@import '_layout/core';
@import '_layout/sidebar';
@import '_layout/skins';
@import '_layout/elements';
@import '_layout/header';

@import '_modules/gallery-manager';
@import '_modules/multi-select';*/
