table {
	width: 100%;
	/*border-collapse:separate;
    border-spacing:0 20px;*/
}


td {
	border-bottom:20px solid #fff;
	height:260px;
	
}

td.col-img {
	width:200px;
}

img {
	border: 1px solid #A29884;
	height:260px;
}

a{
	text-decoration: none;
	color: #EFECDA;
	padding:20px 10px;
	border-bottom: 2px solid #4DBD74;
	margin-top:20px;
}

td.col-info {
	background-color: #A29884;
	color: #fff;
	padding:20px;
}

h2 {
	color: #EFECDA;
	font-size:30px;
	padding:10px 20px;
}

.row-content {
	padding-bottom:20px;
}

.col-content {
	background-color: #EFECDA;
}

p.block-content  {
	color: #A29884 /*#952944*/;
	text-align: justify;
	margin-bottom:20px;
	margin-top:10px;
}