.shortcut-wrapper {
    text-align: center;
    
    .shortcut-link {
        color: #ccc;
        display: inline-block;
        margin-right: 20px;
        text-shadow: 0 1px 0 #fff;
        transition: color 0.2s ease 0s;
        
        .shortcut-icon {
            font-size: 30px;
            position: relative;
        }
          
        .text {
            color: #626262;
            display: inline-block;
            font-weight: 600;
            margin-left: 10px;
            margin-top: -5px;
        }
    }
}
.shortcut-link .shortcut-icon .shortcut-alert {
    background: #fc8675 none repeat scroll 0 0;
    border: 1px solid #fc8675;
    border-radius: 50em;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    height: 18px;
    line-height: 16px;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: none;
    top: 0;
    width: 18px;
}

.main-header .page-stats {
    float: right;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    
    li {
        border-right: 1px solid #ccc;
        display: block;
        float: left;
        padding: 0 20px;
    }
}

.grey-container {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #eee none repeat scroll 0 0;
    border-color: #dfdfdf;
    border-image: none;
    border-style: solid;
    border-width: 1px 0;
    padding: 15px;
}

.panel-stat1 {
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    
    .value {
        font-size: 60px;
        transition: all 0.4s ease 0s;
    }
    
    .title {
        font-size: 16px;
        margin-top: -15px;
        transition: all 0.4s ease 0s;
    }
}

.panel-stat2 {
    cursor: pointer;
    overflow: hidden;
    
    .stat-icon {
        display: inline-block;
        float: left;
        font-size: 50px;
        line-height: 83px;
        transition: all 0.8s ease 0s;
    }
    
    .value {
        font-size: 60px;
        transition: all 0.4s ease 0s;
    }
    
    .title {
        font-size: 16px;
        margin-right: 10px;
        margin-top: -15px;
        transition: all 0.4s ease 0s;
    }
        
}

.panel-stat3 {
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 25px 20px;
    position: relative;
    
    .stat-icon {
        font-size: 30px;
        opacity: 0.3;
        position: absolute;
        right: 10px;
        top: 20px;
    }
    
    .refresh-button {
        color: rgba(0, 0, 0, 0.3);
        position: absolute;
        right: 10px;
        top: 10px;
        transition: all 0.2s ease 0s;
    }
}

.loading-overlay {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    
    .loading-icon {
        animation: 0.8s linear 0s normal none infinite running spin;
        color: #fff;
        left: 50%;
        position: absolute;
        top: 45%;
    }
}

.loading-overlay.active{
    display:block
}

.m-left-xs {
  margin-left: 5px;
}

.m-left-sm {
  margin-left: 10px;
}

.padding-md {
  padding: 20px !important;
}

.activity-icon.small {
    font-size: 20px;
    height: 42px;
    width: 42px;
}

.activity-icon {
    background: #999 none repeat scroll 0 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50em;
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 30px;
    height: 59px;
    text-align: center;
    transition: all 0.2s ease-in-out 0s;
    width: 59px;
}

.morris-hover{position:absolute;z-index:1000;}.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255, 255, 255, 0.8);border:solid 2px rgba(230, 230, 230, 0.8);font-family:sans-serif;font-size:12px;text-align:center;}.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0;}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0;}

@include bg-variant('.bg-danger-brand', $brand-danger);
@include bg-variant('.bg-success-brand', $brand-success);
@include bg-variant('.bg-info-brand', $brand-info);
@include bg-variant('.bg-warning-brand', $brand-warning);

.panel .tool-bar {
    float: right;
    list-style: outside none none;
    margin-bottom: 0;
    
    li {
        display: inline-block;
        float: left;
        
        a {
            border-left: 1px solid rgba(0, 0, 0, 0.1);
            display: block;
            margin: -10px 0;
            padding: 10px;
            transition: all 0.2s ease 0s;
        }
    }
}

.panel.panel-primary .tool-bar {
    li {
        a {
            color: #fff;
            border-color:lighten($brand-primary, 10%);
        }
    }
}

.panel.bg-info-brand .panel-footer {
    background: rgba(20, 20, 20, 0.07) none repeat scroll 0 0;
    border-color: #4c99a9;
}

/* offer details */
.tab-bar.grey-tab {
    background: #e6e6e6 none repeat scroll 0 0;
    
    li {
        a {
            border: medium none transparent;
            border-radius: 0;
            color: #bbb;
            text-shadow: 0 1px 0 #fff;
        }
    }
}
.tab-bar {
    list-style: outside none none;
    margin: 0;
    
    &::after {
        clear: both;
    }
    &::after, &::before {
        content: "";
        display: table;
        line-height: 0;
    }
    
    li {
        display: inline-block;
        float: left;
        margin-bottom: -1px;
        
        a {
            color: $blue;
            display: block;
            padding: 10px;
            text-shadow: 0 1px #fff;
            transition: color 0.2s ease 0s;
            
            i {
                margin-right: 5px;
                color: $blue;
            }
        }
    }
    
    li.active {
        a {
            background: #fff none repeat scroll 0 0;
            color: $blue;
        }
    }
}

.seperator {
    padding-top: 10px;
}



.panel-overview {
    padding: 0;
    
    &::after {
        clear: both;
    }
    &::after, .panel-overview::before {
        content: "";
        display: table;
        line-height: 0;
    }
    
    .overview-icon {
        display: inline-block;
        float: left;
        font-size: 70px;
        padding: 10px;
        text-align: center;
        width: 50%;
        color:#fff;
    }
    
    .overview-value {
        display: inline-block;
        float: left;
        padding: 15px 10px 10px;
        text-align: center;
        width: 50%;
        color:#777;
    }
}

.headline {
    border-bottom: 1px solid #eee;
    font-weight: 500;
    margin: 20px 0;
    padding: 5px 0 10px;
   
    .line {
        background: #3c8dbc none repeat scroll 0 0;
        display: block;
        height: 3px;
        margin-bottom: -10px;
        margin-top: 7px;
        width: 50px;
    }

}

.panel-white {
  @include panel-variant(#f1f5fc, #777, #fff, #f1f5fc);
}

.chat {
    position:relative;
    padding:10px;
    
    .chat-list {
        list-style: outside none none;
        margin: 0;
        padding: 0;
        
        li {
             margin: 15px 0;
            
            img {
                border-radius: 50em;
                height: 45px;
                width: 45px;
            }
        }
        
        .chat-body {
            font-size: 11px;
        }
        
        
        li .chat-body {
            border: 1px solid #f1f5fc;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
            font-size: 11px;
            padding: 10px;
            position: relative;
        }
        
         li.left .chat-body {
            background-color: #fff;
            margin-left: 70px;
            
            &::before {
                background: #fff none repeat scroll 0 0;
                border-left: 1px solid #f1f5fc;
                border-top: 1px solid #f1f5fc;
                content: "";
                display: inline-block;
                height: 16px;
                left: -8px;
                position: absolute;
                top: 10px;
                transform: rotate(-45deg);
                width: 16px;
            }
        }
        
        li.right .chat-body {
            background-color: #fff;
            margin-right: 70px;
            
            &::before {
                background: #fff none repeat scroll 0 0;
                border-right: 1px solid #f1f5fc;
                border-top: 1px solid #f1f5fc;
                content: "";
                display: inline-block;
                height: 16px;
                position: absolute;
                right: -8px;
                top: 10px;
                transform: rotate(45deg);
                width: 16px;
            }
        }

    }
}