.padding-md {
    padding: 20px;
}

/* Layouts */
.wrapper {
    min-height: 100%;
	overflow: hidden;
	position: relative;
    @include clearfix();    
}

/* Header */
body > .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

.align-center { text-align: center; }
.align-right { text-align: right; }
.align-justify { text-align: justify; }

.none { display: none !important; }

/* Define 2 column template */
.right-side, .left-side {
    min-height: 100%;
    display: block;
}
/*right side - contins main content*/
.right-side {
    background-color: $body-bg;
    margin-left: $left-side-width;
}
/*left side - contains sidebar*/
.left-side {
    position: absolute;
    width: $left-side-width;
    top: 0;
	bottom: 0;
	margin-bottom: -9999px;
	padding: 2% 0;
	
	height: 100%;
	z-index:100;

}

@media screen and (max-width: $screen-md) {
	.left-side {
		//margin-bottom: 0;
		//padding-bottom: 0;
		
		/*&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 1000%;
			left: 0;
			top: 0;
			background-color: red;
		}*/
	}
}

@media screen and (min-width: $screen-md) {
    /*.left-side {
        top: 50px;
    }*/
    /*Right side strech mode*/
    .right-side.strech {
        margin-left: 0;
        > .content-header {
            margin-top: 0px;
        }
    }
    /* Left side collapse */
    .left-side.collapse-left {
        left: -$left-side-width;
    }
}

/*Give content full width on xs screens*/
@media screen and (max-width: $screen-md) {
    .right-side {
        margin-left: 0;
    }

}

/*
    By default the layout is not fixed but if you add the class .fixed to the body element
    the sidebar and the navbar will automatically become poisitioned fixed
*/
body.fixed {
    > .header, .left-side, .navbar {
        position: fixed;
    }
    > .header {
        top: 0;
        right: 0;
        left: 0;
    }
    .navbar {
        left: 0;
        right: 0;
    }

    .wrapper {
        margin-top: 50px;
    }

}



/* Page Header */
.page-header {
    margin: 10px 0 20px 0;
    font-size: 22px;

    > small {
        color: #666;
        display: block;
        margin-top: 5px;
    }
}



.sort-highlight {
    background: #f4f4f4;
    border: 1px dashed #ddd;
    margin-bottom: 10px;
}


/* Don't display when printing */
@media print {
    //Add to elements that you do not want to show when printing
    .no-print {
        display: none;
    }  
    
    //Elements that we want to hide when printing
    .left-side, .header, .content-header {
        display: none;
    }
    //This is the only element that should appear, so let's remove the margins
    .right-side {
        margin: 0;
    }
}

/* Remove border radius */
.flat {
     border-radius: 0 !important;
}



.text-bold {
    &, &.table td, &.table th {
        font-weight: 700;
    }
}

.border-radius-none {
    border-radius: 0 !important;
}

/* _fix for sparkline tooltip */
.jqstooltip{
    padding: 5px!important;
    width:auto!important;
    height:auto!important;
}

.connectedSortable {
    min-height: 100px;
}

.chk-container {list-style-type: none; }

.tools a {  color: #a7a7a7;  font-size: 12px;  margin-left: 10px; }
.text-right {text-align:rigth;}

.btn-icon i {margin-right:8px;}

/* radiobuttons */
#widget-types > label{ background-color:#65CEA7; padding: 5px 12px; color:#fff;}
#widget-types > input[type=radio] {  display:none;  }
#widget-types > input[type=radio]:checked + label { background-color:#EBC85E; color:#fff;}

div.item-edit {
	border: 1px solid #ccc;
    border-radius: 3px;
	margin-top:-5px;
	padding:5px;
}

div.content-page-select {max-height:200px; overflow-y:scroll;margin-bottom:10px;}

div.upload {
    width: 157px;
    height: 57px;
    /*background: url(https://lh6.googleusercontent.com/-dqTIJRTqEAQ/UJaofTQm3hI/AAAAAAAABHo/w7ruR1SOIsA/s157/upload.png);*/
    overflow: hidden;
}

div.upload input {
    display: block !important;
    width: 157px !important;
    height: 57px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}


/* nowe */

/* Content */
.main-s {
    background: $body-bg;
	position: relative !important;
	/*border-bottom: 1px solid #e7eaec !important;*/
	
	&-wrapper {
        &-heading {
		    border-top: 0 none;
            border-bottom:1px solid #F2EFEF;
			padding: 10px 10px 10px;
			background-color: #FCFCFC;
			
			h3 {
				margin-top: 0 !important;
				
				span.grey-label {
					color: $grey;
				}
				
				a {
					margin-left:10px;
				}
			}
		}
		
		&-content {
			/*padding: 20px 10px 40px;*/
		}
	}
}

.breadcrumb {
    background-color: #fff !important;
    margin-bottom: 0px !important;
    padding: 8px 5px !important;
	font-size:1em;
	color: $color_leading;
	
	span.grey-label {
		color: $grey;
		font-size:0.8em;
	}
}

.view-window {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
    border-radius:2px;
	
	&::after, &::before {
		display: table;
	}
	
	&-title {
		-moz-border-bottom-colors: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		background-color: #f9f9f9;
		border-color: #e7eaec;
		border-image: none;
		border-style: solid solid none;
		/*border-width: 3px 0 0;*/
        border-width:1px;
		color: inherit;
		margin-bottom: 0;
		min-height: 48px;
		padding: 14px 15px 7px;
		
		h5 {
			display: inline-block;
			float: left;
			font-size: 14px;
			margin: 0 0 7px;
			padding: 0;
			text-overflow: ellipsis;
			color: rgb(153,156,158);
		}
		
		.view-window-tools {
			display: block;
			float: none;
			margin-top: 0;
			padding: 0;
			position: relative;
			text-align: right;
			
			.open > .dropdown-menu {
				left: auto;
				right: 0;
				display:block;
			}
			
			a {
				color: rgb(153,156,158);
				cursor: pointer;
				margin-left: 5px;
			}
			
			.dropdown-menu {
				border: medium none;
				border-radius: 3px;
				box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
				display: none;
				float: left;
				font-size: 12px;
				left: 0;
				list-style: outside none none;
				padding: 0;
				position: absolute;
				text-shadow: none;
				top: 100%;
				z-index: 1000;
			}
			
		}
	}
    &-content {
		@include clearfix();  
		
		background-color: #fff; /*#f9f9f9;*/
		border-color: #e7eaec;
		border-image: none;
		border-style: solid solid solid;
		border-width: 1px;
		color: inherit;
		padding: 15px 20px 20px;
	}
}

.item-action-edit	{
	width: 40%;
	display: block;
	text-align: center;
	transition: 0.15s ease;
	border-radius: 4px;
	
	.arrow {
		bottom: -5px;
		display: inline-block;
		float: right;
		height: 13px;
		left: -10px;
		margin-top: 2px;
		position: relative;
		text-align: left;
		transform: rotate(45deg);
		transition: all 0.4s ease 0s;
		width: 13px;
		&:before, &:after {
			background-color: #fff;
			content: "";
			display: inline-block;
			height: 3px;
			position: absolute;
			transition: all 0.4s ease 0s;
			width: 12px;
		}
		&:after {
			left: 5px;
			position: absolute;
			top: -5px;
			transform: rotate(90deg);
		}
	} 
	&.active {	
		.arrow {
			transform: rotate(0);
			transform: translate(0, -6px);
			transform: rotate(45deg) translate(-5px,-5px);
			&:before {
				transform: rotate(-45deg);
				transform: translate(10px,0);
			}
			&:after {
				transform: rotate(45deg);
				transform: rotate(90deg) translate(10px,0);
            }
		}
    }
	
	.click-text {
		display: block;
		text-align: left;
		padding: 0 12px;
		margin: 0;
		cursor: pointer;
		color: #fff;
		transition: 0.15s ease;
		&:hover {
			color: rgba(255, 255, 255, 0.6);
		}
	}
}


div.summary {
	/*margin-bottom: 20px;*/
	color: $color_grey;
	
	a {
		margin-left:10px;
		margin-bottom: 2px;
	}
}

table {
	empty-cells:hide;
	td {
		div.empty {
			text-align: center;
		}
	}
}

.sidebar {
    .sidebar-menu {
        .treeview-menu {
            > li > a {
                display: block;
                margin: 0;
                padding: 5px 5px 5px 35px !important;
                position: relative;
            }
            
            i {
                  left: 20px;
                position: absolute;
                top: 8px;
            }
        }
        
        .item-caption {
            background-color: $color-leading;
            color: $purple;
            padding: 5px;
            font-weight:600;
            text-align: center;
            margin-top:1px;
            margin-bottom:1px;
            -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.75);
        }
    }
}


#idSearch {
	padding:20px;
	background-color: #F9f9f9;
	border:1px solid #E0E0E0;
	margin-bottom:30px;
}

.session-config {
	padding:10px;
	
	fieldset {
		margin-top:10px;
	}
	input.rate {
		width: 100px;
		margin-left: 20px;
		margin-bottom: 5px;
		height: 30px;
		text-align: right;
		font-size: 16px;
	}
	
	label {
		display:block !important;
	}
}

.fixed-table-toolbar .dropdown-menu {
	font-size:12px;
}

.add-option-select {
	padding-left: 0 !important;
	padding-right: 0 !important;
	
	div {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}
.ajax-buttons {
	a {
		margin: 3px 6px;
	}
}

/*.ajax-table-items {
    background-color: #fcfcfc;
    border: 1px solid #f3f3f4;
    border-radius:10px;
	padding: 15px;
}*/

div.date-from-to {
	clear: both;
	div {
		width:50%;
		float:left;
	}
}

.dd-actions {
	a {
		margin-bottom:5px;
	}
	.alert {
		text-align:center;
	}
}

#list-recipies {
	li {
		text-align: right;
		input {
			display: inline-block;
			min-width: 10px;
			background-color: #fff;
			background-image: none;
			border: 1px solid #ededed;
			border-radius: 4px;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
			color: #555555;
			margin-left:10px;
			text-align: right;
			padding-right:5px;
			width:50px;
		}
	}
}

.panel-button-action {
	border-bottom: 1px solid $legend-border-color;
	padding-bottom:5px;
	margin-bottom:5px;

}

.panel-button-action-center {
	text-align: center;
} 

#price-option {
	font-weight: bold;
	font-size:1.4em;
	margin-left:10px;
}

#modal-new-option-create {
	z-index: 1080 !important;
}

span.required {
	color: #E13D34;
}

a.print-link {
	text-align:center;
}

td.col-avatar {
    width:80px;
    text-align:center;
    
    img {
        width:60px;
        height:60px;
        border-radius: 50%;
    }
}

.lSSlideOuter {
    max-width: 400px;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

form div.required label.control-label:after, form div.required b.control-label:after {
  content:" * ";
  color:red;
}

.table-tools {
    position:relative;
    form {
        width:280px;
        
        .form-group {
            float: left;
            width:240px;
        }
        
        button {
            width:40px;
            float: right;
        }
    }

}