/*
    Component: Sidebar
--------------------------
*/

.sidebar {
    margin-bottom: 5px;
    // remove shadow from form 
    .sidebar-form {
        input:focus {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border-color: transparent!important;
        }
    }
    // Sidebar menu 
    .sidebar-menu {
        
		&-container {
			border: none !important;
		}
		
		list-style: none;
        margin: 0;
        padding: 0;
        > li {
            margin: 0;
            padding: 0;
            > a {
                padding: 12px 5px 12px 15px;
				/*border-bottom: 1px solid #444;*/
				
                display: block;
                > .fa, > .glyphicon, > .ion {
                    width: 20px;
                }
            }
        }
		
		li.divider {
			content: '' !important;
			border-bottom: 1px solid #C9C9C9;
			height: 1px;
			margin: 9px 1px !important;
			overflow: hidden;
		}

        // Tree view menu 
        .treeview-menu {
            display: none;
            list-style: none;
            padding:0;
            margin:0;
            > li {
                margin: 0;
                > a {
                    padding: 5px 5px 5px 15px;
                    display: block;
                    margin: 0px 0px;
                    > .fa, > .glyphicon, > .ion {
                        width: 20px;
                    }
                }
            }
        }
    }
}

/*.sidebar-menu li.activeItem {background-color: #F9F9F9 !important;border-top:1px solid #EDEDED !important;}
.sidebar-menu li.activeItem a {color:#333333 !important;}
.sidebar-menu li.activeItem .treeview-menu { background-color: #EDEDED !important; display: block;}
.sidebar-menu li.activeItem .treeview-menu li  a {color:#333333 !important;}*/

/*.sidebar-menu li.active {background-color: #4F4F4F;border-top:1px solid #6D6D6D;}*/
/*.sidebar-menu li.active a {color:#333333;}*/
/*.sidebar-menu li.active .treeview-menu { background-color: #595959; }*/
/*.sidebar-menu li.active .treeview-menu li  a {color:#333333 !important;}*/

//Sidebar user panel
.user-panel {
    padding: 10px;
    @include clearfix;
    > .image > img {
        width: 45px;
        height: 45px;        
    }
    > .info {
        font-weight: 600;
        padding: 5px 5px 5px 15px;
        line-height: 1;
    }
    > .info > p {
        margin-bottom: 9px;
    }
    > .info > a {
        text-decoration: none;
        padding-right: 5px;
        margin-top: 3px;
        font-weight: normal;
        > .fa, > .ion, > .glyphicon {
            margin-right: 3px;
        }
    }
}

/*
 * Off Canvas
 * --------------------------------------------------
 *  Gives us the push menu effect
 */
@media screen and (max-width: $screen-md) {

    .relative {
        position: relative;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -$left-side-width;
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -$left-side-width;
    }

    .row-offcanvas-right.active {
        right: $left-side-width;
    }
	
	.left-side.sidebar-offcanvas {
		transition: left 0.2s ease;
	}

    .row-offcanvas-left.active {
        //left: $left-side-width;
		//overflow: initial;
		.left-side.sidebar-offcanvas {
			left: 0;
			transition: left 0.2s ease;
		}
		
		.right-side {
			position: relative;
			
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 1000%;
				left: 0;
				top: 0;
				z-index:2;
				background-color: rgba(0,0,0, 0.2);
			}
		}
    }

    .sidebar-offcanvas {
        left: 0;
    }

    body.fixed {
        .sidebar-offcanvas {
            margin-top: 50px;
            left: -$left-side-width;
        }
        .row-offcanvas-left.active {
            .navbar {
                left: $left-side-width!important;
                right: 0;

            }
            .sidebar-offcanvas {
                left: 0px;
            }

        }
    }
}