/*$sidebar-bg: #435360;*/
$sidebar-color-link-light: #EDEDED;
/*$sidebar-color-link-dark: lighten($sidebar-bg,3%)*/ /*#444*/;
/* 
    Skins
    -----
*/
@mixin skin-variant($bg, $leading, $bgActive, $border, $font, $hover, $sidebar-bg, $sidebar-color-link-dark) {
	
	
	.navbar {
		border-bottom: 1px solid $hover;
		@include navbar-variant($bg, $font);
		
		.sidebar-toggle {
            .icon-bar {
                background-color: lighten($leading, 10%);
            }
		}
	}
	.logo {
		@include logo-variant($sidebar-bg);
	}
	.right-side > .content-header {
		background: transparent;
		box-shadow: none;
	}
	.user-panel {
		> .image > img {
			border: 1px solid $border;
		}

		> .info, > .info > a {
			color: $border;
		}
	}
	
	.sidebar {
        border-bottom: 1px solid darken($sidebar-bg,5%);
		background-color: darken($sidebar-bg,5%);
    }

    .sidebar  .sidebar-menu {
		background-color: $sidebar-bg;
		> li.active {
			background-color: lighten($sidebar-bg, 10%);
			border-top:1px solid lighten($sidebar-bg, 30%);
		}
		> li.activeItem {
			background-color: lighten($bgActive, 20%) !important;
			border-top:1px solid $bgActive !important;
			> a { 
				color: $leading !important;
				i {
					color: $leading !important;
				}
            }
            > .treeview-menu {
				background-color: $bgActive !important; 
				display: block;
				> li >  a {
					color: $sidebar-color-link-dark !important;
					
					i {
						color: $leading !important;
					}
				}
			}
		}
		> li {
			border-top: 1px solid $sidebar-bg;
			border-bottom: 1px solid $sidebar-color-link-dark;

			&:first-of-type {
				/*border-top: 1px solid $border;*/
				> a {
					border-top: 0px solid $bg;
				}
			}
			> a {
				/*margin-right: 1px;*/
			}
			> a:hover, &.active > a {
				color: #f6f6f6;
				background: $border;            
			}

			> .treeview-menu {
				margin: 0 1px;
				background: $border;
			}
		}
    }

    .left-side {
        background: $sidebar-bg;
    }

    .sidebar a {
        color: $hover;
        &:hover {
            text-decoration: none;
        }
    }

    .treeview-menu {
        > li {
            > a {
				color: $hover;
				font-size:0.9em;
				
				i {
					color: #CECECE !important;
				}
			}
            &.active > a, > a:hover {
                color: #fff;
            }
        }
    }

    .sidebar-form {
        border: 0px solid #555;
        margin: 10px 10px;
        input[type="text"], .btn {
            box-shadow: none;
            background-color: rgba(255,255,255, 0.1);   
            border: 0 solid rgba(255,255,255, 0.1);
            height: 35px;
            outline: none;
        }
        input[type="text"]{
            color: #666;            
            &:focus, &:focus + .input-group-btn .btn {
                background-color: $border;                
                border: 0;
            }
            &:focus + .input-group-btn .btn {
                border-left: 0;
            }
        }
        .btn {
            color: #999;
            border-left: 0;
        }
    }
	
	.breadcrumb {
		margin-bottom: 0px !important;
		padding: 8px 5px !important;
		font-size:1em;
		color: $leading;
		
		span.grey-label {
			color: $grey;
			font-size:0.8em;
		}
		
		a {
			color: $leading;
		}
	}
}

/*
    Skin Black
    --------
*/

.skin-default {
    @include skin-variant($body-bg, $color-leading, $sidebar-color-link-light, lighten(#435360,3%), #999C9E, #eee, #435360, lighten(#435360,3%));
}

.skin-purple {
    @include skin-variant($skin-purple-bg, $skin-purple-leading, $sidebar-color-link-light, lighten(#435360,3%), $skin-purple-leading, #eee, #435360, lighten(#435360,3%));
}

.skin-green {
    @include skin-variant($skin-green-bg, $skin-green-leading, $sidebar-color-link-light, lighten(#435360,3%), $skin-green-leading, #eee, #435360, lighten(#435360,3%));
}

.skin-orange {
    @include skin-variant($skin-orange-bg, $skin-orange-leading, $sidebar-color-link-light, lighten(#435360,3%), $skin-orange-leading, #eee, #435360, lighten(#435360,3%));
}

.skin-red {
    @include skin-variant($skin-red-bg, $skin-red-leading, $sidebar-color-link-light, lighten(#435360,3%), $skin-red-leading, #eee, #435360, lighten(#435360,3%));
}

.skin-blue {
    @include skin-variant($skin-blue-bg, $skin-blue-leading,$sidebar-color-link-light, lighten(#435360,3%), $skin-blue-leading, #eee, #435360, lighten(#435360,3%));
}

.skin-main {
    @include skin-variant(#F8F7EF, #A29884, $sidebar-color-link-light, lighten(#435360,3%), #A29884, #eee, #435360, lighten(#435360,3%));
}

.skin-cms {
    @include skin-variant(#435360, #14a2bb, $sidebar-color-link-light, lighten(#435360,3%), #f5f6f7, lighten(#435360,40%), #435360, lighten(#435360,3%)); 
}

.skin-gtw {
    @include skin-variant(darken(#522E91,10%), #F5821F, $sidebar-color-link-light, lighten(#522E91,5%), #f5f6f7, lighten(#522E91,40%), #522E91, lighten(#522E91,5%)); 
}



