/* *********************** */
/* configuration variables */
/* *********************** */

/* fonts */

$main-font-family: 'Montserrat', sans-serif;
$headline-font-family: 'Montserrat', sans-serif;

/* colors */
$color_leading: #a287d4;
$color_dark: #424A55;

$color_orange: #f9892e;
$color_red: #FC5B3F;
$color_teal: #2dc5c7;
$color_blue: #33bfeb;
$color_purple: #a287d4;
$color_navy: #1F398E; 
$color_green: #a0d65a;
$color_grey: #4b87ae;
$color_lightgrey: #eee;
$color_pink: #de1771;
$color_yellow: #EFC109;

$colorBeige: #fff6f2;
$colorDarkKhaki: #AAC253;
$colorDarkOlive: #535B33;
$colorWhiteSmoke: #FAF9F8;
$colorBeigeDark: #D2B49A;
$colorPowderBlue: #BED8D3;

$color-list: ('white': #fff, 'orange': $color_orange, 'teal': $color_teal, 'purple': $color_purple, 'grey': $color_grey, 'lightgrey': $color_lightgrey, 'red': $color_red, 'blue': $color_blue, 'green': $color_green, 'yellow': $color_yellow, 'pink': $color_pink, 'dark': $color_dark, 'navy': $color_navy);

$border-color: #ddd;
$btn-font-color: #fff;

$main-font-color: #404E67;

$body-background-color: $colorBeige;
$main-background-color: #F5F7FA;
$header-background-color: #fff;
$logo-area-background-color: #fff;
$logo-color: #1F398E;

$navbar-background-color: #fff;
$navbar-item-background-color: transparent;
$navbar-item-background-color-active: #dcd2ef;
$navbar-item-background-color-hover: transparent;

$navbar-font-size: 1.1em;
$navbar-font-weight: 300;
$navbar-font-color: #404E67;
$navbar-font-color-hover: #a287d4;
$navbar-font-color-active: #a287d4;

$burger-lines-color: #9499a3;

$header-font-icon-color: #9499a3;

$avatar-border: 2px solid #424a55;
$avatar-font-color: #666;

/* header dropdowns */
$header-dropdown-header-bg-color: #f9f9f9;
$header-dropdown-header-font-color: #666;

/* font sizes */
$font-size-xs: 0.7em;
$font-size-sm: 0.8em;
$font-size-normal: 1em;
$font-size-lg: 1.2em;

/* sizes */

$navbar-width: 280px;

/* transition */

$standard-transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);

/* block */

$block-padding: 0.5rem 1rem;
$block-head-border-bottom: 1px solid $border-color;
$block-footer-border-top: 1px solid $border-color;



%scrollStyle {
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    &::-webkit-scrollbar-button {
      width: 0px;
      height: 0px;
    }
    &::-webkit-scrollbar-thumb {
      background: #e1e1e1;
      border: 0px none #ffffff;
      border-radius: 50px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #ffffff;
    }
    &::-webkit-scrollbar-thumb:active {
      background: #000000;
    }
    &::-webkit-scrollbar-track {
      background: #666666;
      border: 0px none #ffffff;
      border-radius: 50px;
    }
    &::-webkit-scrollbar-track:hover {
      background: #666666;
    }
    &::-webkit-scrollbar-track:active {
      background: #333333;
    }
    &::-webkit-scrollbar-corner {
      background: transparent;
    }
}