/*
    Core: General style
----------------------------
*/

html, body {
    overflow-x: hidden!important;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    background: $body-bg;
	color: #767676;
	padding-top: 0 !important;
}

.clear { clear: both;}

a {
    color: $link-color;
}
a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
    color: $link-hover-color;
}
/* Layouts */
.wrapper {
    min-height: 100%;
    @include clearfix();    
}

/* Header */
body > .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

/* Define 2 column template */
.right-side, .left-side {
    min-height: 100%;
    display: block;
}
/*right side - contins main content*/
.right-side {
    background-color: $body-bg;
    margin-left: $left-side-width;
}
/*left side - contains sidebar*/
.left-side {
    position: absolute;
    width: $left-side-width;
    top: 0;
}

@media screen and (min-width: $screen-md) {
    .left-side {
        top: 50px;
    }
    /*Right side strech mode*/
    .right-side.strech {
        margin-left: 0;
        > .content-header {
            margin-top: 0px;
        }
    }
    /* Left side collapse */
    .left-side.collapse-left {
        left: -$left-side-width;
    }
}

/*Give content full width on xs screens*/
@media screen and (max-width: $screen-md) {
    .right-side {
        margin-left: 0;
    }

}

/*
    By default the layout is not fixed but if you add the class .fixed to the body element
    the sidebar and the navbar will automatically become poisitioned fixed
*/
body.fixed {
    > .header, .left-side, .navbar {
        position: fixed;
    }
    > .header {
        top: 0;
        right: 0;
        left: 0;
    }
    .navbar {
        left: 0;
        right: 0;
    }

    .wrapper {
        margin-top: 50px;
    }

}


/* Content */
.content {
    padding: 20px 15px;
    background: $body-bg;
}

/* Utility */

/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

/* Page Header */
.page-header {
    margin: 10px 0 20px 0;
    font-size: 22px;

    > small {
        color: #666;
        display: block;
        margin-top: 5px;
    }
}

/* All images should be responsive */
img {
    max-width: 100% !important;
}

.sort-highlight {
    background: #f4f4f4;
    border: 1px dashed #ddd;
    margin-bottom: 10px;
}

/* 10px padding and margins */
.pad {
    padding: 10px;
}
.margin {
    margin: 10px;
}

/* Display inline */
.inline {
    display: inline;
    width: auto;
}

/* Background colors */
.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange ,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black {
    color: #f9f9f9 !important;
}
.bg-gray {
    background-color: $gray!important;
}
.bg-black {
    background-color: $black!important;
}
.bg-red {
    background-color: $red !important;
}
.bg-yellow {
    background-color: $yellow !important;
}
.bg-aqua {
    background-color: $aqua !important;
}
.bg-blue {
    background-color: $blue !important;
}
.bg-light-blue {
    background-color: $light-blue !important;
}
.bg-green {
    background-color: $green !important;
}
.bg-navy {
    background-color: $navy !important;
}
.bg-teal {
    background-color: $teal !important;
}
.bg-olive {
    background-color: $olive !important;
}
.bg-lime {
    background-color: $lime !important;
}
.bg-orange {
    background-color: $orange !important;
}
.bg-fuchsia {
    background-color: $fuchsia !important;
}
.bg-purple {
    background-color: $purple !important;
}
.bg-maroon {
    background-color: $maroon !important;
}

/* Text colors */
.text-red {
    color: $red !important;
}
.text-yellow {
    color: $yellow !important;
}
.text-aqua {
    color: $aqua !important;
}
.text-blue {
    color: $blue !important;
}
.text-black {
    color: $black!important;
}
.text-light-blue {
    color: $light-blue !important;
}
.text-green {
    color: $green !important;
}
.text-navy {
    color: $navy !important;
}
.text-teal {
    color: $teal !important;
}
.text-olive {
    color: $olive !important;
}
.text-lime {
    color: $lime !important;
}
.text-orange {
    color: $orange !important;
}
.text-fuchsia {
    color: $fuchsia !important;
}
.text-purple {
    color: $purple !important;
}
.text-maroon {
    color: $maroon !important;
}

/*Hide elements by display none only*/
.hide {
    display: none !important;
}

/* Remove borders */
.no-border {
    border: 0px !important;
}
/* Remove padding */
.no-padding {
    padding: 0px !important;
}
/* Remove margins */
.no-margin {
    margin: 0px !important;
}

/* Remove box shadow */
.no-shadow {
    box-shadow: none!important;
}

/* Don't display when printing */
@media print {
    //Add to elements that you do not want to show when printing
    .no-print {
        display: none;
    }  
    
    //Elements that we want to hide when printing
    .left-side, .header, .content-header {
        display: none;
    }
    //This is the only element that should appear, so let's remove the margins
    .right-side {
        margin: 0;
    }
}

/* Remove border radius */
.flat {
    .border-radius(0)!important;
}

/* Change the color of the striped tables */
.table-striped > tbody > tr:nth-child(odd) {
    > td,
    > th {
        background-color: $table-striped-color;
    }
}

.table.no-border {
    
    &, td, th {
        border: 0;
    }
}

/* .text-center in tables */
table.text-center {
    &, td, th {
        text-align: center;
    }
}

.table.align {
    th {
        text-align: left;
    }
    td {
        text-align: right;
    }
}

.text-bold {
    &, &.table td, &.table th {
        font-weight: 700;
    }
    
    
}

.border-radius-none {
    .border-radius(0)!important;
}

/* _fix for sparkline tooltip */
.jqstooltip{
    padding: 5px!important;
    width:auto!important;
    height:auto!important;
}

/*
Gradient Background colors
*/
.bg-teal-gradient {
    .gradient($teal; $teal; lighten($teal, 16%))!important;
    color: #fff;
}
.bg-light-blue-gradient {
    .gradient($light-blue; $light-blue; lighten($light-blue, 12%))!important;
    color: #fff;
}
.bg-blue-gradient {
    .gradient($blue; $blue; lighten($blue, 7%))!important;
    color: #fff;
}
.bg-aqua-gradient {
    .gradient($aqua; $aqua; lighten($aqua, 7%))!important;
    color: #fff;
}
.bg-yellow-gradient {
    .gradient($yellow; $yellow; lighten($yellow, 16%))!important;
    color: #fff;
}
.bg-purple-gradient {
    .gradient($purple; $purple; lighten($purple, 16%))!important;
    color: #fff;
}
.bg-green-gradient {
    .gradient($green; $green; lighten($green, 7%))!important;
    color: #fff;
}
.bg-red-gradient {
    .gradient($red; $red; lighten($red, 10%))!important;
    color: #fff;
}
.bg-black-gradient {
    .gradient($black; $black; lighten($black, 10%))!important;
    color: #fff;
}
.bg-maroon-gradient {
    .gradient($maroon; $maroon; lighten($maroon, 10%))!important;
    color: #fff;
}

.connectedSortable {
    min-height: 100px;
}

.tab-pane {border-left:1px solid #dddddd; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; padding-top:20px; padding:20px;}

.chk-container {list-style-type: none; }

.tools a {  color: #a7a7a7;  font-size: 12px;  margin-left: 10px; }
.text-right {text-align:rigth;}

.btn-icon i {margin-right:8px;}

/* radiobuttons */
#widget-types > label{ background-color:#65CEA7; padding: 5px 12px; color:#fff;}
#widget-types > input[type=radio] {  display:none;  }
#widget-types > input[type=radio]:checked + label { background-color:#EBC85E; color:#fff;}

div.item-edit {
	border: 1px solid #ccc;
    border-radius: 3px;
	margin-top:-5px;
	padding:5px;
}

div.content-page-select {max-height:200px; overflow-y:scroll;margin-bottom:10px;}

div.upload {
    width: 157px;
    height: 57px;
    /*background: url(https://lh6.googleusercontent.com/-dqTIJRTqEAQ/UJaofTQm3hI/AAAAAAAABHo/w7ruR1SOIsA/s157/upload.png);*/
    overflow: hidden;
}

div.upload input {
    display: block !important;
    width: 157px !important;
    height: 57px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}