.user-media {
  width:100%;
  position:relative;
  .user-link {
    @include center-block();
    position: relative;
	width:50%;

    .user-img {
      margin: 10px auto;
    }
    .user-label {
      position: absolute;
      top: -6px;
      right: 6px;
    }
  }

  .user-link {
    float: left;
    .user-img {
      margin: 10px;
    }
    .user-label {
      top: 6px;
      right: 0;
    }
  }
  .media-body {
    display: block;
    float: left;
    margin-left: 12px;
	width:50%;
    h5.media-heading {
      color: #fff;
      padding-top: 8px;
      margin-bottom: 3px;
    }
    ul.user-info li {
      color: #ccc;
    }
  }
  @include clearfix();
}

/* list workin-hours */

.stacked-list {
    list-style: outside none none;
    margin-left: 0;
}
.staff-breaks-list li:hover, .staff-hour-list li:hover {
	background-color:#DFF6F5;
}
/*staff Hours list*/
.staff-hours-to {
	width: 10px;
	margin-right: 10px;
}


.staff-hour-list li span.span6 div.btn-group a.btn.dropdown-toggle {
	width: 70px;
}

.staff-breaks-list li label:first-child, .staff-hour-list li label:first-child
	{
	margin-top: 3px;
	cursor: default;
}

.staff-breaks-list li label:first-child span, .staff-hour-list li label:first-child span
	{
	font-size: 1em;
	color: #c1c8cd;
	padding: 8px 10px;
}

.staff-breaks-list .active label:first-child span, .staff-hour-list .active label:first-child span
	{
	/*border-radius: 50px;
	background-color: #dff6f5;
	color: #455862;
	font-weight: 400;
	cursor: default;*/
	color:#34A7C1;
	font-weight:bold;
}

.staff-hour-list li span.span6 .btn-group .btn.dropdown-toggle:first-child
	{
	width: 75px;
}

.staff-hour-list li.active span.span6 .btn-group .btn.dropdown-toggle {
	border: 1px solid #cccccc;
	color: #455862;
}

.staff-hour-list li.active span.span6 .btn-group .btn.dropdown-toggle span.caret
	{
	border-top: 4px solid #455862;
}

.staff-breaks-list li span.span7 ul li	.btn-group .btn.dropdown-toggle:first-child,
	.staff-hour-list li span.span6 .btn-group .btn.dropdown-toggle:first-child
	{
	margin-right: 10px;
	margin-bottom: 3px;
	background: white;
}

.staff-breaks-list li span.span7 ul li	.btn-group .btn.dropdown-toggle:first-child,
	.staff-hour-list li span.span6 .btn-group .btn.dropdown-toggle.disabled:first-child
	{
	background: #F5F5F5;
}

.staff-hour-list li span.span7 .btn-group.open ul.dropdown-menu {
	height: 155px;
	overflow-y: auto;
	/*visibility: hidden;*/
}

.staff-break-time-holder ul li div.btn-group.open ul.dropdown-menu,
	.staff-hour-list li span.span6 .btn-group.open ul.dropdown-menu {
	height: 155px;
	overflow-y: auto;
}

.staff-hour-list li.active span.span7 .btn-group.open ul.dropdown-menu {
	visibility: visible;
}

.staff-hour-list li span.span7 {
	color: #c1c8cd;
}

.staff-hour-list li.active span.span7 {
	color: #455862;
}
/*Staff Break Hours*/
.staff-breaks-list li.row span.span7 ul {
	margin-bottom: 0px;
}

.staff-breaks-list li.row span.span7 ul li {
	color: #c1c8cd;
}

.staff-breaks-list li.row.active span.span7 ul li {
	color: #455862;
}

.staff-breaks-list li.row span.span7 ul li div.btn-group a.btn.dropdown-toggle
	{
	margin-right: 10px;
	margin-bottom: 7px;
}

.staff-breaks-list li.row span.staff-break-time-holder ul {
	margin-bottom: 0px;
}

.staff-breaks-list li.row span.staff-break-time-holder ul li {
	color: #c1c8cd;
}

.staff-breaks-list li.row.active span.staff-break-time-holder ul li {
	color: #455862;
}

.staff-breaks-list li.row span.staff-break-time-holder ul li div.btn-group a.btn.dropdown-toggle
	{
	margin-right: 10px;
	margin-bottom: 7px;
	width: 75px;
	background: white;
}

.staff-break-delete-holder {
	margin-top: -9px;
}

.staff-breaks-delete-btn {
	background: white;
}

.staff-break-delete-holder .staff-break-delete-box {
	top: -30px;
	margin-left: -180px;
	width: 163px;
	height: 87px;
	display: none;
}

.staff-breaks-delete-cancel-btn, .staff-breaks-confirm-delete-btn {
	height: 30px !important;
	line-height: 30px !important;
}

/*Staff Time off */
.staff-timeoff-list {
	margin-top: 10px;
	width: 100%;
	margin-bottom: 10px;
	max-height: 350px;
	font-family: proximanova;
}

.staff-timeoff-list li div.btn-group.open ul.dropdown-menu {
	left: auto;
	right: 8px;
	width: 102px;
	height: 155px;
	overflow-y: auto;
}

.staff-timeoff-list li div.btn-group {
	width: 215px;
}

.timeoff-delete-confirmation-popup {
	top: -25px !important;
	left: 40px !important;
}

.staff-timeoff-list li span.timeoff-day-checkbox {
	cursor: pointer;
}

.staff-timeoff-list li {
	line-height: 40px;
	vertical-align: middle;
	width: 100%;
}

.staff-time-off-delete-holder {
	display: none;
	margin-left: 10px;
}

.staff-time-off-delete {
	top: -30px;
	width: 152px;
	left: -160px;
}

.staff-timeoff-list li:hover .staff-time-off-delete-holder {
	display: inline;
}

.new-time-off li.new-timeoff-holder {
	background: #E1F2CB;
	padding-left: 10px;
}

.new-time-off li.time-off-pagination-holder {
	float: right;
	width: 300px;
	padding-top: 5px;
}

.new-time-off li.time-off-pagination-holder .pagination {
	margin: 5px 55px 5px 10px;
	text-align: left;
}


    .onoffswitch {
        position: relative; width: 60px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
        border: 2px solid #999999; border-radius: 20px;
    }
    .onoffswitch-inner {
        display: block; width: 200%; margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
        font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
        box-sizing: border-box;
    }
    .onoffswitch-inner:before {
        content: "ON";
        padding-left: 8px;
        background-color: #34A7C1; color: #FFFFFF;
    }
    .onoffswitch-inner:after {
        content: "OFF";
        padding-right: 8px;
        background-color: #EEEEEE; color: #999999;
        text-align: right;
    }
    .onoffswitch-switch {
        display: block; width: 18px; margin: 1px;
        background: #FFFFFF;
        position: absolute; top: 0; bottom: 0;
        right: 36px;
        border: 2px solid #999999; border-radius: 20px;
        transition: all 0.3s ease-in 0s; 
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px; 
    }