@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);


html, body {
    overflow-x: hidden!important;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
}

/* BEGIN LOGIN PAGE STYLES */

.login {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #01988F;
    
    .form-signin {
      max-width: 330px;
      padding: 20px;
      margin: 0 auto;
      background-color: #fff;
      border-radius: 3px;
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
	margin-bottom: 10px;
    }
    .form-signin .checkbox {
	font-weight: normal;
    }
    .form-signin input[type="text"],
    .form-signin input[type="password"],
    .form-signin input[type="email"] {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	margin-bottom: 10px;
    }
    .form-signin input[type="text"]:focus,
    .form-signin input[type="password"]:focus,
    .form-signin input[type="email"]:focus  {
	z-index: 2;
    }
    .form-signin input.top {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
    }
    .form-signin input.middle {
	margin-bottom: -1px;
	border-radius: 0;
    }
    .form-signin input.bottom {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
    }
}

/* END LOGIN PAGE STYLES */
