//
// Tiles
// --------------------------------------------------


// Base class
.tiles-heading, .tiles-body, .tiles-footer {
    -webkit-transition: .05s ease-in;
    transition: .05s ease-in;
}
.tiles-heading:before, .tiles-body:before, .tiles-footer:before, .tiles-heading:after, .tiles-body:after, .tiles-footer:after {
    content: " ";
    display: table;
}
.tiles-heading:after, .tiles-body:after, .tiles-footer:after {
    clear: both;
}
.tiles-heading:before, .tiles-body:before, .tiles-footer:before, .tiles-heading:after, .tiles-body:after, .tiles-footer:after {
    content: " ";
    display: table;
}
.tiles-heading:after, .tiles-body:after, .tiles-footer:after {
    clear: both;
}
.info-tiles, .shortcut-tiles {
    margin: 0 0 20px;
    display: block;
    border-radius: 1px;
}
.info-tiles .tiles-heading {
    padding: 5px 10px;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .04em;
}
.info-tiles .tiles-heading .pull-right {
    color: #fff;
    opacity: .4;
    filter: alpha(opacity=40);
    -webkit-transition: .06s ease-in;
    transition: .06s ease-in;
}
.info-tiles .tiles-body {
    font-size: 42px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
}
.info-tiles .tiles-body-alt {
    font-size: 48px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.info-tiles .tiles-body-alt, .info-tiles .tiles-body {
    padding: 10px;
    font-weight: 300;
}
.info-tiles .tiles-body-alt .sparkline, .info-tiles .tiles-body .sparkline {
    width: 100px;
    margin: 0 auto;
    padding: 0;
}
.info-tiles .tiles-body-alt .text-top, .info-tiles .tiles-body .text-top {
    vertical-align: super;
    font-size: 24px;
}
.info-tiles .tiles-body-alt .text-smallcaps, .info-tiles .tiles-body .text-smallcaps {
    font-variant: small-caps;
}
.info-tiles .tiles-body-alt .text-center, .info-tiles .tiles-body .text-center {
    margin-top: -5px;
}
.info-tiles .tiles-body-alt i, .info-tiles .tiles-body i {
    color: #fff;
    opacity: .4;
    filter: alpha(opacity=40);
    -webkit-transition: .06s ease-in;
    transition: .06s ease-in;
}
.info-tiles .tiles-body-alt>i, .info-tiles .tiles-body>i {
    position: absolute;
    font-size: 42px;
}
.info-tiles .tiles-body-alt div+small, .info-tiles .tiles-body div+small {
    font-size: 14px;
    text-align: center;
    display: block;
    font-weight: 400;
    opacity: .7;
    filter: alpha(opacity=70);
    margin-top: -7px;
    margin-bottom: 4px;
}
.info-tiles .tiles-footer {
    color: #fff;
    color: rgba(255, 255, 255, 0.4);
    padding: 5px 10px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
}
.info-tiles .tiles-footer i {
    float: right;
    position: relative;
    top: 2px;
    display: none;
}
.info-tiles .tiles-footer:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -1px;
    width: 0;
    height: 0;
    margin-right: 11px;
    margin-bottom: 20px;
    border-top: 5px solid rgba(0, 0, 0, 0.35);
    border-right: 5px solid #f7f8fa;
    border-bottom: 5px solid #f7f8fa;
    border-left: 5px solid rgba(0, 0, 0, 0.35);
    border-top-left-radius: 1px;
}
.info-tiles .tiles-footer:hover {
    color: #fff;
}
.info-tiles:hover {
    text-decoration: none;
}
.info-tiles:hover i {
    color: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
}
.info-tiles:hover .tiles-footer {
    color: #fff;
}
.info-tiles:hover .tiles-footer i {
    display: inline;
}
.info-tiles:hover .tiles-heading .pull-right {
    color: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
}

.shortcut-tiles .tiles-body {
    padding: 10px 10px 0 10px;
    font-size: 42px;
    line-height: 42px;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
}
.shortcut-tiles .tiles-body i {
    color: #fff;
    opacity: .6;
    filter: alpha(opacity=60);
    -webkit-transition: .06s ease-in;
    transition: .06s ease-in;
}
.shortcut-tiles .tiles-body .pull-right {
    margin-top: -3px;
    line-height: 0;
}
.shortcut-tiles .tiles-body .pull-right .badge {
    background: #000;
    background-color: rgba(0, 0, 0, 0.3);
}
.shortcut-tiles .tiles-footer {
    text-transform: none;
    text-align: right;
    padding: 7px 10px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .04em;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
}
.shortcut-tiles:hover {
    text-decoration: none;
}
.shortcut-tiles:hover i {
    color: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
}

// Collapsable panels (aka, accordion)
//
// Wrap a series of panels in `.panel-group` to turn them into an accordion with
// the help of our collapse JavaScript plugin.

.panel-group {
  margin-bottom: @line-height-computed;

  // Tighten up margin so it's only between panels
  .panel {
    margin-bottom: 0;
    border-radius: @panel-border-radius;

    + .panel {
      margin-top: 5px;
    }
  }

  .panel-heading {
    border-bottom: 0;

    + .panel-collapse > .panel-body,
    + .panel-collapse > .list-group {
      border-top: 1px solid @panel-inner-border;
    }
  }

  .panel-footer {
    border-top: 0;
    + .panel-collapse .panel-body {
      border-bottom: 1px solid @panel-inner-border;
    }
  }
}


// Contextual variations
.tiles-green {
  .tile-variant(@white; #98d061; #8bca4e; #85c744; #78ba38; #85c744; #78ba38);
}
.tiles-orange {
	.tile-variant(@white; #f2b154; #f0a63d; #efa131; #ed9619; #efa131; #ed9619);
}
.tiles-alizarin {
	.tile-variant(@white; #eb6b5e; #e85647; #e74c3c; #e43725; #e74c3c; #e43725);
}
.tiles-toyo{
	.tile-variant(@white; #667ea3; #5a7195; #556b8d; #4b5f7d; #556b8d; #4b5f7d);
}