//Contains All variables
//-----------------------

//Layout
//Side bar and logo width
@left-side-width: 220px;

@font-size-base:          14px;

//Colors
@light-blue: #3c8dbc; //Primary
@red: #f56954;        //Danger
@green: #16A085;      //Success
@aqua: #00c0ef;       //Info
@yellow: #f39c12;     //Warning
@blue: #0073b7;
@navy:  #001F3F;
@teal:  #39CCCC;
@olive: #3D9970;
@lime:  #01FF70;
@orange:  #FF851B;
@fuchsia: #F012BE;
@purple:  #932ab6;
@maroon:  #85144B;
@black: #222;
@magenta: #E73C68;
@white: #fff;
/*@gray: #555;*/

@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee

@brand-primary:         darken(#428bca, 6.5%); // #337ab7
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;

//Link colors (Aka: <a> tags)
@link-color: @light-blue;
@link-hover-color: lighten(@link-color, 15%);

//Body background (Affects main content background only)
@body-bg: #f9f9f9;

//Table striped color
@table-striped-color: #f9f9f9/*#f3f4f5*/;

//Sidebar skins
//skin blue (light) sidebar vars
@sidebar-light-bg: #0072C6/*#367fa9*/;
@sidebar-light-hover-bg: #f9f9f9;
@sidebar-light-font: #fff;
@sidebar-light-border: #dbdbdb;

//Screen widths - Same as bootstrap default settings
@screen-xs: 480px;
@screen-sm: 767px;
@screen-md: 992px;
@screen-lg: 1200px;
//When the logo should go to the top of the screen
@screen-header-collapse: 560px; 

//BOXES
@box-border-color: #f4f4f4;
@box-border-radius: 3px;
@box-footer-bg: #fff;

//FORMS
@input-radius: 0px;

//BUTTONS
//Border radius for non flat buttons
@btn-border-radius: 3px;

//CHAT widget
@attachment-border-radius: 3px;

@line-height-computed: 1em;

/* states */
@state-success-text:             #3c763d;
@state-success-bg:               #dff0d8;
@state-success-border:           darken(spin(@state-success-bg, -10), 5%);

@state-info-text:                #31708f;
@state-info-bg:                  #d9edf7;
@state-info-border:              darken(spin(@state-info-bg, -10), 7%);

@state-warning-text:             #8a6d3b;
@state-warning-bg:               #fcf8e3;
@state-warning-border:           darken(spin(@state-warning-bg, -10), 5%);

@state-danger-text:              #a94442;
@state-danger-bg:                #f2dede;
@state-danger-border:            darken(spin(@state-danger-bg, -10), 5%);

//== Panels
//

@panel-bg:                    #fff;
@panel-body-padding:          15px;
@panel-heading-padding:       10px 15px;
@panel-footer-padding:        @panel-heading-padding;
@panel-border-radius:         3px;

/** Border color for elements within panels **/
@panel-inner-border:          #ddd;
@panel-footer-bg:             #f5f5f5;

@panel-default-text:          @gray-dark;
@panel-default-border:        #ddd;
@panel-default-heading-bg:    #f5f5f5;

@panel-primary-text:          #fff;
@panel-primary-border:        @brand-primary;
@panel-primary-heading-bg:    @brand-primary;

@panel-success-text:          @state-success-text;
@panel-success-border:        @state-success-border;
@panel-success-heading-bg:    @state-success-bg;

@panel-info-text:             @state-info-text;
@panel-info-border:           @state-info-border;
@panel-info-heading-bg:       @state-info-bg;

@panel-warning-text:          @state-warning-text;
@panel-warning-border:        @state-warning-border;
@panel-warning-heading-bg:    @state-warning-bg;

@panel-danger-text:           @state-danger-text;
@panel-danger-border:         @state-danger-border;
@panel-danger-heading-bg:     @state-danger-bg;

//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

/** Padding for `<th>`s and `<td>`s. */
@table-cell-padding:            8px; 
/** Padding for cells in `.table-condensed`. */
@table-condensed-cell-padding:  5px;

/** Default background color used for all tables. */
@table-bg:                      transparent;
/** Background color used for `.table-striped`. */
@table-bg-accent:               #f9f9f9;
/** Background color used for `.table-hover`. */
@table-bg-hover:                #f5f5f5;
@table-bg-active:               @table-bg-hover;

/** Border color for table and cell borders. */
@table-border-color:            #eee;

//== Alerts
//
//## Define alert colors, border radius, and padding.

@alert-padding:               15px;
@alert-border-radius:         3px;
@alert-link-font-weight:      bold;

@alert-success-bg:            @state-success-bg;
@alert-success-text:          @state-success-text;
@alert-success-border:        @state-success-border;

@alert-info-bg:               @state-info-bg;
@alert-info-text:             @state-info-text;
@alert-info-border:           @state-info-border;

@alert-warning-bg:            @state-warning-bg;
@alert-warning-text:          @state-warning-text;
@alert-warning-border:        @state-warning-border;

@alert-danger-bg:             @state-danger-bg;
@alert-danger-text:           @state-danger-text;
@alert-danger-border:         @state-danger-border;

