/** Fonts **/

/*
*** EXAMPLE ***
@font-face {
    font-family: 'font-name';
    src: url('../fonts/font-file.eot');
    src: url('../fonts/font-file.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font-file.woff2') format('woff2'),
         url('../fonts/font-file.woff') format('woff'),
         url('../fonts/font-file.ttf') format('truetype'),
         url('../fonts/font-file.svg#merriweatherlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
/*@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i');*/
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Signika:300,400,600,700&subset=latin-ext');

/*@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/JosefinSans.woff2) format('woff2'),
        url(/fonts/JosefinSans.woff) format('woff');
}


@font-face {
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/AdventPro.woff2) format('woff2'),
        url(/fonts/AdventPro.woff) format('woff');
}*/