/** Global **/

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
button {
    -moz-osx-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    overflow-x: hidden;

    /*font-family: 'Fira Sans', sans-serif;*/
    font-family: 'Merriweather', serif;
    /*font-family: 'Signika', sans-serif;*/
    font-size: 100%;
    font-weight: 300;
    line-height: 1.5;

    color: $main-font-color;
    background-color: $body-background-color;
}

a {
    text-decoration: none;

    &:not([class]) {
        color: $main-font-color;
        transition: opacity $standard-transition;

        &:hover {
            opacity: 0.7;
        }
    }
}

ul, li {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;

    &:not[class] {
        color: inherit;
    }
}

a,
button,
input,
select {
    &:focus {
        outline: none;
    }
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.preload * {
    transition: none !important;
}

.clear {
    clear: both;
}

.container {
	width: 90%;
	max-width: 1380px;
	margin: 0 auto;
}

h1, h2, h3, h4, h5 {
   /* font-family: 'Marcellus', serif;*/
   font-weight:400;
}

.none {
    display: none !important;
}