.accordion {

    &__btn {
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        &--active {
            .accordion__plus-icon-item:nth-child(2) {
                opacity: 0;
            }
        }
    }

    &__content {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s;

        &--show {
            position: relative;
            opacity: 1;
            visibility: visible;
            transition: all 1s;
        }
    }

    &__plus-icon {
        margin-top: 20px;
        transition: opacity 1s;

        &-item {
            display: block;
            width: 14px;
            height: 2px;
            background: $colorWhite;
            margin-left: 14px;
        }
       
        &-item:nth-child(2) {
            margin-top: 6px;
            opacity: 1;
            transform: translateY(-8px) rotate(90deg);
        }
    }
}
