

.bg {
    @each $color, $color_code in $bgColors {
        &-#{$color} {
            background-color: $color_code;
        }
    }

    &-light-gradient {
        background-image: linear-gradient(-202deg, rgba(255,255,255,0) 6%, rgba(171,188,215,0.35) 100%);
    }

    &-light-gold-gradient {
        background-image: linear-gradient(-202deg, rgba(255,255,255,0) 6%, rgba($colorMidGold,0.35) 100%);
    }

    &-two-colors {
        background-image: linear-gradient(45deg, rgba(#e0f6fb, 1) 25%, rgba(#fbece1, 1) 75%);
    }

    &-two-colors-opacity {
        background-image: linear-gradient(45deg, rgba(#e0f6fb, 1) 25%, rgba(#fbece1, 0.6) 75%);
    }

    &-line-pattern {
        background-image: url(../images/line-pattern.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &-darkBlue,
    &-darkGold,
    &-gold,
    &-dark-gray {
        color: #fff;

        .form__input,
        .form__textarea {
            color: $colorMain;
        }

        .blockquote {
            &:before {
                background: url(../images/icons/quote-light-blue.svg) no-repeat center center / 51px auto;
            }

            > p {
                color: $colorLightBlue;
            }
        }
    }

    &-lightBlue {
        color: $colorDarkBlue;

        .blockquote {
            &:before {
                background: url(../images/icons/quote-white.svg) no-repeat center center / 51px auto;
            }
        }
    }

    &--white-with-red-lines {
        background-image: url(../images/backgrounds/landing-page-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &-narrow {
            background-image: url(../images/backgrounds/inner-pages.png);
            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
        }
    }

    &--for-champage {
        background-image: url(../images/backgrounds/new-champange-list.png);
        background-repeat: no-repeat;
    }

    &--brown-mask {
        background-image: url(../images/backgrounds/brown-mask.png);
        background-repeat: no-repeat;
    }
}

.bg-white-shadow {
    padding: 1.5rem 2rem;
    background-color: rgba(255,255,255,.85);
	box-shadow: 0 10px 20px rgba(0,0,0,.1),0 30px 40px rgba(0,0,0,.1);
}
