/**
*
* Blockquote
*
**/

.blockquote {
    position: relative;
    margin: 5em 0;
    padding: 6px 10px 0 65px;

    &:before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 51px;
        height: 46px;
        background: url(../images/icons/quote-gold.svg) no-repeat center center / 51px auto;
    }

    > p {

        &:not([class]) {
            position: relative;
            padding-bottom: 1rem;
            font-size: rem(16px);
            font-weight: 700;
            font-style: italic;
            line-height: rem(26px);
            letter-spacing: rem(2px);
            color: $colorBlue;
        }
    }

    &--lowercase {
        margin: 3em 0;

        > p {
            &:not([class]) {
                font-size: rem(24px);
                line-height: rem(34px);
                text-transform: none;
            }
        }
    }

    &__footer {
        margin: 20px 0 0 auto;
        text-align: right;
        max-width: 300px;
    }

    &--kalam {
        padding: 6px 65px 0 65px;
        font-size: rem(22px);
        line-height: rem(30px);
        font-weight: normal;
        letter-spacing: normal;
        color: $colorBlue;

        @media screen and (max-width: 768px) {
            margin: 3em 0;
            padding: 6px 45px 0 45px;
            font-size: rem(20px);
            line-height: rem(28px);
        }

        > p {

            &:not([class]) {
                font-size: rem(20px);
                line-height: rem(28px);
                text-transform: none;
                color: $colorBlue;

                @media screen and (max-width: 768px) {
                    font-size: rem(18px);
                    line-height: rem(26px);
                }
            }

        }

        &:before {
            top: -18px;

            @media screen and (max-width: 768px) {
                top: -5px;
                width: 35px;
                height: 31px;
                background-size: 35px auto;
            }
        }

        &:after {
            content: ' ';
            position: absolute;
            bottom: -10px;
            right: -51px;
            display: block;
            width: 51px;
            height: 46px;
            background: url(../images/icons/quote-gold.svg) no-repeat center center / 51px auto;
            transform: rotate(180deg);

            @media screen and (min-width: 769px) {
                right: 0;
            }

            @media screen and (max-width: 768px) {
                right: 0;
                bottom: 0;
                width: 35px;
                height: 31px;
                background-size: 35px auto;
            }
        }
    }

    &--no-quotes {
        &:after,
        &:before {
            display: none;
        }
    }
}