
.blog-article {
    padding: 0 calc(120px + 10vw) 0 120px;
    
    @media screen and (min-width: 200px) and (max-width: 1024px) {
        padding: 0 15px;
    }

    + .block--bottom {
        padding: {
            left: 120px;
            right: calc(120px + 10vw);
        };

        @media screen and (min-width: 200px) and (max-width: 1024px) {
            padding: 0 15px;
        }
    }

    &__disqus {
        margin: 3em 0;
    }
}