

.block {
    display: block;
    width: 100%;
    margin: 0;

    @media screen and (min-width: 200px) and (max-width: 768px) {
        font-size: rem(16px);
    }

    &--narrow {
        padding: 1rem 15%;

        @media screen and (min-width: 200px) and (max-width: 1024px) {
            padding: 1rem 15px;
        }
    }
	
	&--large {
		text-align: justify;
        margin: {
            left: auto;
            right: auto;
        }
        padding: 0;
		padding-left: 350px;
		padding-right: 50px;
		
		@media screen and (max-height: 440px) and (min-width: 1025px) {
			position: absolute;
		}

		@media screen and (min-width: 1201px) and (max-width: 1500px) {
			padding-left: 250px;
		}
		
		@media screen and (min-width: 1025px) and (max-width: 1200px) {
			padding-left: 190px;
		}

		@media screen and (max-width: 1024px) {
			padding: 10px;
		}
    }

    &--small {
        max-width: 700px;
        margin: {
            left: auto;
            right: auto;
        }
        padding: 0;

        @media screen and (min-width: 200px) and (max-width: 768px) {
            padding: 1rem 15px;
        }
    }

    &--thin {
        max-width: 500px;
        margin: {
            left: auto;
            right: auto;
        }
        padding: 0;

        @media screen and (min-width: 200px) and (max-width: 768px) {
            padding: 1rem 15px;
        }
    }

    &--relative {
        position: relative;
    }

    &--bottom {
        margin-top: auto;
        width: 100%;
        align-self: flex-end;
        flex-shrink: 0;
        overflow: hidden;

        @media screen and (min-width: 200px) and (max-width: 768px) {
            margin-bottom: 2em;
        }

        .btn {
            margin: 1em 0;
        }
    }

    &--middle {
        margin-top: auto;
    }

    &--overflow {
        overflow-x: hidden;
        overflow-y: auto;
    }

    &--column {
        display: flex;
        flex-flow: column nowrap;
    }
}
