

.block-grow {
    position: relative;
    width: 100%;
    flex-grow: 1;
    min-height: 320px;

    @media screen and (min-width: 200px) and (max-width: 768px) {
        min-height: 1px;
    }

    &--image {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        @media screen and (min-width: 200px) and (max-width: 768px) {
            min-height: 300px;
        }
    }

    &--up {
        @media screen and (min-width: 200px) and (max-width: 768px) {
            margin: 0 0 -20px -15px;
        }
    }
}