
.bottle {
    margin-left: 50px;
    padding-left: 250px;
    width: 100%;

    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1025px) and (max-width: 1500px) {
        margin-left: 50px;
        padding-left: 100px;
    }

    @media screen and (max-width: 1024px) {
        margin-left: 0;
        margin-top: 50px;
        margin-bottom: 0;
        padding-left: 0;
    }

    &__product {

        background-size: contain;
        width: 100%;
        height: 70vh;

        transform: translateY(-200px);
        opacity: 0;
        
        background-repeat: no-repeat;
        background-position: center center;

        will-change: transform;

        animation: bottle-intro 1.25s 0s forwards;
        animation-timing-function: ease-out;

        &:not(.bottle__product--no-animation) {
            animation: bottle-intro 1.25s 0s 1, bottle-loop 4s 1.25s infinite;
            animation-timing-function: ease-out, ease-in-out;
        }

        @media screen and (max-width: 1024px) {
            height: auto;
            margin-top: 5vh;
        }

        @media screen and (max-width: 1024px) and (orientation: portrait) {
            height: 240px;
            margin-top: 4vh;
        }

        @media screen and (max-width: 568px) and (orientation: portrait) {
            height: 250px;
            margin-top: 5vh;
        }

        img {
            width: 100%;
            height: auto;
            height: 70vh;

            @media screen and (max-width: 768px) and (orientation: landscape) {
                height: 50vh;
            }

            @media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
                height: 30vh;
            }
        }
    }

    &__shadow {
        animation: shadow-intro 1.25s 0s 1, shadow-loop 4s 1.25s infinite;
        animation-timing-function: ease-out, ease-in-out;
        transform: scale(1);
        opacity: 0;

        @media screen and (max-width: 1024px) and (orientation: landscape) {
            width: 40%;
        }

        @media screen and (max-width: 1024px) and (orientation: portrait) {
            width: 75%;
        }

        &--small {
            display: block;
            width: 55%;

            @media screen and (min-width: 1025px) and (max-width: 1400px) {
                align-self: flex-start;
            }

            @media screen and (max-width: 1024px) and (orientation: portrait) {
                width: 50%;
            }

            @media screen and (max-width: 1024px) and (orientation: landscape) {
                width: 30%;
            }
        }
    }

}


@keyframes bottle-intro {
    from {
        transform: translateY(-200px);
        opacity: 0
    }
    to {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes bottle-loop {
    from {
        transform: translateY(0);
        opacity: 1
    }
    50% {
        transform: translateY(-20px);
        opacity: 1
    }
    to {
        transform: translateY(0);
        opacity: 1
    }
}


@keyframes shadow-intro {
    from {
        transform: scale(2), translateX(20px);
        opacity: 0;
    }
    to {
        transform: scale(1), translateX(-20px);
        opacity: 1;
    }
}

@keyframes shadow-loop {
    from {
        transform: scale(1), translateX(-60px);
        opacity: 1;
    }
    50% {
        transform: scale(1.2), translateX(0);
        opacity: .6;
    }
    to {
        transform: scale(1), translateX(-60px);
        opacity: 1;
    }
}