/**
*
* Breadcrumbs
*
**/

.breadcrumbs {
    clear: both;
    padding: 1em 0;
    color: $colorGold;
    font-size: rem(12px);
    letter-spacing: rem(2px);

    li {
        display: inline-block;

        &:not(:last-child):after {
            content: ' ';
            position: relative;
            top: 1px;
            display: inline-block;
            height: 10px;
            width: 10px;
            padding: 0 10px;
            background: url(../images/icons/arrow-quick-add.svg) no-repeat center center / 5px auto;

        }
    }

    a {
        color: $colorGold;
        transition: color 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

        &:hover {
            color: $colorBlue;
        }
    }

    &--underline {
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid currentColor;
    }
}