/**
*
* Button
*
**/

.btn {
    position: relative;
    z-index: 1;
    @include inline-block();
    padding: 0.6em 0.85em 0.55em 0.85em;
    font: {
        size: rem(18px);
        weight: 600;
    }
    letter-spacing: rem(2.14px);
    text-align: center;
    color: $colorDarkGray;
    transition: background 0.2s ease;
    background-color: transparent;

    &--darkGray {
        color: $colorDarkGray;
    }

    svg {
        position: relative;
        z-index: 1;
        top: -2px;
        stroke: $colorDarkBlue;
        margin-left: 0.5rem;
        transition: stroke 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    &--border {

        border: 2px solid $colorGold;
        overflow: hidden;
        transition: background-color 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86),
                    color 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

        &:before,
        &:after {
            content: ' ';
            position: absolute;
            z-index: 0;
            width: 100%;
            height: 51%;
            background-color: $colorGold;
            transition: left 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86),
                        right 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        }

        &:before {
            top: 0;
            left: 100%;
        }

        &:after {
            bottom: 0px;
            right: 100%;
        }
        
        &:hover {
            color: #fff;

            &:before {
                left: 0;
            }

            &:after {
                right: 0;
            }

            svg {
                stroke: #fff;
            }
        }
    }

    &--solid-gold {
        color: #fff;
        background-color: $colorGold;

        &:before,
        &:after {
            background-color: #fff;
        }

        &:hover {
            background-color: #fff;
			color: $colorGold;
        }
    }

    &--solid-white {
        color: $colorGold;
    }

    &--blue {
        color: #fff;
        border: 2px solid $colorDarkGray;

        &:before,
        &:after {
            background-color: $colorDarkGray;
        }

        svg {
            stroke: $colorDarkGray;
        }
    }

    &--gold {
        color: #fff;
        border: 2px solid $colorGold;

        &:before,
        &:after {
            background-color: $colorGold;
        }

        svg {
            stroke: $colorGold;
        }
		
		&:hover {
            color: #fff;
        }
    }

    &--underline {
        padding: 0 0 6px 0;
        background-color: transparent;
        border: none;
        color: $colorGold;
        font: {
            size: rem(28px);
            weight: 600;
        }
        letter-spacing: rem(3px);

        &:after {
            content: ' ';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            width: 100%;
			color: #fff;
            background-color: $colorGold;
            transition: width 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86),
                        transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        }

        &:hover {
            .btn__text {
                transform: translateY(-4px);
            }

            &:after {
                width: 108%;
                transform: translateX(-4%);
            }
        }

        &-red {
            &:after {
                background-color: $colorRed;
            }
        }
    }

    &--lower {
        text-transform: none;
    }

    &--full {
        display: block;
        width: 100%;
        text-align: center;
    }

    &--half {
        display: block;
        width: 50%;
        text-align: center;
    }

    &--arrow {
        text-transform: none;

        svg {
            margin-left: 10px;
            stroke: $colorDarkGray;
        }

        &:hover {
            .btn__text {
                color: $colorDarkGray;
            }
        }

        &-left {
            padding-left: 0 !important;
            svg {
                margin-right: 5px;
                margin-left: 0;
                transform-origin: center center;
                transform: rotate(-180deg);

                @supports (-moz-appearance:none) {
                    transform: rotate(-90deg);
                }
            }
        }
    }

    &--thin-font {
        padding: 0.4em 0.85em 0.35em 0.85em;
        font: {
            size: rem(26px);
            weight: 400;
        }
        letter-spacing: rem(0px);
        text-transform: none;

        @media all and (min-width: 200px) and (max-width: 768px) {
            font-size: rem(22px);
        }
    }

    &--medium {
        font: {
            size: rem(18px);
            weight: 600;
        }
        letter-spacing: rem(2px);
    }

    &--small {
        padding: 1em 0.85em 0.95em 0.85em;

        font: {
            size: rem(12px);
            weight: 600;
        }
        letter-spacing: rem(1.4px);
    }

    &--low-thin {
        padding: 0.4em 0.85em 0.35em 0.85em;
        font: {
            size: rem(18px);
            weight: 400;
        }
        text-transform: none;
        letter-spacing: 0;
    }

    &--padding-xl {
        padding: {
            left: 3em;
            right: 3em;
        }
    }

    &__text {
        position: relative;
        z-index: 2;
        display: inline-block;
        transform: translateY(0);
        transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

        &--upper {
            text-transform: uppercase;
        }
    }
}
