
.burger {
    background-color: transparent;

    &__icon {
        fill: $colorDarkGray;
        transition: fill 0.3s ease;

        &--white {
            fill: #fff;

            @media all and (max-width: 1024px) {
                fill: $colorDarkGray;
            }
        }

        &:hover {
            fill: $colorGold;
        }
    }
}