
.card {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    width: 100%;

    &:last-child {
        margin-bottom: 2rem;
    }

    &--border {
        border: 1px solid $colorGold;
    }

    &--large {
        margin-top: 3rem;
        margin-bottom: 3rem;

        &:last-child {
            margin-bottom: 3rem;
        }
    }

    &__img {
        flex-shrink: 0;
        width: 160px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        .card--large & {
            width: 450px;

            @media screen and (min-width: 768px) and (max-width: 1199px) {
                width: 30%;
            }

            @media screen and (max-width: 767px) {
                width: 100%;
                padding-bottom: 100%;
            }
        }
    }

    &__content {
        width: calc(100% - 160px);
        padding: 2rem;
        background-color: $formInputBg;

        .card--large & {
            width: calc(100% - 450px);
            // padding: 5rem 9rem 5rem 11rem;
            padding: 5vw 8vw 5vw 8vw;
            background-color: #fff;

            @media screen and (min-width: 768px) and (max-width: 1199px) {
                width: 70%;
            }

            @media screen and (min-width: 768px) and (max-width: 1024px) {
                padding: 2rem;
            }

            @media screen and (max-width: 767px) {
                width: 100%;
            }
        }
    }

    &__buttons {
        margin-top: 30px;

        .btn {
            margin-right: 40px;
            margin-top: 20px;
        }
    }

    &__footer {
        width: 100%;
        padding: 1rem;
        text-align: center;

        font-size: rem(22px);

        @media screen and (min-width: 1025px) and (max-width: 1200px) {
             font-size: rem(18px);
        }

        @media screen and (min-width: 769px) and (max-width: 1024px) {
            font-size: rem(16px);
        }

        @media screen and (min-width: 200px) and (max-width: 768px) {
            font-size: rem(18px);
        }

        > * {
            margin: 0;
            padding: 0;
        }
    }

    & + & {
        margin-top: 4rem;

        @media screen and (min-width: 200px) and (max-width: 768px) {
            margin-top: 2rem;
        }
    }

    a.card__footer {
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.6;
        }
    }
}
