.category-list {
    margin-bottom:30px;
}

.category_view_1 {
    position:relative;
    
    .tile_1 {
        position:relative;
        width:45%;
        float:left;
        
        img, figure {
            margin-bottom: 0px;
            max-width: 100%;
            height: auto;
        }
        
        div {
            margin-bottom: 0px;
            max-width: 100%;
            width: 100%;
            height: 300px;
            max-height:300px;
            display: block;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .header_txt_section {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 46px 20px 30px 47px;
            /*border: 10px solid $colorPrimary;*/
            background-color: rgba($colorPrimary, 0.2);
            color: $colorGold;
            height: 50px;
			margin-top: -150px;
            /*transform: skewY(5deg);*/
            margin-bottom: 20px;
            
            .txt1 {
                font-size:1.0em;
                margin-top: 20px;
            }
            
            .txt2 {
                font-size: 1.2em;
                margin-top: 29px;
            }
            
            .txt3 {
                margin-top: 20px;
            }
            
            .link1 {
                color: $colorThird;
                font-size: 0.9em;
            }
        }
        
        @media only screen and (max-width: 979px) {
            width:50%;
            
            img { width:100%; }
            .header_txt_section { height:364px; }
        }
        
        @media only screen and (max-width: 767px) {
            width:100%;
            float:none;
            margin-top:1px;
            
            .header_txt_section {height: auto;}
        }
    }
}

.category_view_2 {
    position: relative;
    margin-top: 33px;
  
    .grid {
        margin-top: 30px;
        background-color: $colorPrimary;
    }
    
    .bg-image {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        @media all and (min-width: 200px) and (max-width: 768px) {
            width: 100%;
            min-height: 200px;
        }

        &::after {
            content: '';
            background-color: rgba($colorPrimary, 0.6);
           /* background-image: url(/uploads/pages/cover/15/medium.jpg); */
            position: absolute;
            background-size: cover;
            /*left: 15px;*/
            top: 0;
            z-index: 3;
            width: 100%;
            bottom: 0;
        }
    }

    h2 {
        color: $colorPrimary;
    }
    
    .map-page {
        iframe {
            width: 100%;
            
            iframe {
                width: 100% !important;
                height: 150px !important;
            }
        }
    }
    
    .link-page {
        position: relative;
        z-index: 4;
        display: block;
        width: 100%;
        padding-top: 25px;
        padding-bottom: 32px;
        color: #fff;
        background: $colorDarkGold;
        transition: background-color 0.3s;
        
        &:hover {
            background: lighten($colorDarkGold, 10%);

            .link {
                color: $colorPrimary;

                &:after {
                    transform: translateX(30px);
                }
            }
        }
        
        .link {
            color: $colorPrimary;
            font-size:1.2em; 
            font-weight:600;
            padding-left:20px;
            transition: color 0.3s;
            
            &::after {
                content: '\f0da';
                font-family: "FontAwesome";
                font-size: 32px;
                line-height: 32px;
                display: inline-block;
                margin-left: 13px;
                transition: border-color 0.3s,transform 0.3s;
                position: relative;
                top: 4px;
            }
            
            &:hover {
                color: $colorPrimary;

                &:after {
                    transform: translateX(30px);
                }
            }
        }
    }
}

.category_view_3 {
    
    .category-img {
        background-size: cover;
        background-position: center center;

        @media all and (min-width: 200px) and (max-width: 768px) {
            width: 100%;
            min-height: 200px;
        }
    }
    .category-text {
        // border: 10px solid rgba($colorThird,0.4);
        padding: 108px 50px 105px 78px;

        @media all and (min-width: 769px) and (max-width: 1024px) {
            padding: 50px 30px;
        }
        
        @media all and (min-width: 200px) and (max-width: 768px) {
            padding: 1rem 0;

            p {
                padding: 0;
            }
        }

        h2 {
            color: $colorPrimary;
        }
        
        .txt1 {
            text-align: justify;
        }
        
        .txt2 {
            text-align: right;
        }
        
        .link {
            display: inline-block;
            background-color: rgba($colorDarkGold,0.3);
            color:$colorDarkGold;
            padding: 1rem 2rem;
            transition: all 0.3s;

            @media all and (min-width: 200px) and (max-width: 768px) {
                margin-top: 1rem;
            }

            &:hover {
                background-color: $colorDarkGold;
                color: #fff;
            }
        }
    }
}