
.contact-list {
    $this: &;
    margin: 0 0 2rem 0;

    &__item {
        display: block;
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__fb-msg {
        margin-top: 1rem;

        > .headline-7 {
            margin: 0 0 0 10px;
            transition: color 0.3s ease;
        }

        svg {
            transition: opacity 0.3s ease;
        }

        &:hover {
            svg {
                opacity: 0.8;
            }

            > .headline-7 {
                color: $colorDarkGray;
            }
        }
    }

    &--inline {
        @media all and (min-width: 769px) {
            text-align: center;
        }

        #{$this}__item {
            @media all and (min-width: 1200px) {
                display: inline-block;
                margin: 2em;
            }

            @media all and (min-width: 200px) and (max-width: 768px) {
                margin: 0 0 2rem 0;
            }
        }
    }

    &--space-between {
        display: block;
        width: 100%;
        margin: 0;
        @include clearfix();

        #{$this}__item {
            @media all and (min-width: 569px) {
                display: inline-block;
                width: 50%;
                float: left;
            }

            &:last-child {
                @media all and (min-width: 569px) {
                    float: right;
                    text-align: right;
                }
            }
        }
    }
}