/**
*
* Content (text stylisation connected to CMS WYSIWYG editor)
*
**/
.content {

    &--narrow {
        max-width: 600px;
    }

    p,
    li,
    td {
        @include dynamicFontSize(14, 19, 320, 1920);
        line-height: 1.5;
        font-weight: 400;
    }

    .content__medium-text,
    &--medium-text p,
    &--medium-text li {
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
    }

    .content__small-text {
        font-size: .852em;
    }

    .content__large-text {
        font-size: 1.4em;
    }

    p:not(:last-child) {
        margin: 0;
        padding-bottom: 1.5em;
    }

    ul:not(:last-child),
    ol:not(:last-child) {
        padding-bottom: 1em;
    }

    p {
        margin-top: 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    /* uls, ols */
    ul {
        @extend .list-ul;
    }

    ol {
        @extend .list-ol;
    }

    .list-link {
        @extend .list-link;
    }

    .list-link__item {
        @extend .list-link__item;
    }

    blockquote {
        @extend .blockquote;
    }

    .blockquote--lowercase {
        @extend .blockquote--lowercase;
    }

    .blockquote--kalam {
        @extend .blockquote--kalam;
    }

    .blockquote--no-quotes {
        @extend .blockquote--no-quotes;
    }


    [class*="headline-"] {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    a {
        &:not([class]) {

            text-decoration: underline;
            color: inherit;
            transition: 0.3 color ease;

            &:hover {
                color: $colorGold;
            }
        }

        &.js-scroll-to:not(.btn) {
            text-decoration: underline;
            color: inherit;
            transition: 0.3 color ease;

            &:hover {
                color: $colorGold;
            }
        }
    }

    > img {
        padding: 1em 0 2em 0;
    }

    &__two-img-in-row {
        display: flex;
        align-items: flex-start;
        margin: 1em 0 2em 0;

        @media screen and (min-width: 200px) and (max-width: 768px) {
            display: block;
        }

        img {
            width: 48%;
            height: auto;

            @media screen and (min-width: 200px) and (max-width: 768px) {
                display: block;
                width: 100%;
            }

            &:first-child {
                margin-right: 2%;

                @media screen and (min-width: 200px) and (max-width: 768px) {
                    margin-right: 0;
                }
            }

            &:last-child {
                margin-left: 1.5%;

                @media screen and (min-width: 200px) and (max-width: 768px) {
                    margin-left: 0;
                    margin-top: 1em;
                }
            }
        }
    }
}