

.enter {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    padding: 2rem 0;
    justify-content: center;
    align-self: stretch;
    align-items: center;

    @media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) { 
        min-height: 100vh;
     }

     &--half {
         .enter__box {
            @media all and (min-width: 769px) and (max-width: 1400px) {
                width: 100%;
            }
         }
     }

    &__box {
        width: 700px;
        padding: 0 40px 30px 40px;
        text-align: center;
        color: $colorDarkGray;

        @media all and (min-width: 200px) and (max-width: 768px) {
            width: 100%;
            padding: 0 20px 30px 20px;
        }

        &--equal-padding {
            padding: 30px 40px;
        }

        > p {
            font: {
                size: rem(18px);
                weight: 400;
            }
            line-height: rem(26px);
            color: $colorVeryLightGold;

            @media all and (min-width: 200px) and (max-width: 768px) {
                font-size: rem(14px);
                line-height: rem(22px);
            }

            a {
                &:not([class]) {
                    text-decoration: underline;
                    transition: opacity 0.3s ease;
                }

                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }

    &__headline-wrapper {
        padding: 20px 70px;

        @media all and (min-width: 200px) and (max-width: 768px) {
            padding: 1rem 30px;
        }
    }

    &__ts-logo {
        position: relative;
        width: 700px;
        margin: 0;
        text-align: center;

        @media all and (min-width: 200px) and (max-width: 768px) {
            width: 100%;
            margin-top: 2rem;
        }

        svg {
            position: relative;
            z-index: 1;
        }

        &:after {
            content: ' ';
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 0;
            display: block;
            height: 50%;
            width: 100%;
            background-color: $colorDarkBlue;

        }
    }

    &__skinny-logo {
        margin: 30px 0;

        svg path,
        svg {
            fill: $colorDarkGold;
        }
    }

    &__paragraph {
        padding: 0 40px 30px 40px;
        font: {
            size: rem(22px);
            weight: 600;
        }
        line-height: rem(30px);
        letter-spacing: rem(3px);

        @media all and (min-width: 200px) and (max-width: 768px) {
            padding: 0 20px 20px 20px;
        }
    }

    &__form {
        margin-bottom: 100px;

        @media all and (min-width: 200px) and (max-width: 768px) {
            margin-bottom: 50px;
        }

        .btn {
            margin-bottom: 40px;

            @media all and (min-width: 200px) and (max-width: 768px) {
                margin-bottom: 20px;
            }
        }

        &--no-margin {
            margin-bottom: 0;
        }
    }

    &__footer {
        display: block;
        width: 1005;

        &__item {
            display: inline-block;

            @media all and (min-width: 200px) and (max-width: 768px) {
                display: inline;
            }

            &:after {
                content: ' | ';
                display: inline-block;
                padding: 0 7px;
                color: $colorDarkGold;
                
                @media all and (min-width: 200px) and (max-width: 768px) {
                    display: inline;
                }
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }

            &:nth-child(2) {
                &:after {
                    @media all and (min-width: 200px) and (max-width: 768px) {
                        content: '\A';
                        white-space: pre; 
                    }
                }
            }
        }

        &__link {
            font: {
                size: rem(14px);
                weight: 400;
            }
            letter-spacing: rem(2px);
            color: $colorDarkGold;
            transition: opacity 0.3s ease;

            @media all and (min-width: 200px) and (max-width: 768px) {
                font-size: rem(12px);
            }

            &:hover {
                opacity: 0.6;
            }
        }
    }
}