

.explore-tile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    height: calc(50vh - 37px);
    min-height: 440px;
    text-align: center;

    @media screen and (min-width: 1025px) {
        overflow: hidden;
    }

    &--one-block {
        border-bottom: 1px solid $colorDarkGray;
    }

    @media screen and (min-width: 1501px) {
        min-height: 490px;
    }

    @media screen and (min-width: 1400px) and (max-height: 850px) {
        min-height: 420px;
    }

    @media screen and (min-width: 200px) and (max-width: 1024px) {
        height: auto;
        min-height: 1px;
    }

    &:first-child {
        border: {
            top: 1px solid $colorDarkGray;
            right: 1px solid $colorDarkGray;
        }

        @media screen and (min-width: 200px) and (max-width: 991px) {
            border-right: 0;
        }

        &:not(.col-md-6) {
            @media screen and (min-width: 200px) and (max-width: 1200px) {
                border-right: 0;
            }
        }

        &:last-child {
            border-right: 0;
        }
    }

    &:nth-child(2):not(:last-child) {
        border: {
            top: 1px solid $colorDarkGray;
            right: 1px solid $colorDarkGray;
        }

        @media screen and (min-width: 200px) and (max-width: 991px) {
            border-right: 0;
        }

        &:not(.col-md-6) {
            @media screen and (min-width: 200px) and (max-width: 1200px) {
                border-right: 0;
            }
        }
    }

    &:last-child {
        border: {
            top: 1px solid $colorDarkGray;
        }

        &:not(.col-md-6) {
            @media screen and (min-width: 200px) and (max-width: 1200px) {
                border-right: 0;
            }
        }
    }

    &:hover {

        .explore-tile__link {
            @media screen and (min-width: 1025px) {
                height: calc(100% - 80px);
            }

            .explore-tile__arrow {
                svg {
                    @media screen and (min-width: 1025px) {
                        transform: translateX(0);
                        opacity: 1;
                        transition: stroke 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86), transform 0.3s 0.1s cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0.3s 0.1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
                    }
                }
            }

            &.explore-tile__link--full-height {
                @media screen and (min-width: 1025px) {
                    height: 100%;
                }

                .explore-tile__arrow {
                    svg {
                        @media screen and (min-width: 1025px) {
                            transform: translateX(0);
                            opacity: 1;
                            transition: stroke 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86), transform 0.3s 0s cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0.3s 0s cubic-bezier(0.785, 0.135, 0.15, 0.86);
                        }
                    }
                }
            }
        }

        .explore-tile__hover {
            opacity: 1;
            visibility: visible;
            z-index: 3;
        }


    }

    > *:not(.explore-tile__hover) {
        width: 100%;

        @media screen and (min-width: 200px) and (max-width: 1024px) {
            display: none;
        }
    }

    [class*="headline-"] {
        padding: {
            left: 1rem;
            right: 1rem;
        }
    }

    // &__inner {
    //     position: relative;
    // }

    &__label {
        position: absolute;
        left: 0;
        right: 0;
        top: -30px;

        text-align: center;
    }

    &__hover {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: #fff;

        // opacity: 0;
        // visibility: hidden;

        transition: opacity 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86),
                    visibility 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

        @media screen and (min-width: 200px) and (max-width: 1024px) {
            position: static;
            height: auto;
            opacity: 1;
            visibility: visible;
            z-index: 3;
        }

        .explore-tile__label {
            top: 0;

            @media all and (min-width: 1025px) {
                top: -5px;
            }
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        // height: calc(100% - 80px);
        height: 100%;
        transition: height 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

        @media screen and (min-width: 200px) and (max-width: 1024px) {
            height: 100%;
            padding: 20px 0;
        }

        > * {
            width: 100%;
        }

        &--full-height {
            height: calc(100%);
        }
    
        &.bg-light-gradient {
            @media screen and (min-width: 200px) and (max-width: 1024px) {
                background-image: linear-gradient(180deg, rgba(255,255,255,0) 80%, rgba(171,188,215,0.35) 100%);
            }
        }

        &.bg-light-gold-gradient {
            @media screen and (min-width: 200px) and (max-width: 1024px) {
                background-image: linear-gradient(180deg, rgba(255,255,255,0) 80%, rgba($colorMidGold,0.35) 100%);
            }
        }
    }

    &__img {
        display: block;
        flex-grow: 0;
        flex-shrink: 0;
        width: 130px;
        height: 130px;
        margin-top: 1rem;
        margin-bottom: 2rem;
        border-radius: 50%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        @media screen and (min-width: 1501px) and (max-height: 900px) {
            width: 120px;
            height: 120px;
            margin-bottom: 1.5rem;            
        }

        @media screen and (min-width: 1025px) and (max-width: 1500px) {
            width: 120px;
            height: 120px;
            margin-bottom: 1.5rem;
        }

        @media screen and (max-width: 1024px), (min-width: 1200px) {
            margin-top: 3rem;
        }

        &--amp {
            position: relative;
            overflow: hidden;
            text-align: center;
        }
    }

    &__arrow {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        @media screen and (min-width: 1400px) and (max-height: 850px) {
            margin-top: 0.5rem;
            margin-bottom: 0;
        }

        span {
            padding-right: 20px;
            font: {
                size: rem(16px);
                weight: 600;
            }
            letter-spacing: rem(2px);
            color: $colorDarkGray; 
        }

        svg {
            stroke: $colorGold; 
            transition: stroke 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            
            @media screen and (min-width: 1025px) {
                transition: stroke 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86), transform 0.3s 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0.3s 0s cubic-bezier(0.785, 0.135, 0.15, 0.86);
                transform: translateX(-100%);
                opacity: 0;
            }
        }

        &:hover {
            svg {
                stroke: $colorGold; 
            }
        }
    }

    &__footer {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        //justify-content: space-evenly; //space-around
        width: 100%;
        height: 80px;
        background-color: white;

        @media screen and (min-width: 1025px) and (max-width: 1500px) {
            padding: 0 1rem;
        }

        @media screen and (min-width: 200px) and (max-width: 1024px) {
            display: none;
        }

        &-items {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            // margin-right: 30px;

            @media screen and (min-width: 1025px) and (max-width: 1365px) {
                flex-flow: row wrap;
            }

            .shopping-bag__item-quantity {
                @media screen and (min-width: 1201px) and (max-width: 1365px) {
                    font-size: rem(28px);
                }

                @media screen and (min-width: 1025px) and (max-width: 1200px) {
                    font-size: rem(30px);
                }
            }
        }

        .btn {
            padding: {
                top: 0;
                bottom: 0;
            };

            @media screen and (min-width: 1201px) and (max-width: 1365px) {
                padding: {
                    top: 0;
                    right: 0;
                    bottom: 0;
                };
            }

            &__text {
                @media screen and (min-width: 1025px) and (max-width: 1500px) {
                    font-size: rem(12px);
                    letter-spacing: rem(2px);
                    white-space: nowrap;
                }
            }
        }
    }

    &__price {
        font: {
            size: rem(36px);
            weight: 300;
        }
        color: $colorDarkGray; 

        @media screen and (min-width: 1025px) and (max-width: 1365px) {
            line-height: 1;
        }

        @media screen and (min-width: 1201px) and (max-width: 1500px) {
            font-size: rem(28px);
        }

        @media screen and (min-width: 1025px) and (max-width: 1200px) {
            font-size: rem(30px);
        }
    }

    &__for {
        margin-top: 6px;
        padding: 0 2em;
        text-transform: uppercase;
        font: {
            size: rem(12px);
            weight: 600;
        }
        color: $colorDarkGray; 
        letter-spacing: rem(1.5px);

        @media screen and (min-width: 1201px) and (max-width: 1365px) {
            padding: 0 1em;
        }
    }

    &__show-on-mobile {
        @media screen and (min-width: 1025px) {
            display: none;
        }
    }

    .headline-2 {

        @media screen and (min-width: 1501px) and (max-height: 900px) {
            font-size: rem(30px);
            letter-spacing: rem(2px);
        }

        @media screen and (min-width: 1816px) {
            font-size: rem(28px);
            letter-spacing: rem(1px);
        }

        @media screen and (min-width: 1501px) and (max-width: 1815px) {
            font-size: rem(26px);
            letter-spacing: rem(1px);
        }

        @media screen and (min-width: 1366px) and (max-width: 1500px) {
            font-size: rem(24px);
            letter-spacing: rem(1px);
        }

        @media screen and (min-width: 1221px) and (max-width: 1365px) {
            font-size: rem(22px);
            letter-spacing: rem(1px);
        }

        @media screen and (min-width: 1025px) and (max-width: 1220px) {
            font-size: rem(22px);
            letter-spacing: rem(1px);
        }

        @media screen and (min-width: 1400px) and (max-height: 850px) {
            font-size: rem(26px);
            letter-spacing: rem(2px);
        }
    }

    .headline-3 {
        @media screen and (min-width: 1201px) and (max-width: 1500px) {
            font-size: rem(18px);
        }

        @media screen and (min-width: 1400px) and (max-height: 850px) {
            font-size: rem(16px);
        }
    }

    &-row {
        &:last-child {
            .explore-tile {
                @media screen and (min-width: 1025px) { 
                    border: {
                        bottom: 1px solid $colorDarkGray;
                    }
                }
            }
        }
    }
}

