
.feature {
    position: relative;
    display: block;
    margin: 3rem 0 4rem 0;
    padding: 2rem 0;
    background-color: $formInputBg;

    @media screen and (min-width: 200px) and (max-width: 768px) {
        margin: 2rem 0;
    }

    &:before,
    &:after {
        content: ' ';
        position: absolute;
        top: 0;
        height: 100%;
        background-color: $formInputBg;

        width: 100%;
    }

    &:before {
        left: 100%;
    }

    &:after {
        right: 100%;

    }

}
