//colors

//@extend-elements
//original selectors
//ul.yiiPager a:link, ul.yiiPager a:visited
%extend_page {
	border: 1px solid $colorGold;
	color: $colorPrimary;
	font-weight: bold;
	padding: 1px 6px;
	text-decoration: none;
}


div {
	&.galleryBox {
		width: 100%;
		margin: 0 auto;
		margin: 0 !important;
		text-align: center;
		a {
			img {
				max-height: 110px;
				max-width: 110px;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				top: 0;
				margin: auto;
				opacity: 0.7;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: none !important;
			}
			&:hover img {
				opacity: 1;
			}
		}
	}
	&.pager {
		text-align: center;
	}
}
.example-6 {
	overflow: hidden;
	text-align: center !important;
	display: inline-table;
	padding: 0 !important;
	li {
		float: left;
	}
}
.example-all {
	overflow: hidden;
	text-align: center !important;
	display: inline-table;
	li {
		float: left;
	}
}
.flexiwrap {
	width: 100px;
	height: 75px;
}
.products-grid {
	list-style: none;
	text-align: center;
	display: inline-table;
	margin: 2px !important;
	li.item {
		float: left;
		margin: 5px;
		width: 120px;
		height: 120px;
		text-align: center;
		position: relative;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 0 5px $colorGold;
		&:before {
			content: none !important;
		}
	}
	div.item {
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
		width: 120px;
		height: 120px;
		text-align: center;
		position: relative;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 0 5px $colorGold;
	}
}

ul.yiiPager {
	border: 0 none;
	display: inline;
	font-size: 12px;
	line-height: 100%;
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		a {
			border: 0 !important;
			border: 0 none !important;
		}
		&.active a {
			background: none repeat scroll 0 0 $colorPrimary;
			color: #fff !important;
			font-weight: bold;
		}
		&:before {
			content: '' !important;
			width: auto !important;
		}
	}
	a {
		&:link {
			@extend %extend_page;
		}
		&:visited {
			@extend %extend_page;
		}
	}
	.previous {
		display: none;
	}
	.next {
		display: none;
	}
}