.flex-container {
    display: flex;
    flex-wrap: wrap;

    &__box {
        margin-bottom: 25px;
        min-width: 250px;
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        @media all and (max-width: 550px) {
            padding-right: 0;
        }

        &:nth-child(2n - 1) {
            padding-right: 5%;

            @media all and (max-width: 550px) {
                padding-right: 0;
            }
        }
    }

}