/**
*
* Forms
*
**/

.form {
    position: relative;

    fieldset {
        @include clearfix();
    }

    &__input,
    &__textarea,
    &__select,
    select {
        width: 100%;
        border-radius: 2px;
        border: solid 1px $formInputBorder;

        padding: 0.7em 0.6em 0.55em 0.6em;
        outline: none;
        transition: border 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        line-height: 1.3;

        &:focus {
            border-color: $colorDarkGray;
        }
    }

    &__input,
    &__textarea,
    &__select {
        &--white {
            background-color: #fff;
        }
    }

    // Select list
    &__select {
        overflow:hidden;
        padding:0;
        margin:0;
        max-width: 600px;

        select {
            width:115%;
            background-color:transparent;
            background-image:none;
            -webkit-appearance: none;
            border:none;
            box-shadow:none;
        }
    }

    &__select {
        background: $formInputBg url(../images/icons/dropdown-arrow.svg) no-repeat calc(100% - 10px) center;

        &--small {
            width: 75px;

            select {
                width: 130%;
            }
        }
    }

    &--thin {
        .form__label {
            letter-spacing: 0;
            line-height: 1.4;
        }
    }

    &__input {
        &--small {
            width: 100px;
        }
    }
}

select {
    width: 100%;
    border-radius: 2px;
    border: solid 1px $formInputBorder;
    padding: 0.5em;
    outline: none;
    background-color: $formInputBg;
    line-height: 1;

    &:focus {
        border-color: $colorDarkGray;
    }
}


.ie9 .form__input {
    line-height:normal;
} /* Get the stuff to line up right */

.form__textarea {
    width: 100%;
    min-height: 10em;
}


// Checkbox & Radio inputs
.form__radio,
.form__checkbox {
    position: absolute;
    opacity: 0;
}

.form__radio-label,
.form__checkbox-label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.form__checkbox {

    &-label {
        position: relative;
        display: inline-block;
        cursor: pointer;

        &:before {
            content: ' ';
            display: inline-block;
            position: relative;
            top: 2px;
            left: -2px;
            margin-right: 8px;
            margin-left: 2px;
            border: 2px solid $colorGold;
            height: 16px;
            width: 16px;
            background-color: transparent;
            transition: background-color 0.3s linear;
        }

        &:after {
            content: ' ';
            position: absolute;
            top: 6px;
            left: 2px;
            width: 12px;
            height: 6px;
            border: 2px solid #fff;
            border-top-style: solid;
            border-right-style: solid;
            border-top-style: none;
            border-right-style: none;
            opacity: 0;
            transform: scale(0) rotate(-45deg);
            transition: opacity 0.3s linear,
                        transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        }

        &--medium {
            font: {
                size: rem(18px);
                weight: 400;
            }

            @media all and (min-width: 200px) and (max-width: 768px) {
                font-size: rem(14px);
                line-height: 1.7;
            }

            &:after {
                @media all and (min-width: 769px) {
                    top: 8px;
                }
            }
        }

        &--large {
            font: {
                size: rem(18px);
                weight: 600;
            }
            letter-spacing: rem(2px);

            @media all and (min-width: 200px) and (max-width: 768px) {
                font-size: rem(14px);
                line-height: 1.7;
            }

            &:before {
                height: 20px;
                width: 20px;
            }

            &:after {
                width: 14px;
                height: 7px;
            }
        }
    }

    &:checked {

        + .form__checkbox-label {
            position: relative;

            &:before {
                background-color: $colorGold;
            }

            &:after {
                opacity: 1;
                transform: scale(1) rotate(-45deg);
            }
        }

    }

    &--right {
        + .form__checkbox-label {

            &:before {
                margin-left: 8px;
                margin-right: 0;
                float: right;
            }

            &--large {
                &:before {
                    margin-left: 12px;
                }
            }
        }

        &:checked {

            + .form__checkbox-label {
                position: relative;

                &:after {
                    left: auto;
                    right: 4px;
                }
            }
        }
    }
}



.form__radio {

    &-label {
        position: relative;
        display: inline-block;
        cursor: pointer;

        &:before {
            content: ' ';
            display: inline-block;
            position: relative;
            top: 2px;
            left: -2px;
            margin-right: 8px;
            border: 2px solid $colorGold;
            border-radius: 50%;
            height: 16px;
            width: 16px;
            background-color: transparent;
            transition: background-color 0.3s linear;
        }

        &:after {
            content: ' ';
            position: absolute;
            top: 7px;
            left: 2px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $colorGold;
            opacity: 0;
            transform: scale(0) rotate(-45deg);
            transition: opacity 0.3s linear,
                        transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

            @media all and (-webkit-min-device-pixel-ratio:0) {
                top: 6px;
            }

            @supports (-ms-ime-align:auto) {
                top: 7px;
            }
        }

        &--large {
            font: {
                size: rem(18px);
                weight: 600;
            }

            @media all and (min-width: 200px) and (max-width: 768px) {
                font-size: rem(14px);
                line-height: 1.7;
            }

            &:before {
                top: 3px;
                height: 20px;
                width: 20px;
            }

            &:after {
                top: 8px;
                left: 3px;
                width: 10px;
                height: 10px;
            }
        }
    }

    &:checked {

        + .form__radio-label {
            position: relative;

            &:after {
                opacity: 1;
                transform: scale(1) rotate(-45deg);
            }
        }

    }

    &--right {
        + .form__radio-label {

            &:before {
                margin-left: 8px;
                margin-right: 0;
                float: right;
            }
        }

        &:checked {

            + .form__radio-label {
                position: relative;

                &:after {
                    left: auto;
                    right: 4px;
                }
            }
        }
    }
}





// Label above the field
.form__label {
    display: block;
    width: 100%;
    line-height: 2;
    color: $colorDarkGray;
    font: {
        size: rem(18px);
        weight: 600;
    }
    letter-spacing: rem(2px);

    &--normal {
        font-weight: 400;
    }

    &--thin {
        font-weight: 300;
    }
}


.form__row {
    display: table;
    width: 100%;
    clear:both;
    padding: 0.5rem 0;

    &__left,
    &__right {
        position: relative;
        display: table-cell;
        vertical-align: top;
        width: 48%;

        @media screen and (max-width: 1024px) {
            width: 100%;
            display: block;
        }

        &:empty {
            @media screen and (max-width: 1024px) {
                padding-top: 0;
            }
        }
    }

    &__left {
        width: 44%;
        padding-right: 0;

        @media screen and (max-width: 1024px) {
            padding-bottom: 0.5rem;
            width: 100%;
        }
    }

    &__right {
        padding-left: 1.6em;

        @media screen and (max-width: 1024px) {
            padding-top: 0.5rem;
            padding-left: 0;
        }
    }

    &__25 {
        width: 23%;
    }

    &__75 {
        width: 73%;
    }

    &__40 {
        width: 38%;
    }

    &__60 {
        width: 58%;
    }

    &__25,
    &__75,
    &__40,
    &__60 {
        @media screen and (max-width: 1024px) {
            width: 100%;
        }
    }

}



.form__response {
    &--ok {
        background: green;
    }

    &--error {
        background: red;
    }

    p {
        padding: 16px;

        font-size: 1em !important;
        color: #fff;
        text-shadow: none;
    }
}

//
// Placeholder style
//

form ::-webkit-input-placeholder,
.form ::-webkit-input-placeholder {
    opacity: 0.5;
    color: $colorMain;
    font: {
        size: rem(18px);
        weight: 300;
    }
    letter-spacing: rem(2px);
}

form :-moz-placeholder,
.form :-moz-placeholder {
    opacity: 0.5;
    color: $colorMain;
    font: {
        size: rem(18px);
        weight: 300;
    }
    letter-spacing: rem(2px);
}

form ::-moz-placeholder,
.form ::-moz-placeholder {
    opacity: 0.5;
    color: $colorMain;
    font: {
        size: rem(18px);
        weight: 300;
    }
    letter-spacing: rem(2px);
}

form :-ms-input-placeholder,
.form :-ms-input-placeholder {
    opacity: 0.5;
    color: $colorMain;
    font: {
        size: rem(18px);
        weight: 300;
    }
    letter-spacing: rem(2px);
}




.form.form--thin ::-webkit-input-placeholder {
    opacity: 0.75;
    font: {
        size: rem(18px);
        weight: 400;
    }
    color: $colorGold;
    letter-spacing: 0;

    @media screen and (min-width: 200px) and (max-width: 768px) {
        font-size: 14px;
    }
}


.form.form--thin :-moz-placeholder {
    opacity: 0.75;
    font: {
        size: rem(18px);
        weight: 400;
    }
    color: $colorGold;
    letter-spacing: 0;

    @media screen and (min-width: 200px) and (max-width: 768px) {
        font-size: 14px;
    }
}

.form.form--thin ::-moz-placeholder {
    opacity: 0.75;
    font: {
        size: rem(18px);
        weight: 400;
    }
    color: $colorGold;
    letter-spacing: 0;

    @media screen and (min-width: 200px) and (max-width: 768px) {
        font-size: 14px;
    }
}

.form.form--thin :-ms-input-placeholder {
    opacity: 0.75;
    font: {
        size: rem(18px);
        weight: 400;
    }
    color: $colorGold;
    letter-spacing: 0;

    @media screen and (min-width: 200px) and (max-width: 768px) {
        font-size: 14px;
    }
}

fieldset {
    border-radius: 5px;
    border: 1px solid $colorVeryLightGold;
    margin: 10px 0;
    padding: 20px;
	
	legend {
		color: $colorBlue;
	}
}
