.imageGrid {
    line-height: 0;
	display: flex;
	flex-flow: row wrap;
	margin-top:20px;
	margin-bottom: 30px;

    .tile {
        width: 33.33%;
        min-height: 20em;
        line-height: 1.2;
        display: inline-block;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        overflow: hidden;
        position: relative;
        color: #fff;
        /*font-family: "Verdana",sans-serif;*/
        text-shadow: 2px 2px 2px #000;
        cursor: pointer;
        cursor: hand;
        &:before {
            content: '';
            background-color: rgba(15, 15, 15, 0.5);
            display: block;
            width: 100%;
            height: 100%;
            z-index: 0;
            position: absolute;
        }
        &:hover:before {
            display: none;
        }
        .textWrapper {
            text-align: center;
            vertical-align: middle;
            width: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: .75em;
            .content {
                display: none;
            }
        }
        &:hover .textWrapper .content {
            display: block;
            h2 {
                margin: 0;
            }
            a {
                color: $colorGold !important;
                text-shadow: none !important;
            }
        }
    }
}

@media (max-width: 1000px) {
    .imageGrid .tile {
        width: 50%;
    }
}

@media (max-width: 700px) {
    .imageGrid .tile {
        width: 100%;
    }
}

.bookLink {
	margin-bottom: 30px;
	text-align: center;
	
	img {
		box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
		max-height: 400px;
		@media (max-width: 1000px) {
			max-height: 160px;
		}
		
		&:hover {
			box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
		}
	}
}