

.grid-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    min-height: calc(50vh - 37px);
    background-color: #fff;
    border: {
        top: 1px solid $colorGold;
        left: 1px solid $colorGold;
    }

    transition: background-color 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

    @media screen and (min-width: 200px) and (max-width: 1024px) {
        height: auto;
        min-height: 1px;
        border-left: 0;
    }

    @media screen and (min-width: 200px) and (max-width: 1024px) {
        background-image: linear-gradient(180deg, rgba(255,255,255,0) 80%, rgba($colorMidGold,0.35) 100%);
    }

    &:last-child {
        border: {
            bottom: 1px solid $colorGold;
        }
    }

    &--auto-height {
        min-height: 1px;

        .grid-item__content {
            padding: 4rem 10% 3rem 10%;
            transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86),
                        padding 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86),
                        width 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        }

        &:hover {
            .grid-item__content {
                @media screen and (min-width: 769px) {
                    width: 90%;
                    padding: {
                        left: 5%;
                        right: 5%;
                    };
                    transform: translateX(5%);
                }
            }
        }
    }

    &__content {
        position: relative;
        width: 100%;
        padding: 2rem 30% 1rem 15%;

        @media screen and (min-width: 200px) and (max-width: 768px) {
            padding: 80px 30px 70px 30px;
        }
    }

    &__arrow {
        position: absolute;
        right: 10%;
        top: 50%;

        transform: translateY(-50%);

        opacity: 0;
        visibility: hidden;

        transition: opacity 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86),
                    visibility 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

        @media screen and (min-width: 200px) and (max-width: 768px) {
            position: static;
            margin: 1em 0;
            transform: none;
            opacity: 1;
            visibility: visible;
        }

        span {
            padding-right: 20px;
            font: {
                size: rem(16px);
                weight: 600;
            }
            letter-spacing: rem(2px);
            color: $colorBlue;
        }

        svg {
            stroke: $colorGold;
            transition: stroke 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        }

        &:hover {
            svg {
                stroke: $colorBlue;
            }
        }

        &--left {
            right: auto;
            left: 0%;
        }
    }

    &__show-on-mobile {
        @media screen and (min-width: 1025px) {
            display: none;
        }

        &.grid-item__arrow {
            padding-left: 10%;
        }
    }

    &__hide-on-mobile {
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }

    &:hover {
        background-color: $colorVeryLightGold;

        @media screen and (min-width: 200px) and (max-width: 1024px) {
            background-color: transparent;
        }

        .grid-item__arrow {
            &:not(.grid-item__show-on-mobile) {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__intro-para {
        color: $colorDarkGray;
        font: {
            size: rem(18px);
        }
        letter-spacing: rem(1px);
    }

}