/**
*
* Headlines
*
**/

.headline {
    display: block;
    margin: 0 0 0.25em 0;
    font-weight: 600;

    &-1 {
        @extend .headline;
        font-size: rem(42px);
        letter-spacing: rem(5px);

        @media screen and (min-width: 1201px) and (max-width: 1500px) {
            font-size: rem(32px);
        }

        @media screen and (min-width: 1025px) and (max-width: 1200px) {
             font-size: rem(36px);
        }

        @media screen and (min-width: 769px) and (max-width: 1024px) {
            font-size: rem(30px);
            letter-spacing: rem(4px);
        }

        @media screen and (min-width: 200px) and (max-width: 768px) {
            font-size: rem(24px);
            letter-spacing: rem(3px);
        }
    }

    &-2 {
        @extend .headline;
        @include dynamicFontSize(19, 36, 480, 1920);
        font-weight: 500;
        letter-spacing: rem(4px);


        @media screen and (max-width: 1200px) {
            letter-spacing: rem(3px);
        }
    }

    &-3 {
        @extend .headline;
        font-size: rem(22px);
        letter-spacing: rem(3px);

        @media screen and (min-width: 1025px) and (max-width: 1200px) {
             font-size: rem(18px);
        }

        @media screen and (min-width: 769px) and (max-width: 1024px) {
            font-size: rem(16px);
            letter-spacing: rem(2px);
        }

        @media screen and (min-width: 200px) and (max-width: 768px) {
            font-size: rem(18px);
            letter-spacing: rem(2px);
        }
    }

    &-4 {
        @extend .headline;
        font-size: rem(18px);
        letter-spacing: rem(2.14px);

        @media screen and (min-width: 1025px) and (max-width: 1200px) {
             font-size: rem(16px);
        }
    }

    &-5 {
        @extend .headline;
        font-size: rem(18px);
        letter-spacing: rem(1.9px);
    }

    &-6 {
        @extend .headline;
        font-size: rem(24px);
        font-weight: 400;
        letter-spacing: rem(3px);

        @media screen and (min-width: 769px) and (max-width: 1024px) {
            font-size: rem(18px);
            letter-spacing: rem(2px);
        }

        @media screen and (min-width: 200px) and (max-width: 768px) {
            font-size: rem(14px);
            letter-spacing: rem(2px);
        }
    }

    &-7 {
        @extend .headline;
        font-size: rem(12px);
        letter-spacing: rem(2px);
    }

    &-8 {
        @extend .headline;
        font-size: rem(32px);
        font-weight: 400;

        @media screen and (min-width: 769px) and (max-width: 1024px) {
            font-size: rem(24px);
        }

        @media screen and (min-width: 200px) and (max-width: 768px) {
            font-size: rem(20px);
        }
    }

    &-9 {
        @extend .headline;
        font-size: rem(46px);
        letter-spacing: rem(5.5px);

        @media screen and (min-width: 769px) and (max-width: 1024px) {
            font-size: rem(34px);
            letter-spacing: rem(4px);
        }

        @media screen and (min-width: 200px) and (max-width: 768px) {
            font-size: rem(26px);
            letter-spacing: rem(3px);
        }
    }

    &-10 {
        margin: 0 !important;
        font-size: rem(18px);
        font-weight: 400;
        line-height: rem(26px);
    }



    &-11 {
        margin: 0 0 0.25em 0;
        font: {
            size: rem(36px);
            weight: 300;
        }
    }

    &-12 {
        margin: 0 0 0.25em 0;
        font: {
            size: rem(28px);
            weight: 300;
        }

        @media screen and (min-width: 769px) and (max-width: 1024px) {
            font-size: rem(24px);
            letter-spacing: rem(2px);
        }

        @media screen and (min-width: 200px) and (max-width: 768px) {
            font-size: rem(22px);
            letter-spacing: rem(2px);
        }
    }

    &-13 {
        @extend .headline;
        font-size: rem(22px);
        letter-spacing: rem(2.14px);
        letter-spacing: -0.0001em;

        @media screen and (max-width: 1200px) {
             font-size: rem(20px);
        }
    }

    &-14 {
        @extend .headline;
        @include dynamicFontSize(12, 18, 320, 1920);
        font-family: 'Poppins', sans-serif;
        transition: all 0.25s;
        letter-spacing: 8px;
        font-weight: 500;

        @media all and (max-width: 420px) {
            margin-top: 1em;
        }

        @media screen and (min-width: 1201px) and (max-width: 1500px) {
            letter-spacing: 5px;
        }
    
        @media screen and (min-width: 769px) and (max-width: 1200px) {
            letter-spacing: 3px;
        }
    }

    &-15 {
        @extend .headline;
        @include dynamicFontSize(24, 36, 480, 1920);
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }

    
    &-16 {
        @extend .headline;
        @include dynamicFontSize(18, 24, 480, 1920);
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        letter-spacing: 2px;
    }

    &-17 {
        @extend .headline;
        @include dynamicFontSize(12, 18, 480, 1920);
        margin: {
            top: 10px !important;
            bottom: 10px !important;
        }
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        letter-spacing: 2px;
    }

    &-18 {
        @extend .headline;
        @include dynamicFontSize(16, 18, 480, 1920);
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        letter-spacing: 2px;
    }

    &-19 {
        @extend .headline;
        @include dynamicFontSize(12, 20, 480, 1920);
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        letter-spacing: 2px;
    }

    &-20 {
        @extend .headline;
        @include dynamicFontSize(20, 24, 320, 1920);
        font-family: 'Poppins', sans-serif;
        letter-spacing: 8px;
        font-weight: 500;

        @media screen and (min-width: 1201px) and (max-width: 1500px) {
            letter-spacing: 5px;
        }
    
        @media screen and (min-width: 769px) and (max-width: 1200px) {
            letter-spacing: 3px;
        }
    }

    &-underline {
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid currentColor;
    }

    &-top-border {
        margin-top: 2rem;
        padding-top: 1rem;
        border-top: 1px solid currentColor;

        &:before,
        &:after {
            display: inline-block;
            content: ' ';
        }
    }

    &-top-gold-border {
        position: relative;
        margin-top: 20px;
        padding-top: 20px;

        &:before {
            content: '';
            width: 100px;
            height: 2px;
            background-color: $colorGold;

            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &-inline {
        display: inline-block;
    }

    &--gradient-text {
        background: linear-gradient( 90deg, #FAE9C2, #D47C73);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #D47C73;
    }
}


@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .headline--gradient-text {
        color: #D47C73;
        background: transparent;
    }
}