
.image-button {
    display: block;
    margin-bottom: 1.5rem;
	margin-top: 10px;
    font: {
        weight: 400;
    }
    text-transform: none;
    letter-spacing: 0;
    line-height: 1.5; 
    border-radius: 2px;
	box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.45);
    border: 10px double $colorGold;
    transition: background-color 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

    @media screen and (min-width: 200px) and (max-width: 1024px) {
        width: 100%;
    }

}