.img-grid {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    min-height: 15vw;

    @media all and (max-width: 991px) {
        min-height: 300px;
    }

    + .img-grid {
        margin-top: 40px;
        min-height: calc(15vw - 40px);

        @media all and (max-width: 991px) {
            margin-top: 20px;
            min-height: 300px;
        }
    }

    &--height-2x {
        min-height: 30vw;

        @media all and (max-width: 991px) {
            min-height: 450px;
        }
    }

    &--full {
        margin-top: 20px;

        @media all and (max-width: 991px) {
            margin-top: 0;
        }
    }
}
