
.inline-tab {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;

    @media screen and (min-width: 200px) and (max-width: 1024px) {
        display: block;
        margin-top: 1rem;
    }

    &__name {
        font-size: rem(26px);
        font-weight: 300;
        color: rgba($colorGold, 0.5);

        @media screen and (min-width: 769px) and (max-width: 1024px) {
            font-size: rem(20px);
        }

        @media screen and (min-width: 200px) and (max-width: 1024px) {
            display: block;
            margin-bottom: 0.5rem;
            font-size: rem(36px);
        }

        &--active {
            color: $colorGold;
        }
    }
}