/**
*
* List
*
**/

// General
ul,
ol {
   /* padding: 0;
    margin: 0;*/
}

ul,
.list-ol {
    list-style-type: none;
}

.list-ul,
.list-ol {
    padding-top: 0.7em;
    padding-bottom: 0.7em;

    li {
        padding: 1px 0 1px 0;
        position: relative;
        margin-bottom: 2px;

        &:before {
            position: absolute;
            overflow: hidden;
            display: block;
            content: " ";
        }

        &:last-child {
            padding-bottom: 0;
        }
    }
}

// Unordered list
.list-ul {
    padding-left: 30px;

    li {
        &:before {
            top: 0;
            left: -20px;

            width: 22px;
            height: 22px;

            content: "•";

            color: $colorBlue;
        }
    }
}

// Ordered list
.list-ol {
    counter-reset: item;
    padding-left: 40px;

    li {
        &:before {
            left: -40px;

            width: 25px;
            content: counters(item, ".") " ";
            counter-increment: item;

            text-align: center;
            line-height: 1.5;
            color: $colorBlue;
            font-weight: 600;
        }
    }
}

.list-link {
    margin-top: -1.5em;
    padding: 0;
    &__item {

        &:before {
            display: none;
        }

        a {
            color: $colorDarkGold;
        }
    }
}

.list-clean {
    padding: 0;

    > li {
        padding-left: 0 !important;

        .headline-4 {
            margin-bottom: 8px;
            margin-top: 1.5rem;
        }

        span {
            padding-left: 0 !important;
        }

        .ico-label__icon {
            vertical-align: top;

            svg {
                fill: $colorGold;
            }
        }

        .ico-label__txt {
            display: inline-block;

            a {
                padding-left: 0;
            }
        }
    }
}