
.login-grid {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin: {
        left: auto;
        right: auto;
    }

    @media screen and (min-width: 200px) and (max-width: 1024px) {
        display: block;
        flex-flow: column nowrap;
    }

    &--narrow {
        max-width: 600px;
    }

    &__top {
        width: 45%;
        max-width: 45%;
        flex-basis: 45%;
        align-self: flex-start;

        @media screen and (min-width: 200px) and (max-width: 1024px) {
            width: 100%;
            max-width: 100%;
            flex-basis: 100%;
            align-self: center;
        }
    }

    &__middle {
        width: 10%;
        max-width: 10%;
        flex-basis: 10%;
        align-self: center;
        text-align: center;

        @media screen and (min-width: 200px) and (max-width: 1024px) {
            margin: 2rem 0;

            width: 100%;
            max-width: 100%;
            flex-basis: 100%;
        }
    }
}
