

.nav-left {
    position: fixed;
    flex-shrink: 0;
    top: 0;
    left: 0;
    z-index: 5;

    display: flex;
    flex-flow: column nowrap;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	background-color: $colorFourth;
	color: $colorFourth;

    height: 100%;

    min-height: 100vh;
    
    width: 300px;

    text-align: center;

    @media screen and (max-height: 440px) and (min-width: 1025px) {
        position: absolute;
    }

    @media screen and (max-height: 700px) {
        padding-top: 0;
    }

    @media screen and (min-width: 1201px) and (max-width: 1500px) {
        width: 200px;
        flex-direction: column;
    }

    @media screen and (min-width: 1025px) and (max-width: 1200px) {
        width: 170px;
        flex-direction: column;
    }

    @media screen and (max-width: 1024px) {
        position: static;
        order: 10;
        z-index: 1;

        flex-flow: column wrap;
        width: 100%;
        padding-top: 0;
        border-top: 1px solid $colorMidGold;
        min-height: 1px;
        
        // height: 400px; //safari issue fix
    }

    &__white-bg {
        background: $colorWhite;
        padding: 5px 15px;
    }

    &__logo {
        @media all and (max-width: 1024px) {
            max-width: 140px;
            margin: 0 auto;
        }

        &--height {
            @media all and (max-height: 1080px) {
                margin-top: 10px;
                max-height: 10vh;
            }
        }
    }

    &__logo-link {
        width: 100%;
    }

    &__main {
        display: flex;
        flex-direction: column;

        background-size: cover;
        background-repeat: no-repeat;

        flex: 0 1 70%;

        @media all and (max-width: 1024px) {
            padding-top: 20px;
        }

        &--bg-top {
            background-position: 50% 20%;

            @media all and (max-width: 1024px) {
                background-position: 70% 25%;
            }
        }

        &--padded {
            padding-top: 20px;
        }

        &-logo {
            padding: 20px;

            flex: 1 0 15%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            background-size: cover;
            background-position: center;

            @media all and (max-width: 1024px) {
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }

    &__sort {
        position: relative;

        flex: 0 1 15%;

        display: flex; 
        justify-content: center;
        align-items: center;

        overflow: hidden;

        z-index: 2;
		width: 100%;
		
		color: $colorFourth;
		
		&-bg {
			opacity: 0.2;
		}

        @media all and (max-width: 1024px) {
            flex: 0 1 50%;
            height: 120px;
        }

        &:hover {
            .nav-left__sort-bg {
                transform: scale(1.05);
				opacity: 0.7;
            }
        }

        &-label {
            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            background-image: url(../images/backgrounds/brown-mask.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: 1;
        }

        &-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        
            background-size: cover;
            background-position: center;
            transition: all 0.3s ease-in-out;
        }

        &-headline {
            position: relative;
            z-index: 2;
			margin-top:20px;
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-grow: 1;
        transition: all 0.3s;

        @media all and (max-width: 1024px) {
            padding-bottom: 1em;
        }

        &--with-white-mask {
            padding: 0 2em;

            @media all and (min-width: 1025px) and (max-width: 1600px) {
                padding: 0 1em;
            }

            @media all and (max-width: 1024px) {
                padding: 0 1em 1em;
            }
        }

        &-link {
            display: block;
            font-weight: 500;
            letter-spacing: 8px;
            color: $colorFourth;
            font-size: 16px;
            transition: all 0.3s;

            @media screen and (min-width: 1201px) and (max-width: 1500px) {
                letter-spacing: 5px;
            }
        
            @media screen and (min-width: 1025px) and (max-width: 1200px) {
                letter-spacing: 3px;
            }
            
            @media all and (max-width: 1024px) {
                margin-top: 1em;
            }

            &:hover {
                color: $colorDarkGold;
            }

            &--white-bg {
                padding: 10px 0;
                background-image: url(../images/backgrounds/white-bg.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                z-index: 1;

                @media all and (max-width: 1024px) {
                    display: inline-block;
                    width: 15.5em;
                }
            }

            span {
                display: block;
            }

            &--gold { 
                color: $colorGold;
            }

            &--small {
                @include dynamicFontSize(10, 14, 480, 1920);
            }
        }
    }
}



