.old-price {
    span {
        position: relative;
        font: {
            size: rem(18px);
            weight: 500;
        }
        letter-spacing: 2px;
        color: $colorDarkGray;

        &:after {
            content: ' ';
            position: absolute;
            top: 50%;
            left: -3px;
            margin-top: -0.5px;
            display: block;
            width: calc(100% + 6px);
            height: 1px;
            background-color: $colorRed;
        }
    }
}