.our-story {
    position: relative;
    z-index: 3;
    width: 100%;
    flex-basis: 100%;
    max-width: 100%;
    margin: auto;

    > *:not(.our-story__narrow) {
        position: relative;
        z-index: 1;
        width: 100%;
    }
}

.our-story .our-story__narrow {
    position: relative;
    padding: 1rem;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: 200px) and (max-width: 768px) {
        padding: 1rem 15px;
    }
} 