

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    width: 100%;
    height: 100%;

    opacity: 0;
    visibility: hidden;

    background-color: rgba($colorDarkBlue, 0.5);
    transition: opacity 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86),
                visibility 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

    &--show {
        opacity: 1;
        visibility: visible;
    }
}