.displayNone {
    display: none !important;
}

#video_player {
	display: table;
	/*line-height: 0;
	font-size: 0;*/
	width: 100%;
	min-height: 300px;
	background: $colorVeryLightGold;
}
#video_player video, #video_player embed,
	 
	#video_player figcaption {
		display: table-cell;
		vertical-align: top;
		width: 100%;
		height: 480px;
}
#video_player figcaption {
	width: 25%;
}
#video_player figcaption a {
	display: block;
	opacity: .5;
	transition: 1s opacity;
    padding: 10px ;
    color: $colorGold;
    font-weight:600;
}
#video_player figcaption a span,
	figure video, figure embed {
		width: 100%;
		height: auto;
}
#video_player figcaption a:hover {
	opacity: 1;
}

@media (max-width: 700px) {
	#video_player video,
		#video_player figcaption {
			display: table-row;
		}
#video_player figcaption a {
	display: inline-block;
	width: 33.33%;
}
}


/* lista */
#playlist {
    display:table;
}
#playlist li{
    cursor:pointer;
    padding:8px;
}

#playlist li{
    cursor:pointer;
    padding:8px;
}

#playlist li:hover{
    color:$colorPrimary;                        
}

#playlist li.active{
    color:$colorSecondary;                        
}
#videoarea {
    position:relative;
    width:640px;
    height:480px;
    margin:10px;    
    /*border:1px solid silver;*/
}

h3.file-name{
    font-weight:600;
    margin-bottom:5px;
}

