
.popup {
    position: relative;
    width: 800px;
    overflow-x: hidden;
    overflow-y: auto;

    @media screen and (max-width: 800px) {
        width: 100%;
        min-height: 100%;
    }

    &__close {
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 2;

        background: none;
    }

    &__header {
        margin: 100px 100px 70px 100px;
        text-align: center;

        @media screen and (min-width: 569px) and (max-width: 800px) {
            padding: 80px 120px 30px 120px;
        }

        @media screen and (max-width: 568px) {
            padding: 40px 20px 20px 20px;
        }

        @media screen and (max-width: 767px) {
            margin: 40px 40px 20px 40px;
        }
    }

    &__form {
        padding: 50px 0 10px;

        @media screen and (max-width: 800px) {
            padding: 30px;
            margin: 50px;
        }

        @media screen and (max-width: 767px) {
            margin: 0;
        }
    }

    &-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;

        width: 100%;
        height: 100%;
        background-color: rgba($colorDarkBlue, 0.5);

        opacity: 0;
        visibility: hidden;

        transition: opacity 0.8s ease,
                    visibility 0.8s ease;

        &--show {
            opacity: 1;
            visibility: visible;
        }
    }
}
