

.product {
    color: $colorMain;
    text-decoration: none;

    &__item {
        font-size: rem(32px);
        font-weight: 600;

        text-decoration:none;
        cursor:pointer;
        letter-spacing: rem(5px);

        @media screen and (max-width: 768px) {
            text-align:center;
            font-size:24px;
        }

        > p {
            margin: 0;
            color: $colorBlue;
        }

        &:hover {
            .product__shop {
                margin-left:50%;
                transform:translateX(-50%);

                @media screen and (max-width: 768px) {
                    margin-left:0 !important;
                    margin-right:0 !important;
                    transform:translateX(0) !important;
                }
            }

            hr {
                width:100%;
            }
        }

        &--champagne {
            hr {
                margin-left: 0;
                margin-right: auto;
                background-color: $colorChampagne;

                @media screen and (max-width: 768px) {
                    margin-left: auto;
                }
            }
        }

        &--prosecco {
            text-align:right;

            @media screen and (max-width: 768px) {
                text-align:center;
                padding-top:32px;
            }

            &:hover {
                .product__shop {
                    margin-left: 0;
                    margin-right: 50%;
                    transform:translateX(50%);
                }
            }

            hr {
                margin-left: auto;
                margin-right: 0;
                background-color: $colorProsecco;

                @media screen and (max-width: 768px) {
                    margin-right: auto;
                }
            }
        }

        hr {
            width: 150px;
            height: 5px;
            border: none;
            transition: all 1s;
        }
    }

    &__shop {
        margin: 0;
        font-size: 24px;
        display: inline-block;
        transition: all 1s;
        text-decoration: none;
        color: inherit;
        white-space: nowrap;
    }


    &-wrapper {
        max-width: 950px;
        width: 90%;
        margin:0 auto;
        z-index:1;
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        flex-grow:1;
        height:10px;

        @media screen and (max-height: 500px) {
            height: calc(220px);
            display: block;
        }

        @media screen and (max-height: 500px) and (min-width: 769px) {
            display: flex;
            margin-top: 15vh;
        }

        @media screen and (max-width: 768px) {
            flex-direction:column;
            justify-content:center;
        }
    }

    &-bottom {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;

        @media screen and (min-width: 421px) and (max-width: 768px) {
            > * {
                margin: 1rem 0;
                width: 50%;
            }

            .flex {
                flex-flow: row nowrap;
            }
        }

        @media screen and (max-width: 420px) {
            > * {
                margin: 1rem 0;
                width: 100%;
            }

            .flex {
                justify-content: center;
            }
        }
    }
}
