

.promo-code {
    display: block;
    margin: 2rem 0 1rem 0;
    width: 100%;

    &__form {
        position: relative;
    }

    &__input {
        width: 100%;
        padding: 5px;
        background-color: transparent;
        border: {
            top: 0;
            left: 0;
            right: 0;
            bottom: 1px solid rgba($colorMain, 0.2);
        }

        @media screen and (min-width: 200px) and (max-width: 768px) {
            font-size: 14px;
            font-weight: 600;
        }

        &--white {
            padding-top: 1rem;
            padding-bottom: 1rem;
            background-color: #fff;
            letter-spacing: rem(2px);

            @media screen and (min-width: 769px) and (max-width: 1024px) {
                letter-spacing: rem(1px);
            }

            + .promo-code__submit-btn {
                bottom: 13px;
                letter-spacing: rem(2px);

                @media screen and (min-width: 769px) and (max-width: 1024px) {
                    letter-spacing: rem(1px);
                }
            }
        }
    }

    &__submit-btn {
        position: absolute;
        right: 0;
        bottom: 3px;
        background-color: transparent;

        font: {
            size: rem(18px);
            weight: 400;
        }
        color: rgba($colorMain, 0.5);
        transition: color 0.3s ease;

        @media screen and (min-width: 200px) and (max-width: 768px) {
            font-size: 14px;
            font-weight: 600;
        }

        &:hover {
            color: rgba($colorDarkGray, 0.9);
        }
    }

    &__error {
        display: block;
        padding: 1rem 2rem 0 2rem;
        text-align: center;
        font: {
            size: rem(16px);
            weight: 400;
        }
        line-height: rem(20px);
        color: rgba(red, 0.8);

        @media screen and (min-width: 200px) and (max-width: 768px) {
            font-size: 14px;
            line-height: 18px;
        }
    }

    &__info {
        display: block;
        padding: 1rem 1rem 0 1rem;
        text-align: center;
        font: {
            size: rem(16px);
            weight: 400;
        }
        line-height: rem(20px);

        @media screen and (min-width: 200px) and (max-width: 768px) {
            font-size: 14px;
            line-height: 18px;
        }
    }

    &--failed {
        .promo-code__input {
            border-bottom: 1px solid rgba(red, 0.4);
        }
    }

    &--valid {
        .promo-code__input,
        .promo-code__submit-btn {
            display: none;
        }
    }

    &__desc {
        display: block;
        margin: 10px 0;
        font: {
            size: rem(18px);
            weight: 400;
        }
        color: $colorDarkGray;

        @media screen and (min-width: 200px) and (max-width: 768px) {
            font-size: 14px;
        }
    }

    &__remove {
        display: block;
        margin: 10px 0;
        padding: 0;
        background-color: transparent;
        font: {
            size: rem(18px);
            weight: 400;
        }
        color: $colorDarkGray;
        text-decoration: underline;
        transition: color 0.3s ease;

        @media screen and (min-width: 200px) and (max-width: 768px) {
            font-size: 14px;
        }

        &:hover {
            color: rgba($colorGold, 0.9);
        }
    }
}



.promo-code__form ::-webkit-input-placeholder {
    opacity: 0.75;
    font: {
        size: rem(18px);
        weight: 400;
    }
    color: $colorGold;

    @media screen and (min-width: 200px) and (max-width: 768px) {
        font-size: 14px;
    }
}


.promo-code__form :-moz-placeholder {
    opacity: 0.75;
    font: {
        size: rem(18px);
        weight: 400;
    }
    color: $colorGold;

    @media screen and (min-width: 200px) and (max-width: 768px) {
        font-size: 14px;
    }
}

.promo-code__form ::-moz-placeholder {
    opacity: 0.75;
    font: {
        size: rem(18px);
        weight: 400;
    }
    color: $colorGold;

    @media screen and (min-width: 200px) and (max-width: 768px) {
        font-size: 14px;
    }
}

.promo-code__form :-ms-input-placeholder {
    opacity: 0.75;
    font: {
        size: rem(18px);
        weight: 400;
    }
    color: $colorGold;

    @media screen and (min-width: 200px) and (max-width: 768px) {
        font-size: 14px;
    }
}