
.product-delivery {
    display: flex;
    margin: 1.75rem 0 0.5rem 0;
    padding: 0;
    flex-flow: row nowrap;
    align-items: center;
    background-color: transparent;

    @media screen and (min-width: 426px) and (max-width: 768px) {
        margin: 2rem 0;
    }

    @media screen and (max-width: 425px) {
        margin-top: -1rem;
        margin-bottom: 3rem;
    }

    > svg {
        fill: $colorGold;
        animation: truck 0.75s infinite;
        animation-play-state: paused;
        animation-timing-function: ease-in-out;
        transition: all 1s;
    }

    > span {
        display: inline-block;
        margin-right: 1rem;
        font: {
            size: rem(12px);
            weight: 600;
        }
        color: $colorGold;
        letter-spacing: rem(2px);
        transition: color 0.3s ease;
    }

    &:hover {
        > span {
            color: $colorDarkGold;
        }

        > svg {
            animation-play-state: running;
            margin-left: 1rem;
        }
    }

    &__popup {
        position: absolute;
        top: 0;
        right: 0;

        z-index: 2;
        max-width: 400px;

        opacity: 0;
        visibility: hidden;

        transform: translateY(-70%);

        transition: opacity 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86),
                    visibility 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86),
                    transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

        @media screen and (max-width: 768px) {
            width: calc(100% + 32px);
            right: 0;
            left: auto;
            transform: translateY(0);
        }

        @media screen and (min-width: 409px) and (max-width: 768px) {
            width: calc(200% + 32px);
        }

        &--open {
            opacity: 1;
            visibility: visible;
            transform: translateY(-90%);

            @media screen and (max-width: 768px) {
                transform: translateY(-50px);
            }

        }

        &--outside {
            @media screen and (max-width: 768px) {
                width: calc(100vw - 30px);
                right: auto;
                left: 0;
            }

            &.product-delivery__popup--open {
                width: calc(100vw - 30px);
                right: auto;
                left: 0;
            }

            .product-delivery__close {
                @media screen and (max-width: 768px) {
                    right: 0;
                }
            }
        }
    }

    &__close {
        position: absolute;
        right: -20px;
        top: -24px;
        cursor: pointer;

        @media screen and (max-width: 768px) {
            right: 10px;
        }
    }

    &__table {
        width: 100%;
        box-shadow: 0 1px 4px 0px $colorDarkGold;

        @media screen and (max-width: 410px) {
            box-shadow: none;
        }

        thead {
            tr {
                background-color: $colorVeryLightGold;

                th {
                    padding: 0.5rem 1rem;
                    text-align: left;
                    font: {
                        size: rem(12px);
                        weight: 600;
                    }
                    color: $colorDarkGold;
                    letter-spacing: rem(1.5px);
                }
            }
        }

        tbody {
            tr {
                background-color: #fff;

                td {
                    background-color: #fff;
                    padding: 0.5rem 0 0.5rem 1rem;
                    text-align: left;
                    font: {
                        size: rem(16px);
                        weight: 600;
                    }
                    color: $colorDarkBlue;
                    letter-spacing: rem(1.5px);

                    @media screen and (max-width: 450px) {
                        font: {
                            size: rem(14px);
                            weight: 600;
                        }
                        letter-spacing: rem(1px);
                    }
                }
            }
        }

        tfoot {
            tr {
                background-color: $colorDarkBlue;

                td {
                    padding: 0.5rem 1rem;
                    text-align: center;
                    font: {
                        size: rem(12px);
                        weight: 600;
                    }
                    color: $colorDarkGold;
                    letter-spacing: rem(1.5px);
                    line-height: rem(16px);
                }
            }
        }
    }



    &-wrapper {
        position: relative;
        display: block;

        flex-grow: 1;
        width: 100%;

        &:not(.product-delivery-wrapper--full-width) {
            @media screen and (min-width: 426px) and (max-width: 768px) {
                width: 50%;
                top: 10px;
            }
    
            @media screen and (max-width: 425px) {
                width: 50%;
                top: 40px;
            }
        }
    }
}


@keyframes truck {
    from {
        transform: translateY(0);
    }
    33% {
        transform: translateY(-2px);
    }
    to {
        transform: translateY(0);
    }
}
