
.product-property {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 1.5rem 0;

    @media screen and (min-width: 1025px) and (max-width: 1500px) {
        margin: 0.5rem 0;
    }

    &__icon {
        margin: 0;
        width: 30px;
        text-align: left;

        svg {
            fill: $colorGold;
        }
    }

    &__text {
        display: inline-block;
        margin-left: 1rem;
        font: {
            size: rem(16px);
            weight: 500;
        }
        color: $colorDarkGray;
        letter-spacing: rem(2px);

        > small {
            display: block;
            margin-top: 2px;
            font: {
                size: rem(12px);
            }
            letter-spacing: rem(1.5px);
            text-transform: none;
        }
    }
}