

.product-name {
    display: block;
    position: relative;
    padding: 1rem 0;
	margin-bottom: 30px;

    &:after {
        content: ' ';
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: block;
        height: 2px;
        width: 70%;
        background-color: $colorGold;

        backface-visibility: visible;
        
        will-change: transform;
        animation: 1.5s linein 1s forwards;

        @media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
            transform: translateX(-50%);
            animation: 1.5s lineinIE 0s forwards;
        }

        @media screen and (max-width: 1024px) {
            display: none;
        }
    }

    [class*="headline-"] {
        margin: 0;
    }
}



@keyframes linein {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }

}


@keyframes lineinIE {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}