
.product-action {
    display: flex;
    margin: 3rem 0;
    flex-flow: column;
    padding: 0 0 0.25rem 2rem;
    border-left: 2px solid $colorGold;

    @media screen and (max-width: 1024px) {
        width: 100%;
    }

    @media screen and (max-width: 768px) {
        margin: 1rem 0;
    }

    &__wrapper {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        @media screen and (max-width: 1024px) {
            flex-flow: row wrap;
        }

        .shopping-bag__item-quantity {
            @media screen and (max-width: 768px) {
                width: rem(70px);
            }
        }
    }

    &__price {
        min-width: 140px;
        font: {
            size: rem(32px);
            weight: 500;
        }
        letter-spacing: 2px;
        color: $colorDarkGray;
    }

    &__for {
        position: relative;
        top: 3px;
        display: inline-block;
        margin: 0 1rem;
        font: {
            size: rem(14px);
            weight: 600;
        }
        color:  $colorDarkGray;
        letter-spacing: rem(1.4px);
    }

    &__add {
        display: flex;
        margin: 1.5rem 3rem 0.5rem 0;
        padding: 0;
        flex-flow: row nowrap;
        align-items: center;
        background-color: transparent;

        > svg {
            fill: $colorGold;
        }

        > span {
            display: inline-block;
            margin-left: 1rem;
            font: {
                size: rem(18px);
                weight: 600;
            }
            color: $colorDarkGray;
            letter-spacing: rem(1px);
            white-space: nowrap;
            transition: color 0.3s ease;
        }

        &:hover {
            > span {
                color: $colorDarkGold;
            }
        }
    }
}
