

.recipe {
    display: inline-block;
    margin-bottom: 4rem;
    padding: 2rem 3rem;
    border: 2px solid $colorBlue;
    background-color: #fff;
    text-align: center;

    @media screen and (min-width: 200px) and (max-width: 768px) {
        position: static;
        display: block;
        width: 100%;
        margin-bottom: 2rem;
    }

    &__item {
        display: block;
        margin: 8px 0;
        font: {
            size: rem(18px);
            weight: 600;
        }
        color: $colorBlue;

        @media screen and (min-width: 200px) and (max-width: 768px) {
            margin: 5px 0;
            font-size: rem(16px);
        }
    }
}