
.share-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 74px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    overflow: visible;

    @media screen and (min-width: 200px) and (max-width: 768px) {
        position: static;
        order: 3;
    }

    &__button {
        display: block;
        font: {
            size: rem(16px);
            weight: 600;
        }
        letter-spacing: rem(1.9px);
        color: #fff;
        transition: color 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

        svg {
            fill: #fff;
            transition: fill 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        }

        &:hover {
            color: $colorBlue;

            svg {
                fill: $colorBlue;
            }
        }
    }

    .share {
        margin-right: 50px;
    }

    &--left {
        justify-content: flex-start;

        .share {
            margin-right: 0;
            margin-left: 120px;
            
            @media screen and (min-width: 200px) and (max-width: 1024px) {
                padding: 15px;
            }
        }

        .share-bar__button {
            margin-right: 0;
        }
    }

    &.bg-darkBlue {
        .share-bar__button {
            &:hover {
                color: $colorMidGold;

                svg {
                    fill: $colorMidGold;
                }
            }
        }
    }
}