
$t: 0.3s;
$top: -66px;

.share {
    position: relative;

    &__item {
        display: block;
        height: 56px;
        width: 56px;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(#000, .3);
        transition: all $t ease;
        animation: $t down forwards;
        opacity: 0;
        will-change: animation;
        top: -8px;
        left: 50%;
        margin-left: -27px;
        line-height: 53px;

        @each $name, $color_code in $socials {
            &--#{$name} {
                background-color:$color_code;
                text-align: center;
                transition: all $t ease !important;

                &:hover {
                    transform: translateY(-130%) scale(1.1) !important;
                }
            }
        }

        svg {
            fill: #fff;
        }
    }

    &--off {
        .share__item {
            animation: none;
        }
    }

    &--open {
        .share__item {

            animation: $t * 1.6 up forwards;

            &--1 {
                animation-delay: $t * 1.3 * 2;
                top: $top * 2;
            }

            &--2 {
                animation-delay: $t * 1.3;
                top: $top;
            }

            &--3 {
                top: 0;                
            }
        }
    }

    .share-bar__button {
        position: relative;
        z-index: 3;
    }

}



@keyframes up {
  50% {
    transform: translateY(-170%);
  }
  100% {
    opacity: 1;
    transform: translateY(-130%);
  }
}

@keyframes down {
  0% {
    opacity: 1;
    transform: translateY(-130%);
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }
}