
.show-more {
    display: block;
    margin: 0.5rem 0;
    font: {
        size: rem(14px);
        weight: 400;
    }
    text-decoration: underline;
    color: $colorGold;
    transition: color 0.3s ease;

    &:hover {
        color: $colorDarkGray;
    }
}