/**
*
* Homepage banner video and svg mask
*
**/

.skinny-gradient {
    // fill:url(#freshGrad);
}

#skinny-overlay {
    position:absolute;
    top:50%;
    z-index: 1;
    transform:translateY(-50%);
    width: 100%;

    @media screen and (max-height: 500px) {
        top: 260px;
    }
}

#skinny-video {
    position:absolute;
    top:50%;
    z-index:-1;
    width:100%;
    transform:translateY(-50%);

    @media screen and (max-height: 500px) {
        top: 260px;
    }
}