
.social-button {
    display: block;
    margin-bottom: 1.5rem;

    padding: 0.6em 30px 0.6em 60px;
    font: {
        weight: 400;
    }
    text-transform: none;
    letter-spacing: 0;
    line-height: 1.5; 
    border-radius: 2px;
    border: 1px solid $colorDarkGray;
    transition: background-color 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

    @media screen and (min-width: 200px) and (max-width: 1024px) {
        width: 100%;
    }

    @each $name, $color_code in $socials {
        &--#{$name} {
            border-color: $color_code;
            color: $color_code;
            /*background: url(../images/#{$name}.png) no-repeat 6px 6px;*/
            text-align: center;

            &:hover {
                background-color: rgba($color_code, 0.1);
            }
        }
    }

}