

.social-icon {
    display: inline-block;
    transition: opacity 0.3s ease;

    &__img {
        width: 24px;
        height: auto;
    }

    &:hover {
        opacity: 0.6;
    }

    &-list {
        padding: 0.5em 0;

        &__item {
            display: inline-block;
            margin-left: 0.5rem;
            margin-bottom: 0.5rem;

            @media all and (min-width: 200px) and (max-width: 600px) {
                margin-left: 1rem;
            }

            &:first-child {
                margin-left: 0;
            }
        }
    }

}