/**
*
* Table
*
**/

.table {
    text-align: left;

    td,
    th {
        padding: 10px;
        border: 1px solid #ccc;
        border-collapse: collapse;
    }

    thead {
        background: #ccc;
        color: #666;
        font-weight: 600;
    }

    &--simple {
        width: 100%;
        border-spacing: 10px;
        font: {
            size: rem(18px);
            weight: 400;
        }

        td,
        th {
            padding: 0.25rem 0;
            border: 0;
            border-collapse: collapse;
        }

        thead {
            background: transparent;
            color: $colorMain;
            
            th {
                padding-bottom: 10px;
                font-weight: 400;
            }
        }   
    }
}

.custom-table {
    width: 100%;
    border: 1px solid $colorSecondary;
    
    thead {
        color: $colorPrimary;
        /*font-family: 'Dream Orphans', cursive;*/
        font-size: 1.0em;
        /*background-color: $colorSecondary;*/
        background: -webkit-linear-gradient(left, rgba($colorSecondary, 1), rgba($colorGold, 1));
        background: linear-gradient(to right, rgba($colorSecondary, 1), rgba($colorGold, 1));
        th {
            padding: 12px 8px;
        }
    }
    
    tbody {
        td {
            padding: 5px 8px;
            color: darken($colorSecondary, 40%);
            border: 0.5px solid $colorSecondary;
            font-weight: 300;
            
            a {
                color: $colorGold;
                font-weight: 400;
            }
        }
        
        td.center {
            text-align: center;
        }
    } 
}

@media 
only screen and (max-width: 1024px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table.custom-table { 
	  	width: 100%; 
        display: block; 
        
        thead, tbody, th, td, tr { 
            display: block; 
        }
        
        tr { border: 1px solid #ccc; }
        
        thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
	
        td { 
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee; 
            position: relative;
            padding-left: 50%; 
        }

        td:before { 
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%; 
            padding-right: 10px; 
            white-space: nowrap;
            /* Label the data */
            content: attr(data-column);

            color: #000;
            font-weight: bold;
        }
	}

}

