.tile {
    display: block;

    &--bg-image {
        position: relative;
        min-height: 320px;

        @media all and (min-width: 601px) and (max-width: 1300px) {
            min-height: 260px;
        }

        @media all and (max-width: 600px) {
            min-height: 200px;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            background-color: rgba(#222, 0.5);

            transition: background-color 0.3s ease;
        }

        &:hover {
            .bg-blue {
                background-color: $colorSecondary;
            }

            &:after {
                background-color: rgba(#222, 0.2);
            }
        }
    }

    &--bg-video {
        position: relative;

        &:after {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            background-color: rgba(#222, 0.5);

            transition: background-color 0.3s ease;
        }

        &:hover {
            .bg-blue {
                background-color: $colorSecondary;
            }

            &:after {
                background-color: rgba(#222, 0.2);
            }
        }
    }

    &__headline-over-image {
        // position: absolute;
        // top: 0;
        // left: 0;

        padding: {
            top: 2.5em;
            left: 3em;
            right: 3em;
            bottom: 2.5em;
        }

        @media screen and (min-width: 992px) and (max-width: 1199px) {
            padding: 2rem;
        }

        @media all and (max-width: 600px) {
            padding: 2rem;
        }

        .skew-headline__text {
            @media all and (min-width: 992px) and (max-width: 1300px) {
                @include dynamicFontSize(26, 32, 992, 1300);
            }
        }

        &--abs {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }

    &--hover {

        .imageGrid &.tile {
            overflow: hidden;
            background-size: 100%;
            transition: all 0.3s;
    
            &:hover {
                // transform: translateY(-20px);
                background-position: center 100%;
                background-size: 105%;

                .tile__abs-img {
                    transform: scale(1.1) translateY(-40px);

                    &:before {
                        opacity: 0.3;
                    }
                }

                .tile__abs-button {
                    transform: translateY(0);
                }

                .tile__title {
                    // margin-top: -40px;
                    transform: translateY(-100%);

                    // transform: translateY(-50%) rotate(-5deg);
                }
            }
        }
    }

    &__abs-img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;

        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;

        transform: scale(1) translateY(0);
        transition: transform 0.3s;

        &:before {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            opacity: 1;
            background-color: rgba($colorGold, 0.6);

            // background: #73436d;
            // background: -moz-linear-gradient(-45deg, #73436d 0%, #d8c18a 100%);
            // background: -webkit-linear-gradient(-45deg, #73436d 0%,#d8c18a 100%);
            // background: linear-gradient(135deg, #73436d 0%,#d8c18a 100%);
            // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73436d', endColorstr='#d8c18a',GradientType=1 );

            transition: opacity 0.4s;
        }
    }

    &__abs-button {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        text-align: center;

        transform: translateY(110%);
        transition: transform 0.3s;

        .btn {
            width: 100%;
            text-align: center;
            text-shadow: none;
            transition: all 0.3s;

            &:hover {
                opacity: 1;
                color: $colorGold;
            }
        }
    }

    &__title {
        margin: 0;
        position: absolute;
        top: 50%;
        z-index: 1;
        transform: translateY(-50%);
        margin-top: 0;
        width: 100%;
        text-align: center;
        transform-origin: center center;
        // transition: margin-top 0.4s 0.075s;
        transition: transform 0.4s 0.075s;
    }
}
