

.top-line {
    position: relative;
    margin-top: 3rem;
    padding-top: 3rem;

    @media screen and (min-width: 200px) and (max-width: 768px) {
        margin-top: 0;
        padding-top: 0;
    }

    &:before {
        content: ' ';
        position: absolute;

        top: 0;
        left: 50%;

        display: block;
        width: 50px;
        height: 1px;
        margin-left: -25px;
        background-color: rgba($colorMain, 0.3);

        @media screen and (min-width: 200px) and (max-width: 768px) {
            top: auto;
            bottom: 0;
        }
    }
}