
.total {
    width: 100%;
    margin: 1rem 0 2rem 0;

    &__summary {
        padding: 0.7rem 1rem;
        background-color: $colorGold;
        color: #fff;
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        justify-content: space-between;

        font: {
            size: rem(26px);
        }
        letter-spacing: rem(2px);

        @media screen and (min-width: 769px) and (max-width: 1024px) {
            padding: 0.7rem;
            font-size: rem(20px);
            letter-spacing: rem(1px);
        }
    }

    &__vat {
        margin: 0.75rem 0;
        text-align: right;
        letter-spacing: rem(1px);
        font-size: rem(20px);
        color: $colorGold;

        @media screen and (min-width: 769px) and (max-width: 1024px) {
            font-size: rem(16px);
        }
    }
}