
.ts-logo {
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 10;
    display: inline-block;

    &--bg {
        background-color: $colorWhiteHalfTransparent;
    }

    @media screen and (max-width: 1024px) {
        top: 7px;
        left: 15px;
    }

    @media screen and (max-height: 700px) {
        top: 7px;
        left: 15px;
    }

    &--mob {
        display: none;

        @media all and (max-width: 1024px) {
            display: block;
        }
    }

    svg {
        width: 80px;
        height: 80px;
        
        @media screen and (max-width: 1024px) {
            width: 60px !important;
            height: 60px !important;
        }

        @media screen and (max-height: 700px) {
            width: 60px;
            height: 60px;
        }   
    }

    &--72 {
        svg {
            width: 72px;
            height: 72px;
        }
    }

    &--product {
        left: 88px;

        svg {
            width: 124px;
            height: 124px;

            @media screen and (max-width: 1024px) {
                width: 60px !important;
                height: 60px !important;
            }

            @media screen and (max-height: 700px) {
                width: 60px;
                height: 60px;
            }   
        }

        @media screen and (min-width: 1201px) and (max-width: 1500px) {
            left: 38px;
        }

        @media screen and (min-width: 769px) and (max-width: 1200px) {
            left: 23px;
        }

        @media screen and (max-width: 1024px) {
            top: 7px;
            left: 15px;
        }

        @media screen and (max-height: 700px) and (min-width: 769px) and (max-width: 1200px) {
            left: 55px;
        }

        @media screen and (max-height: 700px) and (min-width: 1201px) and (max-width: 1500px) {
            left: 70px;
        }

        @media screen and (max-height: 700px) and (min-width: 1501px) {
            left: 120px;
        }
    }

    .logo-white {
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }

    .logo-black {
        @media screen and (min-width: 1025px) {
            display: none;
        }
    }
}