.video {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 2em 0;

    &__wrapper {
        width: 100%;
        height: 100%;
    }

    &__container {
        overflow: hidden; 
        position: relative; 
        padding-bottom: 56.25%; 
        width: 100%; 
        height: 100%;
    }

    iframe,
    object,
    embed {
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%;
    }
}