// popup layer (magnific)
.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: 90%;
    max-width: 900px;
    height: 90vh;
    margin: 20px auto;

    iframe {
    	width: 100%;
    	height: 100%;
    }
}