.wine-direct {
    &--add-to-cart {
        position: relative;
        margin: 2em 0;
        padding-left: 30px;

        border-left: 2px solid $colorGold;

        legend,
        [class$="-widgetProduct-addToCart-productSKU"],
        [class$="-widgetProduct-addToCart-unitDescription"] {
            display: none;
        }

        [class$="-widgetProduct-addToCart-price"] {
            position: relative;
            @extend .product-action__price;


            &:after {
                content: 'each';
                position: absolute;
                top: 100%;
                left: 0;
                margin-top: -5px;

                font-size: 50%;
            }
        }

        [class$="-widgetProduct-addToCart-quantity"] {
            input {
                @extend .shopping-bag__item-quantity;
                @extend .shopping-bag__item-quantity--input;

                width: 80px !important;
                margin-left: 0;
            }
        }

        [class$="-widgetProduct-addToCart-priceWrapper"],
        [class$="-widgetProduct-addToCart-quantity"] {
            width: 48%;
        }

        [class$="-widgetProduct-addToCart-priceWrapper"] {
            float: left;
            margin-top: 5px;
        }

        [class$="-widgetProduct-addToCart-quantity"] {
            float: right;


            &:before {
                display: inline-block;
                vertical-align: middle;
                margin-top: -15px;
                margin-right: 15px;

                content: 'quantity';
                color: $colorGold;
            }
        }

        [class$="-widgetProduct-addToCart-button"] {
            float: left;
            width: 100%;
            margin-top: 25px;
        }

        .add-to-cart {
            display: inline-block;
            font-size: 1.125rem;
            font-weight: 600;
            letter-spacing: .0625rem;
            color: $colorDarkGray;

            padding: 4px 4px 4px 40px;

            background: url(../images/icons/plus-gold.svg) center left no-repeat;
            background-size: 14px auto;

            transition: color 0.3s ease;

            &:hover {
                color: $colorGold;
            }
        }
    }

    &--cart-modal {
        line-height: 1.8;

        [class$="-widgetModalCart-status"] {
            margin-right: 20px;

            a {
                display: inline-block;
                font-size: 1rem;
                font-weight: 600;
                color: $colorDarkGray;

                .l-navbar--white-text & {
                    color: #fff;
                }
            }
        }

        [class$="-widgetModalCart-itemMessage"] {
            padding: 10px;
            background-color: $colorGold;
            color: #fff;
            margin-bottom: 1rem;
        }

        [class$="-widgetModalCart-dropdown"] {
            @extend .shopping-bag;
            padding: 10px;
            width: 450px;

            transform: scale(1);
            box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);

            @media (max-width: 510px) {
                position: fixed;
                top: 80px;
                left: 15px;
                right: 15px;
                width: calc(100% - 30px);

                font-size: 80%;
            }
        }

        [class$="-widgetModalCart-closeButton"] {
            text-align: right;
            margin: -0.5rem 0.5rem 1rem 0;

            a {
                display: inline-block;
                width: 30px;
                height: 30px;

                background: url(../images/icons/cross-main.svg) center center no-repeat;
                background-size: 30px auto;

                line-height: 0; 
                font-size: 0;
                color: transparent; 
            }
        }

        [class$="-widgetModalCart-itemSummaryQuantity"] {
            flex: 0 0 50px;
            text-align: center;
        }

        [class$="-widgetModalCart-itemSummary"] {
            line-height: 1.3;
        }

        [class$="-widgetModalCart-itemSummaryItem"] {
            flex: 0 0 60px;

            img {
                width: 40px;
            }

            @media (max-width: 510px) {
                flex: 0 0 50px;
            }
        }

        [class$="-widgetModalCart-itemSummaryDescription"] {
            width: 100%;
        }

        [class$="-widgetModalCart-itemSummaryPrice"],
        [class$="-widgetModalCart-itemSummaryTotal"] {
            flex: 0 0 70px;
        }

        .group {
            display: flex;

            > div {
                padding: 7px;
            }
        }

        [class*="-widgetModalCart-itemSummarySubTotal"] {
            background-color: $shoppingBagSummargyBG;
            padding: 6px;
            margin: 6px;
        }

        [class$="-widgetModalCart-BottomButtons"] {
            padding: 15px 6px;
        }

        [class$="-widgetModalCart-viewCartButton"] {
            a {
                @extend .btn;
                @extend .btn--border;
                @extend .btn--solid-gold;
                @extend .btn--full;
                @extend .btn--thin-font;

                &:hover {
                    color: $colorGold;
                }
            }
        }

        [class$="-widgetModalCart-checkOutButton"] {
            margin-top: 1rem;

            a {
                @extend .btn;
                @extend .btn--border;
                @extend .btn--solid-white;
                @extend .btn--thin-font;
                @extend .btn--full;
            }
        }
    }

    &--quick-add {
        margin-top: 30px;

        @media (max-width: 991px) {
            margin-bottom: 30px;
        }

        legend,
        [class$="-widgetProduct-addToCart-unitDescription"],
        [class$="-widgetProduct-addToCart-productSKU"] {
            display: none;
        }

        [class$="-widgetProduct-addToCart-price"] {
            position: relative;
            @extend .explore-tile__price;

            @media (max-width: 767px) {
                font-size: 1.4rem;
            }

            @media (min-width: 768px) and (max-width: 1600px) {
                font-size: 1.7rem;
            }

            &:after {
                content: 'each';
                position: absolute;
                top: 100%;
                left: 0;
                margin-top: -7px;

                @media (min-width: 1025px) and (max-width: 1364px) {
                    margin-top: 0;
                }

                font-size: 40%;
            }
        }

        [class$="-widgetProduct-addToCart-button"] {
            .add-to-cart {
                @extend .btn;
                @extend .btn--darkGray;
                @extend .btn--arrow;

                padding-right: 30px;
                background: url(../images/icons/arrow-quick-add.svg) center right no-repeat;
                background-size: 17px auto;

                @media (min-width: 768px) and (max-width: 1600px) {
                    font-size: 1rem;
                }
            }
        }

        [class$="-widgetProduct-addToCart-quantity"] {
            position: relative;

            input {
                @extend .shopping-bag__item-quantity;
                @extend .shopping-bag__item-quantity--input;

                width: 40px !important;
                font-size: 1.4rem;
                //margin-top: 20px;
            }

            &:before {
                content: 'quantity';
                position: absolute;
                top: -18px;

                font-size: 85%;
                color: $colorGold;
            }
        }
        
        [class$="-widgetProduct-addToCart-priceWrapper"] {
            margin-right: 10px;
        }

        [class$="-widgetProduct-addToCart-priceWrapper"],
        [class$="-widgetProduct-addToCart-quantity"],
        [class$="-widgetProduct-addToCart-button"] {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__add-to-cart {
        min-height: 135px;
    }
}