/**
*
* SASS Variables
*
**/

/* Colors */

$colorMain: #838383;
$colorPrimary: #E1EED4;
$colorSecondary: #fcebd9;
$colorThird: #D9C290;
$colorDove: #B8B8B8;

// $colorAccent:

$darkText: #7a7a7a;
// $darkPrimaryText: rgba($darkText, 0.87);
// $darkSecondaryText: rgba($darkText, 0.54);
// $darkDisabledText: rgba($darkText, 0.38);
// $darkDivider: rgba($darkText, 0.12);

// $lightText: #fff;
// $lightPrimaryText: rgba($lightText, 1);
// $lightSecondaryText: rgba($lightText, 0.9);
// $lightDisabledText: rgba($lightText, 0.50);
// $lightDivider: rgba($lightText, 0.12);

$darkPrimaryText: lighten($darkText, 13%);
$darkSecondaryText: lighten($darkText, 46%);
$darkDisabledText: lighten($darkText, 62%);
$darkDivider: lighten($darkText, 88%);

$lightText: #B8B8B8;
$lightPrimaryText: $lightText;
$lightSecondaryText: darken($lightText, 10%);
$lightDisabledText: darken($lightText, 25%);
$lightDivider: darken($lightText, 88%);

$colorGrey: #6e7376;
$colorLight: #f5f5f5; /*#f8f8f8;*/

$colorBeige: #ECD1C3;
$colorDarkKhaki: #AAC253;
$colorDarkOlive: #535B33;
$colorWhiteSmoke: #FAF9F8;
$colorBeigeDark: #D2B49A;
$colorPowderBlue: #BED8D3;

$bgColors: (
  'primary': $colorPrimary,
  'secondary': $colorSecondary,
  'grey': $colorGrey,
  'light': $colorLight,
  'beige': $colorBeige,
  'beige-dark': $colorBeigeDark,
  'smoke': $colorWhiteSmoke,
  'blue': $colorPowderBlue
);

$fontColors: (
  'dark1': $darkPrimaryText,
  'dark2': $darkSecondaryText,
  'dark3': $darkDisabledText,
  'dark4': $colorBeigeDark,
  'dark5': $colorDarkOlive,
  'light1': $lightPrimaryText,
  'light2': $lightSecondaryText,
  'light3': $lightDisabledText,
  'light4': $colorBeige,
  'smoke': $colorWhiteSmoke,
  'blue': $colorPowderBlue
);

$columns_width_set: (10, 20, 25, 30, 33, 40, 50, 60, 67, 70, 75, 80, 90);
