/**
*
* Breadcrumbs
*
**/

.breadcrumb {
	clear: both;
	padding: 1em 30px;
	color: $colorPurple;
    font-size:0.9em;
	/*background-color: rgba($colorCream, 0.4);*/
	
	@media all and (min-width: 200px) and (max-width: 768px) {
		padding: 1em 0;
	}

	li {
		display: inline-block;

		&:not(:last-child):after {
			content: '/';
			padding: 0 10px;
			// color: $colorCream;
			color: #555;
		}
	}

	a {
		color: $colorOrange;

		&:hover {
			color: #555;
		}
		
		img {
			position: relative;
			top: -4px;
			width: 16px; 
			height: 16px;
		}
	}
}