/**
*
* Button
*
**/

.btn {
	@include inline-block();
	
    transition: color 0.3s ease,
                background-color 0.3s ease,
                border 0.3s ease;

    &--outline {
        padding: 0.4em 1.2em;
        box-shadow: 0 0 0 2px $colorDarkblue inset;
        background-color: $colorDarkblue;
        color: #fff;
        font-weight: 600;

        transition: background-color 0.3s ease,
                    color 0.3s ease;

        &:hover {
            background-color: #fff;
            color: $colorDarkblue;
        }
    }

    &--txt {
        font: {
            size: 14px;
        }
        letter-spacing: 1px;
        color: $colorPurple;

        &:hover {
            color: rgba($colorPurple, 0.7);
        }
    }
    
    &--back {
        background-color: $colorPurple;
        color:rgba(#fff,0.6);
        padding: 7px 15px 8px 35px;
        margin-top: -100px;
        position:relative;
        font-size:1em;
        display: inline-block;
        vertical-align: middle;
        -webkit-box-shadow: 0px -3px 3px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -3px 3px 0px rgba(0,0,0,0.75);
        box-shadow: 0px -3px 3px 0px rgba(0,0,0,0.75);
        
        i {
            font-size:3rem;
            color:rgba(#fff,0.4);
            position:absolute;
            left:4px;
            top:-5px;
        }
        
        &:hover {
            color: rgba(#fff,0.4);
        }
    }
}

// Size
.btn--big {
	font-size: 1.5em;
}

.btn--full-width {
    display: block;
    text-align:center;
    width:100%;
}

.btn--small {
	font-size: .6em;
	padding: .3em .6em !important;
}

// Colour
.btn--red {
	background: $colorRed;
	color: #fff;

	&:hover {
		background: rgba($colorRed, 0.3);
        color:$colorRed;
        border:1px solid $colorRed;
	}
}

.btn--green {
	background: $colorGreen;
	color: #fff;

	&:hover {
		background: rgba($colorGreen, 0.3);
        color:$colorGreen;
        border:1px solid $colorGreen;
	}
}

.btn--blue {
	background: $colorBlue;
	color: #fff;
    border:1px solid $colorBlue;
    
    a {
        color: #fff;
    } 
    
    &:hover {
		background: rgba($colorBlue, 0.3);
        color:$colorBlue;
	}
}

.btn--teal {
	background: $colorTeal;
	color: $colorPurple;
    border:1px solid $colorTeal;

	&:hover {
		background: rgba($colorTeal, 0.3);
        color: $colorPurple;
	}
}

.btn--orange {
	background: $colorOrange;
	color: $colorCream;
    border:1px solid $colorOrange;

	&:hover {
		background: rgba($colorOrange, 0.3);
        color:$colorOrange;
	}
}

.btn--black {
	background: #000;
	color: #fff;

	&:hover {
		background: #666;
	}
}

.btn--cream {
	background: $colorCream;
	color: $colorPurple;
    border:1px solid $colorPurple;

	&:hover {
		background: rgba($colorPurple, 0.3);
        color:$colorCream;
	}
}