/**
*
* Container
*
**/

.container {
  margin-right: auto;
  margin-left: auto;

  width: 92%;
  max-width: ($main_container_max_width)+px;

  &--rel {
    position: relative;
  }
}

.container-narrow {
  @extend .container;
  max-width: ($narrow_container_max_width)+px;
}

.container-large {
  @extend .container;
  max-width: ($large_container_max_width)+px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}

.container-full {
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    max-width: $max_container_max_width;
    width: $max_container_max_width;

    @media all and (max-width: 1024px) {
        max-width: 1024px;
        width: 92%;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}
