

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;

    &__indicator {
        position: absolute;
        top: 2px;
        left: 0;
        height: 20px;
        width: 20px;
        background: $cbxDefaultBg;
        
        &:after {
            content: '';
            position: absolute;
            display: none;
        }
    }

    &--radio {

        .control__indicator {
            border-radius: 50%;

            &:after {
                left: 7px;
                top: 7px;
                height: 6px;
                width: 6px;
                border-radius: 50%;
                background: #fff;
            }
        }

        input {
            &:disabled {
                ~ .control__indicator {
                    &:after {
                        background: $radioCbxDisabled;
                    }
                }
            }
        }
    }

    &--checkbox {
        
        .control__indicator {
            &:after {
                left: 8px;
                top: 4px;
                width: 5px;
                height: 10px;
                border: solid #fff;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }

        input {

            &:disabled {
                ~ .control__indicator {

                    &:after {
                        border-color: $radioCbxDisabled;
                    }
                }
            }
        }
    }
    
    input {
        position: absolute;
        z-index: -1;
        opacity: 0;

        &:focus {
            ~ .control__indicator {
                background: $cbxFocusBg;
            }
        }

        &:checked {
            ~ .control__indicator {
                background: $cbxCheckedBg;

                &:after {
                    display: block;
                }
            }

            &:focus {
                ~ .control__indicator {
                    background: $cbxCheckedFocusBg;
                }
            }
        }

        &:disabled {
            ~ .control__indicator {
                background: $cbxDisabledBg;
                opacity: 0.6;
                pointer-events: none;
            }
        }
    }

    &:hover {
        input {
              ~ .control__indicator {
                background: $cbxHoverBg;
            }

            &:checked {


                &:not([disabled]) {
                    ~ .control__indicator {
                        background: $cbxCheckedFocusBg;
                    }
                }
            }
            
        }
    }
}


.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;

    select {
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 10px 15px;
        outline: 0;
        border: 0;
        border-radius: 0;
        background: $selectDefaultBg;
        color: $selectFontColor;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        &:hover,
        &:focus {
            color: $selectFontColorFocus;
            background: $selectFocusBg;

            ~ .select__arrow {
                border-top-color: $selectFocusArrowColor;
            }
        }

        &:disabled {
            opacity: 0.5;
            pointer-events: none;

            ~ .select__arrow {
                border-top-color: $selectDisaledArrowColor;
            }
        }
    }

    select::-ms-expand {
        display: none;
    }

    &__arrow {
        position: absolute;
        top: 16px;
        right: 15px;
        width: 0;
        height: 0;
        pointer-events: none;
        border-style: solid;
        border-width: 8px 5px 0 5px;
        border-color: $selectArrowColor transparent transparent transparent;
    }
}
