
/**
*
* Flex (simple)
*
**/

.flex {
    display: flex;
    width: 100%;
    flex-flow: wrap row;
    align-items: stretch;
    justify-content: flex-start;
    //align-items: center;

    > [class*="col-"] {
        flex-direction: row;
        flex-flow: nowrap row;
        float: none;
    }

    &--auto {
        > * {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
        }
    }

    &[class*="row"] {
        &:before,
        &:after {
            display: none !important;
        }
    }

    &--top {
        align-items: flex-start;

        > [class*="col-"] {
            align-self: flex-start;
        }
    }

    &--bottom {
        align-items: flex-end;
    }

    &__spacer {
        flex-grow: 1;
    }

    &--center {
        justify-content: center;

        > [class*="col-"] {
            align-self: center;

            &.box {
                align-self: auto;
            }
        }
    }

    &--middle {
        align-items: center;
    }
}