/**
*
* Forms
*
**/

.form {
	position: relative;

	fieldset {
		@include clearfix();
	}
}


// General
.form__input,
.form__textarea,
select,
.form__select {
	width: 100%;
	border-radius: 0px;
	border: solid 1px #ccc;
	padding: .3em .5em;
	outline: none;
    transition: border 0.2s linear;
    position:relative;

	&:focus {
		border-color: $colorPurple
	}
}

.form__select,
select {
	/*background: white url(../images/formelements-select.png) no-repeat center right;*/
	//box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  //box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
  height: 40px;
  border: 1px solid $colorTeal;
}

select {
	line-height: 1;
}


// Inputs & textareas
.form__input,
.form__textarea {
	background-color: /*#f5f5f5*/#fff;
	border: 1px solid $colorTeal;
	/*box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);*/
}

.ie9 .form__input {
	line-height:normal;
} /* Get the stuff to line up right */

.form__textarea {
	width: 100%;
	min-height: 8em;
    background-color: rgba($colorTeal, 0.15);
}


// Checkbox & Radio inputs
.form__radio,
.form__checkbox {
	position: absolute;
	left: -999em;
}

.form__radio-label,
.form__checkbox-label {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
    position: relative;
    color: $colorOrange;
    font-weight: 600;
    
    &-subcategories {
        &::after {
            clear:both;
        }
        
        position: absolute;
        padding:5px 10px;
        display: none;
        z-index:100;
        background-color:$colorPurple;
        color:$colorCream;
        width:250px;
        /*left:-120px;*/
        label {
            color:$colorCream;
            font-size:0.8em;
        }
    }
}

.form__radio-label:before,
.form__checkbox-label:before {
	display: inline-block;
	position: relative;
	top: 6px;
	left: -5px;
	content:'';
	width: 25px;
	height: 25px;
	background: url(../images/formelements.png) top left no-repeat;
}

.form__checkbox + .form__checkbox-label:before {
	background-position: 0 -25px;
}

.form__checkbox:checked + .form__checkbox-label:before {
	background-position: 0 0 ;
}

.form__checkbox:checked + .form__checkbox-label:hover {
	.form__checkbox-label-subcategories {
        display: block;
    }
}

.form__radio + .form__radio-label:before {
	background-position: -25px -25px;
}

.form__radio:checked + .form__radio-label:before {
	background-position: -25px 0;
}

// Select list
.form__select {
	overflow:hidden;
	padding:0;
	margin:0;
	//max-width: 600px;

	select {
		width:115%;
		background-color:transparent;
		background-image:none;
		-webkit-appearance: none;
		border:none;
		box-shadow:none;
	}
}


// Label above the field
.form__label {
	display: block;
	width: 100%;
	line-height: 1;
}


.form__row {
    // display: table;
    display: flex;
    align-items: center;
	width: 100%;
	clear:both;
	padding: 6px 0;

	@media all and (max-width: 1023px) {
		padding: 6px 1em;
	}
	
	/*&:nth-child(odd) {
        background-color: lighten($colorCream, 2%);
     }*/
	  
	&:hover {
		background-color: lighten($colorTeal,30%);
	}

    @media all and (max-width: 768px) {
        display: block;
    }

	&__left,
	&__right {
		display: table-cell;
		vertical-align: top;
		
		.form-group {
			margin-bottom: 0;
		}
	}

	&__left {
		width: 200px;
        text-align: right;
		
		label {
			padding: 5px 15px;
            color: $colorPurple;
            text-align: right;

            @media all and (max-width: 768px) {
                padding-left: 0;
                text-align: left;
            }
		}

		@media all and (max-width: 768px) {
		  display: block;
		  width: 100%;
		}
	}

	&__right {
		width: 70%;

		@media all and (max-width: 768px) {
		  display: block;
		  width: 100%;
		}
	}
}


.form__response {
	border-radius: 5px;


	&--ok {
		background: $colorGreen;
	}

	&--error {
		background: $colorRed;
	}

	p {
		padding: 10px;

		font-size: 1em !important;
		color: #fff;
		text-shadow: none;
	}
}

#contact-mail {
	display: none;
}

.input-icon-wrap {
    /* border: 1px solid #ddd;  */
    display: flex;
    flex-direction: row;
    position: relative;
    
    select {
        /*background: white url(../images/formelements-select.png) no-repeat center right;*/
        //box-shadow: 0 1px 3px rgba(0,0,0,0.2);
        //box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
        height: 44px;
        border: 1px solid $colorTeal;
        /*background-color:transparent;
		background-image:none;*/
		-webkit-appearance: none;
		box-shadow:none;
    }
}

.input-icon {
    background: $colorTeal;
    color:$colorCream;
      
    &--red {
        background-color: red !important;
    }
    
    &--green {
        background-color: $colorGreen !important;
    }
}

.input-with-icon {
  border: none;
  flex: 1;
  
}

.input-icon, .input-with-icon, .input-info {
    padding: 10px;
    text-align: center;
    width: 40px;
}

.input-info {
    color: $colorOrange;
}

fieldset {
    /*-webkit-box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.38);
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.38);*/
    border-radius: 5px;
    border: 1px solid rgba($colorPurple, 0.4);
    margin: 10px 0;
    padding: 10px;
    
    legend {
        color: $colorTeal;
        padding: 5px;
        font-size:1.2em;
        font-weight:600;
    }
}


form {

    > input[type="text"],
    > input[type="email"],
    > input[type="password"] {
          
        &:valid {
            border-color: $colorGreen;
            
            /*background: url(images/check.svg);
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: 20px 20px;

            & + label {
                opacity: 0;
            }*/
        }
    }
    
    > div {
    
        > input[type="text"],
        > input[type="email"],
        > input[type="password"] {
         
            &:invalid:not(:focus):not(:placeholder-shown) {
                background: pink;
                & + label {
                    opacity: 0;
                }
            }
          
            &:invalid:focus:not(:placeholder-shown) {
                & ~ .requirements {
                max-height: 200px;
                padding: 0 30px 20px 50px;
                }
            }
          
        }

        .requirements {
            padding: 0 30px 0 50px;
            color: #999;
            max-height: 0;
            transition: 0.28s;
            overflow: hidden;
            color: red;
            font-style: italic;
        }

    }
}

.switch-field {
    input {
        position: absolute !important;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden;
        
        &:checked + label {
            background-color: $colorGreen;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }

    label {
        float: left;
        display: inline-block;
        width: 150px;
        background-color: $colorCream;
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        text-shadow: none;
        padding: 6px 14px;
        cursor: pointer;
        margin-left:5px;
        /*border: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition:    all 0.1s ease-in-out;
        -ms-transition:     all 0.1s ease-in-out;
        -o-transition:      all 0.1s ease-in-out;
        transition:         all 0.1s ease-in-out;*/
        
        &:hover {
            background-color: rgba(0,0,0, 0.2);
            // color: inherit;
        }
    }
    
    label.active {
        background-color: $colorTeal;
        color: $colorCream;
    }


    /*label:first-of-type {
        border-radius: 4px 0 0 4px;
    }

    label:last-of-type {
        border-radius: 0 4px 4px 0;
    }*/
}

.help-block {
    color: $colorRed;
}

.hint-block {
    color: $colorRed;
    font-weight:600;
    font-size: 0.9em;
    display: none;
    padding-top: 6px;
}

.login {
    .hint-block, .help-block {
        background-color: rgba($colorCream, 0.5);
        font-size: 0.8em;
    }
}

.error-summary {
    li {
        list-style-type: none;
        padding-left:20px;
        font-weight:600;
        font-size:0.9em;
    }
}

input.validate-ok, select.validate-ok  {
    border-color: $colorGreen;
    background-color: rgba($colorGreen, 0.1);
    color: $colorGreen;
}

input.validate-no, select.validate-no {
    border-color: $colorRed;
    /*background-color: rgba($colorGreen, 0.1);
    color: $colorGreen;*/
}

.upload-container {
    .input-group {
        border-collapse: separate;
        display: table;
        position: relative;
        
        &-btn {
            font-size: 0;
            position: relative;
            white-space: nowrap;
            vertical-align: middle;
            display: table-cell;
            width: 1%;
            
             > .btn {
                position: relative;
                display: inline-block;
                transition: background 0.2s ease 0s;
                vertical-align: middle;
                padding: 6px 12px;
                text-align: center;
            }
        }
        
        .form-control {
            float: left;
            margin-bottom: 0;
            position: relative;
            width: 100%;
            z-index: 2;
            display: table-cell;
        }
    }

    .form-control {
        background-color: #fff;
        background-image: none;
        border: 1px solid #ededed;
        border-radius: 4px;
        /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;*/
        color: #555555;
        display: block;
        font-size: 14px;
        height: 41px;
        line-height: 1.42857;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        width: 100%;
    }
}