/**
*
* Headlines
*
**/

.headline {
    margin: 0 0 20px 0;

    &-1 {
        @extend .headline;
        font-size: rem(40px);
        font-weight: 600;
    }

    &-2 {
        @extend .headline;
        font-size: rem(34px);
        font-weight: 500;
    }

    &-3 {
        @extend .headline;
        font-size: rem(28px);
        font-weight: 400;
    }

    &-4 {
        @extend .headline;
        font-size: rem(22px);
        font-weight: 300;
    }
}