/**
*
* List
*
**/

// General
ul,
ol {
    padding: 0;
    margin: 0;
}

ul,
.list-ol {
    list-style-type: none;
}

.list-ul,
.list-ol {
    padding-top: 0.7em;
    padding-bottom: 0.7em;

    li {
        padding: 1px 0 1px 0;
        position: relative;
        margin-bottom: 2px;

        &:before {
            position: absolute;
            overflow: hidden;
            display: block;
            content: " ";
        }

        &:last-child {
            padding-bottom: 0;
        }
    }
}

// Unordered list
.list-ul, .container--page ul {
    padding-left: 30px;
    position: relative;
    li {
        position: relative;
        margin: 4px 0;
        
        /*&:before {
            content: '•';
            top: 0;
            left: -20px;

            width: 22px;
            height: 22px;

            background: url(../img/icons/list-tick-teal.svg) top left no-repeat;
            background-size: 20px auto;
        }*/
        
        &:before {
			position: absolute;
            top: 7px;
            left: -30px;
			overflow: hidden;
			display: block;
			content: '';
            background: url(../img/icons/list-tick-teal.svg) top left no-repeat;
            background-size: 20px auto;
            width: 35px;
            height: 35px;
		}
    }
}

// Ordered list
.list-ol {
    counter-reset: item;
    padding-left: 30px;

    li {
        &:before {
            left: -30px;

            width: 25px;
            content: counters(item, ".") ". ";
            counter-increment: item;

            text-align: center;
            line-height: 1.5;
        }
    }
}

