/**
*
* Modal
*
**/

.modal {
    &-header {
        background-color: $colorTeal;
        
        .close {
            color: $colorPurple;
        }
    }
    
    &-title {
        color: darken($colorTeal, 30%);
        poisition: relative;
        i {
            margin-right:10px;
            color: lighten($colorTeal,20%);
        }
        span {
            top:20px;
            left:50px;
            position:absolute;
            font-size:1.2em;
        }
    }
    
    &-footer {
        .btn {
            display: inline-block;
            line-height: 1.25;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid $colorTeal;
            color: $colorTeal;
            padding: .75rem 1rem;
            font-size: 1rem;
            margin: 0;
            border-radius: .25rem;
            -webkit-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            
            &:hover {
                background-color: $colorTeal;
                color: #fff;
            }
        }
        
        .btn-green {
            border: 1px solid $colorGreen;
            color: $colorGreen;
            
            &:hover {
                background-color: $colorGreen;
                color: #fff;
            }
        }
    }
    
    .form-group {
        padding:5px;
        .form-control {
            background-color: #fff;
            border: 1px solid $colorPurple;
            border-radius: 0;
            box-shadow: none;
            color: $colorPurple;
            max-width: 100%;
            padding: 7px 12px;
            transition: all 300ms linear 0s;
            width: 100%;
        }
        
        input.form-control {
            height: 38px;
        }
    }
}