/**
*
* Panel
*
**/

.panel {
    border-color: rgba(120, 130, 140, 0.13);
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    
    .panel-heading {
        color: $colorPurple;
        border-bottom: 1px solid rgba(120, 130, 140, 0.13);
        padding: 10px 15px;
        
        a {
            margin-left: 8px;
            color: $colorTeal;
        }
    }
    
     .panel-body {
        padding: 20px 30px;
    }
    
    .panel-footer {
        color: $colorTeal;
        border-top: 1px solid rgba(120, 130, 140, 0.13);
        padding: 10px 15px;
    }
}