/**
*
* Table
*
**/

.bootstrap-table {
    // background: -webkit-linear-gradient(left, rgba($colorPurple, 0.3), rgba($colorOrange, 0.3));
    // background: linear-gradient(to right, rgba($colorPurple, 0.3), rgba($colorOrange, 0.3));
    border-radius:5px;
    
    .fixed-table-toolbar {
        button {
            color: $colorPurple;
        }

        .columns.columns-right.btn-group.pull-right {
            margin: 0;
        }
    }

    .fixed-table-body {
        background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%);
    }

    .btn {
        padding: 0 1rem;

        &:after {
            display: none;
        }

        &:hover {
            color: rgba($colorPurple, 0.5);
        }
    }
}

table {
	border-color: $colorTeal;
    th {
        color: $colorPurple;
    }
}

/*fixed-table-body {
    border-bottom: 2px solid $colorTeal;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
         0px 10px 20px rgba(0,0,0,0.05),
         0px 20px 20px rgba(0,0,0,0.05),
         0px 30px 20px rgba(0,0,0,0.05);
}
*/
/*.fixed-table-container {
    border-radius: 0;
    background-color: rgba(#fff, 0.5);
}*/
.table-bg {
    
    thead {
        background: -webkit-linear-gradient(left, rgba($colorPurple, 1), rgba($colorOrange, 1));
        background: linear-gradient(to right, rgba($colorPurple, 1), rgba($colorOrange, 1));
        background-color: rgba($colorCream, 0.4);
        color: $colorCream;
        
        th {
            text-align: center;
            font-weight:400;
            color: $colorCream;
        }
    }
    
    tbody {
        > tr:nth-of-type(2n) {
            background-color: #fff;
        }
        > tr:nth-of-type(2n+1) {
            background-color: $colorCream;
        }
        
        tr {
            &:hover {
                td {
                    background-color: rgba($colorOrange, 0.2) !important;
                    color: $colorOrange;
                    
                    .btn-icon {
                        background-color: $colorOrange;
                    }
                }
            }
            
            td {
                .btn-icon {
                    background-color: $colorTeal;
                    color: $colorCream;
                    padding: 3px 6px;
                }
            }
        }
    }
}

