//grid breakpoints
$breakpoints_names: ('xs': 200px, 'sm': 769px, 'md': 1025px, 'lg': 1365px, 'xl': 1520px);

//number of columns
$columns_numbers: (1,2,3,4,5,6,7,8,9,10,11,12);

//value of one grid unit
$iteration: (1/12);

//default margin between columns
$marginGap: 20px;

//column gaps sizes
$column_gap: (0);

//order item count
$order_numbers: (1,2,3,4,5,6,7,8);