.blog-post {
	margin-bottom: 50px;
	&:last-child {
		margin-bottom: 0;
	}
    
    &-cats {
        margin: 0;
        padding: 0;
        color: $colorBeige;
        border-bottom: 2px solid $colorBeigeDark;
        font-size: 12px;
        font-weight: 900;
        letter-spacing: 2px;
        line-height: 1.36;
        margin-bottom: 33px;
        text-transform: uppercase;
        text-align: left;
        a {
            display: inline-block;
            background: $colorBeigeDark;
            padding: 0 15px;
            line-height: 35px;
            margin-right: 10px;
            color: $colorBeige;
        }
    }
    
    &-title {
        margin-bottom: 15px;
        h2 {
            margin: 0;
            color: $colorBeige;
            font-size: 38px;
            font-weight: 400;
            line-height: 1.2;
            display: block;
            a {
                color: $colorBeige;
            }
        }
    }
    
    &-meta {
        margin-bottom: 30px;
        font-size: 0;
        line-height: 0;
        
        &-author {
            display: inline-block;
            vertical-align: middle;
            
            &-avatar {
                float: left;
                margin-right: 13px;
                img {
                    display: block;
                    border-radius: 50%;
                }
            }
            &-main {
                overflow: hidden;
                margin-top: 5px;
                text-align: left;
                float: left;
            }
            &-name {
                font-size: 14px;
                font-weight: 300;
                color: $colorDarkOlive;
                margin-bottom: 7px;
                a {
                    line-height: 1;
                    font-weight: 700;
                }
            }
            &-date {
                font-size: 10px;
                color: $colorBeigeDark;
                line-height: 1;
                text-transform: uppercase;
            }
        }
        
        &-comments-count {
            display: inline-block;
            vertical-align: middle;
            font-weight: 300;
            color: $colorBeigeDark;
            span {
                display: inline-block;
                vertical-align: middle;
                line-height: 32px;
                font-size: 16px;
            }
            .fa {
                color: $colorBeigeDark;
                font-size: 30px;
                margin-right: 10px;
            }
            a {
                color: inherit;
            }
        }
        
        &-share {
            display: inline-block;
            vertical-align: middle;
            border-right: 0;
            padding-right: 0;
            margin-right: 0;
            font-size: 0;
            line-height: 0;
            vertical-align: middle;
            a {
                display: inline-block;
                font-size: 14px;
                background: $colorBeigeDark;
                color: $colorBeige;
                line-height: 25px;
                width: 25px;
                text-align: center;
                margin-right: 10px;
            }
            
            &-count {
                display: inline-block;
                vertical-align: middle;
                font-size: 0;
                line-height: 0;
                font-weight: 300;
                color: $colorBeigeDark;
            }
        }
        
        &-cats {
            display: inline-block;
            vertical-align: middle;
            a {
                display: inline-block;
                line-height: 28px;
                padding: 0 10px;
                background: $colorBeigeDark;
                font-size: 12px;
                color: $colorWhiteSmoke;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: 900;
            }
        }
        &-separator {
            margin: 0 20px;
            vertical-align: middle;
            display: inline-block;
            width: 1px;
            height: 32px;
            background: $colorBeigeDark;
            &:last-child {
                display: none;
            }
        }
    }
    
    &-thumb-small {
        margin-bottom: 25px;
        height:350px;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        display:block;
        width:100%;
    }
    
    &-thumb {
        margin-bottom: 25px;
        height:450px;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        display:block;
        width:100%;
    }
    
    &-main {
        overflow: hidden;
        text-align: left;
    }
    
    &-excerpt {
        margin-bottom: 27px;
        text-align: justify;
        font-weight:600;
        color: $colorDarkOlive;
        
        &::first-letter {
            display: block;
            float: left;
            font-size: 85px;
            line-height: 65px;
            color: $colorPrimary;
            padding-right: 15px;
            margin-right: 15px;
            border-right: 1px solid $colorBeige;
        } 
    }
    
    &-content {
        text-align: justify;
    }
    
    &-excerpt-big-cap {
        display: block;
        float: left;
        font-size: 85px;
        line-height: 65px;
        color: $colorPrimary;
        padding-right: 15px;
        margin-right: 15px;
        border-right: 1px solid $colorBeige;
    }
    
    &-read-more {
        text-align: right;
        a {
            display: inline-block;
            background: $colorWhiteSmoke;
            color: $colorPrimary;
            font-size: 12px;
            font-weight: 900;
            line-height: 38px;
            letter-spacing: 2px;
            padding: 0 16px;
            &:hover {
                
                
            }
        }
    }
    
    &-tags {
        a {
            font-size: 14px;
            color: $colorPrimary;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 600;
        }
    }
}

#blog-sidebar {
	margin-top: 0;
    
    .widget {
		/*margin-bottom: 35px;
        margin-top: 20px;*/
        margin: 20px 0 8px;
        border: 1px solid #eee;
        padding: 30px;
        box-shadow: 0 1px 5px #efefef;
        
        &-title {
			padding-bottom: 15px;
            margin-bottom: 20px;
			text-transform: uppercase;
            font-weight:400;
            line-height:22px;
            
            &::after {
                content: '';
                display: inline-block;
                left: 0px;
                width: 100%;
                height: 1px;
                border: 1px solid rgba(0,0,0,0.08);
                border-left: none;
                border-right: none;
            }
		}
	}
    
    .widget:last-child {
		margin-bottom: 0;
	}
    
    .about-author-widget {
        text-align: center;
        position: relative;
        border: 4px solid $colorPrimary;
        padding: 25px;
    } 
}

.blog-post-style1 {
    margin-bottom: 30px;
    overflow: hidden;
    
    &-thumb {
        margin-bottom: 23px;
        padding: 10px;
        background: $colorWhiteSmoke;
        position: relative;
        
        img {
            display: block;
            width: 100%;
        }
        
        &-cats {
            position: absolute;
            bottom: 0;
            left: 0;
            line-height: 34px;
            background: $colorWhiteSmoke;
            padding: 0 15px;
            font-size: 11px;
            font-weight: bold;
            color: $colorPrimary;
            text-transform: uppercase;
            letter-spacing: 2px;
            
            a {
                color: inherit;		
            }
        }
    }
    
    &-number {
        font-size: 49px;
        line-height: 1;
        color: #bed8d3;
        float: left;
        margin-right: 25px;
        margin-top: -10px;
    }

    &-main {
        overflow: hidden;
    }

    &-title {
        font-size: 17px;
        color: $colorDarkOlive;
        margin-bottom: 9px;
        line-height: 22px;
        
        a {
            color: inherit;
            font-weight: 600;
        }
    }


    &-author {
        font-size: 14px;
        color: #7c7c7c;
        line-height: 1;
        margin-bottom: 7px;
        
         a {
            font-weight: bold;
        }
    }


    &-date {
        color: #949494;
        font-size: 10px;
        line-height: 1;
        text-transform: uppercase;
    }

    &-excerpt {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

.blog-post-style2 {
    padding:30px;
    &-thumb {
        margin: 0 0 20px 0;
        position: relative;
        
        a, img {
            display: block;
            width: 100%;
        }
        
        &-cats {
            position: absolute;
            bottom: 0;
            left: 0;
            line-height: 34px;
            background: #fff;
            padding: 0 15px;
            font-size: 11px;
            font-weight: bold;
            color: #colorPrimary;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
    
    &-main {
        text-align: center;
    }
}

#comments {
    &-title {
        margin-bottom: 20px;
        text-align: left;
        font-weight: normal;
        font-size: 1.3em;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        padding-bottom: 30px;
        display: block;
        position: relative;
        border-bottom: 1px solid #e5e8ee;
        
        small {
            font-size:0.6em;
            color: $colorDarkOlive;
        }
    }
    
    ol {
        list-style-type: none;
        
        .comment {
            display: block;
            border: 4px solid $colorPowderBlue;
            padding: 20px;
            margin-bottom: 15px;
            
            &-author-avatar {
                float: left;
                margin-right: 15px;
                
                 img {
                    border-radius: 50%;
                    display: block;
                }
            }
            
            &-meta {
                float: left;
                
                &-author {
                    display: block;
                    margin-bottom: 3px !important;
                    color: #232323;
                    font-size: 11px;
                    font-weight: 700;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }
                &-date {
                    display: block;
                    font-size: 11px;
                    color: #949494;
                    line-height: 1;
                    text-transform: uppercase;
                }
            }

            &-info {
                margin-bottom: 15px;
                
                ul {   
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                }
            }
            
            article {
                position: relative;
                text-align: left;
                padding: 30px 50px 30px 20px;
                
                 .comment-author {
                    display: inline-block;
                    margin-bottom: 0;
                    margin-right: 10px;
                }
                
                .comment-metadata {
                    display: inline-block;
                    font-size: 11px;
                    font-weight: normal;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    
                     * {
                        margin-right: 10px;
                        vertical-align: middle;
                    }
                }

                .comment-content {
                    padding-left: 70px;
                    /*margin-top: -20px;*/
                    font-size: 0.875em;
                }
                
                .reply {
                    position: absolute;
                    top: 30px;
                    right: 20px;
                    display: inline-block;
                }
            }
            
            .comment-respond {
                padding: 20px;
            }
        }
    }
    
    .comment-form {
        input {
            height: 40px;
            line-height: 40px;
            margin-bottom:5px;
        }
        
        input, textarea {
            position: relative;
            background: #fff;
            border: 1px solid #e5e8ee;
            border-radius: 4px;
            width: 100%;
            padding: 10px;
            outline: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            -webkit-transition: border-color .3s ease;
            -o-transition: border-color .3s ease;
            transition: border-color .3s ease;
        }
        
        button {
            width: 100%;
        }
    }
    
     .comment-respond {
        padding: 20px;
        
        h3 {
            font-size: 20px;
            font-weight: 400;
            margin: 20px 0 0;
        }
    }
}

.blog-comments {
    &-new {
        border: 1px solid $colorBeigeDark;
        margin-bottom:15px;
        
        h3 {
            background-color: $colorBeigeDark;
            color: $colorPowderBlue;
            font-weight:300;
            font-size: 1em;
            padding: 3px 10px;
            margin-bottom:10px;
        }
        
        .form-group {
            margin: 0 50px;
        }
 
    }
    
    h3  {
        background: none repeat scroll 0 0 #fff;
        border: 0px solid #ccc;
        border-radius: 3px;
        margin: 0 0 10px;
        padding: 10px 0 0 0;
        font-size: 14px;
        font-weight: bold;
    }
    .comment {
        background: none repeat scroll 0 0 #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin: 0 0 10px;
        padding: 10px 15px;
        word-break: break-all;
        word-wrap: break-word;
        
        span  {
            color:#999;
        }
    }
    
    #reply  {
        background: none repeat scroll 0 0 #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin: 0 0 10px;
        padding: 10px 20px;
        
        span.required   {
            color: #FF0000;
        }
        
        input   {
            border: 1px solid #ccc;
            border-radius: 3px;
            height: 30px;
            margin: 10px 0px 5px 0;
            padding: 0 5px;
            width: 40%;
            float: left;
        }
        label  {
            margin: 10px 0px 5px 5px;
            padding: 0px 5px;
            float: left;
            text-align: left;
            height: 30px;
            line-height: 30px;
        }
        .help-block {
            margin: 10px 0px 5px 5px;
            padding: 0px 5px;
            float: left;
            text-align: left;
            height: 30px;
            line-height: 30px;
            color:#F00;
        }
        .form-group {
            margin-bottom: 5px;
        }
        
        textarea   {
            border: 1px solid #ccc;
            border-radius: 3px;
            height: 150px;
            margin: 10px 0px 5px 0;
            padding: 0 5px;
            width: 80%;
            float: left;
        }
        .buttons input  {
            background: none repeat scroll 0 0 #04a4cc;
            color:#FFF;
            border: 1px solid #ccc;
            cursor: pointer;
            margin: 0 10px 10px 0;
            padding: 5px;
            width: 40%;
        }
        .errorMessage  {
            color:red;
        }
        .btn-success  {
            width: 300px;
        }
    }
    
}

.blog-catalogs-list {
    li {
        border-bottom: 1px solid $colorWhiteSmoke;
        font-style: italic;
        margin-bottom: 4px;
        padding-bottom: 4px;
        /*text-transform: lowercase;*/
        a {
            color: $colorPowderBlue;
        }
    }
}

.blog-tags-cloud {
	margin: 0;
	padding: 0;
	list-style: none;
    
    li {
        display: inline-block;
        margin: 0 .3em .3em 0;
        padding: 0;
        
        a {
            display: inline-block;
            max-width: 140px;
            height: 28px;
            line-height: 28px;
            padding: 0 1em;
            background-color: #fff;
            border: 1px solid $colorPowderBlue;
            border-radius: 3px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: $colorDarkOlive;
            font-size: 13px;
            text-decoration: none;
            -webkit-transition: .2s;
            transition: .2s;
            
            &:hover {
                background-color: $colorPowderBlue;
                color: #fff;
            }
        }
    }
}