/**
*
* Blockquote
*
**/

.blockquote {
    margin: 1em 0;
    padding: 5px 10px 10px 0;

    > p {
        position: relative;
        font-size: 1.25rem;


        &:first-child:before,
        &:first-child:after {
            position: absolute;
            font-size: 1.4em;
            color: #fff;
            font-family: Oswald,sans-serif;
        }

       &:first-child:before {
            // content: '\201C';
            content: ' ';
            width: 264px;
            height: 200px;
            left: -1rem;
            top: -50px;

            // margin-top: -75px;

            // font-size: 15em;
            // font-weight: 600;
            opacity: 0.3;

            background: url(/images/icons/quote-mark.svg) no-repeat center center / 100% auto;
        }

        // &:last-of-type:after {
        //     position: absolute;
        //     right: 0;
        //     content: '\201D';
        //     width: 25px;
        //     height: 25px;
        //     bottom: 0;

        //     font-size: 15em;
        //     font-weight: 600;
        //     font-family: Oswald,sans-serif;
        // }

        &:last-of-type {
            margin-bottom: .5em;
        }
    }

    &__footer,
    footer {
      font-family: Oswald,sans-serif;
      text-align: center;
    }
}
