/**
*
* Button
*
**/

.btn {
  @include inline-block();
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
  color: #a6a6a6;
  overflow: hidden;
  display: inline-block;
 /* line-height: 35px;*/
  margin: 0.5rem 0.5rem 0.5rem 0;
  padding: 0 15px;
  font-size: 15px;
  position: relative;
  opacity: .999;
  // border-radius: 3px;
  /*font-family: 'Oswald', sans-serif;
  text-transform: uppercase;*/
  transition: all 0.3s;

  &:before,
  &:after {
    content: '';
    width: 100%;
    height: 0;
    opacity: 0;
    position: absolute;
    left: 0;
    z-index: -1;
    background-color: $colorPrimary;
    transition: all 0.3s;
  }

  &:before {
    top: 50%;
  }

  &:after {
    bottom: 50%;
  }

  &:hover {
    // border-color: $colorPrimary;
    border-color: #fff;
    color: #fff;

    &:before,
    &:after {
      opacity: 1;
      height: 50%;
    }
  }
}
