/**
*
* Content (text stylisation connected to CMS WYSIWYG editor)
*
**/
.content {
    p,
    li,
    td {
        font-size: 1rem;
        line-height: 1.5;
        font-weight: 300;

    }

    .content__small-text {
        font-size: .852em;
    }

    .content__large-text {
        font-size: 1.4em;
    }

    p:not(:last-child) {
        margin: 0;
        padding-bottom: .9em;
    }

    ul:not(:last-child),
    ol:not(:last-child) {
        padding-bottom: 1em;
    }

    p {
        margin-top: 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    /* uls, ols */
    ul {
        @extend .list-ul;
    }

    ol {
        @extend .list-ol;
    }

    blockquote {
        @extend .blockquote;
    }
}
