/**
*
* Forms
*
**/

.form {
    position: relative;

    fieldset {
        @include clearfix();
    }

    &__asterisk {
      color: red;
    }
}


// General
.form__input,
.form__textarea,
select,
.form__select {
    width: 100%;
    border-radius: 2px;
    border: solid 1px #ccc;
    padding: .5em .7em;
    outline: none;

    &:focus {
        border-color: $colorPrimary;
    }
}

.form__select,
select {
    background: white url(../images/formelements-select.png) no-repeat center right;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

select {
    line-height: 1;
}


// Inputs & textareas
.form__input,
.form__textarea {
    background-color: #f5f5f5;
    // box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);

    &--sm {
      max-width: 100px;
    }

    &--md {
      max-width: 200px;
    }
}

.ie9 .form__input {
    line-height:normal;
} /* Get the stuff to line up right */

.form__textarea {
    width: 100%;
    min-height: 10em;
}


// Checkbox & Radio inputs
.form__radio,
.form__checkbox {
    position: absolute;
    left: -999em;
}

.form__radio-label,
.form__checkbox-label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.form__radio-label:before,
.form__checkbox-label:before {
    display: inline-block;
    position: relative;
    top: 2px;
    left: -2px;
    content:'';
    width: 25px;
    height: 23px;
    background: url(../images/formelements.png) top left no-repeat;
}

.form__checkbox + .form__checkbox-label:before {
    background-position: 0 -25px;
}

.form__checkbox:checked + .form__checkbox-label:before {
    background-position: 0 0 ;
}

.form__radio + .form__radio-label:before {
    background-position: -25px -25px;
}

.form__radio:checked + .form__radio-label:before {
    background-position: -25px 0;
}

// Select list
.form__select {
    overflow:hidden;
    padding:0;
    margin:0;
    max-width: 600px;

    select {
        width:115%;
        background-color:transparent;
        background-image:none;
        -webkit-appearance: none;
        border:none;
        box-shadow:none;
    }
}


// Label above the field
.form__label {
    display: block;
    width: 100%;
    line-height: 2;
}


.form__row {
    display: table;
    width: 100%;
    clear:both;
    padding: 6px 0;

    &__left,
    &__right {
        display: table-cell;
        vertical-align: top;
    }

    &__left {
        width: 200px;
    }

    &__right {
        width: 70%;
    }
}



.form__response {
    border-radius: 5px;


    &--ok {
        background: green;
    }

    &--error {
        background: red;
    }

    p {
        padding: 10px;

        font-size: 1em !important;
        color: #fff;
        text-shadow: none;
    }
}

#contact-mail {
    display: none;
}


// RANGE


input[type=range] {
  /*removes default webkit styles*/
  -webkit-appearance: none;
  /*fix for FF unable to apply focus style bug */
  //border: 1px solid white;

  /*required for proper track sizing in FF*/
  //width: 300px;
  width: 100%;
  background-color: transparent;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: $colorPrimary;
  margin-top: -5px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: $colorPrimary;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;

  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;

  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;

  /*remove default tick marks*/
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}
input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: $colorPrimary;
}
input[type=range]:focus::-ms-fill-lower {
  background: #888;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}


input.input-gradient {
  border-image-source: linear-gradient(rgba($colorPrimary, 0.5), rgba($colorSecondary, 0.5));
  border-width: 3pt;
  border-image-slice: 1;
}