/**
*
* Headlines
*
**/

%headlineBgBar {
    content: ' ';
    position: absolute;
    top: 0.65em;
    left: -50vw;
    z-index: -1;
    width: 202vw;
    height: 220px;
}

.headline {
    margin: 0 0 0.5em 0;
    font-family: 'Oswald', sans-serif;

    &-1 {
        @extend .headline;
        @include dynamicFontSize(24, 32, 480, 1600);
        font-weight: 400;
    }

    &-2 {
        @extend .headline;
        @include dynamicFontSize(22, 28, 480, 1600);
        font-weight: 400;
    }

    &-3 {
        @include dynamicFontSize(48, 96, 480, 1600);
        margin: 0;
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        letter-spacing: 0.1em;
    }



    &-underline {
        margin-bottom: 0.85em;
        padding-bottom: 0.5em;
        border-bottom: 1px solid currentColor;
    }
    
    &-bg {
        @each $color, $color_code in $bgColors {
            &-#{$color} {
                position: relative;
                z-index: -1;
                line-height: 1;
                margin-bottom: 0.5em;
                text-shadow: 6px 6px 0px #fff;

                &:after {
                    @extend %headlineBgBar;
                    background-color: $color_code;
                }
            }
            
            &-#{$color}-o {
                position: relative;
                z-index: -1;
                line-height: 1;
                margin-bottom: 0.5em;
                text-shadow: 6px 6px 0px #fff;
                color: $color_code;

                &:after {
                    @extend %headlineBgBar;
                    background-color: rgba($color_code, 0.4);
                }
            }
        }
    }
}
