
.icon {

  &-search {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    transition: opacity 0.3s ease;

    &:before {
      content: ' ';
      position: absolute;
      top: 10px;
      left: 0;

      width: 26px;
      height: 26px;
      border: 2px solid $colorMain;
      border-radius: 40px;
    }

    &:after {
      content: ' ';
      position: absolute;
      top: 34px;
      left: 21px;

      width: 10px;
      height: 2px;
      background-color: $colorMain;
      transform: rotate(45deg);
    }
  }
}
