
.bg-loading {
  position: relative;
  z-index: 1;

  &:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(#fff, 0.8) url(../images/ajax-loader.gif) center center no-repeat;
  }
}

.bg-loaded {
  &:after {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s opacity, 0.3s visibility;
  }
}
