
.megamenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: $colorMain;
    color: #fff;
    overflow: auto;

    will-change: transform;
    transform: translateX(100%);

    transition: transform 0.6s ease-in-out;

    &--open {
        transform: translateX(0);
        z-index: 9999;

        .megamenu__link {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }

    &--close {
        .megamenu__link {
            transition: opacity 0.3s ease !important;
        }
    }

    &__close {
        display: inline-block;
        position: absolute;
        top: 16px;
        right: 9px;
        height: 50px;
        background-color: transparent;

        &-line {
            position: relative;
            display: block;
            margin: 0 auto;
            width: 40px;
            height: 3px;
            background-color: #fff;
            will-change: transform;
            transform: rotate(45deg);
            transition: background-color 0.5s ease;

            &:after {
                content: ' ';
                position: absolute;
                display: block;
                margin: 0 auto;
                width: 40px;
                height: 3px;
                background-color: #fff;
                transform: rotate(-90deg);
                transition: background-color 0.5s ease;
            }
        }

        &:hover {
            .megamenu__close-line {
                background-color: $lightDisabledText;

                &:after {
                    background-color: $lightDisabledText;
                }
            }
        }
    }

    &__nav {
        position: relative;
        padding-top: 100px;
        text-align: center;
    }

    &__list {
        margin: 2rem 0;
    }

    &__item {
        margin: 2.5vh 0;
    }

    &__link {
        font: {
            size: 2rem;
            weight: 300;
        };
        color: $lightPrimaryText;
        transition: opacity 0.3s ease;

        @media all and (min-width: 200px) and (max-width: 567px) {
            font-size: 1.5rem;
        }

        &:hover {
            opacity: 0.5;
        }
    }
}


