/**
*
* Pagination
*
**/

.pagination {
    clear: both;
    padding: 1em 0;
    text-align: center;

    li,
    a {
        display: inline-block;
    }

    a {
        padding: .3em 1em;
        border-radius: 5px;
        background: $colorBeigeDark;
        color: $colorWhiteSmoke;

        &.active,
        &:hover {
            background: $colorBeige;
            color: $colorDarkOlive;
        }
    }
}