h4.search-results {
    color: $colorPrimary;
    font-weight:400;
    font-size: 1.5em;
    
    i {
        color: $colorBeige;
        font-weight: 600;
    }
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    border-color: rgba(120,130,140,.13);
}

.search-listing {
    padding: 0;
    margin: 0;
    
    li {
        list-style: none;
        padding: 15px 0;
        border-bottom: 1px solid rgba(120,130,140,.13);
        
        h3 {
            margin: 0;
            font-size: 18px;
        }
        
         a {
            color: $colorPowderBlue;
        }
    }
}

.page-header {
    position: relative;
    display:block;
    min-height:200px;
    
    &-image {
        z-index: 7;
        width:80%;
        min-height: 300px;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        display:block;
    }
    
    &-title {
        background: $colorWhiteSmoke;
        color: $colorBeigeDark;
        margin: 0 0 3%;
        padding: 20px;
        opacity: 0.9;
        position: absolute;
        z-index: 8;
        left:40%;
        top:40%;
        padding:40px;
        font-size:1.7em;
        font-weight:600;
    }
}


.page-brief {
    margin-top:30px;
    margin-bottom: 20px;
    font-weight: 600;
    color: $colorPrimary;
    text-align: justify;
    font-size:1.3em;
}

.page-content {
    position: relative;
    display:block;
    text-align: justify;
}