
.search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: center;

  height: 100%;
  width: 100%;
  padding: 20px;
  overflow: auto;
  background-color: $colorThird;
  color: #fff;
  will-change: transform;
  transform: translateY(-100%);
  transition: transform 0.6s ease-in-out;

  &--open {
    transform: translateY(0);
  }

  &__close {

    display: inline-block;
    position: absolute;
    top: 16px;
    right: 9px;
    height: 50px;
    background-color: transparent;

    &-line {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 40px;
        height: 3px;
        background-color: #fff;
        will-change: transform;
        transform: rotate(45deg);
        transition: background-color 0.5s ease;

        &:after {
            content: ' ';
            position: absolute;
            display: block;
            margin: 0 auto;
            width: 40px;
            height: 3px;
            background-color: #fff;
            transform: rotate(-90deg);
            transition: background-color 0.5s ease;
        }
    }

    &:hover {
        .megamenu__close-line {
            background-color: $lightDisabledText;

            &:after {
                background-color: $lightDisabledText;
            }
        }
    }
  }

  &__input {
    background-color: transparent;
    // border-color: -moz-use-text-color -moz-use-text-color #4b5356;
    // border-image: none;
    // border-style: none none solid;
    // border-width: 0 0 2px;
    border: 0;
    color: #fff;
    font-size: 5em;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;

    @media screen and (min-width: 1024px) and (max-width: 1280px) {
        font-size: 3em;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: 2.3em;
    }

    @media screen and (min-width: 568px) and (max-width: 767px) {
        font-size: 1.8em;
    }

    @media screen and (min-width: 400px) and (max-width: 567px) {
        font-size: 1.5em;
    }

    @media screen and (min-width: 200px) and (max-width: 399px) {
        font-size: 1.2em;
    }

    &:focus {
        outline: none;
    }
  }

  &__headline {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 1rem;
  }
}
