
.section-block {
  position: relative;
  display: block;
  padding: 2rem;
  background-color: $colorLight;
  border: 1rem solid #8B3D88;
  border-radius: 42px;
  box-shadow: 0 10px 10px -5px rgba(0,0,0,0.2);

  @each $color, $color_code in $bgColors {
    &--#{$color} {
      /*border: 1rem solid $color_code;*/
      border: 2px solid $color_code;

      .section-block__title {
        &:before,
        &:after {
          opacity: 0.6;
          background-color: $colorWhiteSmoke;
        }
      }
    }
  }

  &__title {
    position: relative;
    z-index: 1;
    display: inline-block;
    // padding: 1rem 3rem;
    padding: 0 0.5rem;
    margin: 0 0 2rem 0;
    @include dynamicFontSize(26, 32, 480, 1600);
    font-weight: 400;

    &:before,
    &:after {
      content: ' ';
      position: absolute;
      z-index: -1;
      height: 0.5em;
      width: 50px;
    }

    &:before {
      bottom: 5px;
      left: 0;
    }

    &:after {
      top: 8px;
      right: 0;
    }
  }

  // &:before,
  // &:after {
  //   content: ' ';
  //   position: absolute;
  //   bottom: 0;
  //   z-index: -1;
  //   background-color: #8B3D88;
  //   width: 100vw;
  //   height: 100%

  // }

  // &:before {
  //   right: 100%;
  //   transform-origin: right bottom;
  //   transform: rotate(-5deg);
  // }

  // &:after {
  //   left: 100%;
  //   transform-origin: left bottom;
  //   transform: rotate(5deg);
  // }
}
