
.short-art-link {
  display: block;
  transition: 0.3s opacity;

  &[href]:hover {
    opacity: 0.6;
  }
  
    figure {
        padding-left: 0;
        width: 32%;
        background-size: cover;
        background-position: center center;
        padding-bottom: 24%;
    }
    
    header {
        width: 66%;
        padding: 0 0 0 20px;
        display: inline-block;
        vertical-align: middle;
        float: right;
    }

  &__title {
    @include dynamicFontSize(18, 20, 480, 1600);
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size:1.1em;
    color: $colorPowderBlue;
  }

  &__date {
    color: $colorBeigeDark;
    font-size: 12px;
    text-align: right;
    width:100%;
  }

  &__content {
    margin: 0;
    padding: 0.5rem 0 0 0;
    font-size: rem(14px);
    line-height: 1.1;
    color: $darkSecondaryText;
  }
}
