
.testimonial {
  display: block;
  position: relative;

  &--white {
    .testimonial__content {
      background-color: $colorWhiteSmoke;
    }

    .blockquote {
      > p {
        &:before,
        &:after {
          color: $colorBeige;
        }
      }
    }
  }

  &__avatar {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 25px -50px auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 1rem rgba($colorBeigeDark,0.45);
  }

  &__content {
    padding: 3rem 4rem;
    color: $colorDarkOlive;
  }
}
