
.tile {
  display: block;
  padding: 3rem 2rem;
  text-align: center;
  flex-grow: 1;

  &--link {
    position: relative;
    z-index: 0;
    // transform-origin: bottom center;
    // transition: all 0.3s;

    &:hover {
      z-index: 1;
      // transform: scaleY(1.05);
      // border-radius: 10px 10px 0 0;

      .tile__title {
        opacity: 0.5;
      }
    }
  }

  &__title {
    @include dynamicFontSize(28, 40, 480, 1600);
    /*font-family: 'Oswald', sans-serif;*/
    color: $lightPrimaryText;
    line-height: 1.2;
    font: {
      weight: 500;
    }
    transition: opacity 0.3s;
  }

  &-wrapper {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    align-items: stretch;

  }
}


