$color_green: #72c02c;
$color_red: #dc3545;
$color_yellow: #ffc107;
$color_orange: #fd7e14;
$color_pink: #e83e8c;
$color_purple: #6f42c1;
$color_blue: #007bff;
$color_cyan: #17a2b8;
$color_teal: #20c997;

$color_font: #9499a3;

.account {
    padding-top:90px;
    font-weight:300;
    color: $color_font;
    min-height:100vh;
    
    a {
        color: $color_font;
    }
}

.list-group-item {
    border-color: #eee;
    font-weight: 300;
    i {
        margin-right:5px;
        color: lighten($color_font, 25%);
    }
}


.list-group-item.active {
    background-color: $colorWhiteSmoke;
    border: none;
    border-right: 4px solid $colorSecondary;
    color: $colorSecondary;
    z-index: 2;
    
    i {
        color: lighten($colorSecondary, 25%);
    }
}

.list-group-border-0 .list-group-item:first-child, .list-group-border-0 .list-group-item:last-child {
    border-radius: 0;
}

.g-pos-rel {
    position: relative !important;
}

.g-pos-abs {
    position: absolute !important;
}

.card-header {
    padding: 0.71429rem 1.07143rem;
    border-color: #eee;
}
.table {
    background-color: #fff;
    
    th {
        font-weight: 400;
    }
}

.u-table--v2 td, .u-table--v2 th {
    padding: 15px;
}

.user-info {
    left: 0;
    top:20px;
    
    a {
        padding: 4px 8px;
        color: #fff;
        font-weight:400;
    }
    
    small {
        padding: 2px 6px;
        color: #fff;
    }
}

.nav {
    border-bottom: 2px solid $colorPrimary;
    
    .nav-link {
        color: $colorPrimary;
    }
    .nav-link.active {
        background-color: $colorPrimary;
        color: #fff;
    }
}

.block-stats {
    padding: 1.5rem !important;
    color: #fff;
    
    header {
        margin-bottom: 2.5rem !important;
        i {
            margin-right: 1.5rem !important;
            font-size:3.5rem;
        }
    }
}

.loan-item {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: replace(center,"flex-","");
    -webkit-justify-content: center;
    justify-content: center;
    margin-bottom: 20px;
    background: $colorWhiteSmoke;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    
    @media (max-width: 768px) {
        display: block;
    }
    
    .item-content-wrap {
        position: relative;
        width: -webkit-calc(100% - 300px);
        width: calc(100% - 300px);
        
        @media (max-width: 768px) {
            display: block;
            width: 100%;
        }
    }
    
     .item-thumbnail {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 130px;
        
        @media (max-width: 640px) {
            position: relative;
            display: block;
            float: none;
            height: 150px;
            width: 100% !important;
        }
        
        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    
     .item-thumbnail-wrap {
        line-height: 0px;
        max-width: 100%;
        position: relative;
        vertical-align: top;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
    
    .item-title {
        h3 {
            display: inline-block;
            vertical-align: baseline;
            margin-right: 10px;
            overflow: visible;
            white-space: normal;
            font-size:1.1em;
            color: $colorPrimary;
        }
        
        .subtitle {
            display: block;
            vertical-align: baseline;
            color: $colorPowderBlue;
            -moz-transition: all 0.4s;
            -webkit-transition: all 0.4s;
            transition: all 0.4s;
        }
    }
    
    .item-content {
        margin-left: 130px;
        padding: 25px 20px;
        
        @media (max-width: 640px)  {
            margin-left: 0 !important;
        }
        
        .item-content-wrap {
            position: relative;
            
            @media (max-width: 640px) {
                display: block;
                width: 100%;
            }
        }
    }
    
    .item-location {
        color: rgba($colorPrimary, 0.5);
        p:before {
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            content: "\f041";
            margin-right: 10px;
            color: darken($colorWhiteSmoke,10%);
        }
    }
    
    .item-info-wrap {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: -ms-flex;
        display: flex;
        -webkit-flex-flow: column;
        -moz-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: replace(center,"flex-","");
        -webkit-justify-content: center;
        justify-content: center;
        width: 300px;
        padding: 25px 20px;
        background: $colorPrimary;
        background: -webkit-linear-gradient(right, $colorPrimary, $colorPowderBlue);
        background: -o-linear-gradient(right, $colorPrimary, $colorPowderBlue);
        background: -moz-linear-gradient(right, $colorPrimary, $colorPowderBlue);
        background: linear-gradient(right, $colorPrimary, $colorPowderBlue);
        color: $colorWhiteSmoke;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        
        @media (max-width: 768px) {
            width: 100%;
            -webkit-flex-flow: row wrap;
            -moz-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            -webkit-box-pack: flex-start;
            -moz-box-pack: flex-start;
            -ms-flex-pack: replace(flex-start,"flex-","");
            -webkit-justify-content: flex-start;
            justify-content: flex-start;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            /* align-items: center; */
            /* padding: 15px 20px; */
        }
    }
    
    .review-stars-container {
        font-size: 12px;
        line-height: 20px;
        
        @media (max-width: 768px)  {
            margin: 5px 0 !important;
            padding: 0 5px;
        }
    }
}

.tab-content {
    margin: 0;
    background-color: #fff;
    padding: 20px;
    border: 0.5px solid $colorPrimary;
}