.client {
    width: 100%;
    margin: 0 auto;
    
    &-login {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        flex-wrap: wrap;
        
        &-more {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: calc(100% - 520px);
            position: relative;
            z-index: 1;
            
            &::before {
                content: "";
                display: block;
                position: absolute;
                z-index: -1;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: $colorPrimary;
                background: -webkit-linear-gradient(bottom, $colorPrimary, $colorSecondary);
                background: -o-linear-gradient(bottom, $colorPrimary, $colorSecondary);
                background: -moz-linear-gradient(bottom, $colorPrimary, $colorSecondary);
                background: linear-gradient(bottom, $colorPrimary, $colorSecondary);
                opacity: 0.8;
            }
        }
        
        &-wrap {
            width: 520px;
            min-height: 100vh;
            background: #fff;
            border-radius: 2px;
            position: relative;
            padding:50px;
            
            .form {
                width: 100%;
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                
                &-title {
                    display: block;
                    width: 100%;
                    font-size: 39px;
                    color: #333333;
                    line-height: 1.2;
                    text-align: left;
                    font-weight: 600;
                    margin-bottom:40px;
                    color: $colorBeige;
                }
                
                .wrap-input {
                    width: 100%;
                    position: relative;
                    border-bottom: 2px solid #dbdbdb;
                    margin-bottom: 45px;
                    
                    .label-input {
                        font-size: 18px;
                        color: #999999;
                        line-height: 1.2;
                        padding-left: 2px;
                    }
                    
                    .input {
                        display: block;
                        width: 100%;
                        height: 50px;
                        background: transparent;
                        font-size: 22px;
                        color: #555555;
                        line-height: 1.2;
                        padding: 0 2px;
                        outline: none;
                        border: none;
                    }
                    
                    .input-checkbox {
                        display: none;
                    }
                    
                    .label-checkbox {
                        margin: 0;
                        display: block;
                        position: relative;
                        padding-left: 26px;
                        cursor: pointer;

                        &::before {
                            content: "\f12a";
                            font-family: 'Font Awesome 5 Free';
                            font-weight: 600;
                            font-size: 13px;
                            color: transparent;
                            display: -webkit-box;
                            display: -webkit-flex;
                            display: -moz-box;
                            display: -ms-flexbox;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            width: 16px;
                            height: 16px;
                            border-radius: 2px;
                            background: #e6e6e6;
                            left: 0;
                            top: 50%;
                            -webkit-transform: translateY(-50%);
                            -moz-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                            -o-transform: translateY(-50%);
                            transform: translateY(-50%);
                        }
                    }
                    
                    &-error {
                        font-size:0.9em;
                        color: red;
                    }
                }
                
                .focus-input {
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    pointer-events: none;
                }
                
                .alert-validate {
                    
                    &::before {
                        content: attr(data-validate);
                        position: absolute;
                        max-width: 70%;
                        background-color: #fff;
                        border: 1px solid #c80000;
                        border-radius: 2px;
                        padding: 4px 30px 4px 10px;
                        bottom: calc((100% - 25px) / 2);
                        -webkit-transform: translateY(50%);
                        -moz-transform: translateY(50%);
                        -ms-transform: translateY(50%);
                        -o-transform: translateY(50%);
                        transform: translateY(50%);
                        right: 2px;
                        pointer-events: none;
                        font-family: Poppins-Medium;
                        color: #c80000;
                        font-size: 14px;
                        line-height: 1.4;
                        text-align: left;
                        visibility: hidden;
                        opacity: 0;
                        -webkit-transition: opacity 0.4s;
                        -o-transition: opacity 0.4s;
                        -moz-transition: opacity 0.4s;
                        transition: opacity 0.4s;
                    }
                    
                    &::after {
                        content: "\f12a";
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 600;
                        display: block;
                        position: absolute;
                        color: #c80000;
                        font-size: 18px;
                        bottom: calc((100% - 25px) / 2);
                        -webkit-transform: translateY(50%);
                        -moz-transform: translateY(50%);
                        -ms-transform: translateY(50%);
                        -o-transform: translateY(50%);
                        transform: translateY(50%);
                        right: 8px;
                    }
                }
                
                .flex-m {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-align-items: center;
                    align-items: center;
                }
                
                .w-full {
                    width: 100%;
                }
                
                .container-form-btn {
                    width: 100%;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;
                    
                    .wrap-form-btn {
                        display: block;
                        position: relative;
                        z-index: 1;
                        border-radius: 25px;
                        overflow: hidden;
                    }
                                        
                    .form-btn-bgbtn {
                        position: absolute;
                        z-index: -1;
                        width: 100%;
                        height: 300%;
                        background: $colorPrimary;
                        background: -webkit-linear-gradient(top, $colorPrimary, $colorSecondary, $colorPrimary, $colorSecondary);
                        background: -o-linear-gradient(top, $colorPrimary, $colorSecondary, $colorPrimary, $colorSecondary);
                        background: -moz-linear-gradient(top, $colorPrimary, $colorSecondary, $colorPrimary, $colorSecondary);
                        background: linear-gradient(top, $colorPrimary, $colorSecondary, $colorPrimary, $colorSecondary);
                        bottom: -100%;
                        left: 0;
                        -webkit-transition: all 0.4s;
                        -o-transition: all 0.4s;
                        -moz-transition: all 0.4s;
                        transition: all 0.4s; 
                    }
                    .form-btn {
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -moz-box;
                        display: -ms-flexbox;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0 20px;
                        min-width: 244px;
                        height: 50px;
                        font-size: 16px;
                        color: #fff;
                        line-height: 1.2;
                    }
                    button {
                        outline: none !important;
                        border: none;
                        background: transparent;
                        font-weight: 600;
                    }
                }
                
                .txt1 {
                    font-size: 15px;
                    color: #999999;
                    line-height: 1.4;
                }
                
                .txt2 {
                    font-size: 15px;
                    color: #666666;
                    line-height: 1.4;
                }
                
                .txt3 {
                    font-size: 16px;
                    color: #666666;
                    line-height: 1.4;
                }
            }
        }
    }
}