
.alert {
    display: block;
    padding: 1em;
    margin: 0.5em 0;

    @media all and (max-width: 800px) {
        text-align: center;
    }

    img {
        margin-right: 1em;

        @media all and (max-width: 800px) {
            display: block;
            margin: 0 auto 1em auto;
        }
    }

    &--error {

        background-color: #f2dede;
        border: 1px solid #ebccd1;
        color: #a94442;

        font: {
            size: 2.5em;
            weight: 600;
        }

        @media all and (max-width: 800px) {
            font-size: 1.5em;
        }
    }
}