.files-wr {
  /*padding: 20px;*/
  color: $color_navy;
  font-size:0.9em;
  
  input {
    display: none !important;
  }
  
    label {
        margin-bottom: 20px;
        border: 1px solid #ddd;
        padding: 4px 10px;
        position: relative;
        display: inline-block;
        color: #404E67;
        font-size: 1.1em;
        font-weight: 400;
        cursor: pointer;
        transition: all .2s;
        /*&:after {
          content: '+';
          width: 32px;
          height: 32px;
          border-radius: 5px;
          background-color: $color_leading;
          position: absolute;
          top: -4px;
          right: -47px;
          font-size: 1.1em;
          line-height: 32px;
          color: #fff;
          text-align: center;
          transition: all .2s;
        }*/
        &:hover, &:active {
            color: #bebebe;
            border-color: #bebebe;
            &:after {
                backgorund-color: #e6e6e6;
            }
        }
    }

  .one-file {
    & ~ .one-file {
      label {
        display: none;
      }
    }
    &.error {
      border: none;
       .file-name {
         color: #ca4a17;
       }
    }
  }

  .file-item {
    position: relative;
    margin-top: 4px;
    display: flex;
    align-items: center;
    &.hide-btn {
      display: none;
    }
  }

  .file-name {
    font-size: 1.2em;
    font-style: italic;
    line-height: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
    color: $color_grey !important;
  }
  .btn-del-file {
    margin-left: 5px;
    width: 18px;
    min-width: 18px;
    height: 18px;
    /*line-height: 16px;*/
    border-radius: 3px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: all .2s;
    padding: 0;
    font-size:0.9em;
    background-color: $color_red;
    &:hover, &:focus {
      background-color: rgba($color_red,0.3);
      color: $color_red;
    }
  }
}