
.avatar {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem;
    overflow: hidden;
    border-radius: 50%;
    background-color: #ccc;

    border: $avatar-border;

    &--big {
        width: 6rem;
        height: 6rem;
    }

    &__title {
        color: $avatar-font-color;
        margin: 0;
        transition: color $standard-transition;
        text-align: center;
    }

    &__desc {
        margin: 0;
        font-size: 0.9em;
        color: $avatar-font-color;

        transition: color $standard-transition;

        > a:not([class]) {
            display: inline-block;
            padding: 0.3em;
        }
        
        i {
            font-size: 1.4em;
            margin-top: 5px;
        }
    }
}