

.bg {
    @each $color, $color_code in $color-list {
        &-#{$color} {
            background-color: $color_code !important;
           
            
            @if ( $color == 'white') {
                color: $main-font-color;

                i { 
                    color: darken( $color_code, 20%);
                }
            } @else {
                 color: #fff !important;

                 i {
                     color: #fff;
                 }
            }
            
        }
        
        &-#{$color}2 {
            @if ( $color == 'lightgrey') {
                color: $main-font-color;

                background-color: rgba($color_code,0.4) !important;
                border: 1px solid rgba($color_code,0.8);
            } @else {
                background-color: rgba($color_code,0.2) !important;
            }
        }
    }

    &-link {
        color: $main-font-color;
        transition: box-shadow $standard-transition;

        &:hover {
            box-shadow: 0 2px 5px 3px rgba(0,0,0,0.1);
        }
    }
}