
.block {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: $block-padding;
    overflow: hidden;
    font-size: $font-size-normal;

    &--nopad {
        padding: 0;
    }

    &--col-center {
        flex-flow: column nowrap;
        align-items: center;
    }

    &--col {
        flex-flow: column nowrap;
        align-items: flex-start;
    }

    &__spacer {
        flex-grow: 1;
    }

    &--pad {
        padding: $block-padding;
    }


    &--head {
        border-bottom: $block-head-border-bottom;
    }

    &--main {

    }

    &--footer {
        border-top: $block-footer-border-top;
    }
	
	&--avatar {
		background-color: $header-dropdown-header-bg-color;
		border-bottom: 1px solid #E8E8E8;
	}
}