.card {
    
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #FFFFFF;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 0.25rem;
    margin-bottom: 1.875rem;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
}

.white-box {
    background: #fff;
    padding: 25px;
    margin-bottom: 15px;
}

.comment-center {
    margin: 0 -25px;
    
    .comment-body {
        border-bottom: 1px solid rgba(120,130,140,.13);
        display: table;
        padding: 20px 25px;
        width: 100%;
    }
    
    .user-img {
        width: 40px;
        display: table-cell;
        position: relative;
        margin: 0 10px 0 0;
        
        img {
            width: 100%;
            border-radius: 50%;
        }
    }
    
    .mail-contnet {
        display: table-cell;
        padding-left: 15px;
        vertical-align: top;
        
        h5 {
            margin: 0;
            font-weight: 400;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        
        .mail-desc {
            font-size: 14px;
            display: block;
            margin: 8px 0;
            line-height: 25px;
            color: #848a96;
            height: 50px;
            overflow: hidden;
        }
        
        a.action {
            margin-left: 10px;
            font-size: 12px;
            visibility: hidden;
        }
        
        .time {
            display: block;
            font-size: 10px;
            color: #2b2b2b;
        }
    }
}