.site-min-height {
    min-height: 900px;
    display: inline-block;
    width: 100%;
}

.chat-room {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    position: relative;
    
    .lobby {
        padding: 10px;
        display: block;
        background-color:rgba(255,255,255, 0.3);
        
        span {
            color: $color_navy;
            font-weight:600;

            i {
                margin-right: 5px;
            }
        }
    }

    ul {
        padding-left: 0;
        li {
            list-style: none;
        }
    }

    aside {
        display: table-cell;
        float: none;
        height: 100%;
        padding: 0;
        vertical-align: top;
    }
    
    .left-side {
        width: 25%;
        background: rgba($color_purple,0.1);
        /*border-radius: 4px 0 0 4px;
        -webkit-border-radius: 4px 0 0 4px;*/
        
        .user-head {
            background: $color_purple;
            /*border-radius: 4px 0 0;
            -webkit-border-radius: 4px 0 0;*/
            color: #FFFFFF;
            min-height: 70px;
            padding: 15px;
            
            h3 {
                margin: 6px 0 0 0;
                font-weight: 100;
                letter-spacing: 1px;
            }
            
            i {
                float: left;
                font-size: 40px;
                margin-right: 10px;
            }
        }
        
        ul.chat-list {
            border-bottom: 1px solid #d5d7de;
            /*margin-bottom: 100px;*/
            
            li {
                a {
                    color: #6a6a6a;
                    display: block;
                    padding: 8px;
                    font-weight: 300;
                         
                    span {
                        padding-left: 10px;
                    }
                }
                
                h4 {
                    padding: 17px 15px;
                    margin: 0;
                    font-size: 14px;
                    font-weight: 600;
                    border-bottom: 1px solid #D5D7DE;
                    
                    i {
                        padding-right: 5px;
                    }
                }
                
                &:hover {
                    background-color: rgba(255,255,255,0.3);
                    
                    a { 
                        text-decoration:none;
                    }
                }
            }
            
            li.active {
                color: #00a9b4;
                background: #f2f4f7;
            }
        }
        
        footer {
            background: #d5d7de;
            /*border-radius: 0 0 0 4px;
            -webkit-border-radius: 0 0 0 4px;*/
            padding: 15px;
            height: 70px;
            width: 25%;
            position: absolute;
            bottom: 0;
            
            .user-status {
                float: left;
                margin: 10px;
            }
            
            a.chat-dropdown {
                background: #96979a;
               /* border-radius: 2px;*/
                color: #fff;
                font-size: 10px;
                margin-top: 10px;
                padding: 3px 5px;
            }
        }
    }
    
    .mid-side {
        width: 50%;
        background: #fff;
        border-right: 1px solid #e5e8ef;
        
        .chat-room-head {
            background: rgba($color_grey, 0.3);
            color: $color_grey;
            min-height: 70px;
            padding: 15px;
            
            h3 {
                margin: 5px 0 0;
                font-weight: 100;
                letter-spacing: 1px;
                display: inline-block;
            }
            
            h5 {
                margin: 5px 0 0;
                font-weight: 100;
                letter-spacing: 0.05em;
                display: inline-block;
                
                i {
                    margin-right:5px;
                    background-color:#fff;
                    padding:2px;
                    width:20px;
                    height:20px;
                    text-align:center;
                    border-radius:2px;
                }
            }
            
            .search-btn {
                width: 20px;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -ms-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
                box-shadow: none;
               /* background: #01a6b2 url(../img/chat-search.png) no-repeat 12px 9px; */
                padding: 0 5px 0 35px;
                margin-top: 2px;
                border: none;
                color: #fff;
            }
        }
        
        .chat-room-talk {
            min-height:500px;
            max-height:700px;
            overflow-y: auto;
        }
        
        .group-rom {
            width: 100%;
            float: left;
            border-bottom: 1px solid #eaebee;
            
            .first-part, .second-part, .third-part {
                float: left;
                padding: 5px;
            }
            
            .first-part {
                width: 25%;
            }
            .first-part.odd {
               /* background: #f7f8fa;*/
                color: $color_teal !important;
                text-align: right;
                font-weight: 600;
            }
            .second-part {
                width: 60%;
            }
            .third-part {
                width: 15%;
                color: #d4d3d3;
            }
            
            &:hover {
                background: #f7f8fa;
            }
        }
        
        footer {
            background: #f6f6f6;
            padding: 15px;
            height: 70px;
            width: 50%;
            position: absolute;
            bottom: 0;
            border-right: 1px solid #E5E8EF;
        }
    }
    
    .right-side {
        width: 25%;
        background: #fff;
       /* border-radius: 0 4px 4px 0;
        -webkit-border-radius: 0 4px 4px 0;*/
        
        .user-head {
            background: #00A8B3;
           /* border-radius: 0 4px 0 0;
            -webkit-border-radius: 0 4px 0 0;*/
            color: #FFFFFF;
            min-height: 70px;
            padding: 10px;
            border-left: 1px solid #00A8B3;
            margin-left: -1px;
            position: relative;
        }
        
        ul.chat-available-user {
            padding: 10px;
            
            li {
                margin-bottom: 15px;
                
                a {
                    color: #6a6a6a;
                }
            }
        }
        
        footer {
            background: #fff;
            padding: 15px;
            height: 70px;
            width: 25%;
            position: absolute;
            bottom: 0;
            border-top: 1px solid #E5E8EF;
           /* border-radius: 0 0 4px 0;
            -webkit-border-radius: 0 0 4px 0;*/
        }
    }
}

.invite-row {
    background: #E5E8EF;
    padding: 6px 10px;
    display: inline-block;
    width: 100%;
}

.chat-tools {
    float: right;
    padding: 3px;
    width: 40px;
    height: 35px;
    line-height: 30px;
    /*border-radius: 3px;
    -webkit-border-radius: 3px;*/
    text-align: center;
    margin-top: 6px;
    margin-left: 10px;
    
    i {
        font-size: 16px !important;
        float: none !important;
        margin-right: 0 !important;
        color: #fff;
    }
}

.chat-txt {
    float: left;
    width: 80%;
    margin-right: 5px;
}

.room-desk {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
    padding: 15px;
    
    h4 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 16px;
        margin: 5px 0 0 0;
    }
    
    .room-box {
        border: 1px solid #e7e7e7;
        background: #f7f8fa;
        padding: 10px;
        display: inline-block;
        width: 100%;
        margin-top: 10px;
       /* border-radius: 4px;
        -webkit-border-radius: 4px;*/
        
        h5 {
            margin: 0 0 5px 0;
            font-weight: 300;
            font-size: 1.1em;
        }
        
        a {
            i {
                margin-right:5px;
            }
        }
        
        .text-muted {
            font-size:0.9em;
        }
    }
}

@media (max-width: 767px) and (max-width: 979px) {

    /*chat room*/

    .chat-room aside {
        display: block;
    }
    .chat-room .left-side, .chat-room .mid-side, .chat-room .right-side, .chat-room .left-side footer {
        width: 100%;
    }

    .chat-room .left-side footer {
        position: relative;
    }

    ul.chat-list {
        margin-bottom: 20px;
    }

    .chat-room .left-side , .chat-room .mid-side{
        margin-bottom: 10px;

    }

    .chat-room .left-side .user-head , .chat-room-head, .chat-room .right-side .user-head{
       /* border-radius: 4px 4px 0 0;
        -webit-border-radius: 4px 4px 0 0;*/
    }
    .chat-room .left-side footer {
       /* border-radius: 0 0 4px 4px;
        -webkit-border-radius: 0 0 4px 4px;*/
    }
    /**/
    .chat-room .right-side .user-head {
        float: left;
        width: 100%;
    }

    .chat-room .mid-side footer {
        position: relative;
        float: left;
        width: 100%;
        border-right: 0;
    }

    .chat-txt {
        width: 65%;
    }

    .chat-room .right-side footer {
        width: 100%;
        position: relative;
    }

    .chat-room .mid-side {
        margin-bottom: 0!important;
    }


}


@media (max-width: 480px) 
{

    /*chat room*/

    .chat-room aside {
        display: block;
    }
    .chat-room .left-side, .chat-room .mid-side, .chat-room .right-side, .chat-room .left-side footer {
        width: 100%;
    }

    .chat-room .left-side footer {
        position: relative;
    }

    ul.chat-list {
        margin-bottom: 20px;
    }

    .chat-room .left-side , .chat-room .mid-side{
        margin-bottom: 10px;

    }

    .chat-room .left-side .user-head , .chat-room-head, .chat-room .right-side .user-head{
       /* border-radius: 4px 4px 0 0;
        -webit-border-radius: 4px 4px 0 0;*/
    }
    .chat-room .left-side footer {
       /* border-radius: 0 0 4px 4px;
        -webkit-border-radius: 0 0 4px 4px;*/
    }

    /**/
    .chat-room .right-side .user-head {
        width: 100%;
        float: left;
    }

    .chat-room .mid-side footer {
        position: relative;
        float: left;
        width: 100%;
        border-right: 0;
    }

    .chat-txt {
        width: 65%;
    }

    .chat-room .right-side footer {
        width: 100%;
        position: relative;
    }

    .chat-room .mid-side {
        margin-bottom: 0!important;
    }
}

@media (max-width:320px) {
    .chat-room .mid-side footer .btn-group {
        display: none;
    }
}

.last-posts {
    max-height: 600px;
    overflow-y: auto;
    margin-top:10px;
}

.notification-items {
    max-height:250px;
    overflow: auto;
    
     .item {
        padding: 10px;
        padding-right: 5px;
        margin: 0;
        position: relative;
        border-bottom: 1px solid #f3f3f7;
        display: inline-block;
        
        .media-head {
            /*position: relative;*/
            font-size:0.9em;
            color: $color_blue;
            
            .member {
                display:inline-block;
                width:145px;
                white-space: nowrap;
                overflow:hidden !important;
                text-overflow: ellipsis;
            }
        }
        
        .meta {
            color: #797f8b;
            position: absolute;
            right: 3px;
            top: 10px;
            display:inline-block;
            width:70px;
            white-space: nowrap;
            overflow:hidden !important;
            text-overflow: ellipsis;
            font-size:0.8em;
        }
    }
}
