ul.alphabet {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    li {
        float: left;
    }
}



.contact-box {
    background-color: #ffffff;
    border: 1px solid #e7eaec;
    padding: 20px;
    margin-bottom: 20px;
    
    > a {
        color: inherit;
    }
	
	p {
		margin: 0 0 2px;
	}
    
    address {
        margin-bottom: 20px;
        font-style: normal;
        line-height: 1.42857143;
    }
    
    .avatar {
        background-color: #ccc;
        border-radius: 50%;
        display: block;
        height: 5rem;
        /*margin: 0.5rem;*/
        overflow: hidden;
        width: 5rem;
        text-align: center;
        
        img {
            display: block;
            max-width: 100%;
            height: auto;            
        }
    }
}