#message {
	
	.message-container {
        padding: 0;
        
		li {
			/*padding: 25px;
			border: 1px solid rgba(0,0,0,.15);
			background: #FFF;
			margin: 0 0 30px 0;*/
			position: relative;

			&:hover .details .left {

				.arrow {
					background: $brand-primary;
					border: 0px solid $brand-primary;

					&.brand {
						background: $brand-primary;
						border: 0px solid $brand-primary;
					}
				}
			}

			.details {
				padding: 10px;
				border-bottom: 1px solid rgba(0,0,0,.1);
				margin-bottom: 30px;
				overflow: hidden;

				.left {
					float: left;
					font-weight: 600;
					color: $gray-darker;
					transition-duration: .3s;

					.arrow {
						display: inline-block;
						position: relative;
						height: 2px;
						width: 20px;
						background: rgba(0,0,0,.15);
						vertical-align: top;
						margin-top: 12px;
						margin: 10px 20px 0 15px;
						border: 0px solid rgba(0,0,0,.15);
						transition-duration: .3s;

						&:after {
							position: absolute;
							top: -4px;
							left: 100%;
							height: 0;
							width: 0;
							border: inherit;
							border-width: 7px;
							border-style: solid;
							content: '';
							border-right: 0;
							border-top-color: transparent;
							border-bottom-color: transparent;
							border-top-width: 5px;
							border-bottom-width: 5px;
						}
					}
				}

				.right {
					float: right;
					color: #999;
				}
                
                .details-date {
                    padding-top:4px;
                    padding-left:5px;
                }
			}


			.message {
				margin-bottom: 40px;

				p:last-child {
					margin-bottom: 0;
				}
			}
            
            .circle-icon {
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 28px;
                border: 2px solid #B4BBC1;
                border-radius: 100px;
                font-size: 14px;
                color: #B4BBC1;
                cursor: pointer;
                display: block;
                float: left;

                &.small {
                    height: 25px;
                    width: 25px;
                    line-height: 23px;
                    font-size: 11px;
                }

                &:hover {
                    color: #57636C;
                    border-color: #57636C;
                }

                &.red {
                    color: $color-red;
                    border-color: $color-red;

                    &:hover {
                        color: #791C1E;
                        border-color: #791C1E;
                    }
                }
            }

			&:hover .tool-box {
				.red-hover {
					color: $brand-danger;
					border-color: $brand-danger;

					&:hover {
						background-color: lighten($brand-danger,25%);
                        text-decoration: none;
					}
				}
                
                .green-hover {
					color: $brand-success;
					border-color: $brand-success;

					&:hover {
						background-color: lighten($brand-success,25%);
                        text-decoration: none;
					}
				}
			}

			.tool-box {
				/*position: absolute;
				bottom: 0;
				right: 0;*/
                text-align: right;
				/*border: 0px solid #DDDFE1;
				border-top-width: 1px;
				border-left-width: 1px;*/
                display:block;
                width:100%;
                height: auto;
				padding: 8px 10px;
				transition-duration: .3s;

				a {
					margin-right: 10px;

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
}
