
$white: #ffffff;
$color_dove_gray_approx: #6a6a72;
$color_trout_approx: #4d535e;
$color_tuna_approx: #373743;
$color_bright_gray_approx: #42424e;
$color_submarine_approx: #b6c1c9;
$color_cerise_red_approx: #d72f6e;
$color_gumbo_approx: #7ba1ad;
$color_regent_st_blue_approx: #a0d4e4;
$color_shady_lady_approx: #a4a7ac;
$color_geyser_approx: #dadde1;
$color_true_v_approx: #7e70ee;
$color_blue_violet_approx: #5649c1;
$color_aqua_forest_approx: #5bab6e;
$color_goblin_approx: #448353;
$color_bahama_blue_approx: #03689b;
$color_boston_blue_approx: #2980b9;
$color_roman_approx: #e15955;
$color_flush_mahogany_approx: #c6393f;
$color_hurricane_approx: #867c75;
$color_pine_cone_approx: #685f58;
$color_fuchsia_pink_approx: #a94bb7;
$color_orchid_approx: #d65de8;
$color_turmeric_approx: #d0c54d;
$color_husk_approx: #a69f4e;
$color_keppel_approx: #44afa6;
$color_paradiso_approx: #30837c;

//fonts
$font_0: Arial;

.filemanager {
    
    .breadcrumbs {
		color: $color_blue;
		margin-left: 20px;
		font-size: 1.2em;
		font-weight: 600;
		line-height: 35px;
		a {
			&:link {
				color: $color_navy;
				text-decoration: none;
			}
			&:hover {
				text-decoration: underline;
			}
		}
		.arrow {
			color: $color_dove_gray_approx;
			font-size: 24px;
			font-weight: 700;
			line-height: 20px;
		}
	}
	.search {
		/*position: absolute;*/
		padding-right: 30px;
		cursor: pointer;
		/*right: 0;
        top: 0;*/
		font-size: 17px;
		color: green;
		display: block;
        width: 100%;
		/*width: 40px;
		height: 40px;*/
        
		&:before {
			content: '';
			position: absolute;
			margin-top: 12px;
			width: 10px;
			height: 11px;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 50%;
			border: 2px solid $white;
			right: 8px;
		}
		&:after {
			content: '';
			width: 3px;
			height: 10px;
			background-color: $white;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 2px;
			position: absolute;
			top: 23px;
			right: 6px;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: rotate(-45deg);
		}
		input[type=search] {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 2px;
			color: $color_trout_approx;
			background-color: $white;
			width: 250px;
			height: 44px;
			/*margin-left: -215px;*/
			padding-left: 20px;
			text-decoration-color: $color_trout_approx;
			font-size: 16px;
			font-weight: 400;
			line-height: 20px;
			display: block;
			outline: none;
			border: none;
			padding-right: 10px;
		}
	}
	.data {
		margin-top: 10px;
		z-index: -3;
        max-height: 400px;
        overflow-y: auto;
        
		&.animated {
			animation: showSlowlyElement 700ms;
		}
		li {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 3px;
			background-color: $color_dark;
			width: 240px;
			height: 118px;
			list-style-type: none;
			margin: 8px;
			display: inline-block;
			position: relative;
			overflow: hidden;
			padding: 0.3em;
			z-index: 1;
			cursor: pointer;
			//Instead of the line below you could use @include box-sizing($bs)
			box-sizing: border-box;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: 0.3s background-color;
			&:hover {
				background-color: lighten($color_dark, 20%);
			}
			
            
			/*.name {
				color: $white;
				font-size: 0.8em;
				font-weight: 400;
				line-height: 20px;
				width: 150px;
				white-space: nowrap;
				display: inline-block;
				position: absolute;
				overflow: hidden;
				text-overflow: ellipsis;
				top: 40px;
			}
			.details {
				color: $color_submarine_approx;
				font-size: 0.7em;
				font-weight: 300;
				width: 55px;
				height: 10px;
				white-space: nowrap;
				display: block;
			}*/
		}
        
        li.folders {
            text-align: center;
            padding: 10px;
            color: #fff;
            
            a {
                position: absolute;
                top: 20;
                left: 0;
                width: 100%;
                height: 100%;
                color: #fff;
            }
            
            .name {
                font-size: 1.2em;
                font-weight: 600;
                display:block;
                width: 100%;
                margin-bottom: 10px;
            }
            .details {
                display:block;
                width: 100%;
                color: $color_lightgrey;
                font-size: 0.8em;
                font-weight: 300;
            }
        }
        
        li.files {
            text-align: center;
            padding: 10px;
            color: #fff;
            position: relative;
            
            a {
                color: #fff;
            }
            
            .details {
                display:block;
                width: 100%;
                color: $color_lightgrey;
                font-size: 0.9em;
                font-weight: 300;
                position: relative;
                width:60px;
                text-align:center;
                float: left;
            }
            .name {
                font-size: 1.1em;
                display:block;
                width: 100%;
                margin-left: 60px;
                position: relative;
                width: 110px; 
            }
            .text-concat {
                position: relative;
                display: inline-block;
                word-wrap: break-word;
                overflow: hidden;
                max-height: 6.0em; /* (Number of lines you want visible) * (line-height) */
                line-height: 1.2em;
                text-align:left;
            } 
            .ellipsis::after {
                content: "...";
                position: absolute;
                right: -12px; 
                bottom: 5px;
            }
        }
    }
}

.filemanager_temp {
	/*position: relative;
	margin: 100px auto 50px;*/
	.breadcrumbs {
		color: red;
		margin-left: 20px;
		font-size: 24px;
		font-weight: 700;
		line-height: 35px;
		a {
			&:link {
				color: red;
				text-decoration: none;
			}
			&:hover {
				text-decoration: underline;
			}
		}
		.arrow {
			color: $color_dove_gray_approx;
			font-size: 24px;
			font-weight: 700;
			line-height: 20px;
		}
	}
	.search {
		/*position: absolute;*/
		padding-right: 30px;
		cursor: pointer;
		/*right: 0;
        top: 0;*/
		font-size: 17px;
		color: green;
		display: block;
        width: 100%;
		/*width: 40px;
		height: 40px;*/
        
		&:before {
			content: '';
			position: absolute;
			margin-top: 12px;
			width: 10px;
			height: 11px;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 50%;
			border: 2px solid $white;
			right: 8px;
		}
		&:after {
			content: '';
			width: 3px;
			height: 10px;
			background-color: $white;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 2px;
			position: absolute;
			top: 23px;
			right: 6px;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: rotate(-45deg);
		}
		input[type=search] {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 2px;
			color: $color_trout_approx;
			background-color: $white;
			width: 250px;
			height: 44px;
			/*margin-left: -215px;*/
			padding-left: 20px;
			text-decoration-color: $color_trout_approx;
			font-size: 16px;
			font-weight: 400;
			line-height: 20px;
			display: block;
			outline: none;
			border: none;
			padding-right: 10px;
		}
	}
	.data {
		margin-top: 10px;
		z-index: -3;
        max-height: 400px;
        overflow-y: auto;
        
		&.animated {
			animation: showSlowlyElement 700ms;
		}
		li {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 3px;
			background-color: $color_tuna_approx;
			width: 240px;
			height: 118px;
			list-style-type: none;
			margin: 8px;
			display: inline-block;
			position: relative;
			overflow: hidden;
			padding: 0.3em;
			z-index: 1;
			cursor: pointer;
			//Instead of the line below you could use @include box-sizing($bs)
			box-sizing: border-box;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: 0.3s background-color;
			&:hover {
				background-color: $color_bright_gray_approx;
			}
			a {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			.name {
				color: $white;
				font-size: 0.8em;
				font-weight: 400;
				line-height: 20px;
				width: 150px;
				white-space: nowrap;
				display: inline-block;
				position: absolute;
				overflow: hidden;
				text-overflow: ellipsis;
				top: 40px;
			}
			.details {
				color: $color_submarine_approx;
				font-size: 0.7em;
				font-weight: 300;
				width: 55px;
				height: 10px;
				/*top: 64px;*/
				white-space: nowrap;
				/*position: absolute;*/
				display: block;
			}
		}
	}
	.nothingfound {
		background-color: $color_tuna_approx;
		width: 23em;
		height: 21em;
		margin: 0 auto;
		display: none;
		font-family: $font_0;
		animation: showSlowlyElement 700ms;
		.nofiles {
			margin: 30px auto;
			top: 3em;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 50%;
			position: relative;
			background-color: $color_cerise_red_approx;
			width: 11em;
			height: 11em;
			line-height: 11.4em;
			&:after {
				content: '×';
				position: absolute;
				color: $white;
				font-size: 14em;
				margin-right: 0.092em;
				right: 0;
			}
		}
		span {
			margin: 0 auto auto 6.8em;
			color: $white;
			font-size: 16px;
			font-weight: 700;
			line-height: 20px;
			height: 13px;
			position: relative;
			top: 2em;
		}
	}
    
    @media all and(max-width: 965px) {
        .filemanager {
            margin: 30px auto 0;
            padding: 1px;
        }
    }
    ::-webkit-input-placeholder {
        color: $color_trout_approx;
    }
    :-moz-placeholder {
        color: $color_trout_approx;
        opacity: 1;
    }
    ::-moz-placeholder {
        color: $color_trout_approx;
        opacity: 1;
    }
    :-ms-input-placeholder {
        color: $color_trout_approx;
    }
    @media all and(max-width:965px) {
        .filemanager .data li {
            width: 100%;
            margin: 5px 0;
        }
    }
    @-webkit-keyframes showSlowlyElement {
        100% {
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: scale(1);
            opacity: 1;
        }
        0% {
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: scale(1.2);
            opacity: 0;
        }
    }
    @keyframes showSlowlyElement {
        100% {
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: scale(1);
            opacity: 1;
        }
        0% {
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: scale(1.2);
            opacity: 0;
        }
    }
    .icon {
        font-size: 23px;
        &.folder {
            display: block;
            margin: 1em;
            background-color: transparent;
            overflow: hidden;
            &:before {
                content: '';
                float: left;
                background-color: $color_gumbo_approx;
                width: 1.5em;
                height: 0.45em;
                margin-left: 0.07em;
                margin-bottom: -0.07em;
                //Instead of the line below you could use @include border-top-left-radius($radius)
                border-top-left-radius: 0.1em;
                //Instead of the line below you could use @include border-top-right-radius($radius)
                border-top-right-radius: 0.1em;
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.25em 0.25em 0 0 $color_gumbo_approx;
            }
            &:after {
                content: '';
                float: left;
                clear: left;
                background-color: $color_regent_st_blue_approx;
                width: 3em;
                height: 2.25em;
                //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
                border-radius: 0.1em;
            }
            &.full {
                &:before {
                    height: 0.55em;
                }
                &:after {
                    height: 2.15em;
                    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                    box-shadow: 0 -0.12em 0 0 $white;
                }
            }
        }
        &.file {
            width: 2.5em;
            height: 3em;
            line-height: 3em;
            text-align: center;
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 0.25em;
            color: $white;
            display: inline-block;
            margin: 0.9em 1.2em 0.8em 1.3em;
            position: relative;
            overflow: hidden;
            //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            box-shadow: 1.74em -2.1em 0 0 $color_shady_lady_approx inset;
            &:first-line {
                font-size: 13px;
                font-weight: 700;
            }
            &:after {
                content: '';
                position: absolute;
                z-index: -1;
                border-width: 0;
                border-bottom: 2.6em solid $color_geyser_approx;
                border-right: 2.22em solid rgba(0, 0, 0, 0);
                top: -34.5px;
                right: -4px;
            }
            &.f-avi {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_true_v_approx inset;
                &:after {
                    border-bottom-color: $color_blue_violet_approx;
                }
            }
            &.f-flv {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_true_v_approx inset;
                &:after {
                    border-bottom-color: $color_blue_violet_approx;
                }
            }
            &.f-mkv {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_true_v_approx inset;
                &:after {
                    border-bottom-color: $color_blue_violet_approx;
                }
            }
            &.f-mov {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_true_v_approx inset;
                &:after {
                    border-bottom-color: $color_blue_violet_approx;
                }
            }
            &.f-mpeg {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_true_v_approx inset;
                &:after {
                    border-bottom-color: $color_blue_violet_approx;
                }
            }
            &.f-mpg {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_true_v_approx inset;
                &:after {
                    border-bottom-color: $color_blue_violet_approx;
                }
            }
            &.f-mp4 {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_true_v_approx inset;
                &:after {
                    border-bottom-color: $color_blue_violet_approx;
                }
            }
            &.f-m4v {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_true_v_approx inset;
                &:after {
                    border-bottom-color: $color_blue_violet_approx;
                }
            }
            &.f-wmv {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_true_v_approx inset;
                &:after {
                    border-bottom-color: $color_blue_violet_approx;
                }
            }
            &.f-mp2 {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_aqua_forest_approx inset;
                &:after {
                    border-bottom-color: $color_goblin_approx;
                }
            }
            &.f-mp3 {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_aqua_forest_approx inset;
                &:after {
                    border-bottom-color: $color_goblin_approx;
                }
            }
            &.f-m3u {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_aqua_forest_approx inset;
                &:after {
                    border-bottom-color: $color_goblin_approx;
                }
            }
            &.f-wma {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_aqua_forest_approx inset;
                &:after {
                    border-bottom-color: $color_goblin_approx;
                }
            }
            &.f-xls {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_aqua_forest_approx inset;
                &:after {
                    border-bottom-color: $color_goblin_approx;
                }
            }
            &.f-xlsx {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_aqua_forest_approx inset;
                &:after {
                    border-bottom-color: $color_goblin_approx;
                }
            }
            &.f-doc {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_bahama_blue_approx inset;
                &:after {
                    border-bottom-color: $color_boston_blue_approx;
                }
            }
            &.f-docx {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_bahama_blue_approx inset;
                &:after {
                    border-bottom-color: $color_boston_blue_approx;
                }
            }
            &.f-psd {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_bahama_blue_approx inset;
                &:after {
                    border-bottom-color: $color_boston_blue_approx;
                }
            }
            &.f-gif {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_roman_approx inset;
                &:after {
                    border-bottom-color: $color_flush_mahogany_approx;
                }
            }
            &.f-jpg {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_roman_approx inset;
                &:after {
                    border-bottom-color: $color_flush_mahogany_approx;
                }
            }
            &.f-jpeg {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_roman_approx inset;
                &:after {
                    border-bottom-color: $color_flush_mahogany_approx;
                }
            }
            &.f-pdf {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_roman_approx inset;
                &:after {
                    border-bottom-color: $color_flush_mahogany_approx;
                }
            }
            &.f-png {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_roman_approx inset;
                &:after {
                    border-bottom-color: $color_flush_mahogany_approx;
                }
            }
            &.f-deb {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_hurricane_approx inset;
                &:after {
                    border-bottom-color: $color_pine_cone_approx;
                }
            }
            &.f-dmg {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_hurricane_approx inset;
                &:after {
                    border-bottom-color: $color_pine_cone_approx;
                }
            }
            &.f-gz {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_hurricane_approx inset;
                &:after {
                    border-bottom-color: $color_pine_cone_approx;
                }
            }
            &.f-rar {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_hurricane_approx inset;
                &:after {
                    border-bottom-color: $color_pine_cone_approx;
                }
            }
            &.f-zip {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_hurricane_approx inset;
                &:after {
                    border-bottom-color: $color_pine_cone_approx;
                }
            }
            &.f-7z {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_hurricane_approx inset;
                &:after {
                    border-bottom-color: $color_pine_cone_approx;
                }
            }
            &.f-html {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_fuchsia_pink_approx inset;
                &:after {
                    border-bottom-color: $color_orchid_approx;
                }
            }
            &.f-rtf {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_fuchsia_pink_approx inset;
                &:after {
                    border-bottom-color: $color_orchid_approx;
                }
            }
            &.f-xml {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_fuchsia_pink_approx inset;
                &:after {
                    border-bottom-color: $color_orchid_approx;
                }
            }
            &.f-xhtml {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_fuchsia_pink_approx inset;
                &:after {
                    border-bottom-color: $color_orchid_approx;
                }
            }
            &.f-js {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_turmeric_approx inset;
                &:after {
                    border-bottom-color: $color_husk_approx;
                }
            }
            &.f-css {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_keppel_approx inset;
                &:after {
                    border-bottom-color: $color_paradiso_approx;
                }
            }
            &.f-saas {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_keppel_approx inset;
                &:after {
                    border-bottom-color: $color_paradiso_approx;
                }
            }
            &.f-scss {
                //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                box-shadow: 1.74em -2.1em 0 0 $color_keppel_approx inset;
                &:after {
                    border-bottom-color: $color_paradiso_approx;
                }
            }
        }
    }
    .breadcrumbs a:visited {
        color: $white;
        text-decoration: none;
    }
}
