.btn-reset-filter {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
    background-color: #fff;
    border: 1px solid $color_teal;
    i {
        margin-right: 0 !important;
    }
}