.ui-folders {
    display: flex;
    flex-flow: row wrap;
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 10px;
    
    td {
        border-top: 0 !important;
    }
  
    .card-views {
        display: flex;
        min-height: 14vh;
        max-height: 180px;
        min-width: 80px;
        /*max-width: 25%;*/
        cursor: pointer;
        border: 1px dotted #e4e4e4;
        flex-basis: 18%;
        margin-bottom: 30px;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
        text-align: center;
        color: #ccc;
        font-weight: 300;
        font-size: 1em;
        transition: background 500ms linear;
        padding: 10px;
        
        .card-view {
            width: 100%;
            position: relative;
          
            /*input[name=btSelectItem] {    
                right: 0 !important;
            } */
            
            input {    
                left: 0 !important;
                position: absolute;
            } 
        }
  
        .title {
            margin-top: auto;
            padding: 0 0 20px 0;
        }
        

        .starred {
            display: none;
        }
        
        tr {
            flex-direction: row;
            flex-wrap: wrap;
            
            td {
                display: table-cell;
                  flex: 1;
                  flex-direction: column;
            }
        }
 
    }
}
 
  
  