.icon-picker {
    input[type=text],
    input[type=password],
    /*input[type=checkbox],*/
    input[type=color],
    input[type=date],
    input[type=datetime],
    input[type=datetime-local],
    input[type=email],
    input[type=month],
    input[type=number],
    /*input[type=radio],*/
    input[type=tel],
    input[type=time],
    input[type=url],
    input[type=week],
    input[type=search],
    select,
    textarea{
        padding: 10px 15px;
        border-width: 0 0 2px;
        border-style: solid;
        border-color: #E8E8E8;
        width: 100%;
        box-shadow: none !important;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }

    select{
        max-height: 26px;
    }

    input[type=text]:focus,
    input[type=password]:focus,
    input[type=checkbox]:focus,
    input[type=color]:focus,
    input[type=date]:focus,
    input[type=datetime]:focus,
    input[type=datetime-local]:focus,
    input[type=email]:focus,
    input[type=month]:focus,
    input[type=number]:focus,
    input[type=radio]:focus,
    input[type=tel]:focus,
    input[type=time]:focus,
    input[type=url]:focus,
    input[type=week]:focus,
    input[type=search]:focus,
    select:focus,
    textarea:focus{
        border-color: #06B3E6;
        box-shadow: 0 0 25px #E6E4E4;
    }
    ///////////// Remove /////////

    .hidden{
      display: none;
    }

    .ct-ip-search-input{
      font-style: italic;
      margin-bottom: 10px;
    }
    .ct-iconpicker{
      display: inline-block;
      .ct-ip-holder{
        .ct-ip-icon{
          width: 40px;
          height:28px;
          line-height:28px;
          text-align: center;
          border: 1px solid #eee;
          position: relative;
          cursor: pointer;
          
          &::after{
            content: '\f107';
            font-family: 'FontAwesome';
            position: absolute;
            top: -1px;
            right: -20px;
            width:  20px;
            height: 28px;
            border: 1px solid #eee;
          }
        }
      }
      .ct-ip-popup{
        max-width: 327px;
        max-height: 312px;
        overflow: hidden;
        overflow-y: scroll;
        padding: 4px;
        border: 1px solid #eee;
        display: none;
        
        
        ul{
          padding:0;
          margin:0;
          list-style:none;
          li{
            display: inline-block;
            float: left;
            width: 50px;
            height: 50px;
            padding: 4px;
            
            a{
              display: block;
              color: #000;
              line-height: 42px;
              text-align: center;
              border: 1px solid #eee;
              transition: all 0.5s;
              
              &:hover{
                color: #fff;
                background-color: #06B3E6;
                border-color: #06B3E6;
              }
            }
          }
        }
      }
    }
}