.white-box {
    background: #fff;
    padding: 25px;
    margin-bottom: 15px;
}

.mail-list {
    .list-group-item {
        background-color: transparent;
        border: 0;
        border-left: 3px solid #fff;
        border-radius: 0;
    }
    .list-group-item.active {
        border-left: 3px solid #fb9678;
        border-radius: 0;
        color: #2b2b2b!important;
    }
}


.inbox-panel {
    @media (min-width: 768px) {
        padding-right: 20px !important;
    }
}

.mail_listing {
    min-height: 500px;
    
    .fixed-table-container {
        border: 0 !important;
    }
    .fixed-table-container tbody td {
        border-left: 0 !important;
        border-right: 0 !important;
    }
    
    @media (min-width: 768px) {
        border-left: 1px solid rgba(120,130,140,.13);
        padding-left: 20px !important;
    }
}

.m-r-10 {
    margin-right: 10px!important;
}

.view-inbox {
    background: #fff;
    padding: 25px;
    margin-bottom: 15px;
    font-size: 13px;
    
    a {
        color: #9499a3;
    }
    
    .side-bar {
        .action {
            margin-bottom: 15px;
        }
        
        .folders-wrapper {
            text-align: center;
            
            .folders-list {
                overflow: hidden;
                margin: 0 auto;
                display: inline-block;
                
                li {
                    float: left;
                    font-size: 14px;
                    margin-bottom: 0;
                    display: inline-block;
                    
                    .icon {
                        display: inline-block;
                    }
                    
                     a {
                        color: #9499a3;
                        padding: 10px;
                        display: block;
                        
                        i {
                            margin-right: 3px;
                        }
                        
                    }
                    
                    @media (min-width: 992px)  {
                        display: block;
                        width: 100%;
                        text-align: left;
                        border-bottom: 1px solid #f3f3f7;
                        
                        a {
                            padding: 10px 15px;
                        }
                    }
                }
                
                li.active {
                    a {
                        color: $color_teal;
                        font-weight: 400;
                    }
                }
            }
        }
        
        .labels-wrapper {
            padding-top: 30px;
            text-align: center;
            
            .sub-title {
                font-size: 14px;
                margin-top: 0;
                margin-bottom: 15px;
                text-align: center;
            }
            
            .labels-list {
                overflow: hidden;
                display: inline-block;
                margin: 0 auto;
                
                li {
                    display: inline-block;
                    float: left;
                    margin-bottom: 10px;
                    
                    @media (min-width: 992px)  {
                        border-bottom: 1px solid #f3f3f7;
                        display: block;
                        width: 100%;
                        text-align: left;
                    }
                    
                    a {
                        display: block;
                        color: #9499a3;
                        padding: 5px;
                        
                        @media (min-width: 992px)  {
                            padding: 5px 10px;
                        }
                    }
                    
                    .label-color {
                        width: 10px;
                        height: 10px;
                        display: inline-block;
                        margin-right: 5px;
                    }
                    
                    .label-color.bg-white {
                        border: 1px solid #c2c2c2;
                    }
                }
                
                li.active {
                    a {
                        font-weight: 600;
                    }
                }
            }
        }
        
        @media (min-width: 992px) {
            width: 160px;
            min-height: 600px;
            padding-bottom: 30px;
            position: absolute;
            padding-right: 10px;
            padding-top: 30px;
        }
    }

    .content-panel {
        display: block;
        @media (min-width: 992px) {
            min-height: 800px;
            border-left: 1px solid #f3f3f7;
            margin-left: 160px;
            padding: 30px;
            padding-right: 15px;
        }
        
        .fixed-table-container {
            border: 0 !important;
        }
        .fixed-table-container tbody td {
            border-left: 0 !important;
            border-right: 0 !important;
        }
    }
}