.insert-inline {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    padding: 8px 5px;
    
    small {
        font-size:0.6em;
    }
    
    label {
        color: $color_navy;
    }
    
    input[placeholder], [placeholder], *[placeholder], input::placeholder {
        color: red !important;
    }
}

hr {
    color: rgba($color_navy, 0.15);
    margin-top:10px;
    margin-bottom: 10px;
}