.invoice-list {
    margin-bottom: 30px;
    
     h4 {
        font-weight: 300;
        font-size: 16px;
    }
    
    .unstyled {
        margin-top: 0;
        margin-bottom: 10px;
        padding: 0;
    }
}

ul.amounts {
    li {
        background: #f5f5f5;
        margin-bottom: 5px;
        padding: 10px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        font-weight: 300;
    }
}

.invoice-block {
    text-align: right;
    width:100%;
}