.blank-page {
    background-color: $colorBeige;
    color: $colorDarkOlive;
    #wrapper {
        width: 100%;
        overflow: hidden;
        
        .login-box {
            background: #fff;
            width: 400px;
            margin: 10% auto 0;
            
            .white-box {
                background: #fff;
                padding: 25px;
                margin-bottom: 15px;
                -webkit-box-shadow: 0 10px 40px 0 rgba($colorWhiteSmoke, 0.07), 0 2px 9px 0 rgba($colorWhiteSmoke, 0.06);
                box-shadow: 0 10px 40px 0 rgba($colorWhiteSmoke, 0.07), 0 2px 9px 0 rgba($colorWhiteSmoke, 0.06);
                
                input[type=text],
                input[type=password] {
                    color: #777;
                    margin-top: 12px;
                    width: 100%;
                    height: 35px;
                    border: 1px solid #c7d0d2;
                    border-radius: 2px;
                    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
                    -webkit-transition: all .4s ease;
                    -moz-transition: all .4s ease;
                    transition: all .4s ease;
                    
                    &:hover {
                        border: 1px solid $colorPowderBlue;
                        box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
                    }
                     
                    &:focus {
                        border: 1px solid #a8c9e4;
                        box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
                    }
                }
                
                .form-actions {
                    position: relative;
                    text-align: right;
                    
                    input[type=submit], button {
                        margin-right: 20px;
                        margin-top: 20px;
                        width: 70%;
                        height: 30px;
                        background-color: $colorBeigeDark; 
                        border-radius: 30px;
                        border: 1px solid $colorPowderBlue;
                        box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
                        cursor: pointer;
                        
                        &:hover {
                          
                        }
                         
                        &:active {

                        }
                    }
                }
            }
        }
    }
}