//colors
$color_concrete_approx: #f3f3f3;
$white: #fff;
$color_wild_sand_approx: #f3f3f7;
$color_abbey_approx: #494d55;
$color_geyser_approx: #dadae7;
$color_manatee_approx: #9499a3;
$color_shuttle_gray_approx: #616670;
$color_powder_blue_approx: #b1e3e5;
$color_pelorous_approx: #40babd;
$color_mantis_approx: #6dbd63;
$color_steel_blue_approx: #497cb1;
$color_burnt_sienna_approx: #ec6952;
$color_surf_crest_approx: #d2eacf;
$color_spindle_approx: #b3c9e0;
$color_cinderella_approx: #fbe1dc;
$color_lochinvar_approx: #339597;
$color_apple_approx: #51a746;
$color_calypso_approx: #3a638d;
$color_pomegranate_approx: #e74124;
$color_gallery_approx: #eaeaf1;

//@extend-elements
//original selectors
//.module .module-heading .actions .more-link .arrow, .module .module-heading .actions .more-link .arrow:before
%extend_1_module {
	display: block;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	position: absolute;
}


.module {
	border-bottom-width: 2px;
	background: $white;
	margin-bottom: 30px;
	position: relative;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	//Instead of the line below you could use @include background-clip($clip)
	background-clip: padding-box;
	.module-inner {
		padding: 30px;
	}
	
	.module-heading {
		border-bottom: 1px solid $color_wild_sand_approx;
		padding-bottom: 15px;
		position: relative;
		.module-title {
			font-size: 14px;
			font-weight: 600;
			margin: 0;
		}
		.actions {
			position: absolute;
			right: 0;
			top: 0;
			line-height: 1;
			.more-link {
				.dropdown-menu {
					margin-top: 10px;
					min-width: 135px;
					.divider {
						margin: 4px 0;
					}
					> li > a {
						padding: 5px 10px;
						color: $color_abbey_approx;
					}
				}
				.arrow {
					border-bottom: 8px solid $color_geyser_approx;
					left: 15px;
					top: -8px;
					@extend %extend_1_module;
					&:before {
						@extend %extend_1_module;
						content: "";
						border-bottom: 8px solid $white;
						right: -8px;
						top: 1px;
					}
				}
			}
			li {
				vertical-align: middle;
				a {
					color: $color_manatee_approx;
					&:hover {
						color: $color_shuttle_gray_approx;
						text-decoration: none;
					}
				}
				.icon {
					font-size: 18px;
				}
			}
		}
	}
	
	.module-content {
		
        &-inner {
            padding-top: 30px;
            padding-bottom: 30px;
            
            .custom-quote {
                border-color: $color_powder_blue_approx;
                p {
                    font-size: 14px;
                    color: $color_shuttle_gray_approx;
                    line-height: 1.5;
                }
                .fa {
                    color: $color_pelorous_approx;
                    margin-right: 10px;
                }
                .people {
                    margin-top: 10px;
                    font-size: 12px;
                    color: $color_abbey_approx;
                    font-style: normal;
                    .name {
                        color: $color_lochinvar_approx;
                    }
                }
            }
        }
        
        .dropdown-menu {
			li {
				margin-bottom: 0;
			}
			> li > a {
				padding: 5px 20px;
			}
		}
		.list {
			li {
				margin-bottom: 10px;
			}
			ol {
				margin-top: 10px;
			}
			ul {
				margin-top: 10px;
			}
		}
		blockquote {
			font-size: 14px;
		}
		h4.has-divider {
			border-bottom: 1px dotted $color_wild_sand_approx;
			padding-bottom: 5px;
			margin-bottom: 15px;
		}
		dl dd {
			margin-bottom: 10px;
		}
	}
	.module-footer {
		background: $white;
		border-top: 1px solid $color_wild_sand_approx;
		padding: 15px;
		a {
			color: $color_manatee_approx;
			&:hover {
				color: $color_pelorous_approx;
			}
		}
		.meta {
			margin-bottom: 0;
			color: $color_manatee_approx;
			font-size: 12px;
		}
		.shortcuts {
			margin-bottom: 0;
			li {
				position: relative;
				margin-right: 10px;
				&:before {
					position: absolute;
					background-color: $color_gallery_approx;
					//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
					border-radius: 50%;
					content: "";
					line-height: 1;
					width: 6px;
					height: 6px;
					top: .5em;
					left: -8px;
				}
				&.first:before {
					display: none;
				}
			}
		}
	}
	.close-module {
		cursor: pointer;
	}
	&.module-no-heading .module-content-inner {
		padding-top: 0;
	}
	&.module-has-footer .module-inner {
		padding-bottom: 0;
	}
	&.collapsed .collapse-module > .icon {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(180deg);
	}
	.module-content-header .title {
		margin-top: 0;
		margin-bottom: 0;
	}
}
.module-placeholder {
	opacity: .5;
	border-style: dashed;
	border-width: 2px;
}
@media(max-width:767px) {
	.module {
		.module-inner {
			padding: 30px 15px;
		}
		.module-heading {
			padding-bottom: 15px;
		}
	}
}
p {
	margin-bottom: 15px;
	line-height: 1.5;
}

.side-bar {
	padding-bottom: 30px;
}
.view-account {
	.side-bar {
		.user-info {
			text-align: center;
			margin-bottom: 15px;
			padding: 30px;
			color: $color_shuttle_gray_approx;
			border-bottom: 1px solid $color_concrete_approx;
			.img-profile {
				width: 120px;
				height: 120px;
				margin-bottom: 15px;
			}
			.meta li {
				margin-bottom: 10px;
				span {
					display: inline-block;
					width: 100px;
					margin-right: 5px;
					text-align: right;
				}
				a {
					color: $color_shuttle_gray_approx;
				}
				&.activity {
					color: $color_purple;
				}
			}
		}
		.side-menu {
			text-align: center;
			.nav {
				display: inline-block;
				margin: 0 auto;
				> li {
					font-size: 14px;
					margin-bottom: 0;
					border-bottom: none;
					display: inline-block;
					float: left;
					margin-right: 15px;
					margin-bottom: 15px;
					&:last-child {
						margin-right: 0;
					}
					> a {
						display: inline-block;
						color: $color_manatee_approx;
						padding: 5px;
						border-bottom: 2px solid transparent;
						&:hover {
							color: $color_shuttle_gray_approx;
							background: none;
						}
					}
					.icon {
						display: block;
						font-size: 24px;
						margin-bottom: 5px;
					}
					&.active a {
						color: $color_pelorous_approx;
						border-bottom: 2px solid $color_pelorous_approx;
						background: none;
						border-right: none;
					}
				}
			}
		}
	}
	.content-panel {
		padding: 30px !important;
        
         .title {
            margin-bottom: 15px;
            margin-top: 0;
            font-size: 18px;
        }
	}
}

.view-account {
	.content-panel {
		padding: 0;
		.content-header-wrapper .actions {
			position: static;
			margin-bottom: 30px;
		}
		.content-utilities .page-nav {
			position: static;
			margin-bottom: 15px;
		}
		.avatar .figure img {
			float: none;
			margin-bottom: 15px;
		}
		.mails-wrapper .mail-item .time-container {
			position: static;
			.time {
				width: auto;
				text-align: left;
			}
		}
	}
	.file-uploader {
		margin-bottom: 15px;
	}
	.mail-subject {
		max-width: 100px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.side-bar .user-info {
		.img-profile {
			width: 60px;
			height: 60px;
		}
		.meta li {
			margin-bottom: 5px;
		}
	}
}
.drive-wrapper {
	.drive-item {
		width: 100px;
		margin-right: 5px;
		float: none;
	}
	.drive-item-thumb {
		width: auto;
		height: 54px;
		.fa {
			font-size: 24px;
			padding-top: 0;
		}
	}
}
@media(min-width:768px) {
	.view-account {
		.side-bar .user-info {
			padding: 0;
			padding-bottom: 15px;
		}
		.mail-subject .subject {
			max-width: 200px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}
@media(min-width:992px) {
	.view-account {
		.content-panel {
			min-height: 800px;
			border-left: 1px solid $color_wild_sand_approx;
			margin-left: 200px;
		}
		.side-bar {
			position: absolute;
			width: 200px;
			min-height: 600px;
			.user-info {
				margin-bottom: 0;
				border-bottom: none;
				padding: 30px;
				.img-profile {
					width: 120px;
					height: 120px;
				}
			}
			.side-menu {
				text-align: left;
				.nav {
					display: block;
					> li {
						display: block;
						float: none;
						font-size: 14px;
						border-bottom: 1px solid $color_wild_sand_approx;
						margin-right: 0;
						margin-bottom: 0;
						> a {
							display: block;
							color: $color_manatee_approx;
							padding: 10px 15px;
							padding-left: 30px;
							&:hover {
								background: $color_alabaster_approx;
							}
						}
						.icon {
							font-size: 24px;
							vertical-align: middle;
							text-align: center;
							width: 40px;
							display: inline-block;
						}
						&.active a {
							background: $color_alabaster_approx;
							border-right: 4px solid $color_pelorous_approx;
							border-bottom: none;
						}
					}
				}
			}
		}
		.mail-subject .subject {
			max-width: 280px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	.theme-2 .view-account .side-bar .side-menu .nav > li.active a {
		border-right-color: $color_mantis_approx;
	}
	.theme-3 .view-account .side-bar .side-menu .nav > li.active a {
		border-right-color: $color_steel_blue_approx;
	}
	.theme-4 .view-account .side-bar .side-menu .nav > li.active a {
		border-right-color: $color_burnt_sienna_approx;
	}
}
.side-bar .user-info {
	padding: 0;
}