%extend_notice {
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 10px 10px 7px #000;
	position: relative;
	z-index: 5;
}
.notices {
    .post-it {
        background:#fefabc; 
        padding:8px; 
        font-size:0.8em; 
        color: #000; 
        max-width:160px; 
        margin-top:10px;

        -moz-transform: rotate(-7deg);
        -webkit-transform: rotate(-7deg);
        -o-transform: rotate(-7deg);
        -ms-transform: rotate(-7deg);
        transform: rotate(-7deg);

        box-shadow: 0px 4px 6px #333;
        -moz-box-shadow: 0px 4px 6px #333;
        -webkit-box-shadow: 0px 4px 6px #333;
        
        &:nth-child(even)  {
            -moz-transform: rotate(3deg);
            -webkit-transform: rotate(3deg);
            -o-transform: rotate(3deg);
            -ms-transform: rotate(3deg);
            transform: rotate(3deg);
        }
        
        &:hover {
            @extend %extend_notice;
        }
        &:focus {
            @extend %extend_notice;
        }
        
        .caption {
            font-size: 0.8em;
            font-weight: 600;
            text-align: right;
            padding-right:5px;
            color:$color_navy;
        }

    }
    
   /* &:nth-child(even)  {
        -moz-transform: rotate(7deg);
        -webkit-transform: rotate(7deg);
        -o-transform: rotate(7deg);
        -ms-transform: rotate(7deg);
        transform: rotate(7deg);
    }
    
    &:nth-child(odd)  {
        -moz-transform: rotate(-7deg);
        -webkit-transform: rotate(-7deg);
        -o-transform: rotate(-7deg);
        -ms-transform: rotate(-7deg);
        transform: rotate(-7deg);
    }*/
}