//colors
$white: #fff;
$color_japanese_laurel_approx: #006400;
$color_flush_mahogany_approx: #c0392b;
$color_cinnabar_approx: #e74c3c;
$color_boston_blue_approx: #2980b9;
$color_curious_blue_approx: #3498db;
$color_corn_approx: #f1c40f;
$color_tree_poppy_approx: #f39c12;
$color_alto_approx: #ddd;
$color_storm_dust_approx: #666;
$color_mandy_approx: #e85656;
$color_scooter_approx: #2dacd1;
$color_gold_tips_approx: #dfb81c;

//fonts
$font_0: FontAwesome;

//@extend-elements
//original selectors
//.notification-success::before, .notification-error::before, .notification-info::before, .notification-warning::before
%extend_notification_1 {
	font-family: $font_0;
	font-size: 35px;
	display: block;
	position: absolute;
	left: 15px;
	top: 50%;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: translateY(-50%);
}


.notiBtn {
	text-align: center;
	margin-top: 80px;
	button {
		color: $white;
		border: none;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 5px;
		display: inline-block;
		font-weight: 600;
		outline: medium none;
		padding: 1em 3em;
		cursor: pointer;
	}
}
#success-btn {
	background: $color_green;
	&:hover {
		background-color: $color_green;
	}
}
#error-btn {
	background: $color_red;
	&:hover {
		background-color: $color_red;
	}
}
#info-btn {
	background: $color_blue;
	&:hover {
		background-color: $color_blue;
	}
}
#warning-btn {
	background: $color_yellow;
	&:hover {
		background-color: $color_yellow;
	}
}
#notification-container {
	display: block;
	position: fixed;
	top: 70px;
	right: 5px;
    z-index: 10000;
}
.notification {
	display: block;
	position: relative;
	padding: 15px 15px 15px 60px;
	overflow: hidden;
	width: 250px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 5px;
	color: $white;
	animation: show-notification 3s ease-out;
}
.notification-close {
	padding: 0;
	cursor: pointer;
	background: none;
	border: 0;
	outline: none;
	position: absolute;
	top: 5px;
	right: 10px;
	color: $white;
	//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	text-shadow: 0 1px 0 $color_alto_approx;
	&:hover {
		color: $color_storm_dust_approx;
	}
}
.notification-close::before {
	font-family: $font_0;
	font-size: 12px;
	font-weight: normal;
	content: '\f00d';
}
.notification-title {
	font-size: 1.1em;
	font-weight: bold;
}
.notification-success::before {
	@extend %extend_notification_1;
	content: '\f058';
}
.notification-error::before {
	@extend %extend_notification_1;
	content: '\f057';
}
.notification-info::before {
	@extend %extend_notification_1;
	content: '\f05a';
}
.notification-warning::before {
	@extend %extend_notification_1;
	content: '\f071';
}
.notification-success {
	background-color: $color_green;
}
.notification-error {
	background-color: $color_red;
}
.notification-info {
	background-color: $color_blue;
}
.notification-warning {
	background-color: $color_yellow;
}
@-webkit-keyframes show-notification {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes show-notification {
	0% {
		opacity: 0;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate(0, -100%);
	}
	10% {
		opacity: 1;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate(0, 0);
	}
	90% {
		opacity: 1;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate(0, -100%);
	}
}