.overlay {
    position: relative;

    &:after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2200;

        width: 100%;
        height: 100%;
        
        opacity: 0.8;
        background: url("../images/ajax-loader.gif") no-repeat center center #fff;
    }
}