.panel-heading {
    /*position: relative;
    padding: 0;
    min-height: 30px;
    line-height: 30px;
    color: #666;
    font-size: 12px;
    font-weight: 600;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 2px 2px 0 0;
    background: #fafafa;*/
	
	position: relative;
	padding: 15px 15px 15px;
	border-bottom: dotted 1px #dfe5ec;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
    
    .accordion-toggle:after {
        font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
        content: "\e114";    /* adjust as needed, taken from bootstrap.css */
        float: right;        /* adjust as needed */
        color: grey;         /* adjust as needed */
    }
    .accordion-toggle.collapsed:after {
        content: "\e080";    /* adjust as needed, taken from bootstrap.css */
    }
	
	.panel-controls {
		position: absolute;
		top: 0;
		right: 15px;
		
		.nav-tabs {
			li {
				a {
					padding: 16px 15px;
					color: rgba(142, 142, 147, 0.8);
					border-width: 0 0 1px !important;
					border-color: transparent !important;
					-webkit-border-radius: 0;
					-moz-border-radius: 0;
					border-radius: 0;
			    }
		    }
			
			li.active a, li.active a:hover, li.active a:focus {
				color: #8e8e93;
				border-color: #659ce0 !important;
				background-color: transparent !important;
			}
		}
	}
    
    &-menu {
        padding-right:10px;
    }
    
    .panel-title {
        padding-left: 10px;
		margin-top: 0;
		margin-bottom: 0;
		
        .fa {
            padding-right: 8px;
            font-size: 16px;
            top: 2px;
            min-width: 25px;
            margin-right: 8px;
            border-right: 1px solid #ddd;
        }
    }
	
	.table {
		td {
			border-top: none !important;
			border-bottom: solid 1px #dfe5ec !important;
		}
	}
}


.panel-heading-tab {
    background: #fafafa none repeat scroll 0 0;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 2px 2px 0 0;
    color: #666;
    font-size: 13px;
    font-weight: 600;
    line-height: 40px;
    min-height: 40px;
    padding: 0;
    position: relative;
}

.panel-tabs {
    bottom: 0;
    position: absolute;
    right: 0;
	
	li{
		float: left;
		margin-bottom: -1px;
		position: relative;
		
		a {
			-moz-border-bottom-colors: none;
			-moz-border-left-colors: none;
			-moz-border-right-colors: none;
			-moz-border-top-colors: none;
			border-color: transparent transparent transparent #ddd;
			border-image: none;
			border-radius: 0;
			border-style: solid;
			border-width: 1px;
			color: #777 !important;
			font-size: 12px;
			line-height: 1.42857;
			padding: 11px 18px 9px;
		}
	}
	
	li.active a {
		 background: #ffffff none repeat scroll 0 0;
		color: #555555;
		cursor: default;
		padding: 11px 18px 10px;
	}
	li.active::after {
		background: #a87fc6 none repeat scroll 0 0;
		content: "";
		height: 2px;
		left: 0;
		position: absolute;
		top: -1px;
		width: 100%;
	}
}

.panel .tab-content {
    border: 0 none;
    min-height: 95px;
    padding: 0;
}

.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}
.panel.with-nav-tabs {
	.tab-pane {
		border: none !important;
        
        table {
            font-size: 0.9em;
        }
	}
}


.with-nav-tabs {
    .panel-heading-tab {
        li {
            .fa {
                font-size: 14px;
                margin-right:5px;
                color: rgba($color_leading,0.4);
            }
        }
        .panel-tabs--text {
            @media screen and (max-width: $screen-sm) {
                display: none;
            }
        }
    }
    
    .tab-pane {
       /* max-height:400px;
        overflow-y:auto;*/
        padding:0 10px;
    }
    
}

.panel-profile {
    .user-card {
        .contact-name {
            color: #263238;
            font-size: 18px;
            text-align: center;
        }
        
        .contact-status {
            color: #90a4ae;
            font-size: 11px;
            line-height: 16px;
            text-align: center;
        }
        
        ul.details li {
            background: #eeeeee none repeat scroll 0 0;
            border-radius: 2px;
            font-size: 13px;
            margin: 0 0 2px;
            padding: 6px 12px;
            text-align: center;
        }
        
        .avatar {
            height: 128px;
            left: 50%;
            margin-bottom: 16px;
            margin-left: -64px;
            position: relative;
            width: 128px;
        }

    }
}

#accordion{ 
    .panel-heading {
        border-bottom: 1px solid transparent;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        padding: 5px 8px;
        
        a {
            font-weight: 400;
			width:100%;
			display:block;
        }
    }
    
   /* .panel-heading [data-toggle="collapse"]:after  {
        font-family: 'Glyphicons Halflings';
        content: "\e072"; 
        float: right;
        color: $color_leading;
        font-size: 14px;
        line-height: 22px;

        -webkit-transform: rotate(-90deg);
        -moz-transform:    rotate(-90deg);
        -ms-transform:     rotate(-90deg);
        -o-transform:      rotate(-90deg);
        transform:         rotate(-90deg);
    }
    .panel-heading [data-toggle="collapse"].collapsed:after  {
        -webkit-transform: rotate(90deg);
        -moz-transform:    rotate(90deg);
        -ms-transform:     rotate(90deg);
        -o-transform:      rotate(90deg);
        transform:         rotate(90deg);
    }*/

    .panel-heading [data-toggle="collapse"].collapsed  {
        .panel-tile {
            a {
                color:#eb8f00 !important;
            }
        }
    }
}

.modal-body-max {
    max-height:400px;
    overflow-y:auto;
    position:relative;
}

fieldset.collapsible {
   /* border: 1px solid #D5D8D8;*/
   legend {
        font-size:1.2em !important;
        color:$color_leading;
        font-weight:600;
   }
}

fieldset.collapsible > legend {
   /* margin-left: 40px;*/
    padding: 0 10px;
    cursor:pointer;
}

fieldset.collapsible > div.content {
    display: none;
}

.content-employee-select {
    max-height:200px;
    overflow-y:auto;
}

.reminder-info {
    padding-bottom:10px;
    font-weight:600;
}

.mini-stat {
    padding: 10px;
    margin-bottom: 10px;
    
    small.currency {
        font-size: 0.75em;
        font-weight: 600;
    }
    
    &-icon {
        width: 40px;
        height: 40px;
        display: inline-block;
        line-height: 40px;
        text-align: center;
        font-size: 24px;
        background: none repeat scroll 0% 0% #EEE;
        border-radius: 100%;
        float: left;
        margin-right: 4px;
        color: #FFF;
    }
    
    &-info {
        font-size: 12px;
        padding-top: 2px;
        
        ol {
            padding-left: 22px;
            font-size: 11px;
            max-height:350px;
            overflow-y: auto;
            
            li {
                &:hover {
                    background-color: rgba(#000, 0.1);
                }
            }
        }
        
        span {
            display: block;
            font-size: 1.5em;
            font-weight: 400;
            margin-bottom: 5px;
            margin-top: 6px;
            
            small {
                font-size:0.65em;
                margin-left:8px;
                color: $color_dark;
                i {
                    margin-right:3px;
                    color: rgba($color_dark,0.5);
                }
            }
        } 
    }
    
    &-footer {
        background-color: rgba(#fff, 0.3);
        color: darken(#fff,5%);
        padding:5px 15px;
        font-size:1.1em;
        font-weight:600;
        margin: 2px -10px;
    }
}

.rounded {
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px;
    border-radius: 3px !important;
}
