.bt {
    border-top: 1px solid #e3e3e3 !important;
}

.mt20 {
    margin-top: 20px !important;
}

.text-muted {
    color: #777777;
    font-weight:600;
}

#menu-list-employee,
#menu-list-employee-panel,
.list-employee {
    li {
        list-style: none;
        display: flex;
        align-items: baseline;
    }
}
#menu-list-employee-task {
    li {
        list-style: none;
    }
}

.content-employee-all-select.custom-inputs {
    display: flex;
    align-items: baseline;
}

.profile {
    h3 {
        margin-top: 0;
        font-size:1.1em;

        @media all and (max-width: 768px) {
            font-size: 1.2em;
        }
    }
    .contact-info dt, .contact-info dd {
        line-height: 1.6;
    }
    .contact-info dd {
        line-height: 1.6;
    }
}

.profile .contact-info dd {
    margin-bottom: 10px;
}

.view-project {
    .btn-flat {
        border-radius: 0px;
        border-color: transparent;
    }
    
    .panel {
        .project-heading {
            padding: 20px;
        }
        
        .project-body {
            background-color: #FAFAFA;
        }
    }
    
    .project-details {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        
        .row-details {
            padding-top: 15px;
            padding-bottom: 10px;
            border-bottom: 1px solid #eee;
        }
    }
    
    .table {
        tr > td, tr > th  {
            padding: 10px;
        }
        
    }
}

.contact-group {
    margin-top: 20px;
    max-height: 350px;
    overflow-y: auto;
}

.list-group {
    padding-left: 0;
    margin-bottom: 20px;
   /*  max-height: 350px;
    overflow-y: auto;*/
    
    &-item {
        border: none;
        margin-top: 10px;
        background-color: #FAFAFA;
        border:1px solid darken(#FAFAFA,10%);
        
        .media, .media-body {
            overflow: hidden;
            zoom: 1;
        }
        
        .media{
            &-avatar {
                background-color: #ccc;
                border-radius: 50%;
                display: block;
                height: 3rem;
                margin: 0.5rem;
                overflow: hidden;
                width: 3rem;
                
                img {
                    vertical-align: middle;
                }
            }
        }
        
        .media-body, .media-left, .media-right {
            display: table-cell;
            vertical-align: top;
        }
        
        .media-left, .media > .pull-left {
            padding-right: 0;
        }
        
        .media-heading {
            font-size: 16px;
            font-weight: 500;
            margin-top: 0;
            margin-bottom: 5px;
            
             small {
                margin-left: 5px;
                font-size: 13px;
                font-weight: 400;
                color: #999;
            }
        }
        
        .media-content {
            margin-top: 5px;
            
            i {
                color: $color_leading;
                margin-right:5px;
            }
            
            ul {
                margin-top: 15px;
                margin-bottom: 0;
                list-style: none;
                
                li {
                    display: inline-block;
                    min-width: 200px;
                    margin-bottom: 5px;
                }
            }
        }

        &--disabled {
            position: relative;
            filter: grayscale(1);
            overflow: hidden;

            &:after {
                content: ' ';
                position: absolute;
                top: 0;
                left: 0;

                width: 150%;
                height: 20px;
                //margin-top: -10px;
                background-color: rgba(0, 0, 0, 0.1);
                transform: rotate(5deg);
                transform-origin: top left;

                @media all and (min-width: 769px) and (max-width: 1280px) {
                    transform: rotate(10deg);
                }

                @media all and (max-width: 768px) {
                    transform: rotate(13deg);
                }
            }
            
            .media-avatar {
                img {
                    filter: grayscale(0);
                }
            }

            .media-body {
                * {
                    color: #ccc !important;
                }
            }
        }
    }
}

.projects {
    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #eee;
        height: 0;
    }
    
    .project-box {
        padding: 20px;
        margin-bottom: 20px;
        
        .project-title {
            line-height: 1px;
        }
        
        .project-edited {
            font-size: 10px;
            text-transform: uppercase;
            font-weight: bold;
            
            span a {
                font-weight: bold;
                color: gray;
            } 
        }
        
        .project-deadline p:first-child {
            font-size: 11px;
            text-transform: uppercase;
            text-align: center;
        }
        
        .project-deadline p:last-child {
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            line-height: 1px;
        }
        
        .project-client p:first-child {
            font-size: 11px;
            text-transform: uppercase;
            text-align: center;
        }
        
        .project-client p:last-child {
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            line-height: 1px;
        }
        
        .project-task-numbers p {
            font-size: 11px;
            text-transform: uppercase;
            line-height: 1px;
        }
        
        .project-status {
            font-size: 11px;
            text-transform: uppercase;
            line-height: 1px;
        }
                
        .project-timezone {
            font-size: 10px;
            text-transform: uppercase;
            line-height: 1px;
        }
    }
}


.custom-inputs {
    label {
        cursor: pointer;
        color: $header-background-color;
        font-size: 1em;
        font-weight: 400;
        padding-left: 10px;
        margin: 0;
    }
    
    input {
        margin: 0;
    }
}

.dl-horizontal {
    dt {
        font-weight: 600;
        color: $color_dark;
    }
    
    dd {
        color: #a2a6af;
        margin-bottom: 10px;
    }
}

.members-list {
    .thumbLeader {
        img {
            width: 42px!important;
            height: 42px!important;
        }
    }
    
    .thumb {
        position: relative;
        img {
            width: 26px;
            height: 26px;
            border-radius: 50%;
        }
    }
    
    .add {
        margin-left:8px;
        position: relative;
    }
}