.main-box {
    border: 1px solid #e7ebee;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 16px;
    border-radius: 3px;
    background-clip: padding-box;
    
    .main-box-body {
        padding: 0;
    }
}

.project-box {
    &-header {
        border-radius: 3px 3px 0 0;
        background-clip: padding-box;
        
        .name {
            a {
                color: #fff;
                display: block;
                font-size: 1.1em;
                font-weight: 300;
                padding: 8px 6px;
                border-radius: 3px 3px 0 0;
                background-clip: padding-box;
                transition: background-color 0.1s ease-in-out 0s;
            }
        }
    }
    
    &-content {
        padding: 30px 20px 5px;
        /*text-align: center;*/
        
        .tab-pane {
            height: 150px;
            max-height: 200px;
            overflow-y: auto;
        }
    }
    
    &-footer {
        border-radius: 0 0 3px 3px;
        background-clip: padding-box;
       
        a {
            border-right: 1px solid #eee;
            color: #929292;
            display: block;
            float: left;
            margin: 20px 0;
            padding: 5px 10px;
            text-align: center;
            width: 33.33%;
        }
        
        .value {
            display: block;
            font-size: 1.8em;
            font-weight: 300;
        }
        
        .label {
            display: block;
            font-size: 0.875em;
            font-weight: 300;
            color: #929292;
        }
    }
    
    &-ultrafooter {
        background: #f7fafa;
        border-top: 1px solid #e9eef0;
        padding: 8px 15px;
        border-radius: 0 0 3px 3px;
        background-clip: padding-box;
        
        &-thumb {
            border-radius: 50%;
            display: inline-block;
            width: 33px;
            overflow: hidden;
            vertical-align: middle;
            height: 33px;
            float: left;
            /*img {
                width: 35px;
                height: 35px;
                
            }*/
        }
        
        /*.project-img-owner {
            border-radius: 50%;
            background-clip: padding-box;
            display: block;
            float: left;
            height: 33px;
            margin-right: 5px;
            overflow: hidden;
            width: 33px;
        }*/
        
        .link {
            margin-top: 6px;
            color: #c1c5c6;
        }
    }
}

.tile-view {
    /*margin: -14px -15px 0px;*/
    background: #FFF;
    padding-top: 20px;
    margin: -14px -30px 15px;
    -webkit-box-shadow: 0 -2px 0 0 #C2C7D0 inset;
    box-shadow: 0 -2px 0 0 #C2C7D0 inset;
    
    .nav-tabs {
        margin: 0px 15px;
        border: 0;
        
        li {
            margin-bottom: 0px;
            
            a {
                padding: 10px 2px 8px;
                margin: 11px 20px 0 0;
                font-weight: 600;
                color: #505458;
                border: 0;
                -webkit-transition: box-shadow 300ms cubic-bezier(0.42, 0, 0.58, 1);
                -moz-transition: box-shadow 300ms cubic-bezier(0.42, 0, 0.58, 1);
                -o-transition: box-shadow 300ms cubic-bezier(0.42, 0, 0.58, 1);
                transition: box-shadow 300ms cubic-bezier(0.42, 0, 0.58, 1);
                -webkit-transition: color 100ms cubic-bezier(0.42, 0, 0.58, 1);
                -moz-transition: color 100ms cubic-bezier(0.42, 0, 0.58, 1);
                -o-transition: color 100ms cubic-bezier(0.42, 0, 0.58, 1);
                transition: color 100ms cubic-bezier(0.42, 0, 0.58, 1);
            }
            
            a.active, a:hover {
                -webkit-box-shadow: 0 -2px 0 0 $color_purple inset;
                box-shadow: 0 -2px 0 0 $color_purple inset;
                color: $color_purple;
                text-decoration: none;
                background-color: #fff;
            }
        }
        
        li.active {
            a {
                -webkit-box-shadow: 0 -2px 0 0 $color_purple inset;
                box-shadow: 0 -2px 0 0 $color_purple inset;
                color: $color_purple;
                text-decoration: none;
            }
        }
    }
}

.table-head {
    line-height: 46px;
    height: 46px;
    padding: 0 15px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    box-shadow: 0 -2px 0 0 $color_purple inset;
   /* margin-top: 20px;*/
    color: $color_purple;
    background: #FFFFFF;
}

.subcont {
    background-color: #fff;
    padding: 10px;
    
    ul.details {
        list-style: none;
        margin: 0;
        padding: 0;
        
        li {
            padding: 7px 10px;
            border-bottom: 1px solid #ECECEC;
            min-height: 20px;
            font-weight: 400;
            
            span:first-child {
                display: block;
                margin-bottom: 2px;
                color: #A4A5A9;
                font-weight: 700;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 11px;
                font-family: "Open Sans";
                text-transform: uppercase;
                letter-spacing: .3px;
            }
        }
    }
}

.project-details-info {
    background-color: #fff;
    
    ul.details {
        list-style: none;
        margin: 0;
        padding: 0;
        
        li {
            padding: 7px 5px;
            border-bottom: 1px solid #ECECEC;
            min-height: 20px;
            font-weight: 400;
            font-size: 0.9em;
            
            span:first-child {
                margin-bottom: 2px;
                color: #A4A5A9;
                font-weight: 600;
                font-size:0.8em;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                text-transform: uppercase;
                letter-spacing: .2px;
            }
        }
    }
}

.tile-base {
    background: #FFFFFF;
    padding: 15px;
    
    .tile-icon {
        position: absolute;
        right: 0px;
        margin: -14px 31px 2px 0px;
        color: #A4A8AD;
        
        i {
            font-size: 41px;
        }
    }
    
    .tile-small-header {
        font-weight: 600;
        font-size: 10px;
        color: #505458;
        text-transform: uppercase;
        margin-bottom: 2px;
    }
    
    .tile-body {
        font-weight: 500;
        color: #6F6F6F;
        margin-bottom: 5px;
        
        table {
            thead {
                th {
                    text-align: center;
                    vertical-align: middle;
                }
            }
        }
    }
    
    .tile-bottom {
        margin-top: 10px;
    }
    
    .tile-progress {
        height: 4px;
        border-radius: 0;
        background: rgba(17, 167, 219, 0.18);
    }
}

.tile-base.tile-with-icon {
    position: relative;
}

.stdpad {
    width: 100%;
    height: 350px;
    font-size: 13px;
    font-weight: 300;
    background: #FFFFFF;
}

.p-team {
    
    &-thumb {
        border-radius: 4px;
        display: inline-block;
        height: 2.5rem;
        overflow: hidden;
        vertical-align: middle;
        width: 2.5rem;
        margin-right: 3px;
        /*img {
            width: 35px;
            height: 35px;
            
        }*/
    }
}

.tile-row {
    .nav-tabs {
        margin: 0px 15px;
        border: 0;
        
        li {
            position: relative;
            display: block;
        }
        
        li.pull-right {
            float: right !important;
        }
    }
}

.nav-item.active {
    color: $color_pink;
    .nav-link {
        .label {
            color: $color_pink;
        }
    }
}

.view {
    &-project {
        fieldset {
            legend {
                i, a  {
                    color: #FDFDFD;
                }
            }
        }
    }
}

.data-box {
    text-align: center;
    
    li {
        margin-bottom: 15px;
        
        span {
            display: block;
        }
    }
    
    a {
        text-decoration: none;
        display: block;
        
        .desc {
            color: #a2a6af;
        }
    }
    
    .icon {
        font-size: 20px;
    }
    
    .data {
        font-size: 36px;
        font-weight: 300;
    }
}

.activities-module {
    .item {
        position: relative;
        padding: 15px 0;
        padding-left: 60px;
        border-bottom: 1px solid #f3f3f7;
    }
    
    .profile {
        position: absolute;
        left: 0;
        
        &-inner {
            display: inline-block;
            position: relative;
            
            img {
                width: 48px;
                height: 48px;
                display: inline-block;
                border-radius: 50%;
                background-clip: padding-box;
            }
        }
        
        .status {
            display: inline-block;
            position: absolute;
            right: -4px;
            bottom: 5px;
            width: 12px;
            height: 12px;
            background: #c3c3c3;
            border: 2px solid #fff;
            border-radius: 50%;
            background-clip: padding-box;
        }
    }
    
    .activity {
         .summary {
            margin-bottom: 10px;
            
            .profile-name {
                color: #797f8b;
            }
        }
        
         .meta {
            color: #9499a3;
            margin-bottom: 0;
        }
    }
}

.chart-easy-pie  {   
    .percentage {
        canvas {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

#bars {
	margin: 2em auto;
	max-width: 960px;
	overflow: hidden;
    
    .bar {
        float: left;
        width: 20%;
        text-align: center;
        
        h3 {
            font-size: 1.4em;
            font-weight: normal;
            margin: 0;
            text-transform: uppercase;
        }
        
        &-circle {
            display: block;
            margin: 0.7em auto;
        }

    }
}
