.calendar-task {
    
    .icons-left {
        padding-left:5px;
		/*padding-top:14px;*/
        
        color: #888;
        font-size: 1.2em;
        
        a {
            color: #888;
        }
        
        .dropdown {
            /*z-index: 1050;*/
        }
        
        .list-flags {
            li {
                display: inline;
                
                span {
                    cursor: pointer;
                }
            }
        }
        
        .none {
            display: none !important;
        }
    }
    .icons {
        text-align: center;
        color: #888;
        font-size: 1.2em;
        padding-top:20px;
        
        a {
            color: #888;
        }
        
        .dropdown {
            /*z-index: 1050;*/
        }
        
        .list-flags {
            li {
                display: inline;
                
                span {
                    cursor: pointer;
                }
            }
        }
        
        .none {
            display: none !important;
        }
    }
}

.cal-desc {
    font-size:1.2em;
    margin-bottom:10px;
    &-link {
        float: left;
        padding-left:10px;
    }
    
    &-date {
        float: left;
    }
    
    &-name {
        font-size:1.2em;
    }
    
    small {
        font-size:0.7em;
        
    }
}

.fc-title {
    i.fa {
        padding-right:2px;
        color:#F7F7F7;
    }
}

.calendar-legend {
	td { padding:2px 5px; text-valign:middle; }
	
	i { color:#fff; }
	&-icon {
		width: 30px;
		text-align:center;
	}
}

.datepicker td, .datepicker th {
    border-radius: 0 !important;
}

.datepicker table tr td.active {
    background-color: $color_teal !important;
    background-image: none !important; /*linear-gradient(to bottom, #08c, #0044cc);*/
    color: #fff !important;
}

.datepicker table tr td.today {
    background-color: $color_yellow !important;
    background-image: none !important; /*linear-gradient(to bottom, #08c, #0044cc);*/
    color: $color_grey !important;
}