
.tag {
    display: inline-block;
    padding: 2px 5px;
    border-radius: 4px;
    font-weight: 600;
    color: #fff;
    font-size: $font-size-xs;
    line-height: 1.3;

    @each $color, $color_code in $color-list {
        &--#{$color} {
            background-color: rgba($color_code, 0.85);
        }
    }
}