//colors
$seashell: #f1f1f1;
$color_gray_nurse_approx: #e9e9e9;
$white: #fff;
$color_alabaster_approx: #f9f9f9;
$color_gallery_approx: #eeeeee;
$color_tundora_approx: #454545;
$color_java_approx: #15bdc3;
$color_gin_approx: #e8f5e9;
$color_soft_peach_approx: #f9eeee;
$color_pattens_blue_approx: #e0f7fa;
$color_flamingo_approx: #ff5722;
$mercury: #e5e5e5;
$color_wild_sand_approx: #f5f5f5;
$color_suva_gray_approx: #868686;
$color_monsoon_approx: #898989;
$color_storm_dust_approx: #666;

//@extend-elements
//original selectors
//.task-box-list li a:hover, .task-box-list li a:focus
%extend_1 {
	text-decoration: none;
	background-color: $color_alabaster_approx;
	color: $color_java_approx;
}

//original selectors
//.task-comments-list .task-user-comments .attachement-list li .attachment-thumb a:hover, .task-comments-list .task-user-comments .attachement-list li .attachment-thumb a:focus
%extend_2 {
	text-decoration: none;
	color: $white;
	background-color: $color_java_approx;
}


.task-container {
	margin-left: -15px;
	margin-right: -15px;
	position: relative;
	overflow: hidden;
}
.task-sidebar {
	width: 200px;
	background-color: $seashell;
	position: fixed;
	border-right: $color_gray_nurse_approx 1px solid;
	overflow-y: auto;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.2s ease-out;
	.task-search-form {
		margin-bottom: 10px;
		.form-control {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0;
			border-left: 0;
			border-right: 0;
		}
	}
}
.task-content {
	position: relative;
	overflow: hidden;
	background-color: $white;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.2s ease-out;
	h3 {
		font-weight: 400;
		padding: 0 20px 0 0;
		margin-bottom: 0;
		font-size: 22px;
	}
	.task-body-content {
		padding: 20px 0;
		margin: 0 20px;
	}
    
    
	.task-list {
		width: 360px;
		/*height: 100%;
		position: fixed;*/
		background-color: $color_alabaster_approx;
		border-right: $color_gray_nurse_approx 1px solid;
		/*height: 300px;*/
		overflow-y: auto;
        float:left;
	}
}
.task-body {
	margin-left: 360px;
	overflow-y: auto;
	background-color: $white;
	.task-list-toolbar {
		padding: 20px 20px 0 20px;
	}
	&.multi-page .email-content {
		margin: 20px;
	}
}
.task-info {
        font-weight:600;
        padding:10px;
        margin-bottom:10px;
        background-color:#FAFAFA;
        border:1px solid darken(#FAFAFA,5%);
    }
.hide-task-sidebar {
	.task-sidebar {
		left: -200px;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.2s ease-out;
	}
	.task-content {
		margin-left: 0;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.2s ease-out;
	}
}
.task-toolbar {
	z-index: 2000;
	position: relative;
	background-color: $white;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: $color_gallery_approx 1px solid;
	.inbox-tools-list {
		text-align: right;
		li {
			display: inline-block;
			width: 50px;
			height: 50px;
		}
	}
}
.task-box-list {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
		a {
			color: $color_tundora_approx;
			display: block;
			padding: 8px 15px;
			&:hover {
				@extend %extend_1;
			}
			&:focus {
				@extend %extend_1;
			}
			i {
				font-size: 16px;
				position: relative;
				top: 2px;
				margin-right: 6px;
				width: 20px;
				text-align: center;
				display: inline-block;
			}
			.new-item-count {
				display: inline-block;
				background-color: $color_java_approx;
				color: $white;
				padding: 4px 6px;
				font-size: 12px;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 3px;
				margin-left: 6px;
			}
		}
	}
}
.task-list {
	padding-top: 5px;
}
.list-search-form {
	background-color: $white;
	width: 360px;
	height: 40px;
	position: fixed;
	margin-left: -10px;
	padding-right: -10px;
	z-index: 2000;
	display: none;
	.list-search-input {
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		padding-right: 35px;
		border-left: transparent;
		border-right: transparent;
		border-top: transparent;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: none;
		&:focus {
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
		}
	}
	.s-input-close {
		width: 32px;
		height: 32px;
		display: inline-block;
		position: absolute;
		right: 3px;
		top: 3px;
		text-align: center;
		line-height: 32px;
		font-size: 20px;
		cursor: pointer;
	}
}
.task-list-item {
	padding: 0 12px;
	width: 100%;
	display: table;
	border-bottom: $color_gray_nurse_approx 1px solid;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.2s ease-out;
	&.task-completed {
		background-color: $color_gin_approx;
		&:hover {
			background-color: $color_gin_approx;
		}
	}
	&.task-due {
		background-color: $color_soft_peach_approx;
		&:hover {
			background-color: $color_soft_peach_approx;
		}
	}
	&:hover {
		background-color: $white;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.2s ease-out;
	}
	&.m-selected {
		background-color: $color_pattens_blue_approx;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.2s ease-out;
	}
	&.m-stared {
		overflow: hidden;
		.mark-stared {
			position: absolute;
			right: -16px;
			top: -16px;
			background-color: $color_flamingo_approx;
			width: 32px;
			height: 32px;
			display: block;
			text-align: center;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: rotate(45deg);
			i {
				font-size: 20px;
				position: relative;
				left: 0;
				top: 15px;
				color: $white;
			}
		}
	}
	&.m-important {
		overflow: hidden;
		.mark-important {
			position: absolute;
			right: -5px;
			top: -20px;
			width: 32px;
			height: 32px;
			display: block;
			text-align: center;
			i {
				font-size: 14px;
				position: relative;
				left: 0;
				top: 15px;
				color: $color_flamingo_approx;
			}
		}
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.task-list-action {
		width: 30px;
		display: table-cell;
		vertical-align: top;
		position: relative;
		z-index: 9000;
		padding-top: 10px;
		border-right: $color_gray_nurse_approx 1px solid;
	}
}
.task-list-toolbar {
	width: 360px;
	height: 40px;
	padding: 8px 10px;
    font-size:1.2em;
    
	border-bottom: $mercury 1px solid;
	border-right: $mercury 1px solid;
	/*position: fixed;
	z-index: 1800;*/
	background-color: $color_wild_sand_approx;
    
    span {
        padding:10px 5px;
    }
	.task-check-all {
		width: 32px;
		padding: 8px 0 11px 2px;
		border-right: $mercury 1px solid;
	}
	.btn-toolbar {
		padding: 0 4px;
	}
	.dropdown-menu {
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		margin-top: 0;
	}
	.btn-group .btn {
		border: none;
		height: 39px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		&:hover {
			background-color: $color_gallery_approx;
		}
		&:focus {
			background-color: $color_gallery_approx;
		}
	}
}
.task-list-details {
	display: table-cell;
	vertical-align: top;
	padding: 10px 0 10px 12px;
	.task-list-top {
		font-size: 12px;
		margin-bottom: 6px;
		.email-date {
			color: $color_suva_gray_approx;
		}
	}
	.task-intro {
		h4 {
			font-size: 12px;
			margin-top: 0;
			margin-bottom: 6px;
			line-height: normal;
		}
		.label {
			font-size: 12px;
			margin-right: 6px;
		}
		.task-date {
			display: block;
			margin-top: 6px;
			font-size: 12px;
			color: $color_monsoon_approx;
			i {
				margin-right: 6px;
			}
			.label {
				margin-bottom: 6px;
				display: inline-block;
				padding: 6px 6px 7px 6px;
			}
		}
		p {
			margin-bottom: 0;
			font-size: 12px;
			color: $color_suva_gray_approx;
		}
	}
}
.task-status {
	width: 70px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	position: relative;
	right: -10px;
}
.task-meta {
	margin: 0;
	padding: 0 0 20px 0;
	border-bottom: $color_gray_nurse_approx 1px solid;
	.task-date {
		display: block;
		margin-top: 6px;
		font-size: 12px;
		color: $color_monsoon_approx;
		i {
			margin-right: 6px;
		}
		.label {
			margin-bottom: 6px;
			display: inline-block;
			padding: 6px 6px 7px 6px;
		}
		.task-due-date {
			margin-bottom: 4px;
		}
        .task-complete-date {
			margin-bottom: 4px;
		}
        .task-reminder-date {
			margin-bottom: 4px;
		}
	}
}
.task-assignee {
	font-size: 12px;
	> div {
		display: table;
		> div {
			display: table-cell;
			vertical-align: middle;
		}
	}
}
.task-thumb {
	width: 48px;
	height: 48px;
	padding-right: 12px;
	img {
		width: 100%;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 100%;
	}
}
.task-header {
	display: table;
	width: 100%;
	padding: 20px 0;
	.task-title {
		display: table-cell;
		vertical-align: middle;
		h3 {
			margin-top: 0;
		}
		.task-tags {
			display: block;
			margin-top: 10px;
			.label {
				font-size: 12px;
			}
		}
	}
	.task-details-status {
		text-align: right;
		display: table-cell;
		vertical-align: middle;
	}
}
.task {
	.modal-backdrop {
		display: none;
	}
	&.modal-open {
		.task-body {
			overflow: visible;
			z-index: 7000;
		}
		.modal-dialog {
			margin: 60px auto;
		}
	}
}
.task-inner-header {
	border-bottom: $color_gallery_approx 1px solid;
	padding-bottom: 10px;
	margin-top: 20px;
}


.task-comments-content {
    max-height:400px;
    overflow-y: auto;
}
    
.task-comments-list {
	padding: 20px 0;

    .task-comments-meta {
		display: table;
		width: 100%;
		padding-bottom: 10px;
		.task-comment-thumb {
			width: 30px;
			/*display: table-cell;*/
            display: inline-block;
			vertical-align: middle;
            width:2rem;
            height:2rem;
            overflow:hidden;
            border-radius:50%;
			/*img {
				width: 30px;
				height: 30px;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 100%;
			}*/
		}
		.ask-comment-intro {
			/*display: table-cell;*/
            display: inline-block;
			vertical-align: middle;
			padding-left: 10px;
			.poster-name {
				font-weight: 500;
				font-size: 16px;
			}
		}
	}
	.task-user-comments {
		background-color: $color_wild_sand_approx;
		margin-bottom: 10px;
		border: $color_gallery_approx 1px solid;
		padding: 10px;

		border-radius: 4px;
		p {
			margin-bottom: 0;
		}
        
		.attachement-list li {
			padding: 0;
			margin-bottom: 10px;
			.attachment-thumb a {
				background-color: $white;
				&:hover {
					@extend %extend_2;
				}
				&:focus {
					@extend %extend_2;
				}
			}
		}
	}
	.commnet-post-date {
		font-size: 12px;
		color: $color_storm_dust_approx;
		margin-bottom: 6px;
	}
	&:last-child {
		padding-bottom: 0;
	}
	.attachment-action-bar a {
		color: $color_storm_dust_approx;
		padding-right: 6px;
		font-size: 12px;
		&:hover {
			text-decoration: none;
			color: $color_java_approx;
		}
		&:focus {
			text-decoration: none;
			color: $color_java_approx;
		}
	}
}

.event-list-container { 
    max-height:500px;
    overflow-y: auto;
}

.event-list-block {
    padding:10px;
    .cal-day {
        font-size: 30px;
        font-weight: 300;
        text-transform: uppercase;
        color: #fff;
        padding-top: 15px;
        padding-bottom: 30px;
        
        span {
            font-size: 14px;
            display: block;
        }
    }
    
    .event-list {
        padding-left: 0;
        
        li {
            background: rgba(255,255,255,.2);
            padding: 10px 30px 10px 10px;
            color: #fff;
            margin-bottom: 5px;
            border-radius: 3px;
            position: relative;
            list-style: none;
            
            .event-close {
                display: inline-block;
                margin-top: -15px;
                font-size: 20px;
                color: #fff;
                position: absolute;
                right: 4px;
                //top: 8px;
                top: 50%;
                
                &.done {
                    i {
                        color: #359B2E;
                        text-shadow: 0px 1px 0px #fff;
                    }
                }
            }
            
            .event-accept {
                display: inline-block;
                margin-top: -15px;
                font-size: 20px;
                color: #fff;
                position: absolute;
                right: 24px;
                //top: 8px;
                top: 50%;
                
                &.done {
                    i {
                        color: #359B2E;
                        text-shadow: 0px 1px 0px #fff;
                    }
                }
            }
            
            .event-describe {
                font-weight:400;
                font-size:0.8em;
                color: darken($color_grey, 20%);
            }
        }
    }
    
    .event-list-blue {
        padding-left: 0;
        
        li {
            background: rgba($color_grey,.2);
            padding: 10px 30px 10px 10px;
            color: #fff;
            margin-bottom: 5px;
            border-radius: 3px;
            position: relative;
            list-style: none;
            
            .event-close {
                display: inline-block;
                margin-top: -15px;
                font-size: 20px;
                color: #fff;
                position: absolute;
                right: 4px;
                //top: 8px;
                top: 50%;
                
                &.done {
                    i {
                        color: #359B2E;
                        text-shadow: 0px 1px 0px #fff;
                    }
                }
            }
            
            .event-accept {
                display: inline-block;
                margin-top: -15px;
                font-size: 20px;
                color: #fff;
                position: absolute;
                right: 24px;
                //top: 8px;
                top: 50%;
                
                &.done {
                    i {
                        color: #359B2E;
                        text-shadow: 0px 1px 0px #fff;
                    }
                }
            }
            
            .event-describe {
                font-weight:400;
                font-size:0.8em;
                color: darken($color_grey, 20%);
            }
        }
    }

    
    .evnt-input, .evnt-input:focus {
        background: none;
        border: none;
        border-bottom: #fff 1px solid;
        border-radius: 0px;
        color: #fff;
        padding-left: 0px;
        margin-top: 10px;
    }
}

.calendar-block {
    border-radius: 0 5px 5px 0px;
    background: #fff;
    min-height: 474px;
    z-index: 1000;
    
    .cal {
        margin: 30px auto;
        max-width: 600px;
        font-size: 14px;
    }
}

.time-element {
    position: relative;
    width: 100%;
    
    &_H {
        float: left;
        width:40%;
    }
    &_mm {
        float: left;
        width:50%;
    }
    &_divider {
        float: left;
        width:10%;
        text-align:center;
    }
}

#datetimepicker_personal {
    background-color: #fff;
}

.file-manager {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    
    h5 {
        text-transform: uppercase;
    }
    
    .folder-list {
        li {
            border-bottom: 1px solid #e7eaec;
            display: block;
            
            .folder-list li i {
                margin-right: 8px;
                color: #3d4d5d;
            }
            
            a {
                color: #666666;
                display: block;
                padding: 5px 0;
            }
            
            &:hover {
                background-color: rgba($color_purple,0.2);
            }
        }
    }
    
    .category-list  {
        li {
            display: block;
            
            a {
                color: #666666;
                display: block;
                padding: 5px 0;
            }
        }
    }
}

.dropdown-menu > li > a.deleteConfirm,
.dropdown-menu > li > a.gridViewModal {
    clear: both;
    color: #333333;
    display: block;
    font-weight: normal;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
}

.panel-stats-tasks {
    a.icon-edit {
        &:hover {
            i {
                color: $color_green;
            }
        }
    }
    a.icon-delete {
        &:hover {
            i {
                color: $color_red;
            }
        }
    }
}