//colors
/*$color_grey: #3594cb;
$color_grey: #6cbfee;*/
$color_sail_approx: $color_lightgrey;
$color_tiara_approx: #bdd0db;
$white: #fff;
$white_40: rgba(255,255,255,0.4);
$color_shakespeare_approx: $color_leading/*#46a4da*/;

.cbp_tmtimeline {
	margin: 30px 0 0;
	padding: 0;
	list-style: none;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		width: 10px;
		background: $color_sail_approx;
		left: 20%;
		margin-left: -10px;
	}
	> li {
		position: relative;
		.cbp_tmtime {
			display: block;
			width: 25%;
			padding-right: 120px;
			position: absolute;
			span {
				display: block;
				text-align: right;
				&:first-child {
					font-size: 1em;
					color: $color_grey;
				}
				&:last-child {
					font-size: 1.9em;
					color: $color_tiara_approx;
				}
			}
		}
		/*&:nth-child(odd) {
			.cbp_tmlabel {
				background: $color_grey;
				&:after {
					border-right-color: $color_grey;
				}
			}
			.cbp_tmtime span:last-child {
				color: $color_grey;
			}
		}*/
		.cbp_tmlabel {
			margin: 0 0 15px 25%;
			background: rgba($color_grey,0.1);
			color: $color_grey;
			padding: 1em;
			font-size: 1em;
			font-weight: 300;
			line-height: 1.2;
			position: relative;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 5px;
			ol {
				li {
					list-style-type: normal;
					word-wrap: break-word;
					a{ 
						color:darken($color_purple,20%);
					}
					
				}
			}
			p {
                font-size:0.8em;
				color:rgba($color_grey,0.8);
				font-weight:400;
				 word-wrap: break-word;
            }
            h2 {
				font-size:1em;
                margin-top: 0;
				padding: 0 0 10px 0;
				border-bottom: 1px solid rgba($color_grey,0.3);
				position:relative;
				
				figure {
					background-color: #ccc;
					border: 1px solid $color_grey;
					border-radius: 50%;
					height: 3rem;
					overflow: hidden;
					width: 3rem;
					float:left;
				}
				
				a {
					font-size:0.8em;
				}
				
				&:after {
					clear:both;
				}
			}
            
            .desc {
                ul {
                    list-style-type: square;
                    
                    li {
                        list-style-type: square !important;
                        .old {
                            text-decoration: line-through; color:red;
                        }
                        .new {
                            font-weight:600;
                        }
                    }
                }
            }
    
			&:after {
				right: 100%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-right-color: rgba($color_grey,0.1);
				border-width: 10px;
				top: 10px;
			}
		}
		.cbp_tmicon {
			width: 40px;
			height: 40px;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			font-size: 1.4em;
			line-height: 40px;
			position: absolute;
			color: $white;
			background: $color_shakespeare_approx;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 50%;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 0 0 0 8px $color_sail_approx;
			text-align: center;
			left: 20%;
			top: 0;
			margin: 0 0 0 -25px;
		}
	}
}
@media screen and(max-width: 65.375em) {
	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 1.5em;
	}
}
@media screen and(max-width: 47.2em) {
	.cbp_tmtimeline {
		&:before {
			display: none;
		}
		> li {
			.cbp_tmtime {
				width: 100%;
				position: relative;
				padding: 0 0 20px 0;
				span {
					text-align: left;
				}
			}
			.cbp_tmlabel {
				margin: 0 0 30px 0;
				padding: 1em;
				font-weight: 400;
				font-size: 95%;
				&:after {
					right: auto;
					left: 20px;
					border-right-color: transparent;
					border-bottom-color: rgba($color_grey,0.1);
					top: -19px;
				}
			}
			.cbp_tmicon {
				position: relative;
				float: right;
				left: auto;
				margin: -55px 5px 0 0;
			}
			/*&:nth-child(odd) .cbp_tmlabel:after {
				border-right-color: transparent;
				border-bottom-color: $color_grey;
			}*/
		}
	}
}
