

.todo-tasks {

   .list {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
        .list-title {
            background: $color_dark;
            color: $white;
            text-transform: uppercase;
            padding: 10px;
            font-size: 1.2em;
            
            a { 
                color: $color_yellow;
                margin-right:5px;
                
                i {
                    color: $color_yellow;
                    font-size:1.4em;
                }
            }
        }
        .list-add {
            width: 100%;
            display: flex;
            input {
                background: rgba($color_grey,0.15);
                color: darken($color_grey,5%);
                font-size: 1.2em;
                padding: 6px 10px;
                border: none;
                width: calc(100% - 36px);
                outline: none;
            }
            button {
                width: 36px;
                background: $color_green;
                color: $white !important;
                font-size: 1.3em;
                padding: 6px 10px;
                border: none;
                outline: none;
                cursor: pointer;
                transition: all 0.3s;
                &:hover {
                    background: rgba($color_green,0.7);
                }
            }
        }
        .list-body {
            background: $white;

            .todo-list {
                margin: 0;
                padding: 0;
                background: $white;
                
                .todo-short {
                    list-style: none;
                    padding: 16px 18px;
                    display: flex;
                    position: relative;
                    background: $white;
                    &:hover {
                        background: rgba($color_grey,0.2);
                    }
                    p {
                        text-align: left;
                        color: $color_dark;
                        font-size: 1.1em;
                        font-weight: 400;
                        margin: 1px 0 0 0;
                        width: 100%;
                        padding-left: 10px;
                    }
                    span {
                        font-weight: bold;
                    }

                    &.completed {
                        p {
                            color: $color_green;
                            
                            a {
                                color: $color_green;
                            }
                        }
                    }
                }
                
                .todo-normal {
                    list-style: none;
                    padding: 16px 18px;
                    display: flex;
                    position: relative;
                    background: $white;

                    &:hover {
                        background: rgba($color_grey,0.2);
                    }

                    p {
                        text-align: left;
                        color: $color_grey;
                        font-size: 1.2em;
                        font-weight: 600;
                        margin: 1px 0 0 0;
                        width: 100%;
                        padding-left: 10px;
                        
                        .todo-normal-time {
                            font-weight: 400;
                            font-size: 0.8em;
                            color: $color_purple;
                        }
                    }

                    .fa {
                        padding-right: 5px;
                    }
                    
                }
            }
        }
    }
    
    .completed p{
        text-decoration: line-through;
        color: $color_green;
        
        a {
            color: $color_green;
        }
    }

    .close {
        width: 20px;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        color: $color_grey;
        font-size: 18px;
        padding: 4px;
        opacity: 0.6;
        transition: all 0.3s;

        &:hover {
            color: $color_dark;
        }

        .fa {
            color: $color_grey;
            transition: color 0.3s ease;

            &:hover {
                color: $color_dark;
            }
        }
    }

    .checkbox {
        width: 14px;
        height: 14px;
        cursor: pointer;
        border: 3px solid $color_grey;
        border-radius: 4px;
        position: absolute;
        top: 10px;
        left: 20px;
        transition: all 0.3s;
        &:hover {
          border: 3px solid $color_green;
        }
    }

    input[type=checkbox] {
      visibility: hidden;
      width: 14px;
      height: 14px;
        &:checked + .checkbox{
          border: 3px solid $color_green;
          background: $color_green;
        }
    }

}

.view-date {
    display: block;
    padding: 8px 0;
    
    .md-subheader {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: .010em;
        line-height: 1.2em;
        
        .md-subheader-inner {
            display: block;
        }
        
        .md-subheader-content {
            display: block;
            z-index: 1;
            position: relative;
        }
    }
    
    .view-date-item {
        height: auto;
        min-height: 72px;
    }
    
    .secondary-text {
        color: rgba(0,0,0,0.54);
        font-size:2em;
    }
}

/* calendar */
.fc-day-grid-event {
    color: #F7F7F7 !important;
}
