.tooltip {
	z-index:10001;
	position:absolute;
	
	&-inner {
		background-color: $color_dark;
		padding: 6px 12px;
	}
}

.tooltipevent {
	width:130px;
	height:100px;
	background:#aed0ea;
	position:absolute;
	z-index:10001;
}