.view-window {
    clear: both;
    margin-bottom: 1.875rem;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
	
	&::after, &::before {
		display: table;
	}
	
	&-title {
		padding: 1.5rem 1.5rem;
        margin-bottom: 0;
        background-color: #FFFFFF;
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);
        
        &::first-child {
            border-radius: -webkit-calc(0.25rem - 1px) -webkit-calc(0.25rem - 1px) 0 0;
            border-radius: -moz-calc(0.25rem - 1px) -moz-calc(0.25rem - 1px) 0 0;
            border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
        }
		
		h5 {
			display: inline-block;
			float: left;
			font-size: 1.12rem;
			margin: 0 0 7px;
			padding: 0;
			text-overflow: ellipsis;
			color: rgb(153,156,158);
            font-weight: 500;
            letter-spacing: 0.05rem;  
		}
		
		.view-window-tools {
			display: block;
			float: none;
			margin-top: 0;
			padding: 0;
			position: relative;
			text-align: right;
			
			.open > .dropdown-menu {
				left: auto;
				right: 0;
				display:block;
			}
			
			a {
				color: rgb(153,156,158);
				cursor: pointer;
				margin-left: 5px;
			}
			
			.dropdown-menu {
				border: medium none;
				border-radius: 3px;
				box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
				display: none;
				float: left;
				font-size: 12px;
				left: 0;
				list-style: outside none none;
				padding: 0;
				position: absolute;
				text-shadow: none;
				top: 100%;
				z-index: 1000;
			}
			
		}
	}
    &-content {
		@include clearfix();  
		
		background-color: #fff; /*#f9f9f9;*/
		/*border-color: #e7eaec;
		border-image: none;
		border-style: solid solid solid;
		border-width: 1px;*/
		color: inherit;
		padding: 15px 20px 20px;
        font-size:13px;

		@media all and (max-width: 768px) {
			padding: 1em;
		}
        
        ul {
            li {
                list-style-type: none;
            }
        }
        
        .customtab {
            border-bottom: 2px solid #f7fafc;
            margin: -15px -20px 20px;
            background-color: #F8F8F8;
            
            @media all and (max-width: 768px) {
                margin: -1em -1em 10px ;
            }
            
            .nav-link {
                border-left: 0;
                border-top: 0;
                border-right: 0;
                border-bottom: 2px solid #f7fafc;
                color: #f7fafc; 
            }
            
            .nav-item {
                a:focus, a:hover {
                    color: $color_purple;
                    border-left: 0;
                    border-top: 0;
                    border-right: 0;
                    border-bottom: 2px solid $color_purple;
                }
            }
            
            .nav-item.active {
                a {
                    color: $color_purple;
                    border-left: 0;
                    border-top: 0;
                    border-right: 0;
                    border-bottom: 2px solid $color_purple;
                }
            }
        }
	}
}
