//colors
$color_gallery_approx: #eee;
$color_tapa_approx: #777;
$color_boston_blue_approx: #428bca;
$color_fern_approx: #5cb85c;
$color_chestnut_rose_approx: #d9534f;
$color_casablanca_approx: #f0ad4e;
$color_viking_approx: #5bc0de;

.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid $color_gallery_approx;
	border-left-width: 5px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
    font-size:0.9em;
	h4 {
		margin-top: 0;
		margin-bottom: 5px;
        font-size:1.2em;
	}
	code {
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 3px;
	}
	p:last-child {
		margin-bottom: 0;
	}
	+ .bs-callout {
		margin-top: -5px;
	}
}
.bs-callout-default {
	border-left-color: $color_tapa_approx;
	h4 {
		color: $color_tapa_approx;
	}
}
.bs-callout-primary {
	border-left-color: $color_boston_blue_approx;
	h4 {
		color: $color_boston_blue_approx;
	}
}
.bs-callout-success {
	border-left-color: $color_fern_approx;
	h4 {
		color: $color_fern_approx;
	}
}
.bs-callout-danger {
	border-left-color: $color_chestnut_rose_approx;
	h4 {
		color: $color_chestnut_rose_approx;
	}
}
.bs-callout-warning {
	border-left-color: $color_casablanca_approx;
	h4 {
		color: $color_casablanca_approx;
	}
}
.bs-callout-info {
	border-left-color: $color_viking_approx;
	h4 {
		color: $color_viking_approx;
	}
}

.bs-callout {
    @each $color, $color_code in $color-list {
        &-#{$color} {            
            border-left-color: $color_code;
            h4 {
                color: $color_code;
            }
            
            p {
                i {
                    color: rgba($color_code, 0.5);
                }
                span.divider {
                    padding: 0 4px;
                    color: rgba($color_code, 0.2);
                }
            }
        }
    }
}
