

.l-aside {
    @extend %scrollStyle;

    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;

    width: $navbar-width;
    height: calc(100% - 4rem);

    margin-top: 4rem;
    padding: 0 0 1em 0;
    overflow: auto;

    background-color: $navbar-background-color;
    color: #222;
   
    box-shadow: -1px -2px 4px rgba(0, 0, 0, 0.1);

    will-change: transform;
    transition: transform $standard-transition;

    &--hide {
        transform: translateX( $navbar-width+5 );

        * {
            pointer-events: none;
        }
    }
    
    .with-nav-tabs .tab-pane {
        padding: 0;
    }
    
    .todo-tasks .list .list-body ul li {
        padding: 12px 10px;
    }
    
    .todo-tasks .checkbox {
        top: 12px;
        left: 10px;
    }
    
    .todo-tasks .close {
        margin-right: -10px;
        padding: 3px;
        opacity: 0.6;
    }
}