/** Header **/


.l-header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;

    display: flex;
    justify-content: center;
    //flex-direction: column;
    flex-flow: row nowrap;

    align-items: center;
    align-self: stretch;

    height: 4rem;
    width: calc( 100% - #{$navbar-width});

    margin-left: ($navbar-width)+px;
    padding: 0;

    background-color: $header-background-color;

    box-shadow: -4px 2px 4px rgba(0, 0, 0, 0.1);

    @media all and (max-width: 567px) {
        width: 100%;
        z-index: 100;
    }

    &__avatar {
        display: block;
        width: 3rem;
        height: 3rem;
        margin: 0.5rem;
        overflow: hidden;
        border-radius: 50%;
        background-color: #ccc;
        
        img {
            height: 3rem !important;
        }
    }

    &__avatar-name {
        display: inline-block;
        padding: 0.75em 0;
    }

    &__company-logo {
        margin: 0 0 0 1em;
        padding: 1em;
        border-left: 1px solid rgba(0,0,0,0.3);
    }

    &__settings {
        font-size: 1.1rem;
        padding: 1.05em 1em;
        opacity: 1;
        color: $header-font-icon-color;

        transition: transform $standard-transition, opacity $standard-transition;

        &:hover {
            transform: rotate(360deg);
            opacity: 0.7;
        }

        &:focus {
            outline: 0;
        }
    }

    .dropdown {
        transition: background-color $standard-transition;

        &__toggle {
            position: relative;
            display: inline-block;
            padding: 1.05em 1em;
            font-size: 1.1rem;
            color: $header-font-icon-color;

            .label {
                position: absolute;
                top: 10px;
                right: 5px;
                display: block;
                height: 15px;
                width: auto;
                min-width: 15px;
                padding: 2px 5px;
                font-size: 10px;
                font-weight: normal;
                text-align: center;
                will-change: transform;
                transition: transform $standard-transition;
            }
        }

        &-menu {
            margin: 0;
            padding: 0;
            border-radius: 0;
            border: none;
            min-width: 250px;

            &.pull-right {
                @media screen and (max-width: 500px) {
                    min-width: 200px;
                    right: -70px;
                }
            }

            .list-icon {
                color: $header-dropdown-header-font-color;
                font-size: 0.9em;
            }
            
            li {
                .item-icon {
                    margin-right: 5px;
                }
            }
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);

            .label {
                transform: translateY(-4px);
            }
        }

        &.open {
            background-color: rgba(255, 255, 255, 0.6);
        }
    }
}