/** Main content **/

.l-main--0 {
    padding: 0 !important;
}

.l-main {
    display: inline-block;

    margin-left: $navbar-width;
    margin-top: 4rem;
	min-height: calc(100vh - 4rem);

    padding: 2em;
    flex-grow: 1;
    flex: 1;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    /*z-index: 1;*/
    background-color: $main-background-color;
    will-change: margin;
    transition: margin $standard-transition;

    @media all and (max-width: 1024px) {
        margin-left: 0;
    }

    @media all and (max-width: 768px) {
        padding: 1em;
    }

    &--full {
        margin-left: 0;
    }
    
    a:not(.btn) {
        color: $logo-color;
        
        &:hover {
            text-decoration: underline;
            color: lighten($logo-color,10%);
        }
    }
    
    /*.btn {
        color: #fff;
    }*/
}

.modalContent {
    .grid > [class*="col-"] {
        margin-bottom: 2px !important;
    }
}

.padding-10 {
    padding: 10px;
}

.fc-day-grid-event {
	padding: 2px 1px !important;
}