/** Navbar **/

/**
*
* Top navigation
*
**/

.l-navbar {
    @extend %scrollStyle;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;

    width: $navbar-width;
    height: calc(100% - 4rem);

    margin-top: 4rem;
    padding: 0 0 1em 0;
    overflow: auto;

    background-color: $navbar-background-color;
    color: #222;
   
    /*box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.1);*/
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #E4E7ED;
    
    will-change: transform;
    transition: transform $standard-transition;

    &--hide {
        transform: translateX(-($navbar-width+5));

        * {
            pointer-events: none;
        }
    }

    &__menu {
        padding: 0;
        font-size:1.1em;

        &__icons {
            position: absolute;
            right: 8px;
            top: 11px;
       
            .btn {
                /*border-radius: 0 !important;*/
                 -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
                box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
                
                &:hover {
                    -webkit-box-shadow: none !important;
                    -moz-box-shadow: none !important;
                    box-shadow: none !important;
                }
            }
        }

        > li {
            position: relative;
        }
    }

    &__sub-menu {
        padding-left: 1.5rem;
        background-color: #f9f9f9;
        font-size:0.9em;
        
        a {
            color: $colorDarkOlive !important;
        }

        &--close {
            display: none;
        }
        
        &__icons {
            position: absolute;
            right: 8px;
            top: 5px;
            
            .btn {
                /*border-radius: 0 !important;*/
                 -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
                box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
                
                &:hover {
                    -webkit-box-shadow: none !important;
                    -moz-box-shadow: none !important;
                    box-shadow: none !important;
                }
            }
        }

        > li {
            list-style-type: none;
            position:relative;

            > a {
                display: block;
                padding: 0.5em 0.7em;
                background-color: $navbar-item-background-color;
                color: $navbar-font-color;
                font-size: $navbar-font-size;
                font-weight: ($navbar-font-weight - 200);
                transition: color $standard-transition, background-color $standard-transition;

                &:hover {
                    background-color: rgba(#000, 0.1);
                    color: $navbar-font-color-hover;

                    .sub-icon {
                        fill: $navbar-font-color-hover;
                    }
                }

                &.active {
                    /*background-color: rgba($colorDarkOlive,0.5);*/
                    color: $colorDarkOlive;
                    font-weight:600;
                    /*border-left: 3px solid $colorDarkOlive;*/
                }
            }
        }
    }
    
    &__caption {
        background-color: $colorBeige;
        color: $colorBeigeDark !important;
        padding: 5px;
        font-weight: 400;
        font-size:1.3em;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
    }

    &__item {
        list-style-type: none;
        color: $navbar-font-color;
    }

    &__link {
        display: block;
        padding: 10px 30px 10px 14px;
        background-color: $navbar-item-background-color;
        color: $navbar-font-color;
        font-weight: $navbar-font-weight;
        font-size: $navbar-font-size;
        transition: color $standard-transition, background-color $standard-transition;
        border-left: 4px solid transparent;

        &:hover {
            background-color: rgba($colorDarkOlive, 0.1);
            color: $colorDarkOlive;

            .sub-icon {
                fill: $colorDarkOlive;
            }
        }

        &.active {
            background-color: rgba($colorDarkOlive, 0.25);
            color:  $colorDarkOlive;
            border-left: 4px solid $colorDarkOlive;
        }

        &--sub {
            .sub-icon {
                float: right;
                transition: fill $standard-transition, transform $standard-transition;
            }

            &.open {
                border-color: rgba($colorDarkOlive, 0.8);
                .sub-icon {
                    transform: rotate(90deg);
                }
            }
        }
        
        i {
            margin-right: 12px;
            margin-top: 3px;
            opacity: 0.6;
            font-size:1.3em;
        }
    }

    /*&__btn {
        display: block;
        width: calc(100% - 40px);
        margin: 0.25em 20px 1em 20px;
    }

    &__title {
        position: relative;
        display: block;
        margin: 0.5em 0;
        padding: 0.25em 20px;
        font-weight: 400;
        font-size: 1.5em;
        color: #222;
        

        &:after {
            content: ' ';
            position: absolute;
            bottom: 0;
            left: 20px;
            display: block;
            width: calc(100% - 40px);
            height: 1px;
            background-color: rgba(255,255,255, 0.2);
        }
    }
    */
}