@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,700i');

@font-face {
	font-family: 'Josefin Sans';
	src: url('../fonts/JosefinSans.eot');
	src: url('../fonts/JosefinSans.eot?#iefix') format('embedded-opentype'),
		url('../fonts/JosefinSans.woff2') format('woff2'),
		url('../fonts/JosefinSans.woff') format('woff'),
		url('../fonts/JosefinSans.ttf') format('truetype'),
		url('../fonts/JosefinSans.svg#JosefinSans') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Josefin Sans';
	src: url('../fonts/JosefinSans-SemiBold.eot');
	src: url('../fonts/JosefinSans-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/JosefinSans-SemiBold.woff2') format('woff2'),
		url('../fonts/JosefinSans-SemiBold.woff') format('woff'),
		url('../fonts/JosefinSans-SemiBold.ttf') format('truetype'),
		url('../fonts/JosefinSans-SemiBold.svg#JosefinSans-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Josefin Sans';
	src: url('../fonts/JosefinSans-Light.eot');
	src: url('../fonts/JosefinSans-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/JosefinSans-Light.woff2') format('woff2'),
		url('../fonts/JosefinSans-Light.woff') format('woff'),
		url('../fonts/JosefinSans-Light.ttf') format('truetype'),
		url('../fonts/JosefinSans-Light.svg#JosefinSans-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Josefin Sans';
	src: url('../fonts/JosefinSans-BoldItalic.eot');
	src: url('../fonts/JosefinSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/JosefinSans-BoldItalic.woff2') format('woff2'),
		url('../fonts/JosefinSans-BoldItalic.woff') format('woff'),
		url('../fonts/JosefinSans-BoldItalic.ttf') format('truetype'),
		url('../fonts/JosefinSans-BoldItalic.svg#JosefinSans-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}
