

.aside-page {
    position: fixed;
    top: 0;
    right: -1000px;

    width: 1000px;
    height: 100%;
    text-align: center;
    overflow: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

    text-align: left;
    overflow: visible;

    @media screen and (min-width: 769px) and (max-width: 1024px) {
        width: 768px;
        right: -768px;
    }

    @media screen and (min-width: 200px) and (max-width: 768px) {
        width: 100%;
        max-width: 100%;
        right: -100%;
        padding-top: 60px;

        transition: right 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    &--dark-bg {
        color: $colorWhite;
    }
 

    &--show {
        @media screen and (min-width: 200px) and (max-width: 768px) {
            right: 0;
        }
    }

    &__close {
        background-color: transparent;
        display: none;

        @media screen and (min-width: 200px) and (max-width: 768px) {
            display: block;
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
    }

    &__show-more {
        letter-spacing: rem(2px);
        color: $colorMidGold;
        transition: color 0.3s ease;

        @media screen and (min-width: 1025px) {
            display: none;
        }

        @media screen and (min-width: 421px) and (max-width: 1024px) {
            text-align: right;
        }

        &:hover {
            color: $colorDarkGray;
        }
    }

    &__btn {
        position: absolute;
        top: 50%;
        right: 0;
        display: block;
        
        font: {
            size: 10px;
            weight: 600;
        }
        letter-spacing: rem(2px);
        color: $colorGold;
        background-color: transparent;
        transform: translateX(22px) rotate(-90deg);

        @media screen and (min-width: 200px) and (max-width: 768px) {
            display: none;
        }

        &:after {
            content: ' ';
            position: absolute;
            right: 50%;
            margin-right: -5px;
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 15px 10px 0;
            border-color: transparent $colorGold transparent transparent;
            transform: rotate(90deg);

            transition: all 0.3s ease;
        }

        &-show {
            display: inline;
        }

        &-hide {
            display: none;
        }

        &--hide {
            right: auto;
            left: 0;

            padding: 30px 0 0 0;
            transform: translateX(12px) rotate(-90deg);

            &:after {
                bottom: 39px;
                transform: rotate(135deg);

                border-width: 0 20px 20px 0;
                border-color: transparent $colorWhite transparent transparent;
            }
        }
    }

    > .block {
        &:first-child {
            @media screen and (min-width: 769px) {
                padding-top: 74px;
            }
        }
    }

    &.bg-lightBlue {
        .aside-page__btn {
            color: #fff;
            
            &:after {
                border-color: transparent #fff transparent transparent;
            }
        }
    }
}
