

.bg {
    @each $color, $color_code in $bgColors {
        &-#{$color} {
            background-color: $color_code;
        }
    }

    &-light-gold-gradient {
        background-image: linear-gradient(-202deg, rgba(255,255,255,0) 6%, rgba($colorMidGold,0.35) 100%);
    }

    &-line-pattern {
        background-image: url(../images/line-pattern.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &--for-champage {
        background-image: url(../images/backgrounds/new-champange-list.png);
        background-repeat: no-repeat;

        @media all and (max-width: 1024px) {
            background-size: cover;
        }
    }

    &--brown-mask {
        background-image: url(../images/backgrounds/brown-mask.png);
        background-repeat: no-repeat;
    }

    &--white-with-red-lines {
        background-image: url(../images/backgrounds/landing-page-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
