

.block {
    display: block;
    width: 100%;
    margin: 0;

    @media screen and (min-width: 200px) and (max-width: 1024px) {
        font-size: rem(16px);
    }

    &--narrow { 
        padding: 1rem 15%;

        @media screen and (min-width: 200px) and (max-width: 1024px) {
            padding: 1rem 15px;
        }
    }

    &--bottom {
        margin-top: auto;
        width: 100%;
        align-self: flex-end;
        flex-shrink: 0;
        overflow: hidden;

        @media screen and (min-width: 200px) and (max-width: 1024px) {
            margin-bottom: 2em;
        }

        .btn {
            margin: 1em 0;
        }
    }

    &--middle {
        margin-top: auto;
    }

    &--overflow {
        overflow-x: hidden;
        overflow-y: auto;
    }

    &--column {
        display: flex;
        flex-flow: column nowrap;
    }
}