/**
*
* Content (text stylisation connected to CMS WYSIWYG editor)
*
**/
.content {

    &--narrow {
        max-width: 600px;
    }

    p,
    li,
    td {
        font-size: rem(18px);
        line-height: rem(26px);
        font-weight: 400;

        @media screen and (min-width: 1025px) and (max-width: 1500px) {
            font-size: rem(16px);
        }

    }

    .content__small-text {
        font-size: .852em;
    }

    .content__large-text {
        font-size: 1.4em;
    }

    p:not(:last-child) {
        margin: 0;
        padding-bottom: 1.5em;
    }

    ul:not(:last-child),
    ol:not(:last-child) {
        padding-bottom: 1em;
    }

    p {
        margin-top: 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    /* uls, ols */
    // ul {
    //     @extend .list-ul;
    // }

    // ol {
    //     @extend .list-ol;
    // }

    // blockquote {
    //     @extend .blockquote;
    // }

    [class*="headline-"] {
        margin-bottom: 20px;
    }

    a {
        &:not([class]) {

            text-decoration: underline;
            color: inherit;
            transition: 0.3 color ease;

            &:hover {
                color: $colorGold;
            }
        }

        &.js-scroll-to:not(.btn) {
            text-decoration: underline;
            color: inherit;
            transition: 0.3 color ease;

            &:hover {
                color: $colorGold;
            }
        }
    }

    > img {
        padding: 1em 0 2em 0;
    }

}