/**
*
* Grid
*
**/

$columns_numbers: (1,2,3,4,5,6,7,8,9,10,11,12);
$columns_names: xs, sm, md, lg;
$iteration: (1/12);
$tmp: '';

$gutters: 0;

$main_container_max_width: 1280;
$narrow_container_max_width: 850;
$large_container_max_width: 1500;

.container {
  margin-right: auto;
  margin-left: auto;

  width: 92%;
  max-width: ($main_container_max_width)+px;

  &--rel {
    position: relative;
  }
}

.container-narrow {
  @extend .container;
  max-width: ($narrow_container_max_width)+px;
}

.container-large {
  @extend .container;
  max-width: ($large_container_max_width)+px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}

.container-fluid-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.container-850 {
  max-width: ($narrow_container_max_width)+px;
  
  &--center {
    margin-left: auto;
    margin-right: auto;
  }
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

// Row with default 15px gutter
$gutter: 15px;
.row {
  margin-left: 0;
  margin-right: 0;

  &.flex {
    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  > [class*="col-"] {
    padding: 0;
  }
}

// @each $gutter in $gutters {
//     .row-g-#{$gutter;} {
//         margin-left: (-$gutter)+px;
//         margin-right: (-$gutter)+px;

//         //depends on styleguide
//         //padding-bottom: ($gutter)+px;

//         @media (max-width: 767px) {
//             margin-left: 0;
//             margin-right: 0;
//         }

//         > [class*="col-"] {
//           padding-left: ($gutter)+px;
//           padding-right: ($gutter)+px;
//           padding-bottom: 20px;
//           //padding-bottom: ($gutter)+px;

//           .pos-center-v--right {
//             padding-right: ($gutter)+px;
//           }

//           @media (max-width: 767px) {
//               padding-left: 0;
//               padding-right: 0;
//               padding-bottom: ($gutter)+px;

//               .pos-center-v--right {
//                 padding-right: 0;
//               }
//           }

//           @media screen and (min-width: 200px) and (max-width: 767px) {
//               &:last-child {
//                   padding-bottom: 0;
//               }
//           }

//         }

//         + .row-g-#{$gutter;} {
//           margin-top: ($gutter * 2)+px;

//           @media (max-width: 767px) {
//             margin-top: ($gutter)+px;
//           }

//         }

//         $tmp: '+ '+(4*$gutter)+px;

//         &.table-view {
//           width: calc(100% #{$tmp});
//           margin-left: (-$gutter)+px;
//           margin-right: (-$gutter)+px;

//           @media all and (max-width: 767px) {
//             width: 100%;
//             margin-left: 0;
//             margin-right: 0;
//           }
//         }


//         + .row-g-#{$gutter;} {
//           padding-top: ($gutter * 2)+px;

//           @media screen and (min-width: 200px) and (max-width: 767px) {
//             padding-top: ($gutter)+px;
//           }
//         }
//     }
// }

// border on a row (:after fix is used because when whole website is in one container)
// border style to change of course or to comment when it is not needed

.container,
.container--narrow {
  > .row {
    &:after {
      display: block !important;
      margin-left: $gutter;
      margin-right: $gutter;
    }
  }
}

// @each $gutter in $gutters {
//   .container,
//   .container--narrow {
//     > .row-g-#{$gutter;} {
//       &:after {
//         display: block !important;
//         margin-left: ($gutter)+px;
//         margin-right: ($gutter)+px;
//       }
//     }
//   }
// }


// every column default settings
%default-col-style {
  position: relative;
  min-height: 1px;
}

//generate class list comma separated with default settings - example: .class-1, .class-2 etc...
@mixin col-name-number-list {
  @each $name in $columns_names {
    @for $i from 1 through length($columns_numbers) {
      .col-#{$name}-#{$i} { @extend %default-col-style; }
    }
    .col-#{$name}-five { @extend %default-col-style; }
  }
}
@include col-name-number-list;

// /////////////////
//  COL XS STYLE  //
// /////////////////

// every column float setting
%default-float-style {
  float: left;
}

// @mixin col-xs-float-list {
//   @for $j from 1 through length($columns_numbers) {
//     .col-xs-#{$j} { float: left; }
//   }
//   .col-xs-five { float: left; }
// }
// @include col-xs-float-list;


// @each $number in $columns_numbers {
//   .col-xs-#{$number} {
//       width: percentage($iteration * $number);
//   }
// }

.col-xs-12 {
  width: 100%;
}

// /////////////////
//  COL MD STYLE  //
// /////////////////

@mixin col-md-float-list {
  @for $i from 1 through length($columns_numbers) {
    .col-md-#{$i} { float: left; }
  }
  .col-md-five { float: left; }
}

@media (min-width: 992px) {
  @include col-md-float-list;

  @each $number in $columns_numbers {
    .col-md-#{$number} {
        width: percentage($iteration * $number);
    }
  }
}

// /////////////////
//  COL LG STYLE  //
// /////////////////

@mixin col-lg-float-list {
  @for $i from 1 through length($columns_numbers) {
    .col-lg-#{$i} { float: left; }
  }
  .col-lg-five { float: left; }
}

@media (min-width: 1200px) {
  @include col-lg-float-list;

  @each $number in $columns_numbers {
    .col-lg-#{$number} {
        width: percentage($iteration * $number);
    }
  }
}


.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
    content: " ";
    display: table;

    @media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) { display: none; }
}

// @each $gutter in $gutters {
//   .row-g-#{$gutter}:before,
//   .row-g-#{$gutter}:after {
//     content: " ";
//     display: table;

    
//   }
// }


.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
    clear: both;
}

// @each $gutter in $gutters {
//   .row-g-#{$gutter;}:after {
//     clear: both;
//   }
// }

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}