/**
*
* Headlines
*
**/

.headline {
    display: block;
    margin: 0 0 0.25em 0;
    font-weight: 600;

    &-2 {
        @extend .headline;
        font-size: rem(36px);
        letter-spacing: rem(4px);

        @media screen and (min-width: 1025px) and (max-width: 1200px) {
             font-size: rem(30px);
             letter-spacing: rem(3px);
        }

        @media screen and (min-width: 769px) and (max-width: 1024px) {
            font-size: rem(26px);
            letter-spacing: rem(3px);
        }

        @media screen and (min-width: 200px) and (max-width: 768px) {
            font-size: rem(22px);
            letter-spacing: rem(3px);
        }
    }

    &-4 {
        @extend .headline;
        font-size: rem(18px);
        letter-spacing: rem(2.14px);

        @media screen and (min-width: 1025px) and (max-width: 1200px) {
             font-size: rem(16px);
        }
    }

    &-6 {
        @extend .headline;
        font-size: rem(24px);
        font-weight: 400;
        letter-spacing: rem(3px);

        @media screen and (min-width: 769px) and (max-width: 1024px) {
            font-size: rem(18px);
            letter-spacing: rem(2px);
        }

        @media screen and (min-width: 200px) and (max-width: 768px) {
            font-size: rem(14px);
            letter-spacing: rem(2px);
        }
    }

    &-14 {
        @extend .headline;
        @include dynamicFontSize(12, 18, 320, 1920);
        font-family: 'Poppins', sans-serif;
        transition: all 0.25s;
        letter-spacing: 2px;
        font-weight: 500;

        @media all and (max-width: 420px) {
            margin-top: 1em;
        }
    }

    &-19 {
        @extend .headline;
        @include dynamicFontSize(12, 20, 480, 1920);
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        letter-spacing: 2px;
    }

    &-underline {
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid currentColor;
    }
}