/**
*
* Top header
*
**/

.l-header {
    width: 100%;

    &--right-border {
        border-right: 1px solid $colorDarkGray;
    }

    &--fixed {
        position: static;
        top: 0;
        left: 0;
        z-index: 3;
        height: 100%;
        
        min-height: 100vh;

        padding: 150px 80px 74px 80px;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;


        @media screen and (max-width: 1024px) {
            position: static;
            min-height: 10vh;
            height: auto;
            padding: 20px 15px 20px 15px;
        }
    }

    &--product {
        position: fixed;
        height: calc(100vh - 150px - 74px);

        @media screen and (max-width: 1025px) {
            position: relative;
            height: auto;
            min-height: 100vh;
            order: 0;
        }

        @media screen and (max-width: 1024px) and (orientation: portrait) {
            min-height: 400px;
        }

        &.two-third {

            @media screen and (min-width: 1921px) {
                width: 70%;
            }
        }
    }
}




// header
.two-third {
    width: 67%;

    @media screen and (min-width: 1025px) and (max-width: 1400px) {
        width: 50%;
    }

    @media screen and (min-width: 200px) and (max-width: 1024px) {
        width: 100%;
    }
}
// main
.one-third {
    width: 33%;
    margin-left: 67%;

    @media screen and (min-width: 1025px) and (max-width: 1400px) {
        width: 50%;
        margin-left: 50%;
    }

    @media screen and (min-width: 200px) and (max-width: 1024px) {
        width: 100%;
        margin-left: 0;
    }

}
