/**
*
* Top header
*
**/

.l-header {
    width: 100%;

    
    &--mobile-top.one-fourth,
    &--mobile-top.two-third {
        @media screen and (min-width: 200px) and (max-width: 1024px) {
            order: 0;
            margin-top: 74px;
        }

        + .l-main {
            @media screen and (min-width: 200px) and (max-width: 1024px) {
                margin-top: -1px;
            }
        }
    }

    &-bg-img {
        @media all and (max-width: 1024px) {
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    &--right-border {
        border-right: 1px solid $colorDarkGray;
    }

    &--fixed {
        position: static;
        top: 0;
        left: 0;
        z-index: 3;
        height: 100%;
        
        min-height: 100vh;

        padding: 150px 0 74px;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;


        @media screen and (max-width: 1024px) {
            position: static;
            min-height: 10vh;
            height: auto;
            padding: 20px 15px 20px 15px;
        }
    }

    &--product {
        position: fixed;
        height: calc(100vh - 150px - 74px);

        @media screen and (max-width: 768px) {
            position: relative;
            height: auto;
            min-height: 100vh;
            order: 0;
        }

        @media screen and (max-width: 768px) and (orientation: portrait) {
            min-height: 400px;
        }

        .share {
            position: absolute;
            z-index: 2;
            bottom: 1rem;
            right: 50px;

            @media screen and (max-width: 768px) {
                right: 0;
            }
            
            .share-button__label{
                margin-right: 0;
                align-self: flex-end;
                color: $colorBlue;

                @media screen and (max-width: 768px) {
                    right: 15px;
                }

                svg {
                    fill: $colorBlue;
                }

                &:hover {
                    color: $colorMidGold;

                    svg {
                        fill: $colorMidGold;
                    }
                }
            }

        }


        &.two-third {

            @media screen and (min-width: 1921px) {
                width: 70%;
            }

            @media screen and (min-width: 769px) and (max-width: 1024px) {
                width: 67%;
            }
        }

    }

    &__logo {
        width: 55%;
        margin-bottom: 30px;

        &--amp {
            margin: 0 auto 30px;
        }

        @media all and (max-width: 1024px) {
            max-width: 200px;
            align-self: center;
        }
        @media all and (max-width: 420px) {
            max-width: 150px;
            margin-bottom: 0;
        }
    }

    &__label {
        padding: 50px 0;
        width: 100%;

        @media all and (max-width: 1000px) {
            padding: auto;
        }

        &--mt {
            margin-top: -50px;
        }

        &--bg-white {
            background-image: url(../images/backgrounds/white-bg.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            @media all and (max-width: 768px) {
                padding: 10px 0;
            }
        }

        &--brown-mask {
            margin: 0 20px;
            background-image: url(../images/backgrounds/brown-mask.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            &-no-marg {
                margin: 0;
            }

            @media all and (max-width: 768px) {
                padding: 20px 0;
            }
        }
    }
}




// header
.two-third {
    width: 67%;

    @media screen and (min-width: 1025px) and (max-width: 1400px) {
        width: 50%;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
        width: 25%;
    }

    @media screen and (min-width: 200px) and (max-width: 768px) {
        width: 100%;
    }
}
// main
.one-third {
    width: 33%;
    margin-left: 67%;

    @media screen and (min-width: 1025px) and (max-width: 1400px) {
        width: 50%;
        margin-left: 50%;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
        width: 75%;
        margin-left: 25%;
    }

    @media screen and (min-width: 200px) and (max-width: 768px) {
        width: 100%;
        margin-left: 0;
    }

}


.one-fourth {
    width: 25%;

    @media screen and (min-width: 1025px) and (max-width: 1300px) {
        width: 33%;
    }

    @media screen and (min-width: 200px) and (max-width: 1024px) {
        position: static;
        width: 100%;
        order: 0;
    }
}