/**
*
* Headlines
*
**/

.headline {
    display: block;
    margin: 0 0 0.25em 0;
    font-weight: 600;

    &-1 {
        @extend .headline;
        font-size: rem(42px);
        letter-spacing: rem(5px);

        @media screen and (min-width: 1201px) and (max-width: 1500px) {
            font-size: rem(32px);
        }

        @media screen and (min-width: 1025px) and (max-width: 1200px) {
             font-size: rem(36px);
        }

        @media screen and (min-width: 769px) and (max-width: 1024px) {
            font-size: rem(30px);
            letter-spacing: rem(4px);
        }

        @media screen and (min-width: 200px) and (max-width: 768px) {
            font-size: rem(24px);
            letter-spacing: rem(3px);
        }
    }

    &-2 {
        @extend .headline;
        @include dynamicFontSize(22, 36, 480, 1920);
        font-weight: 500;
        letter-spacing: rem(4px);


        @media screen and (max-width: 1200px) {
            letter-spacing: rem(3px);
        }
    }

    &-3 {
        @extend .headline;
        font-size: rem(22px);
        letter-spacing: rem(3px);

        @media screen and (min-width: 1025px) and (max-width: 1200px) {
             font-size: rem(18px);
        }

        @media screen and (min-width: 769px) and (max-width: 1024px) {
            font-size: rem(16px);
            letter-spacing: rem(2px);
        }

        @media screen and (min-width: 200px) and (max-width: 768px) {
            font-size: rem(18px);
            letter-spacing: rem(2px);
        }
    }

    &-4 {
        @extend .headline;
        font-size: rem(18px);
        letter-spacing: rem(2.14px);

        @media screen and (min-width: 1025px) and (max-width: 1200px) {
             font-size: rem(16px);
        }
    }

    &-5 {
        @extend .headline;
        font-size: rem(18px);
        letter-spacing: rem(1.9px);
    }

    
    &-16 {
        @extend .headline;
        @include dynamicFontSize(18, 24, 480, 1920);
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        letter-spacing: 2px;
    }


    &-underline {
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid currentColor;
    }

    &-top-border {
        margin-top: 2rem;
        padding-top: 1rem;
        border-top: 1px solid currentColor;

        &:before,
        &:after {
            display: inline-block;
            content: ' ';
        }
    }

    &-inline {
        display: inline-block;
    }

    &--gradient-text {
        background: linear-gradient( 90deg, #FAE9C2, #D47C73);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #D47C73;
    }
}


@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .headline--gradient-text {
        color: #D47C73;
        background: transparent;
    }
}