/**
*
* Top header
*
**/

.l-header {
    width: 100%;

    &--fixed {
        position: static;
        top: 0;
        left: 0;
        z-index: 3;
        height: 100%;
        
        min-height: 100vh;

        padding: 150px 80px 74px 80px;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;

        @media screen and (max-width: 768px) {
            position: static;
            min-height: 10vh;
            padding: 20px 15px 20px 15px;
        }

        .block-grow {
            width: calc(100% + 80px);
            margin-top: 74px;
            margin-bottom: -74px;

            @media screen and (min-width: 200px) and (max-width: 768px) {
                width: calc(100% + 30px);
                margin: 0 0 0 -15px;
            }
        }
    }

    &--top {
        justify-content: flex-start;
    }

    &--gradient {
        background-image: linear-gradient(202deg, rgba(255,255,255,0) 35%, rgba(171,188,215,0.35) 100%);

        @media screen and (min-width: 200px) and (max-width: 768px) {
            background-image: linear-gradient(202deg, rgba(255, 255, 255, 0) 4%, rgba(171, 188, 215, 0.75) 100%);
        }
    }


    &.half {
        @media screen and (min-width: 200px) and (max-width: 768px) {
            margin-top: 74px;
        }
    }
}
