/*==========  COLORS  ==========*/
// Color helper classes are next to color definitions in _utils.scss

/*==========  GENERIC  ==========*/
.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-upper {text-transform: uppercase;}

.right {float: right;}
.left {float: left;}
.nowrap {white-space: nowrap;}

.dis-block {display: block;}
.single-word {word-spacing: 9999px; }
.underline {text-decoration: underline; }

.small-blue-link {
    font: {
        size: rem(14px);
        weight: 400;
    }
    color: $colorBlue;
    transition: color 0.3s ease;

    &:hover {
        color: $colorDarkGold;
    }
}

.gold-link {
    font: {
        weight: 400;
    }
    color: $colorDarkGold;
    transition: color 0.3s ease;

    &:hover {
        color: $colorBlue;
    }
}

$gapSizes: (0: 0, 5: 0.5, 10: 1, 15: 1.5, 20: 2, 30: 3);

@each $var, $size in $gapSizes {
    $value: #{$size}em;

    /*==========  MARGINS  ==========*/
    .mt--#{$var}em {margin-top: $value}
    .mb--#{$var}em {margin-bottom: $value}
    .ml--#{$var}em {margin-left: $value}
    .mr--#{$var}em {margin-right: $value}

    /*==========  PADDING  ==========*/
    .pt--#{$var}em {padding-top: $value}
    .pb--#{$var}em {padding-bottom: $value}
    .pl--#{$var}em {padding-left: $value}
    .pr--#{$var}em {padding-right: $value}
}
/*========= HIDING =========*/

/*
 * Hide visually and from screen readers:
 */
.hidden {display: none ;} //!important
/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {visibility: hidden;}