.delivery-button {
    display: none;

    &:checked {
        ~ .product-delivery__popup {
            opacity: 1;
            visibility: visible;
            transform: translateY(-90%);

            @media screen and (max-width: 768px) {
                transform: translateY(-50px);
            }
        }
    }

    &__label {
        cursor: pointer;
    }
}


amp-img {
    margin: 2rem 0;
}

.btn--arrow-left {
    svg {
        @supports (-moz-appearance:none) {
            transform: rotate(180deg);
        }
    }
}