/**
*
* Top navigation
*
**/

.l-main {
    margin-top: 74px;

    &--full-height {
        position: fixed;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        height: calc(100% - 74px); // 100% - navbar height

        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: column nowrap;

        overflow: auto;

        @media screen and (max-width: 1024px) {
            position: static;
            height: auto;
        }

        &-sidebar {
            @extend .l-main--full-height;
            height: calc(100% - 74px - 74px); // 100% - navbar height - sharebar height

            @media screen and (max-width: 1024px) {
                position: static;
                height: auto;
            }
        }

        &-all {
            @extend .l-main--full-height;
            margin-top: 0;
            height: 100%;
        }
    }

    &--middle {
        justify-content: center;
    }

    &--block {
        display: block;
    }

    &--product {
        position: relative;
        min-height: calc(100vh - 74px);
        overflow: visible;
        justify-content: center;

        @media screen and (max-width: 1024px) {
            min-height: 1px;
            margin-top: 0 ; 
            z-index: 3;
        }


        &.one-third {
            @media screen and (min-width: 1921px) {
                width: 30%;
                margin-left: 70%;
            }
        }

        > .block {
            &:first-child {
                @media screen and (min-width: 1025px) {
                    padding-top: 0;
                }
            }
        }

        .headline-1 {
            @media screen and (min-width: 1501px) {
                font-size: rem(40px);
            }
        }
    }


    > .block {
        &:first-child {
            @media screen and (min-width: 1025px) {
                padding-top: 74px;
            }
        }

        @media screen and (min-width: 1025px) and (max-width: 1200px) {
            padding: {
                left: 30px;
                right: 30px;
            }
        }
    }
}