/**
*
* Top navigation
*
**/

.l-navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 74px;

    &--white {
        z-index: 2;
        background-color: #fff;

        @media screen and (max-width: 1024px) {
            z-index: 4;
        }
    }

    &--white-strip {

        @media all and (max-width: 1024px) {
            background-color: $colorWhite;
            z-index: 4;
        }
    }

    &__right {
        position: absolute;
        right: 30px;
        top: 30px;
        z-index: 2;
        display: flex;

        @media screen and (max-width: 1024px) {
            top: 25px;
        }
    }

    &__basket {
        display: inline-block;
        margin-right: 40px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        &-items {
            display: inline-block;
            margin-left: 5px;
            font: {
                size: rem(18px);
                weight: 600;
            }
            color: $colorDarkGray;
            letter-spacing: rem(1.8px);
        }
    }
}