
//grid breakpoints
$breakpoints_names: ('sm': 1024px);

//order item count
$order_numbers: (1,2,3,4,5,6);

.order {

    @each $name, $bp_size in $breakpoints_names {
        @media (max-width:  $bp_size) {
            @each $order in $order_numbers {
                &-#{$name}-#{$order} {
                    order: $order;
                }
            }
        }
    }

}