/**
*
* Button
*
**/

.btn {
    position: relative;
    z-index: 1;
    @include inline-block();
    padding: 0.6em 0.85em 0.55em 0.85em;
    font: {
        size: rem(18px);
        weight: 600;
    }
    letter-spacing: rem(2.14px);
    text-align: center;
    color: $colorBlue;
    transition: background 0.2s ease;
    background-color: transparent;

    svg {
        position: relative;
        z-index: 1;
        top: -2px;
        stroke: $colorDarkBlue;
        margin-left: 0.5rem;
        transition: stroke 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    &--border {

        border: 2px solid $colorDarkGold;
        overflow: hidden;
        transition: background-color 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86),
                    color 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

        &:before,
        &:after {
            content: ' ';
            position: absolute;
            z-index: 0;
            width: 100%;
            height: 51%;
            background-color: $colorDarkGold;
            transition: left 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86),
                        right 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        }

        &:before {
            top: 0;
            left: 100%;
        }

        &:after {
            bottom: 0px;
            right: 100%;
        }
        
        &:hover {
            color: #fff;

            &:before {
                left: 0;
            }

            &:after {
                right: 0;
            }

            svg {
                stroke: #fff;
            }
        }
    }

    &--blue {
        color: #fff;
        border: 2px solid $colorBlue;

        &:before,
        &:after {
            background-color: $colorBlue;
        }

        svg {
            stroke: $colorBlue;
        }
    }

    &--gold {
        color: #fff;
        border: 2px solid $colorDarkGold;

        &:before,
        &:after {
            background-color: $colorDarkGold;
        }

        svg {
            stroke: $colorDarkGold;
        }
    }

    &__text {
        position: relative;
        z-index: 2;
        display: inline-block;
        transform: translateY(0);
        transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
}
