/**
*
* Blockquote
*
**/

.blockquote {
    position: relative;
    margin: 5em 0;
    padding: 6px 10px 0 65px;

    &:before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 51px;
        height: 46px;
        background: url(../images/icons/quote-gold.svg) no-repeat center center / 51px auto;
    }

    > p {

        &:not([class]) {
            position: relative;
            padding-bottom: 1rem;
            font-size: rem(16px);
            font-weight: 700;
            font-style: italic;
            line-height: rem(26px);
            letter-spacing: rem(2px);
            color: $colorBlue;
        }
    }

    &--lowercase {
        margin: 3em 0;

        > p {
            &:not([class]) {
                font-size: rem(24px);
                line-height: rem(34px);
                text-transform: none;
            }
        }
    }

    &__footer {
        margin: 20px 0 0 auto;
        text-align: right;
        max-width: 300px;
    }

    &--no-quotes {
        &:after,
        &:before {
            display: none;
        }
    }
}