

.shopping-bag__item-quantity {
    width: rem(52px);
    border: 0;
    pointer-events: none;
    font: {
        size: rem(36px);
        weight: 300;
    }
    color: $colorGold;
    text-align: center;
    background-color: transparent;

    &--input {
        display: inline-block;
        width: 80px;
        margin: 0 10px;
        padding: 4px 10px;
        pointer-events: auto;
        border-radius: 5px;
        border: 1px solid $colorGold;
        text-align: center;
    }
}