

.shopping-bag {
    position: absolute;
    top: 60px;
    right: 0;

    display: block;
    width: 420px;

    background-color: #fff;

    transform: scale(0);
    transform-origin: 257px 0;
    box-shadow: 0;

    transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86),
                box-shadow 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

    @media screen and (max-width: 768px) {
        width: calc(100vw - 30px);
        right: -15px;

        transform-origin: calc(100vw - 60px - 163px) 0;
    }

    &:after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background: #fff;
        transform: rotate(45deg);
        top: -10px;
        right: 163px;
        z-index: -1;
    }


    &__inner-scroll {
        position: relative;
        max-height: calc(100vh - 100px);
        overflow: auto;
        background-color: #fff;
    }

    &__headline {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        margin: 1rem 0;
        padding: 1rem 60px 1rem 1rem;

        font-size: rem(24px);
        font-weight: 600;
        letter-spacing: rem(1px);
        color: $colorGold;

        @media screen and (max-width: 768px) {
            margin: 0.5rem 0;
            font-size: rem(18px);
            letter-spacing: 0;
        }

        span {
            padding-left: 1rem;

            @media screen and (max-width: 768px) {
                padding-left: 0.5rem;
            }
        }
    }

    &__close {
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 2;

        @media screen and (max-width: 768px) {
            top: 15px;
            right: 15px;
        }
    }

    &__list {
        display: block;
    }

    &__item {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        justify-content: flex-start;
        width: 100%;

        padding: 1rem;
        border-bottom: 1px solid rgba($colorMain, 0.3);

        @media screen and (max-width: 768px) {
            padding: 1rem;
        }
        
        @media screen and (max-width: 400px) {
            flex-flow: row wrap;
        }
        
        &-img {
            position: relative;
            width: 80px;
            max-width: 80px;
            flex-basis: 80px;
            margin: 0;
            text-align: center;
            padding-right: 1rem;

            &--large {
                @media all and (min-width: 769px) {
                    width: 160px;
                    max-width: 160px;
                    flex-basis: 160px;
                }

                + .shopping-bag__item-desc {
                    @media all and (min-width: 769px) {
                        width: calc(100% - 160px - 100px);
                        max-width: calc(100% - 160px - 100px);
                        flex-basis: calc(100% - 160px - 100px);
                        padding-bottom: 2rem;
                    }

                    + .shopping-bag__item-summary {
                        @media all and (min-width: 769px) {
                            padding-bottom: 2rem;
                        }
                    }
                }
            }
        }

        &-desc {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-items: stretch;
            padding-right: 10px;

            width: calc(100% - 80px - 100px);
            max-width: calc(100% - 80px - 100px);
            flex-basis: calc(100% - 80px - 100px);

            @media screen and (min-width: 401px) and (max-width: 768px) {
                width: calc(100% - 80px - 80px);
                max-width: calc(100% - 80px - 80px);
                flex-basis: calc(100% - 80px - 80px);
                padding-right: 20px;
            }

            @media screen and (max-width: 400px) {
                width: calc(100% - 80px);
                max-width: calc(100% - 80px);
                flex-basis: calc(100% - 80px);
                padding-right: 0;
            }
        }

        &-name {
            font: {
                size: rem(18px);
                weight: 600;
            }
            color: $colorDarkGray;
            transition: color 0.3s ease;

            &:hover {
                color: $colorGold;
            }
        }

        &-cl {
            font: {
                size: rem(18px);
                weight: 400;
            }
            color: $colorGold;
        }

        &-action {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: stretch;

            font: {
                size: rem(18px);
                weight: 600;
            }

            &--center {
                align-items: center;
                justify-content: center;
            }
        }

        &-remove {
            background-color: transparent;
            padding: 0;
            margin: 0;
            text-decoration: underline;
            color: $colorDarkGray;
        }

        &-summary {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-items: stretch;
            
            width: 100px;
            max-width: 100px;
            flex-basis: 100px;
            text-align: center;

            @media screen and (min-width: 401px) and (max-width: 768px) {
                width: 80px;
                max-width: 80px;
                flex-basis: 80px;
            }

            @media screen and (max-width: 400px) {
                width: 100%;
                max-width: 100%;
                flex-basis: 100%;
                margin-top: 2rem;
            }
        }

        &-change {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;

            button {
                margin: 0;
                padding: 0;
                background-color: transparent;

                svg {
                    fill: $colorGold;
                    transition: fill 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
                }

                &:hover {
                    svg {
                        fill: $colorDarkGray;
                    }
                }
            }
        }

        &-quantity {
            width: rem(52px);
            border: 0;
            pointer-events: none;
            font: {
                size: rem(36px);
                weight: 300;
            }
            color: $colorGold;
            text-align: center;
            background-color: transparent;

            &--input {
                display: inline-block;
                width: 80px;
                margin: 0 10px;
                padding: 0 10px;
                pointer-events: auto;
                border-radius: 5px;
                border: 1px solid $colorGold;
                text-align: center;
            }
        }


            &-name,
            &-cl,
            &-action {

                @media screen and (max-width: 768px) {
                    font: {
                        size: rem(15px);
                    }
                }
            }

            &-quantity {
                @media screen and (max-width: 768px) {
                    width: rem(42px);
                    font: {
                        size: rem(26px);
                    }
                }
            }

    }

    &__summary {
        margin: 1rem;
        padding: 10px;
        background-color: $shoppingBagSummargyBG;
    }

    &__table {
        width: 100%;

        font: {
            size: rem(18px);
            weight: 400;
        }
        color: $colorDarkGray;

        thead {
            th {
                text-align: left;
                color: $colorGold;
            }
        }

        tbody {
            tr {
                td {
                    padding: 1px 0;
                }
            }
        }

        tfoot {
            font-weight: 600;
        }

        &--large {
            margin-bottom: 1rem;

            @media screen and (min-width: 200px) and (max-width: 768px) {
                font-size: 16px;
            }

            thead {
                th {
                    padding-bottom: 0.5rem;
                    font-size: rem(24px);
                    font-weight: 600;
                    letter-spacing: rem(1px);
                    color: $colorGold;

                    @media screen and (min-width: 200px) and (max-width: 768px) {
                        padding-bottom: 0;
                        font-size: rem(14px);
                    }
                }
            }
        }

    }

    &__buttons {
        margin: 1rem;

        .btn {
            margin-top: 1rem;
        }
    }


    &__options {
        padding: 0 1rem 2rem 1rem;
        border-bottom: 1px solid rgba($colorMain, 0.3);
        color: rgba($colorMain, 0.65);

        @media screen and (max-width: 768px) {
            padding: 0 5px 1rem 5px;
        }

        &-row {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.5rem;

            font: {
                size: rem(18px);
                weight: 600;
            }

            @media all and (min-width: 200px) and (max-width: 768px) {
                font-size: rem(14px);
                line-height: 1.7;
            }
        }
    }

    &__continue {
        position: relative;
        display: block;
        padding: 2rem 0 0 0;
        text-align: center;
        color: $colorGold;
        transition: color 0.3s ease;

        @media screen and (min-width: 200px) and (max-width: 768px) {
            padding: 1rem 0 0 0;
            font-size: 14px;
        }

        &:hover {
            color: $colorDarkGray;
        }

        &:before {
            content: ' ';
            position: absolute;
            top: 0;
            left: -32px;

            width: calc(100% + 64px);
            height: 1px;
            background-color: rgba($colorMain, 0.2);

            @media all and (min-width: 1366px) and (max-width: 1700px) {
                width: calc(100% + 32px);
                left: -16px;
            }

            @media screen and (min-width: 200px) and (max-width: 768px) {
                width: calc(100% + 32px);
                left: -16px;
            }
        }
    }

    &__icon {
        @media screen and (min-width: 200px) and (max-width: 768px) {
            height: 32px;
            width: 36px;
        }
    }

    &__left {
        width: 67%;
        float: left;
        padding-right: 2rem;

        @media all and (min-width: 200px) and (max-width: 1600px) {
            width: 100%;
            float: none;
            padding-right: 0;
        }
    }

    &__right {
        margin: 0;
        width: 33%;
        float: left;

        @media all and (min-width: 200px) and (max-width: 1600px) {
            width: 100%;
            float: none;
        }
    }

    &__gift-wrap {
        position: absolute;
        bottom: 16px;
        right: 16px;

        @media screen and (max-width: 768px) {
            bottom: 10px;
            right: 0;
        }

        font: {
            size: rem(18px);
            weight: 600;
        }

        @media screen and (max-width: 768px) {
            font: {
                size: rem(15px);
            }
        }

        .form__checkbox-label {
            position: relative;
            top: 0;
            margin-right: 0;

            &:before {
                margin-left: 12px;
                top: 2px;
            }
        }

        &-helper {
            position: relative;
            top: -4px;

            svg {
                fill: $colorMain;
                transition: opacity 0.3s ease;
            }

            &:hover {
                svg {
                    opacity: 0.6;
                }
            }
        }

        &-popup {
            position: absolute;
            bottom: 40px;
            right: 0;

            opacity: 0;
            visibility: hidden;
            transform: translateY(-20px);

            transition: opacity 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86),
                        visibility 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86),
                        transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

            &--show {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }


    &-wrapper {
        position: relative;
        padding: 0 120px;

        @media screen and (min-width: 200px) and (max-width: 1024px) {
            padding: 0 15px;
        }
    }
}