

.l-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    height: 100%;
    background-color: $colorDarkGray;
    text-align: center;
    overflow: auto;
    transform: translateX(500px) ; 

    display: flex;
    flex-flow: column nowrap;

    transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86),
                right 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

    @media screen and (max-width: 768px) {
        width: 100%;
        transform: translateX(100%) ; 
    }

    &--open {
        transform: translateX(0);
    }

    &__close {
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 2;
        background-color: transparent;
    }

    &__nav {
        margin-top: 120px;
        text-transform: uppercase;

        @media screen and (max-width: 768px) {
            margin-top: 70px;
        }
    }

    &__item {
        position: relative;
        display: block;
        @include clearfix();

        &:after {
            content: ' ';
            position: absolute;
            bottom: -1vh;
            left: 50%;
            display: block;
            height: 1px;
            width: 30px;
            margin-left: -15px;
            background-color: rgba($colorLightBlue, 0.2);
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }

    &__link {
        display: block;
        margin: 1.15vh 0;
        padding: 1.15vh 0;
        font: {
            size: rem(28px);
            weight: normal;
        }
        color: #fff;
        letter-spacing: rem(4px);
        transition: color 0.3s ease;

        @media screen and (max-width: 768px) {
            font-size: rem(22px);
        }

        &:hover {
            color: $colorMidGold;
        }
    }

    &__spacer {
        flex-grow: 1;
    }

    &__footer {
        margin: 1em 0 4em 0;

        @media screen and (max-width: 768px) {
            margin: 1em 0 2em 0;
        }
    }

    &__login {
        display: block;
        margin: 50px 0;
        font: {
            size: (18px);
            weight: 600;
        }
        color: $colorGold;
        letter-spacing: rem(2.14px);
        transition: color 0.3s ease;

        @media screen and (max-width: 768px) {
            margin: 20px 0 50px 0;
            font-size: rem(14px);
        }

        &:hover {
            color: $colorVeryLightGold;
        }
    }

    &__small-link {
        display: block;
        margin: 10px 0;
        font: {
            size: (12px);
            weight: 600;
        }
        color: $colorGold;
        letter-spacing: rem(1.4px);
        transition: color 0.3s ease;

        @media screen and (max-width: 768px) {
            font-size: rem(10px);
        }

        &:hover {
            color: $colorVeryLightGold;
        }
    }
}