
.ts-logo {
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 10;
    display: inline-block;

    &--mob {
        display: none;

        @media all and (max-width: 1024px) {
            display: block;
            top: 7px;
            left: 15px;
        }
    }

    svg {
        width: 80px;
        height: 80px;
        
        @media screen and (max-width: 1024px) {
            width: 60px ; 
            height: 60px ;
        }

        @media screen and (max-height: 700px) {
            width: 60px;
            height: 60px;
        }   
    }

}