/**
*
* Helper
*
**/

.clear {
  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

/*==========  COLORS  ==========*/

.color--red {
  color: $color_red;
}

.color--green {
  color: $color_green;
}

.color--grey {
  color: $color_lightgrey;
}

.color--blue {
  color: $color_blue;
}

.color--orange {
  color: $color_orange;
}

/*==========  GENERIC  ==========*/
.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-justify {
  text-align: justify;
}

/*========= RWD HELPERS =========*/
@media screen and (min-width: 200px) and (max-width: 568px) {
  .hide-on-mobile {
    display: none;
  }
}

@media screen and (min-width: 569px) and (max-width: 767px) {
  .hide-on-sm,
  .hide-on-sm-down {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .hide-on-md,
  .hide-on-md-down {
    display: none;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .hide-on-lg,
  .hide-on-lg-down {
    display: none;
  }
}


.right {
  float: right;
}

.left {
  float: left;
}
