//==========  VARIABLES  ==========

$left-side-width: 220px;
$body-bg: #f5f6f7;
$color-leading: #afe0de;
$color-leading2: #522E91;

/* skin  */
$skin-default-bg: $body-bg;
$skin-default-leading:  $color-leading;

$skin-purple-bg: #E4CEED;
$skin-purple-leading:  #5F007F;

$skin-orange-bg: #FFE0C6;
$skin-orange-leading:  #E86C00;

$skin-red-bg: #FFBCBC;
$skin-red-leading: #C60000;

$skin-blue-bg: #C6DCFF;
$skin-blue-leading: #013BA8;

$skin-green-bg: #C0E8C0;
$skin-green-leading:  #097C09;


$light-blue: #3c8dbc; //Primary
$red: #F44336;        //Danger
$green: #13CE92;      //Success
$aqua: #00BCD4;       //Info
$yellow: #FFEB3B;     //Warning
$amber: #FFC107;
$blue: #2196F3;
$navy:  #001F3F;
$teal:  #009688;
$olive: #3D9970;
$lime:  #01FF70;
$orange:  #FF851B;
$fuchsia: #F012BE;
$purple:  #9C27B0;
$maroon:  #85144B;
$pink: #E91E63;
$black: #222;
$magenta: #E73C68;
$white: #fff;
$grey: #999C9E;
$color_lightgrey: #ededed;
$color_grey: #6f7b8a;
$color_lightbeige: #F9F8F5;

$color_red: red;
$color_green: green;

$color-list: ('white': #fff, 'orange': $orange, 'teal': $teal, 'purple': $purple, 'grey': $grey, 'lightgrey': $color_lightgrey, 'red': $red, 'blue': $blue, 'green': $green, 'yellow': $yellow, 'pink': $pink, 'aqua': $aqua, 'olive': $olive);


//Table striped color
$table-striped-color: #f3f3f3/*#f3f4f5*/;

//Sidebar skins
//skin blue (light) sidebar vars
$sidebar-light-bg: #0072C6/*#367fa9*/;
$sidebar-light-hover-bg: #f3f3f3;
$sidebar-light-font: #fff;
$sidebar-light-border: #dbdbdb;

$screen-header-collapse: 560px; 


$body-background-color: #E8E8E8;
$main-background-color: #E8E8E8;
$header-background-color: #424A55;

$border-radius-base:        4px !default;
$border-radius-large:       6px !default;
$border-radius-small:       3px !default;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

