/**
*
* Fonts
*
**/

/*
*** EXAMPLE ***
@font-face {
    font-family: 'font-name';
    src: url('../fonts/font-file.eot');
    src: url('../fonts/font-file.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font-file.woff2') format('woff2'),
         url('../fonts/font-file.woff') format('woff'),
         url('../fonts/font-file.ttf') format('truetype'),
         url('../fonts/font-file.svg#merriweatherlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
/*@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&subset=latin-ext');*/
@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?w9at2i');
	src:url('/fonts/icomoon.eot?w9at2i#iefix') format('embedded-opentype'),
		url('/fonts/icomoon.ttf?w9at2i') format('truetype'),
		url('/fonts/icomoon.woff?w9at2i') format('woff'),
		url('/fonts/icomoon.svg?w9at2i#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/Open_Sans/OpenSans-Light.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Open_Sans/OpenSans-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/Open_Sans/OpenSans-Semibold.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Open_Sans/OpenSans-Bold.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url(/fonts/Open_Sans/OpenSans-ExtraBold.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/Open_Sans/OpenSans-LightItalic.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/Open_Sans/OpenSans-Italic.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src:  url(/fonts/Open_Sans/OpenSans-SemiboldItalic.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/Open_Sans/OpenSans-BoldItalic.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url(/fonts/Open_Sans/OpenSans-ExtraBoldItalic.woff2) format('woff2');
}
