/**
*
* Global
*
**/

*,
*::before,
*::after {
	box-sizing: border-box;
}


a {
	text-decoration: none;
    /*color: $link-color;*/

	&:hover, &:active, &:focus {
		outline: none;
		text-decoration: none;
		/*color: $link-hover-color;*/
	}
}

/* All images should be responsive */
img {
    max-width: 100% !important;
}

.preload * {
	transition: none !important;
}

ul, ol {
	 list-style-type: none;
}

html, body {
    overflow-x: hidden!important;
    font-family: 'Open Sans', sans-serif;
	font-weight:400;
	/*font-size: 1.0em;*/
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    background: $body-bg;
	color: #767676;
	padding-top: 0 !important;
}

.clear { clear: both;}

.pad {
    padding: 10px;
}
.margin {
    margin: 10px;
}

/* Display inline */
.inline {
    display: inline;
    width: auto;
}


/*Hide elements by display none only*/
.hide {
    display: none !important;
}

.display-block {
    display: block !important;
}

/* Remove borders */
.no-border {
    border: 0px !important;
}
/* Remove padding */
.no-padding {
    padding: 0px !important;
}
/* Remove margins */
.no-margin {
    margin: 0px !important;
}

/* Remove box shadow */
.no-shadow {
    box-shadow: none!important;
}

.align-right {
	text-align: right;
}

.padding-right-10 {
    padding-right: 10px;
}

.preload {
	&:after {
        content: ' ';
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2000;
        display: block;
        width: 100%;
        height: 100%;
        opacity: 1;
        background: url(/images/loading.gif) no-repeat center center rgba(#fff,0.8);
        transition: opacity 0.3s linear;
	}

    &--off {
        &:after {
            opacity: 0;
        }
    }

	 * {
		transition: none !important;
	}
}

