/** Fonts **/

/*
*** EXAMPLE ***
@font-face {
    font-family: 'font-name';
    src: url('../fonts/font-file.eot');
    src: url('../fonts/font-file.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font-file.woff2') format('woff2'),
         url('../fonts/font-file.woff') format('woff'),
         url('../fonts/font-file.ttf') format('truetype'),
         url('../fonts/font-file.svg#merriweatherlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/Montserrat/Montserrat-Light.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Montserrat/Montserrat-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/Montserrat/Montserrat-Semibold.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Montserrat/Montserrat-Bold.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url(/fonts/Montserrat/Montserrat-ExtraBold.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/Montserrat/Montserrat-LightItalic.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/Montserrat/Montserrat-Italic.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src:  url(/fonts/Montserrat/Montserrat-SemiboldItalic.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/Montserrat/Montserrat-BoldItalic.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src: url(/fonts/Montserrat/Montserrat-ExtraBoldItalic.woff2) format('woff2');
}



