/** Global **/

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

html,
body,
button {
	-moz-osx-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

body {
	overflow-x: hidden;
	
	font-family: $main-font-family;
	font-size: 100%;
	font-weight: 300;
	line-height: 1.5;
    font-size:12px;

	color: $main-font-color;
	background-color: $body-background-color;

	/*@media (-webkit-min-device-pixel-ratio: 1) { 
		font-size: 120%;
	}*/
}

a {
	text-decoration: none;

    &:not([class]) {
        color: $main-font-color;
        transition: opacity $standard-transition;

        &:hover {
            opacity: 0.7;
        }
    }
}

.container {
	width: 90%;
	max-width: 1380px;
	margin: 0 auto;
}

.preload * {
	transition: none !important;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.none {
    display: none !important;
}

body.modal-open {
    overflow-y: auto;
    padding-right: 0 !important;
}

.preload * {
	transition: none !important;
}

.preload {
	&:after {
        content: ' ';
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2000;
        display: block;
        width: 100%;
        height: 100%;
        opacity: 1;
        background: url(/images/loading.gif) no-repeat center center rgba(#fff,0.95);
        transition: opacity 0.3s linear;
	}

    &--off {
        &:after {
            opacity: 0;
        }
    }

	 * {
		transition: none !important;
	}
}

.preload-container {
	&:after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2000;
        display: block;
        width: 100%;
        height: 100%;
        opacity: 1;
        background: url(/images/loading.gif) no-repeat center center rgba(#fff,0.8);
        transition: opacity 0.3s linear;
	}

    &--off {
        &:after {
            opacity: 0;
        }
    }

	 * {
		transition: none !important;
	}
}

.form-group {
    label { 
        color: #424A55;
        /*font-weight:600 !important;*/
        font-size: 0.9em;
    }
}

.select2-drop {
    z-index: 99999;
}

.select2-drop-mask {
 z-index: 99998;
}

.disabled {
    display: none;
}

.chosen-container {
    width: 100% !important;
}

.more-content {display:none;}
.visible {display:block;}
.small-text {font-weight:400; font-size:0.75em;}
.cursor-pointer {cursor: pointer;}
.cursor-help {cursor: help;}

.uppercase {
    text-transform: uppercase;
}