/**
*
* Blockquote
*
**/

.blockquote {
    margin: 1em 0;
    padding: 5px 10px 10px 20px;

    > p {
        font-size: 1.25em;
        font-style: italic;

        &:first-child:before,
        &:first-child:after {
            position: absolute;

            font-size: 1.4em;
            color: #999;
        }

       	&:first-child:before {
            content: '\201C';
            margin-top: -4px;
            margin-left: -15px;
        }

        &:last-of-type:after {
            content: '\201D';
            margin-top: -7px;
            margin-right: -4px;
        }

        &:last-of-type {
            margin-bottom: .5em;
        }

        &:last-child:not(:first-child) {
            margin-top: -0.5em;
            font-size: 1em;
        }
    }
}