/**
*
* Breadcrumbs
*
**/

.breadcrumbs {
	clear: both;
	padding: 1em 0;
	color: #999;

	li {
		display: inline-block;

		&:not(:last-child):after {
			content: '/';
			padding: 0 10px;
			color: #dedede;
		}
	}

	a {
		color: $color_yellow;

		&:hover {
			color: #555;
		}
		
		img {
			position: relative;
			top: -4px;
			width: 16px; 
			height: 16px;
		}
	}
}