/**
*
* Button
*
**/

.btn {
	@include inline-block();
	/*padding: .7em 1.5em;
	border-radius: 6px;
	font-family: "Josefin Sans",sans-serif;
	font-weight: 500;
	text-transform: uppercase;*/

	transition: background 0.2s ease;
}

// Size
.btn--big {
	font-size: 1.5em;
}

.btn--full-width {
    display: block;
    text-align:center;
}

.btn--small {
	font-size: .6em;
	padding: .3em .6em !important;
}

// Colour
.btn--red {
	background: $color_red;
	color: #fff;

	&:hover {
		background: #555;
	}
}


.btn--black {
	background: #000;
	color: #fff;

	&:hover {
		background: #666;
	}
}

.btn--white {
	padding: .7em 1.5em;
	background-color: #fff;
	color: #555555;
	border: 1px solid $btn-default-border;
	transition: all 0.2s ease;
	
	&:hover {
		border: 1px solid $brand-primary;
		color: $brand-primary;
	}
	
	.file-icon {
		display: inline-block;
		margin-left: 5px;
	}
	
	.desc-icon {
		position: relative;
		top: -6px;
		transition: all 0.2s ease;
	}
}

.btn-purple {
  @include button-variant(#fff, #CA3BF9, #B100E8);
}

.btn-orange {
  @include button-variant(#fff, #F7A233, #FC8F00);
}
