/**
*
* Content (text stylisation connected to CMS WYSIWYG editor)
*
**/
.content {
	p,
	li,
	td {
		font-size: 1.1em;
		line-height: 1.5;

		@media all and (min-width: 568px) and (max-width: 767px) {
			font-size: 1.2em;
		}

		@media all and (min-width: 400px) and (max-width: 567px) {
			font-size: 1.1em;
		}

		@media all and (max-width: 399px) {
			font-size: 1em;
		}
	}

	.content__small-text {
		font-size: .852em;
	}

	.content__large-text {
		font-size: 1.4em;
	}

	p:not(:last-child) {
		margin: 0;
		padding-bottom: .9em;
	}

	ul:not(:last-child),
	ol:not(:last-child) {
		padding-bottom: 1em;
	}

	p {
		margin-top: 0;

		&:last-child {
			margin-bottom: 0;
		}
	}

	p + ul,
	p + ol {
		margin-top: -.7em !important;
	}

	/* uls, ols */
	ul {
		@extend .list-ul;
	}

	ol {
		@extend .list-ol;
	}

	blockquote {
		@extend .blockquote;
	}
}