/**
*
* Forms
*
**/

.form {

    &-select {
        position: relative;
        width: 100%;
        overflow: hidden;
        border-right: 1px solid #e2e2e4;
        background: url('/images/select-arrow.png') no-repeat center right;
        
        select {
            width: 115%;
            background-color: transparent;

            &:focus {
                box-shadow: none;
                border: 1px solid #e2e2e4;
            }
        }
    }

    /*&-control {
        height: 28px;
        padding: 0 20px 0 2px;
        font-size: 14px;
        line-height: 28px;
        box-shadow: none;
    }*/
}


// General
/*.form__input, 
.form__textarea, 
select, 
.form__select {  
	width: 100%; 
	border-radius: 2px; 
	border: solid 1px #ccc; 
	padding: .3em .5em;
	outline: none;

	&:focus {
		border-color: $color_red
	}
}*/
	
/*.form__select, 
select {
	background: white url(../img/formelements-select.png) no-repeat center right;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}*/

select {
	line-height: 1;
}


// Inputs & textareas
.form__input, 
.form__textarea { 
	background-color: #f5f5f5;
	box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
}
	
.ie9 .form__input {
	line-height:normal;
} /* Get the stuff to line up right */
	
.form__textarea {
	width: 100%;
	min-height: 10em;
}


// Checkbox & Radio inputs
.form__radio,
.form__checkbox {
	position: absolute;
	left: -999em;
}

.form__radio-label,
.form__checkbox-label {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
    position: relative;
    
    &-subcategories {
        &::after {
            clear:both;
        }
        
        position: absolute;
        padding:5px 10px;
        display: none;
        z-index:100;
        background-color:$color_leading;
        color:#fff;
        width:250px;
        /*left:-120px;*/
        label {
            color:#fff;
            font-size:0.8em;
        }
    }
}

.form__radio-label:before,
.form__checkbox-label:before {
	display: inline-block;
	position: relative;
	top: 6px;
	left: -5px;
	content:'';
	width: 25px;
	height: 25px;
	background: url(../images/formelements.png) top left no-repeat;
}

.form__checkbox + .form__checkbox-label:before {
	background-position: 0 -25px;
}

.form__checkbox:checked + .form__checkbox-label:before {
	background-position: 0 0 ;
}

.form__checkbox:checked + .form__checkbox-label:hover {
	.form__checkbox-label-subcategories {
        display: block;
    }
}

.form__radio + .form__radio-label:before {
	background-position: -25px -25px;
}

.form__radio:checked + .form__radio-label:before {
	background-position: -25px 0;
}


// Select list
.form__select {
	overflow:hidden;
	padding:0;
	margin:0;
	//max-width: 600px;

	select {
		width:115%;
		background-color:transparent;
		background-image:none;
		-webkit-appearance: none;
		border:none;
		box-shadow:none;
	}
}

// Select list
.form__select {
	overflow:hidden;
	padding:0;
	margin:0;
	max-width: 600px;

	select {
		width:115%;
		background-color:transparent;
		background-image:none;
		-webkit-appearance: none;
		border:none;
		box-shadow:none;
	}
}


// Label above the field
.form__label {
	display: block;
	width: 100%;
	line-height: 2;
}


.form__row {
	display: table;
	width: 100%;
	clear:both;
	padding: 6px 0;

	&__left,
	&__right {
		display: table-cell;
		vertical-align: top;
	}

	&__left {
		width: 200px;
	}

	&__right {
		width: 70%;
	}
}



.form__response {
	border-radius: 5px;

	&--ok {
		background: $color_green;
	}

	&--error {
		background: $color_red;
	}

	p {
		padding: 10px;

		font-size: 1em !important;
		color: #fff;
		text-shadow: none;
	}
}

#contact-mail {
	display: none;
}

// mixin
@mixin vh() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

form ul {
  list-style: none;
}

label {
	cursor: pointer;
    display: inline-block;
	font-weight: normal !important;
	color: #777777;
}

// custom checkbox/radios
$inputHeight: 14px;
$inputWidth: 14px;
$inputBorderWidth: 2px;
$inputActiveScale: 4px; // optimized for even numbers

.custom-inputs {
	
	.margin-30 {
		margin-top:30px;
	}
	input[type="checkbox"],
	input[type="radio"] {
		@include vh();

		&:focus,
		&:hover {
			+ label {
				&:before {
					border-color: black;
				}
			}
		}
	  
	  &:active {
		+ label {
				&:before {
					transition-duration: 0;
			filter: brightness(0.2); 
				}
			}
		
	  }

		+ label {
			position: relative;
			padding: 2px 5px 5px 1.4em;
			margin-bottom: 0;
			vertical-align: middle;
			user-select: none;

			&:before {
				content: '';
				color: $color-leading;
				position: absolute;
				top: 50%;
				left: 0;
				width: $inputWidth;
				height: $inputHeight;
				margin-top: -($inputHeight/2 + $inputBorderWidth);
				border: $inputBorderWidth solid grey;
				//font-size: 18px;
				text-align: center;
			}
			&:after {
				content: '';
				background-color: $color-leading;
				position: absolute;
				top: 50%;
				left: $inputBorderWidth + $inputActiveScale/2;
				width: $inputWidth - $inputActiveScale;
				height: $inputHeight -$inputActiveScale;
				margin-top: -(($inputHeight - $inputActiveScale)/2);
				transform: scale(0);
				transform-origin: 50%;
				transition: transform 200ms ease-out;
			}
		}
	}

	input[type="checkbox"]{
		+ label {
				&:after {

					background-color: transparent;
					top: 50%;
					left: 4px;
					width: 8px;
					height: 3px;
					margin-top: -4px;
					border-style: solid;
					border-color: $color-leading;
					border-width: 0 0 2px 2px;
					border-image: none;
					transform: rotate(-45deg) scale(0);
					transition: none;
				}
		}
		&:checked {

			+ label {
				&:after {
					content: ''; //\2713';

					transform: rotate(-45deg) scale(1);
					transition: transform 200ms ease-out;
				}
			}
		}
	}

	input[type="radio"] {
		&:checked {
			+ label {
				&:before {
					animation: borderscale 300ms ease-in;
					background-color: white;
				}
				&:after {
					transform: scale(1);
				}
			}
		}
		+ label {
			&:before,
			 &:after {
				border-radius: 50%;
			}
		}
	}

	input[type="checkbox"]{
		&:checked {
			+ label {
				&:before {
					animation: borderscale 200ms ease-in;
				}
				&:after {
					transform: rotate(-45deg) scale(1);
				}
			}
		}
	}
}
/* end custom inpust */

@keyframes borderscale {
	50% {
		box-shadow: 0 0 0 2px $color-leading;
	}
}

.fileUpload {
    position: relative;
    overflow: hidden;
    /*margin: 21px;*/
    
    label {
        margin-bottom: 0 !important;
    }
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
