/**
*
* Headlines
*
**/

.headline-1,
.headline-2,
.headline-3,
.headline-4 {
	display: block;
	margin: 0 0 .5em;
	font-weight: 600;
	//font-family: 'Josefin Sans', sans-serif;
	line-height: 1.3;

	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.10);
}

.headline-1 {
	font-size: 2.5em;
}

.headline-2 {
	font-size: 2em;
}

.headline-3 {
	font-size: 2.5em;
}

.headline-4 {
	font-size: 1.0em;
}


.headline-border {
	border-bottom: 1px solid #F5F5F5;
	margin-bottom: 0.75em;

	span {
		border-bottom: 3px solid $color_blue;
	}
}
