/**
*
* List
*
**/

// General
ul,
ol {
	padding: 0;
	margin: 0;
}

ul,
.list-ol {
	list-style-type: none;
}

.list-ul,
.list-ol {
	padding-top: 0.7em;
	padding-bottom: 0.7em;

	li {
		padding: 1px 0 1px 0;
		position: relative;
		margin-bottom: 2px;

		&:before {
			position: absolute;
			overflow: hidden;
			display: block;
		}

		&:last-child {
			padding-bottom: 0;
		}
	}
}

// Unordered list
.list-ul {
	padding-left: 30px;

	li {
		&:before {
			top: .2em;
			left: -30px;

			width: 22px;
			height: 22px;
		}
	}
}

// Ordered list
.list-ol {
	counter-reset: item;
	padding-left: 30px;

	li {
		&:before {
			left: -30px;

			width: 25px;
			content: counters(item, ".") ". ";
			counter-increment: item;

			text-align: center;
			line-height: 1.5;
		}
	}
}


// Other settings
.list-2-cols,
.list-3-cols {
	li {
		display: inline-block;
		vertical-align: top;
	}
}

.list-2-cols {
	li {
		width: 48%;

		&:nth-child(2n) {
			width: 49%;
			margin-left: 55px;
			margin-right: -55px;
		}

		&:nth-child(2n+1) {
			clear:both;
		}
	}


	@media screen and (min-width: 200px) and (max-width: 800px) {
		li {
			width: 100%;
			clear:both;
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
	}
}


.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
    
    li {
        padding: 0 10px;
        
        span {
            font-size: 12px;
            display: block;
        }
        
        span.figure {
            font-size: 1.8em;
            font-weight: 400;
        }
    }
}


.basic-list {
    padding: 0;
    
    li {
        display: block;
        padding: 15px 0;
        border-bottom: 1px solid rgba(120,130,140,.13);
        line-height: 27px;
        
        .label {
            font-size:1em;
        }
    }
}