.module {
    border: 1px solid #f3f3f3;
    border-bottom-width: 2px;
    background: #fff;
    margin-bottom: 30px;
    position: relative;
    border-radius: 4px;
    background-clip: padding-box;
    
    .module-inner {
        padding: 30px;
        
        .module-heading {
            border-bottom: 1px solid #f3f3f7;
            padding-bottom: 15px;
            position: relative;
            
            .module-title {
                font-size: 1.2em;
                font-weight: 300;
                margin: 0;
                color:$color-leading2;
            }
            
            .actions {
                position: absolute;
                right: 0;
                top: 0;
                line-height: 1;
                
                li {
                    a {
                        color: #9499a3;
                    }
                    .icon {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    
    .module-content-inner {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}