/**
*
* Table
*
**/

.table-big {
	text-align: left;

	td,
	th {
		padding: 10px;
		border: 1px solid $color_lightgrey;
		border-collapse: collapse;
	}

	thead {
		background-color: $color_lightbeige;
		color: $color_grey;
		font-weight: 600;
		
		a {
			color: $color_grey;
		}
		
		tr.filters {
		    border: none;
			background-color: #fff;
			td {
				border: none;
				
				select, input {
					border-color:$table-border-color;
					color:#aaa;
				}
			}
		}
	}

	&--full-width {
		width: 100%;
	}
}


/* Change the color of the striped tables */
.table-striped > tbody > tr:nth-child(odd) {
    > td,
    > th {
        background-color: $table-striped-color;
    }
}

.table.no-border {
    
    &, td, th {
        border: 0;
    }
}

/* .text-center in tables */
table.text-center {
    &, td, th {
        text-align: center;
    }
}

.table.align {
    th {
        text-align: left;
    }
    td {
        text-align: right;
    }
}

table  td.table-actions {
	text-align:center;
	
	a {
		margin-left:3px;
	}
}

/* table items */

.table-items {
	table>tbody>tr {
	  background: #FFFFFF;
	}

	td {
	  &>span {
	  display: inline-block;
	  vertical-align: middle;
	  }
	  span.drag-handle{
		cursor: move
	  }
	}

	tr {
	  &.ui-state-disabled {
		.drag-handle{
			display: none;
		}
		.edit-btn-group{
		  display: none;
		}
	  }
	}

	input#bed-description {
	  @media(min-width: 768px){
		width: 300px;
	  }
	}

	.icon-bar {
	  display: block;
	  width: 15px;
	  height: 2px;
	  border-radius: 1px;
	  background-color: #888;
	  margin: 2px 0px;
	}
}

tr.row-created {
	background-color: $color-leading;
	color: #fff;
	
	td {
		background-color: $color-leading;
		color: #fff;
		
		a {
			color: #fff;
		}
	}
}


/* dragable columns */
th[draggable] a, th[draggable] {cursor: move;}
th[draggable] a:hover, th[draggable] a {display: block; text-decoration: none; color: #333333;}
.drag {background-color: rgba(0, 0, 0, 0.25); opacity: 0.25}
.dnd-drag {opacity: 0.25}
.over {background-color: rgba(0, 0, 255, 0.35);}

/* 
 * dragtable
 *
 * @Version 2.0.14
 *
 * default css
 *
 */
/*##### the dragtable stuff #####*/
.dragtable-sortable { 
    list-style-type: none; margin: 0; padding: 0; -moz-user-select: none;
}
.dragtable-sortable li {
    margin: 0; padding: 0; float: left; font-size: 1em; background: white; 
}

.dragtable-sortable th, .dragtable-sortable td{
    border-left: 0px;
}

.dragtable-sortable li:first-child th, .dragtable-sortable li:first-child td {
    border-left: 1px solid #CCC; 
}

.ui-sortable-helper {
    opacity: 0.7;filter: alpha(opacity=70);
}
.ui-sortable-placeholder { 
    -moz-box-shadow: 4px 5px 4px #C6C6C6 inset;
    -webkit-box-shadow: 4px 5px 4px #C6C6C6 inset;
    box-shadow: 4px 5px 4px #C6C6C6 inset;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    visibility: visible !important;
    background: #EFEFEF !important; 
    visibility: visible !important;
}
.ui-sortable-placeholder * { 
    opacity: 0.0; visibility: hidden; 
}

td .edit-btn-group {
	a {
		margin-right: 2px;
	}
} 

#table-recipies {
	.table {
		thead {
			background-color: #fff !important;
			th:nth-child(3) {
				text-align: right;
				padding-right:3px;
			}
			th:nth-child(4) {
				width:30px;
				
			}
		}
		td:nth-child(3) {
			text-align: right;
			padding-right:3px;
		}
		tfoot {
			td:nth-child(2) {
				text-align: right;
				font-weight:bold;
				color:$brand-danger;
			}
		}
	}
}

.config-skin {
	border-collapse: separate;
	width:100%;
	td {
		border: 3px solid #fff;
		height: 50px;
		cursor: pointer;
		margin: 5px;
	}
	
	td.active {
		border-color: black;
	}
	td:nth-child(1) {
		width:33%;
	}
	td:nth-child(2) {
		width:34%;
	}
	td:nth-child(3) {
		width:33%;
	}
	
	td#purple {
		background-color: $skin-purple-bg;
		position: relative;
		span { 
			width:30%;
			height: 50px;
			display:block;
			background-color: $skin-purple-leading;
		}
	}
	td#default {
		background-color: $skin-default-bg;
		position: relative;
		span { 
			width:30%;
			height: 50px;
			display:block;
			background-color: $skin-default-leading;
		}
	}
	td#red {
		background-color: $skin-red-bg;
		position: relative;
		span { 
			width:30%;
			height: 50px;
			display:block;
			background-color: $skin-red-leading;
		}
	}
	td#green {
		background-color: $skin-green-bg;
		position: relative;
		span { 
			width:30%;
			height: 50px;
			display:block;
			background-color: $skin-green-leading;
		}
	}
	td#blue {
		background-color: $skin-blue-bg;
		position: relative;
		span { 
			width:30%;
			height: 50px;
			display:block;
			background-color: $skin-blue-leading;
		}
	}
	td#orange {
		background-color: $skin-orange-bg;
		position: relative;
		span { 
			width:30%;
			height: 50px;
			display:block;
			background-color: $skin-orange-leading;
		}
	}
}

.table-legend {
	td { padding:2px 5px; text-valign:middle; }
	
	i { color:#fff; }
	&-icon {
		width: 30px;
		text-align:center;
	}
}
