/** Text **/

.text {

    @each $color, $color_code in $color-list {
        &--#{$color} {
            color: $color_code !important;
        }
        
        &--#{$color}2 {
            color: rgba($color_code,0.5) !important;
        }
    }
}

