


.burger {
    display: none;
    margin-top: 13px;
    padding: 0;
    background-color: transparent;
    background:none;
    outline:none;
    transition: margin-top $standard-transition;

    @media all and (max-width: 1024px) {
        display: inline-block;
    }

    @media all and (max-width: 567px) {
        margin-top: 15px;
    }

    div,
    span {
        display: block;
        width: 32px;
        height: 2px;
        background-color: $burgerBgColor;
        margin-bottom: 7px;
        transition: all 0.5s ease;

        &:last-child {
            margin-bottom: 2px;
        }
    }

    &--open {
        .line2 {
            opacity: 0;
        }

        .line1 {
            background-color: $burgerBgColorActive;
            transform: rotate(45deg) translateX(6px) translateY(6px);
        }

        .line3 {
            background-color: $burgerBgColorActive;
            transform: rotate(-45deg) translateX(7px)  translateY(-7px);
        }
    }

    &:hover {
        div,
        span {
            background-color: $burgerBgColorHover;
        }
    }

    &:focus,
    &:active {
        padding: 0;
        background:none;
        outline:none;
    }
}