.banner-wrap.extra-banner {
    height: 191px;
    margin: -191px 0 69px 0;
    text-align: center;
    position: relative;
    z-index: 100;
    /*-webkit-box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.45);*/
    
    h5 {
        font-size: 30px;
        font-weight: 300!important;
        color: #fff;
        line-height: 34px;
        margin: 20px 0 14px;
    }
    
    .banner-btn a {
        width: 29px;
        height: 29px;
        background-repeat: no-repeat;
        background-position: 0 -29px;
        background-image: url(/images/btn-bg.png);
        display: inline-block;
        vertical-align: top;
    }
}
.color-1 {
    background-color: $color1;
}
.color-2 {
    background-color: $color2;
}

.blog-box {
    background-color: transparent;
    background-color: $colorGreyDark;
    padding: 68px 48px 61px 45px;
    margin-bottom: 0;
    margin-right:40px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    
    h1 {
        font-size: 2em;
        color: #fff;
        margin: 0 0 37px 0;
        color: $colorGreyMiddle;
    }
    
    p {
        font-size: 0.9em;
        color: $colorGreyLight;
        margin-bottom: 32px;
        text-align: justify;
    }
    
    .btn {
        background-color: $color3;
        color: $colorGreyLight;
        border: 1px solid $colorGreyLight;
        padding: 8px 15px;
    }
}


.title-box {
    margin: 12px 0 54px;
    border-bottom: 1px solid $colorGreyMiddle;
    padding-bottom: 17px;
    
    &_primary {
        border: none;
        background: none;
        padding: 0;
        margin: 0;
    }
}

.service-box {
    padding: 0;
    background-color: transparent;
    border: none;
    margin: 0 0 12px 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
     .icon {
        height: 38px;
        overflow: hidden;
    }
    
     h2 {
        padding: 0;
        margin: 1px 0 2px 0;
        border: none;
        font-weight: 300;
        font-size: 1.1em;
        
        a {
            color: $color3;
        }
    }
    small {
        font-size: 0.7em;
        margin: 1px 0 8px 0;
        color: darken($colorGreyLight, 20%);
    }
    .service-box_txt {
        margin-bottom: 10px;
        font-size: 0.8em;
        text-align: justify;
    }
}

.loan {
    background-color: $color1;
    position: relative;
    display:block;
    min-height: 300px;
    margin-top:60px;
    z-index: 1;
    
    &-background-overlay {
        opacity: 0.5;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }
    
    &-container {
        display: block;
        margin-right: auto;
        margin-left: auto;
        position: relative;
    }
    
    
    .form-container {
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        background-color: #fff;
        width: 350px;
        padding: 30px 20px;
        
        input {
            padding: 7px 10px;
            min-height: 10px;
            width: 90% !important;
            background-color: #f6f6f6;
            border: 1px solid #e8e8e8;
            color: #000000;
            box-shadow: inset 0 0 0 1px #e8e8e8;
            transition: .3s;
            border-radius: 0;
        }
    }

    .figure {
        position: relative;
        z-index: 2;
        @media (min-width: 768px) {
            width: 50%;
            float:right;
            margin-top:-250px;
        }
    }

    .calculator {
        position: relative;
        text-align: center;
        z-index:4;
        @media (min-width: 768px) {
            width: 50%;
            float:left;
            margin-top:-30px;
            margin-left:200px;
        }
    }
}


.investor {
    background-color: $color2;
    position:realtive;
    display:block;
    min-height: 300px;
    
    &-background-overlay {
        opacity: 0.5;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }
    
    &-container {
        display: block;
        margin-right: auto;
        margin-left: auto;
        position: relative;
    }
    
    .figure {
        position: relative;
        z-index:3;
        @media (min-width: 768px) {
            width: 50%;
            float:left;
            margin-top:-70px;
        }
    }

    .calculator {
        position: relative;
        @media (min-width: 768px) {
            width: 50%;
            float:right;
            margin-bottom:-50px;
        }
    }
    
    .form-container {
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        background-color: #fff;
        width: 350px;
        padding: 30px 20px;
        
        input {
            padding: 7px 10px;
            min-height: 10px;
            width: 90% !important;
            background-color: #f6f6f6;
            border: 1px solid #e8e8e8;
            color: #000000;
            box-shadow: inset 0 0 0 1px #e8e8e8;
            transition: .3s;
            border-radius: 0;
        }
    }

}

.bg-overly {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 3;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.3);
         filter: blur(10px);
    
   /* &::before{
        content: '';
         width: 100%;
         height: 100%;
         position: absolute;
         right: 0;
         
         bottom: 0;
         box-shadow: inset 0 0 0 200px rgba(255,255,255,0.3);
         filter: blur(10px);
    }*/
}



ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.block_1 {
    position: relative;
    
    .grid {
        position: relative;
        z-index: 999;
    }
    
    &-bg_strip {
        position: absolute;
        top: 44px;
        left: 0;
        width: 100%;
    }
    
    &-bg_strip-color1 {
        background: $color1;
        height: 220px;
        z-index: 9;
    }
    
    &-bg_strip-color2 {
        background: $color2;
        height: 220px;
        z-index: 9;
    }
    
    &-detail {
        background: $colorGreyLight;
        padding: 30px;
        margin-top: 60px;
        
        .c-price_counter {
            width: 300px;
            height: 80px;
            text-align: center;
            line-height: 80px;
            background: #FFFFFF;
            margin-bottom: 30px;
            
            span {
                font-weight: 300;
                color: #2a2e3c;
                font-size: 36px;
            }
        }
    }
    
    &-header {
        position: relative;
        
        h2 {
            padding-left: 40px;
            padding-right: 150px;
            margin: auto;
            display: inline-block;
            color: #eef5fc;
            font-size: 3.5em;
            letter-spacing: 0.15em;
            color: $colorGreyMiddle;
            font-weight:600;
            text-transform: uppercase;
            
            span {
                position: relative;
                top: 3px;
            }
        }
    }
}

.bg-greylight {
    background-color: $colorGreyLight;
    padding: 100px 0;
}

.bg-greymiddle {
    background-color: $colorGreyMiddle;
    padding: 100px 0;
}

.bg-greydark {
    background-color: $colorGreyDark;
    padding: 100px 0;
    color: $colorGreyLight;
}

.bg-color3 {
    background-color: $color3;
    padding: 100px 0;
}

.counter-item {
    margin-top: 20px;
    
    .counter-pic {
        float: left;
        text-align: center;
        line-height: 85px;
        height: 75px;
        width: 75px;
        background-color: #fff;
        border-radius: 3px;
        -webkit-transition: all .35s ease;
        -moz-transition: all .35s ease;
        -ms-transition: all .35s ease;
        -o-transition: all .35s ease;
        transition: all .35s ease;
        
        i {
            font-size: 35px;
            font-size: 3.5rem;
            color: $color2;
        } 
    }
    .counter-text {
        text-align: right;
        margin-top: 10px;
        padding-right: 30px;
        
        .counter-value {
            font-weight: 600;
            font-size: 3rem;
            margin-bottom: 10px;
            line-height: 30px;
            color: #fff;
        }
    }
}

.testimonial-content {
    position: relative;
    padding-top: 80px;
    color: $colorGreyMiddle;
    
    .testi-author-img {
        width: 150px;
        position: absolute;
        top: 0;
        right: 50px;
        z-index: 100;
        border: 4px solid $colorGreyMiddle;
        border-radius: 3px;
        background-color: $colorGreyMiddle;
    }
    
    .testimonial-text {
        background-color: #fff;
        padding: 90px 50px 30px 30px;
        position: relative;
        
        i {
            font-size: 70px;
            position: absolute;
            top: 15px;
            left: 25px;
            color: #f2f2f2;
            
            &::before {
                content: "\2c";
            }
        }
        
        h4 {
            margin: 0;
        }
    }
}