/** Footer **/

.l-footer {
    background-color: $color3;
    color: $colorGreyLight;
    background-image: linear-gradient(to right, lighten($color1,10%), lighten($color2, 20%), lighten($color1,30%), lighten($color2,10%));
    background-size: 100% 10px;
    background-position: 0% 0%, 0% 100%;
    background-repeat: no-repeat;
    padding:60px;
    
    a{
        color: $colorGreyLight;
    }

    .footer-navigation {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px;
        margin-top:20px;
        
        .fa {
            display: inline-block;
            text-align: center;
        }
    }
    
    h4 {
        margin-bottom:20px;
        color: $colorGreyMiddle;
    }
    
    .contact-info  {
        margin-top:10px;
        
        li {
            margin-bottom:5px;
            .fa {
                margin-right: 8px;
            }
        }
    }
}

.bg-shuttle-gray {
    background-color: $colorGreyMiddle;
    height: 1px;
    margin: 0;
    border: none;
    -webkit-background-clip: content-box;
    background-clip: content-box;
    padding-right: 70px;
}

.group-xl>* {
    display: inline-block;
    margin-top: 35px;
    margin-left: 35px;
}

.inline-list>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    
    .icon-xxs.icon-circle {
        width: 27px;
        height: 27px;
        line-height: 27px;
    }
    .icon-circle {
        border-radius: 50%;
        background-color: #fff;
        color: $color3;
    }
}

.rd-mailform-inline {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: 6px auto 0;
    
    label {
        top: 24px;
        left: 17px;
    }
    
    .form-input {
        height: 47px;
    }
    
    .button {
        max-width: 100%;
        font-size: 19px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        border: 2px solid;
        font-weight: 500;
        transition: .33s ease;
        padding: 13px 29px;
        font-size: 19px;
        line-height: 24px;
        border-radius: 4px;
        color: #fff;
        background-color: darken($color3, 10%);
        border-color: darken($color3, 20%);
    }
    
    .button-xs {
        font-weight: 400;
        font-size: 17px;
        line-height: 19px;
        padding: 12px 13px;
        letter-spacing: 0.025em;
    }
}


/*--------------------------------------------------------------
	# Footer
--------------------------------------------------------------*/

#footer {

}

/*--------------------------------------------------------------
	## Footer Posts
--------------------------------------------------------------*/

#footer-posts {
	background: #eef5f4;
	padding: 50px 0;
}

/*--------------------------------------------------------------
	## Footer Widgets
--------------------------------------------------------------*/

#footer-widgets {
	padding: 65px 0;
}

	#footer-widgets a {
		font-weight: 600;
	}
	
	#footer-widgets .widget {
		color: #424242;
		font-size: 15px;
		line-height: 23px;
		margin-top: 50px;
	}

	#footer-widgets .widget:first-child {
		margin-top: 0;
	}

		#footer-widgets .widget-title {
			margin: 0;
			padding: 0;
			color: #4d9e91;
			border-bottom: 1px solid #d0e9e6;
			font-size: 12px;
			font-weight: 900;
			font-family: "Source Sans Pro", sans-serif;
			letter-spacing: 2px;
			line-height: 1.36;
			margin-bottom: 25px;
			padding-bottom: 10px;
			text-transform: uppercase;
		}

/*--------------------------------------------------------------
	## Footer Instagram
--------------------------------------------------------------*/

#footer-instagram {
	overflow: hidden;
}

	#footer-instagram a {
		width: 12.5%;
		display: block;
		float: left;
	}

		#footer-instagram a img {
			display: block;
		}

/*--------------------------------------------------------------
	## Footer Bottom
--------------------------------------------------------------*/

#footer-bottom {
	background: #e8f2f0;
}
	
	/**
	 * Footer Copyright
	 */

	#footer-copyright {
		float: left;
		color: #4d9e91;
		font-size: 12px;
		font-weight: bold;
		font-family: "Source Sans Pro";
		line-height: 70px; /* same as on #footer-navigation li a */
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	/**
	 * Footer Navigation
	 */

	#footer-navigation {
		float: right;
	}

		#footer-navigation ul,
		#footer-navigation li {
			margin: 0;
			padding: 0;
			list-style-type: none;
			font-size: 0;
			line-height: 0;
		}

			#footer-navigation li {
				display: inline-block;
				margin-left: 20px;
			}

			#footer-navigation li:first-child {
				margin-left: 0;
			}

				#footer-navigation li a {
					color: #4d9e91;
					font-size: 12px;
					font-weight: bold;
					font-family: "Source Sans Pro";
					line-height: 70px; /* same as on #footer-navigation li a */
					letter-spacing: 2px;
					text-transform: uppercase;
				}

				#footer-navigation li.current-menu-item a,
				#footer-navigation li a:hover {
					color: #4d9e91;
				}


.widget .tagcloud a {
    display: inline-block;
    line-height: 25px;
    padding: 0 15px;
    background: #ffe9ec;
    color: #f07d8a;
    font-size: 10px !important;
    font-weight: 900 !important;
    text-transform: uppercase;
    border-radius: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.blog-post-s6-thumb {
    float: left;
    width: 85px;
    margin-right: 22px;
}