/** Header **/

@keyframes shrink {
  0% {
    background-size: 110% 110%;
  }
  100% {
    background-size: 100% 100%;
  }
}

.l-header {
    position: relative;
    overflow: hidden;
    width: 100%;
    /*height: 100vh;*/
    min-height: 800px;

    &::after {
        content: "";
        /*background-image: url(/img/fotolia_93617460.jpg);*/
        background-image: url(/images/fotolia_62886426.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #eee;
        opacity: 1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
        /*animation: shrink 5s infinite alternate;*/
    }

    &__content {
        display: table-cell;
        vertical-align: middle;
        position: relative;
    }
    
    &__page {
        position: relative;
        overflow: hidden;
        width: 100%;
        /*height: 100vh;*/
        min-height: 150px;

        @media all and (min-width: 200px) and (max-width: 768px) {
            min-height: 50px;
        }
     
    }
 }
 
 