/** Main content **/

.l-main {
    display: inline-block;

    margin-left: $navbar-width;
    margin-top: 4rem;

    padding: 2em;
    flex-grow: 1;
    flex: 1;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    z-index: 1;
    background-color: $main-background-color;
    will-change: margin;
    transition: margin $standard-transition;

    @media all and (max-width: 1024px) {
        margin-left: 0;
    }

    &--full {
        margin-left: 0;
    }
}

.container--page {
  text-align: justify;
  
  > * {
    line-height: 1.7;
    
    /*color: #222;*/
  }
}

.page-leading-image {
    position:relative;
    display:inline-block;
    text-align:center;
    // float: left;
    float: right;
    margin: 20px;
    
    &-overly {
          content:'';
          position:absolute;
          left:0; top:0;
          width:100%; height:100%;
          display:inline-block;
          opacity: 0.4;
          /*background-image: linear-gradient(to right, $colorTeal 0%, $colorCream 25%, $colorPurple 50%, $colorOrange 75%, $colorTeal 100%)*/
          background-image: linear-gradient(to bottom right,$colorTeal, $colorOrange);
    }
    
    img {
        height:300px;
        margin: 10px;
        z-index:1;
        /*&:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
            opacity: 0.5;
            background: -moz-linear-gradient(left, #00f6ff 0%, #007eff 25%, #7814ff 50%, #86297a 75%, #ff6600 100%);
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, #00f6ff), color-stop(25%, #007eff), color-stop(50%, #7814ff), color-stop(75%, #86297a), color-stop(100%, #ff6600));
            background: -webkit-linear-gradient(left, #00f6ff 0%, #007eff 25%, #7814ff 50%, #86297a 75%, #ff6600 100%);
            background: -o-linear-gradient(left, #00f6ff 0%, #007eff 25%, #7814ff 50%, #86297a 75%, #ff6600 100%);
            background: -ms-linear-gradient(left, #00f6ff 0%, #007eff 25%, #7814ff 50%, #86297a 75%, #ff6600 100%);
            background: linear-gradient(to right, #00f6ff 0%, #007eff 25%, #7814ff 50%, #86297a 75%, #ff6600 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f6ff', endColorstr='#ff6600', GradientType=1);
        }*/
    }
}
