.megamenu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -999;
    width: 100%;
    padding-top: 1rem;
    transform: translateY(-100%);
    visibility: hidden;
    opacity: 0;
    background-color: $megamenuBgColor;

    transition: transform $standard-transition, visibility $standard-transition, opacity $standard-transition;

    @media all and (max-width: 1024px) {
        display: none;
        padding: 1rem 0;
    }

    /*[class*="row"] {
        > [class*="col-"] {
            @media all and (max-width: 768px) {
                padding-bottom: 0;
            }
        }
    }*/    

    &-open {
        + .megamenu {
            transform: translateY(0);
            z-index: -2;
            visibility: visible;
            opacity: 1;

            @media all and (max-width: 1024px) {
                position: static;
                display: block;
                z-index: 1;
            }
        }
    }
}