/** Navbar **/

/**
*
* Top navigation
*
**/

.top-info {
    position:fixed;
    top:0;
    height:30px;
    background-color: rgba($colorOrange,1.0);
    display:block;
    width:100%;
    font-size:0.7em;
    z-index: 5;
    
    a {
        color: $colorPurple;
    }
    
    .top-left {
        position: relative;
        float: left;
        padding: 5px 15px;
        font-size: 14px;
        
        li {
            position: relative;
            display: inline-block;
            margin-right: 20px;
            color: $colorCream;
            font-weight:300;
        }
    }
    
    .top-right {
        position: relative;
        float: right;
        padding-right:15px;
        
        .sel-lang {
            padding: 7px 0px 5px;
            color: $colorGrey;
        }
        
        li {
            position: relative;
            float: left;
            margin-left: 15px;
            font-size: 10px;
            text-transform: uppercase;
            
            a {
                color: $colorPurple;
                font-weight:600;
            }
        }
    }
    
    ul, li {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }
}

.l-navbar {
    @include clearfix();
    position: fixed;
    /*top: 30px;*/
    left: 0;
    z-index: 7;
    width: 100%;
    padding: 0 1rem;
    transition: all 0.2s ease-in-out;
   
    @media all and (max-width: 1024px) {
        padding-left: 4%;
        padding-right: 4%;
        
        &:after {
            border-top:30px $colorOrange solid;
            box-shadow: 0 0 3px 1px rgba($colorPurple, 0.4);
        }
    }

    &:after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        width: 100%;
        height: 100%;
        border-top:50px $colorOrange solid;
    }

    &__logo {
        /*display: inline-block;*/
        /*font-size: 3.4rem;*/
        /*padding-top: 10px;*/
        padding-left:40px;
        
        @media all and (max-width: 1024px) {
            padding-left:0;
        }

        @media all and (max-width: 567px) {
            display: inline-block;
            padding-top: 10px;
        }

        img {
            max-height: 100%;
            height: 74px;
            width: auto;
            transition: height $standard-transition;
            
            @media all and (min-width: 568px) and (max-width: 1024px) {
                height: 51px;
            }

            @media all and (max-width: 567px) {
                height: 30px;
            }
        }
    }

    &__right {
        float: right;
        
        &-client-zone {
            color: $colorCream;
            text-align:right;
            font-weight:600;
            padding-top:10px;
            
            @media all and (max-width: 1024px) {
                padding-top: 0;
            }
            
            a {               
                margin-right:30px;
                color: $colorCream;
                
                @media all and (max-width: 1024px) {
                    margin-right: 10px;
                }

                @media all and (max-width: 1024px) {
                    position: relative;
                    top: -6px;
                }
            }
        }
    }

    &__menu {
        @include clearfix();
        margin: 0;
        padding: 0;
        list-style-type: none;
        padding-top:30px;
        padding-bottom:10px;

        @media all and (max-width: 1024px) {
            position: absolute;
            left: 0;
            top: 100%;
            z-index: -1;
            width: 100%;
            max-height: calc(100vh - 80px);
            overflow: auto;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-100%);

            background-color: $navbarMobileBgColor;

            transition: transform $standard-transition, visibility $standard-transition, opacity $standard-transition, max-height $standard-transition;
        }
        
        .active {
            /*border-bottom:5px solid $colorTeal;*/
            a {
                color: $colorOrange;
            }
        }

        &-item {
            //display: inline-block;
            float: left;
            margin: 0 1rem;

            @media all and (max-width: 1024px) {
                display: block;
                margin: 0;
                float: none;
            }

            &:hover {
               /* border-bottom:5px solid rgba($colorCream,0.5);*/
                .l-navbar__menu-link {
                    color: $colorOrange;
                }
            }

            &--dropdown {
                position: relative;

                &:hover {
                    .l-navbar__dropdown-menu {
                        
                        @media all and (min-width: 1025px) {
                            transform: translateY(0);
                            z-index: -2;
                            visibility: visible;
                            opacity: 1;
                        }

                        /*@media all and (max-width: 1024px) {
                            display: block;
                        }*/
                    }
                }

                > .open {
                    + .l-navbar__dropdown-menu {
                        @media all and (max-width: 1024px) {
                            display: block;
                            transform: translateY(0);
                            z-index: 1;
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
        }

        &-link {
            display: block;
            /*padding: 28px 0;*/
            margin: 0;
            font-size:1.3rem;
            color: $colorPurple;
            background-color: transparent;
            border: none;
            transition: color $standard-transition, padding $standard-transition;

            @media all and (max-width: 1024px) {
                width: 100%;
                padding: 10px 0;
                text-align: center;
            }

            &:hover {
                color: $navbar-font-color-hover;
            }
        }
    }

    &__dropdown-menu {
        position: absolute;
        top: 100%;
        right: 0;
        z-index: -999;

        //display: none;

        min-width: 120px;

        margin: 0;
        padding: 0;

        background-color: $navbarDropdownBgMenu;
        list-style-type: none;

        transform: translateY(-100%);
        visibility: hidden;
        opacity: 0;

        transition: transform $standard-transition, visibility $standard-transition, opacity $standard-transition;

        @media all and (max-width: 1024px) {
            position: static;
            display: none;
            padding-left: 4%;
            padding-right: 4%;
        }
    }

    &--compact {
        background-color: $colorPurple;
        // box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
        
        /*.l-navbar__logo {
            img {
                height: 60px;
            }
        }*/

        .l-navbar__menu {
            @media all and (max-width: 1024px) {
                max-height: calc(100vh - 60px);
            }
        }

        .l-navbar__menu-link {
           /* padding: 18px 0;*/
           color:$colorCream;

            @media all and (max-width: 1024px) {
               /* padding: 10px 0;*/
            }
        }

        .burger {
            margin-top: 19px;
        }
    }

    &--burger-open {
        .l-navbar__menu {
            @media all and (max-width: 1024px) {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);

            }
        }
    }
}


.top-info2 {
    position:fixed;
    top:0;
    height:30px;
    background-color: rgba($colorOrange,1.0);
    display:block;
    width:100%;
    font-size:0.7em;
    z-index: 5;
    
    a {
        color: $colorCream;
    }
    
    .top-left {
        position: relative;
        float: left;
        padding: 5px 15px;
        font-size: 14px;
        
        li {
            position: relative;
            display: inline-block;
            margin-right: 20px;
            color: $colorCream;
            font-weight:300;
        }
    }
    
    .top-right {
        position: relative;
        float: right;
        padding-right:15px;
        
        .sel-lang {
            padding: 7px 0px 5px;
            color: $colorGrey;
        }
        
        li {
            position: relative;
            float: left;
            margin-left: 15px;
            font-size: 10px;
            text-transform: uppercase;
            
            a {
                color: $colorPurple;
                font-weight:600;
            }
        }
    }
    
    ul, li {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }
}

/*.l-navbar-2 {
    .l-navbar__menu-link {
        color: $colorOrange !important;
    }
    
    .l-navbar__menu-item.active {
        a { 
            color: $colorPurple !important;
        }
    }
}*/
