@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Open_Sans/OpenSans-Regular.woff2) format('woff2');
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  position: relative;
  /*width: 21cm;  
  height: 29.7cm; 
  margin: 0 auto; */
  color: #555555;
  background: #FFFFFF; 
  /*font-family: Arial, sans-serif; */
  font-size: 11px; 
  font-family: Open Sans;
}
/*body {
    font-family: 'EB Garamond', Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.4;

    padding: 1rem;
}*/

.table-border {
    width: 100%;
    border-collapse: collapse;
    /*border: 1px solid black;*/
}

.table-border th,
.table-border td {
    border: 1px solid black;
}

.table-border td,
.table-border th {
    padding: 6px 2px;
    vertical-align: middle;
}

.table-border-row {
    width: 100%;
    border-collapse: collapse;
}

.account-number {
    /* width: 90%; */
    margin: 6px 20px;
    border-collapse: collapse;
}

.account-number tr {
    border: 0;
}

.account-number  td {
    height: 30px;
    width: 20px;
	border: 1px solid black;
	border-top-color: white;
	border-bottom-color: white;
}

.account-number td.account-number__border {
	text-align: center;
	border-top-color: black !important;
	border-bottom-color: black !important;
}

.table-checkbox {
    margin: 6px 5px;
    border-collapse: collapse;
	border: 0 !important;
}

.table-checkbox  td {
    border: 0 !important;
}

.table-checkbox  td.checkbox {
    height: 20px;
    width: 20px;
    border: 1px solid black !important;
}


td.padding-right {
    padding-right: 10px;
	border: 1px solid white !important;
	border-right-color: black !important;
}

table.table-no-border,
table.table-no-border tr,
table.table-no-border td {
    border: 0 !important;
}



.col-10 {width: 10%}
.col-20 {width: 20%}
.col-30 {width: 30%}
.col-40 {width: 40%}
.col-50 {width: 50%}
.col-60 {width: 60%}
.col-70 {width: 70%}
.col-80 {width: 80%}
.col-90 {width: 90%}
.text-right {text-align: right}
.text-center {text-align: center}