

.l-burger {
    // display: flex;
    // width: 100px;
    display: inline-block;
    height: 50px;
    text-align: center;
    // align-items: center;
    background-color: transparent;
    // overflow: hidden;

    @media all and (min-width: 200px) and (max-width: 767px) {
        width: 80px;
    }

    &__line {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 40px;
        height: 3px;
        background-color: $colorMain;
        transition: opacity 0.3s ease;

        &:before,
        &:after {
            content: ' ';
            position: absolute;
            left: 0;
            top: -12px;
            display: block;
            width: 40px;
            height: 3px;
            background-color: $colorMain;
            transform-origin: center right;
            will-change: transform;
            transition: transform 0.5s ease, width 0.5s ease, opacity 0.5s ease, top 0.25s ease;
        }

        &:after {
            top: 12px;
        }
    }

    &:hover {

        .l-burger__line {
            // background-color: $colorGreyLight;
            opacity: 0.6;
        }
    }

    &--open {
        .l-burger__line {
            background-color: transparent;

            &:before {
                top: -14px;
                transform: rotate(-45deg);
            }

            &:after {
                top: 14px;
                transform: rotate(45deg);
            }
        }
    }
}
