/**
*
* Main footer
*
**/

.l-footer {
  padding: 3rem 0 0 0;
  background-color: $colorThird;
  color: $colorWhiteSmoke;

  &__bottom {
    margin-top: 3rem;
    padding: 1rem 0;
    background-color: $colorDove;
    color: $colorBeige;
    font-size: rem(14px);
  }

  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    width: 200px;

    @media all and (min-width: 200px) and (max-width: 768px) {
      width: 100%;
      text-align: center;
    }
  }

  &__right {
    width: calc(100% - 260px);

    @media all and (min-width: 200px) and (max-width: 768px) {
      width: 100%;
      text-align: center;
    }
  }

  &__label {
    display: inline-block;
    margin: 0 0 1rem 0;
    padding-bottom: 0.5rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;

    border-bottom: 1px solid rgba($lightPrimaryText, 0.3);

    @media all and (min-width: 200px) and (max-width: 768px) {
      margin-top: 2rem;
    }
  }

  &__2cols {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;

    > * {
      width: 40%;

      @media all and (min-width: 200px) and (max-width: 768px) {
        width: 100%;
      }
    }
  }

  &__link {
    display: block;
    margin-bottom: 0.25rem;
    color: $lightSecondaryText;
    transition: 0.3s opacity;

    &:hover {
      opacity: 0.5;
    }
  }

  &__social {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    &-list {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      padding: 0 1rem;

      border: {
        top: 1px solid rgba(#fff, 0.5);
        bottom: 1px solid rgba(#fff, 0.5);;
      }

      > * {
        margin: 0.5rem;
      }
    }

    span {
      // font-family: 'Oswald', sans-serif;
      font-size: rem(14px);
      padding-right: 1rem;
    }
  }

  .form__input,
  .form__textarea {
    color: $darkSecondaryText;
  }
}
