/**
*
* Top header
*
**/

.l-header {
  position: relative;
  
  &--page {
    position:relative;
    height: 60vh;
    width:100%;
    position: relative;
    /*margin-top:80px;*/
    
    &:after {
        position: absolute;
        display:block;
        left:0;
        top:0;
        width:100%;
        height:100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        overflow: hidden;
        opacity:0.1;
        background-image:url(/images/hp_banner.jpg);
        content: '';
    }
    
    &_title {
        position: relative;
        padding: 30px 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        text-align: center;
        
        @media (min-width: 900px)  {
            padding: 120px 0;
        }
        
        h4 {
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 1.25;
            letter-spacing: -0.02em;
            color: $colorPrimary;
            
            @media (min-width: 1200px) {
                font-size: 4em;
            }
        }
        
        .breadcrumb {
            padding-left: 1rem;
            padding-right: 1rem;
            
            li {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 2;
                letter-spacing: 0.02em;
                display: inline-block;
                
                &:not(:last-child):after {
                    content: '/';
                    padding: 0 10px;
                    color: #dedede;
                }
            }
        }
    }
     
    h1.site-title {
        position: absolute;
        bottom: 0;
        text-align: center;
        color: #fff;
        font-size:9em;
        letter-spacing:2px;
        width:100%;
        text-align: center;
        margin: 0;
        padding: 0;
        line-height:0.6;
      
        /*&::after {
            border-bottom: 3px solid $colorBeige;
            content: "";
            display: block;
            margin: 0 auto 10px;
            padding-bottom: 20px;
            width: 10%;
        }*/
    }
  }
  
  &--full {
    height: 100vh;
    min-height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    .tile-wrapper {
      position: absolute;
      bottom: 0;
      left: 0;

      .tile--link {
        &:after {
          content: ' ';
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          width: 200%;
          height: 100%;
          box-shadow: 0 0 1px $colorSecondary;
          background-color: $colorSecondary;
          transform-origin: top left;
          transition: all 0.3s;
        }

        &:first-child {
          &:after {
            left: auto;
            right: 0;
            transform-origin: top right;
            box-shadow: 0 0 1px $colorPrimary;
            background-color: $colorPrimary;
          }

          &:hover {
            &:after {
              transform: rotate(6deg);
            }
          }
        }

        &:hover {
          &:after {
            transform: rotate(-6deg);
          }
        }
      }
    }
  }
}
