/**
*
* Top navigation
*
**/

.l-main {
    padding: 30px;
}

.align-center {
	text-align: center;
}

.text--primary {
	color: darken($colorPrimary, 30%);
}

.text--secondary {
	color: darken($colorSecondary, 30%);
}

.text--third {
	color: $colorThird;
}

.bg--primary {
	background-color: $colorPrimary;
}

.bg--secondary {
	background-color: $colorSecondary;
}

.bg--third {
	background-color: $colorThird;
}