/**
*
* Top navigation
*
**/

.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  padding: 1rem 2rem;
  // border-bottom: 1px solid #e1e1e1;
  background-color: rgba($colorWhiteSmoke, 0.4);

  @media all and (min-width: 200px) and (max-width: 768px) {
    padding: 1rem 0;
  }

  &__right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
  }

  &__button {
    background-color: transparent;

    &:hover {
      .icon-search {
        opacity: 0.6;
      }
    }
  }
}

