/** Buttons **/

.btn {
   /* display: inline-block;
    padding: 0.6em 1em;*/
    /*margin: 0.25em 0.5em 0.25em 0;*/
   /* font-size: $font-size-normal;
    text-align: center;*/
   /* color: $btn-font-color; */
    transition: background-color $standard-transition, color $standard-transition;

    &--full {
        display: block;
        width: 100%;
        
    }


    @each $color, $color_code in $color-list {
        &--#{$color} {
            background-color: $color_code;
            border: 1px solid darken($color_code, 5%);

            @if ( $color == 'lightgrey') {
                color: $main-font-color;
            } @else {
                color: white;
            }

            &:hover {
                background-color: lighten($color_code, 5%);

                @if ( $color == 'white') {
                    color: rgba($main-font-color, 0.7);
                } else {
                    color: white;
                }
            }
        }
        
        &--#{$color}2 {
            background-color: rgba($color_code,0.2);

            /*@if ( $color == 'lightgrey') {
                color: $main-font-color;
            } @else {
                color: white;
            }*/

            &:hover {
                background-color: rgba($color_code,0.1);

                /*@if ( $color == 'lightgrey') {
                    color: rgba($main-font-color, 0.7);
                } else {
                    color: white;
                }*/
            }
        }
    }
}

.btn-icon i {
    margin-right: 8px;
}