.dropdown {

    &__header {
        padding: 12px 20px;
        border-bottom: 1px solid #ddd;
        background-color: $header-dropdown-header-bg-color;

        color: $header-dropdown-header-font-color;
    }

    &__footer {
        .btn {
            margin: 0;
            border-width: 1px 0 0 0;
            border-top: 1px solid #ddd;
        }
    }
}