/** Forms **/
// mixin
@mixin vh() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.form {

    &-select {
        position: relative;
        width: 100%;
        overflow: hidden;
        border-right: 1px solid #e2e2e4;
        background: url('/images/select-arrow.png') no-repeat center right;
        
        select {
            width: 115%;
            background-color: transparent;

            &:focus {
                box-shadow: none;
                border: 1px solid #e2e2e4;
            }
        }
    }

    &-control {
        height: 28px;
        padding: 0 20px 0 2px;
        font-size: 14px;
        line-height: 28px;
        box-shadow: none;
    }
    
    &__checkbox {
        margin-right: 4px !important;
    }
}

/*
.form-group {
    .control-label {
        @media (min-width: 768px) {
            text-align: right;
            margin-bottom: 0;
            padding-top: 7px;
        }
        
        @media (min-width: 1300px) {
            float: left;
        }
    }
}*/

.form-group {
	position: relative;
    label {
        font-weight: 600;
    }
    .table-label {
        @media (min-width: 1024px) {
            float: left;
            width:70%;
            text-align: right;
            padding-right: 5px;
            padding-top: 2px;
        }
    }
    
    .table-input {
        @media (min-width: 1024px) {
            float: left;
            width: 30%;
            padding-left:2px;
        }
    }
    &:after {
        clear: both;
    }
}

.bootstrap-table-filter-control-type,
.bootstrap-table-filter-control-status,
.bootstrap-table-filter-control-name,
.bootstrap-table-filter-control-customer,
.bootstrap-table-filter-control-etype,
.bootstrap-table-filter-control-estatus,
.bootstrap-table-filter-control-ename,
.bootstrap-table-filter-control-term {
	font-size:0.8em;
	/*height:20px !important;
	line-height: 20px !important;*/
	font-weight:300 !important;
}

.employee-container {
    label {
        font-weight:400 !important;
        font-size:0.9em;
    }
}

.label-small {
    font-weight: 300 !important;
    font-size: 0.9em !important;
    color: $color-navy !important;
}

fieldset {
    background-color: rgba(#f9f9f9, 0.4);
    margin-bottom: 20px;
    padding: 2px 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	
	legend {
		display: block;
        width: 100%;
        padding: 0;
        margin-bottom: 18px;
        font-size: 15.6px;
        line-height: inherit;
        color: #424A55;
        border: 0;
        border-bottom: 1px solid $legend-border-color;
        border: 1px solid #f5f5f5;
        background-color: #fff;
        padding: 5px 12px;
        letter-spacing: 0.05em;
	}
}


// custom checkbox/radios
$inputHeight: 14px;
$inputWidth: 14px;
$inputBorderWidth: 2px;
$inputActiveScale: 4px; // optimized for even numbers
.custom-inputs {
	
	.margin-30 {
		margin-top:30px;
	}
	input[type="checkbox"],
	input[type="radio"] {
		@include vh();

		&:focus,
		&:hover {
			+ label {
				&:before {
					border-color: black;
				}
			}
		}
	  
	  &:active {
		+ label {
				&:before {
					transition-duration: 0;
                    filter: brightness(0.2); 
				}
			}
		
	  }

		+ label {
			position: relative;
			padding: 2px 5px 5px 1.4em;
			margin-bottom: 0;
			vertical-align: middle;
			user-select: none;
            color: $color_navy;

			&:before {
				content: '';
				color: $color-leading;
				position: absolute;
				top: 50%;
				left: 0;
				width: $inputWidth;
				height: $inputHeight;
				margin-top: -($inputHeight/2 + $inputBorderWidth);
				border: $inputBorderWidth solid grey;
				//font-size: 18px;
				text-align: center;
			}
			&:after {
				content: '';
				background-color: $color-leading;
				position: absolute;
				top: 50%;
				left: $inputBorderWidth + $inputActiveScale/2;
				width: $inputWidth - $inputActiveScale;
				height: $inputHeight -$inputActiveScale;
				margin-top: -(($inputHeight - $inputActiveScale)/2);
				transform: scale(0);
				transform-origin: 50%;
				transition: transform 200ms ease-out;
			}
		}
	}

	input[type="checkbox"]{
		+ label {
				&:after {

					background-color: transparent;
					top: 50%;
					left: 4px;
					width: 8px;
					height: 3px;
					margin-top: -4px;
					border-style: solid;
					border-color: $color-leading;
					border-width: 0 0 2px 2px;
					border-image: none;
					transform: rotate(-45deg) scale(0);
					transition: none;
				}
		}
		&:checked {

			+ label {
				&:after {
					content: ''; //\2713';

					transform: rotate(-45deg) scale(1);
					transition: transform 200ms ease-out;
				}
			}
		}
	}

	input[type="radio"] {
		&:checked {
			+ label {
				&:before {
					animation: borderscale 300ms ease-in;
					background-color: white;
				}
				&:after {
					transform: scale(1);
				}
			}
		}
		+ label {
			&:before,
			 &:after {
				border-radius: 50%;
			}
		}
	}

	input[type="checkbox"]{
		&:checked {
			+ label {
				&:before {
					animation: borderscale 200ms ease-in;
				}
				&:after {
					transform: rotate(-45deg) scale(1);
				}
			}
		}
	}
}
/* end custom inpust */

.table-tools {
    position:relative;
    form {
        width:280px;
        
        .form-group {
            float: left;
            width:240px;
        }
        
        button {
            width:40px;
            float: right;
        }
    }
}