/** Headlines **/

%hedline-common {
    margin: 0;
    //margin: 0 0 0.25em 0;
    font-family: $headline-font-family;
    line-height: 1.35;
    font-weight: 300;
}

.headline-1 {
    @extend %hedline-common;
    font-size: 3em;

    @media screen and (min-width: 200px) and (max-width: 567px) {
        font-size: 1.9em;
    }
}
.headline-2 {
    @extend %hedline-common;
    font-size: 2.2em;

    @media screen and (min-width: 200px) and (max-width: 567px) {
        font-size: 1.3em;
    }
}
.headline-3 {
    @extend %hedline-common;
    font-size: 1.5em;

    @media screen and (min-width: 200px) and (max-width: 567px) {
        font-size: 1.15em;
    }
}