/** Icons **/



.icon {
    display: inline-block;
    margin-right: 10px;
    font-size: 1rem;

    &.fa {
        font-size: 1rem;
    }

    @each $color, $color_code in $color-list {
        &--#{$color} {
            color: $color_code !important;
        }
    }


    &--bg {
        position: absolute;
        bottom: -8px;
        right: 0;
        opacity: 0.3;
        font-size: 6rem;

        &.fa {
            font-size: 6rem;
        }
    }
}