/** List **/

ul {}
ol {}

.list-icon {
    margin: 1em;
    padding: 0;

    li {
        @include clearfix();
        display: flex;
        margin-bottom: 0.5em;
        list-style-type: none;
        
        span.icon {
            width: 16px;
        }
        
        a {
            color: $color_dark;
        }
    }
}

.list-flex {
    padding: 0;

    li {
        list-style-type: none;
    }

    &__item {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        @at-root a#{&} {
            transition: background-color $standard-transition;

            &:hover {
                background-color: rgba(0,0,0,0.1);

                .avatar__title,
                .avatar__desc {
                    color: $main-font-color;
                }
            }
        }
    }
}

.list-default {
    padding: 0;

    > li {
        list-style-type: none;

        &:first-child {
            margin-top: 0.5em;
        }
        
        &:last-child {
            margin-bottom: 0.5em;
        }

        > a:not([class]) {
            color: $header-dropdown-header-font-color;
            font-size: 0.9em;
        }

        hr {
            opacity: 0.2;
        }
    }
}

.navbar-custom-nav {
    /*background: #FFFFFF;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.15);*/
    
    li {
        border-bottom: 1px solid #cfdbe2;
        margin-top: 0 !important;
        
        a {
            color: $color_purple;
            
            i {
                color: rgba($color_purple, 0.4);
            }
        }
    }
    
    li.active {
        background-color: $color-purple;
        
        a {
            color: #fff;
            background-color: $color-purple;
            i {
                color: #fff;
            }
        }
    }
}

select {
    
    option {
        color: #222;
    }
    optgroup {
        color: $color_purple;
        font-weight:400;
        
        option {
            color: #222;
        }
    }
    
    @for $i from 1 through 8 {
        $padding: 10px;

        .level-#{$i} {
            padding-left: $padding + $i*5;
        }
    }
}

.dropdown-menu > li > a.deleteConfirm,
.dropdown-menu > li > a.viewModal {
    clear: both;
    color: #333333;
    display: block;
    font-weight: normal;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
}

.timeline {
    list-style: none;
    padding-left: 0;
    position: relative;
	
	&::after {
		content: "";
		height: auto;
		width: 1px;
		background: #e3e3e3;
		position: absolute;
		top: 5px;
		left: 30px;
		bottom: 25px;
	}
	
	li {
		position: relative;
		padding-left: 70px;
		margin-bottom: 20px;
	}
	
	.timeline-date {
		display: inline-block;
		width: 100%;
		color: #a6a6a6;
		font-style: italic;
		font-size: 13px;
	}
	
	.timeline-icon {
		position: absolute;
		left: 23.5px;
		top: 7px;
		z-index: 12;
	}
	
	li::after {
		content: "";
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background: #e3e3e3;
		position: absolute;
		left: 24px;
		top: 5px;
	}
}

.timeline.timeline-icons li {
    padding-top: 7px;
	
	&::after {
		width: 32px;
		height: 32px;
		background: #fff;
		border: 1px solid #e3e3e3;
		left: 14px;
		top: 0;
		z-index: 11;
	}
}

.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
    
    li {
        padding: 0 10px;
        
        span {
            font-size: 12px;
            display: block;
        }
        
        span.figure {
            font-size: 1.8em;
            font-weight: 400;
        }
    }
}
