.logo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: $navbar-width;
    height: 4rem;

    display: flex;
    justify-content: center;
    //flex-direction: column;
    flex-flow: row nowrap;

    align-items: center;
    align-self: stretch;
    
    background-color: $logo-area-background-color;
    /*box-shadow: -4px 2px 4px rgba(0, 0, 0, 0.1);*/
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #E4E7ED;

    img {
        max-width: 100%;
        height: auto;
        /*border:5px double #848FA5;*/
        max-height: 3.9rem;
    }

    @media all and (max-width: 567px) {
        display: none;
    }
}