/** Progress rule */

.progress-xs {
    height: 4px;
}

.progress-sm {
    height: 4px;
    margin-bottom: 5px;
}

.gaugejs-wrap {
    position: relative;
    margin: 0 auto;
}

.gaugejs-wrap.sparkline {
    position: relative;
    .value {
        position: absolute;
        top: 50%;
        display: block;
        width: 100%;
        margin-top: -5px;
        font-size: 10px;
        line-height: 10px;
        text-align: center;
    }
    canvas {
        position: relative;
        margin: 0 auto;
    }
}