/*.nav-tabs-vertical {*/
    .nav-tabs {
      /*  border-bottom: none;
        border-right: 1px solid #dfe4ed;
        float: left;
        margin-right: 30px;*/
        
        .nav-item {
          /*  margin: 0px -4px 1px 0px;
            float: none;
            cursor: pointer;*/
            
            .nav-link {
                border: none;
                border-right: 3px solid transparent;
                display: block;
                padding: .5em 1em;
                -webkit-border-radius: 0px;
                border-radius: 0px;
                text-decoration: none;
                color: rgba($color_purple,0.6);
                font-weight:600;
                font-size:0.9em;
                
                &:focus {
                    border-right-color: rgba($color_purple,0.2) !important;
                }
                
                &:hover {
                    color: #55595c;
                    background-color: #fff;
                    border-color: #ddd #ddd transparent;
                }
            }
                        
            .nav-link.active {
                border-right-color: $color_purple !important;
                color:$color_purple;
            }
        }
    }
    
    /*.tab-pane {
        margin-right:100px;
    }*/
/*}*/

.tabs-left {
    .nav-tabs {
        float: left;
        margin-right: 19px;
        width:20%;
        border-bottom: 0;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        
        li {
            float: none;
            background: none;
            border: none;
            margin-bottom: -1px;
            a {
                background: none;
                border: 1px solid transparent;
                min-width: 74px;
                margin-right: -1px;
                margin-bottom: 3px;
                position: relative;
                color: rgba($color_dark, 0.5);
                
                .fa {
                    color: rgba($color_purple, 0.4);
                    font-size: 14px;
                    margin-right: 5px;
                }
                
                .nav-tabs--text {
                    @media screen and (max-width: $screen-sm) {
                        display: none;
                    }
                }
            }
        }
        
        .active {
            a, a:focus {
                border-radius: 4px 0 0 4px;
                border: 1px solid transparent;
                border-color: #e7eaec transparent #e7eaec #e7eaec;
                background-color:#fff;
                color: $color_purple;
                font-weight:400;
            }
        }
    }
    
    .panel-body {
        width: 80%;
        margin-left: 20%;
        border-top: 1px solid #e7eaec;
        position:static;
        background: #fff;
        border: 1px solid #e7eaec;
        border-radius: 2px;
        padding: 20px;
    }
}

//colors
$color_alto_approx: #ddd;

//@extend-elements
//original selectors
//.sideways >li.active >a, .sideways >li.active >a:hover, .sideways >li.active >a:focus
%extend_1 {
	border-bottom-color: transparent;
	border-right-color: $color_alto_approx;
	border-left-color: $color_alto_approx;
}


.tabs-left {
	border-bottom: none;
	padding-top: 2px;
	border-right: 1px solid $color_alto_approx;
	> li {
		float: none;
		margin-bottom: 2px;
		margin-right: -1px;
		> a {
			background: none;
            border: 1px solid transparent;
            min-width: 74px;
            margin-right: -1px;
            margin-bottom: 3px;
            position: relative;
            color: rgba($color_dark, 0.5);
            
            .fa {
                color: rgba($color_purple, 0.4);
                font-size: 14px;
                margin-right: 5px;
            }
            
            .nav-tabs--text {
                @media screen and (max-width: $screen-sm) {
                    display: none;
                }
            }
			margin-right: 0;
			display: block;
		}
		&.active > a {
			border-bottom-color: $color_alto_approx;
			border-right-color: transparent;
			&:hover {
				border-bottom-color: $color_alto_approx;
				border-right-color: transparent;
			}
			&:focus {
				border-bottom-color: $color_alto_approx;
				border-right-color: transparent;
			}
		}
	}
}
.tabs-right {
	border-bottom: none;
	padding-top: 2px;
	border-left: 1px solid $color_alto_approx;
	> li {
		float: none;
		margin-bottom: 2px;
		margin-left: -1px;
		> a {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0 4px 4px 0;
			margin-right: 0;
		}
		&.active > a {
			border-bottom: 1px solid $color_alto_approx;
			border-left-color: transparent;
			&:hover {
				border-bottom: 1px solid $color_alto_approx;
				border-left-color: transparent;
			}
			&:focus {
				border-bottom: 1px solid $color_alto_approx;
				border-left-color: transparent;
			}
		}
	}
}

.tab-content {
	background-color: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
    padding:15px;
}
