/** Table **/

.table {}

.email-table.table-striped > tbody > tr > td:first-child {
    padding-left: 20px;
}

.email-table.table-striped > tbody > tr > td {
    vertical-align: middle;
}

.email-table.table-striped > tbody > tr > td {
    border: none;
}

.table-curved > tbody > tr > td:first-child {
    border-radius: 4px 0 0 4px;
}


.email-table .table-icon {
    width: 55px;
}

.emails {
    table {
        
        tr {
            td, th {
                border-left: none !important;
                border-right: none !important;
            }
        }
    }
}

.div-table {
    width: auto;
}

#table-data {
    thead {
        th {
            background-image: none, linear-gradient(to bottom, #f6f6f6 0px, #eaeaea 100%);
        }
    }
}

.persons {
    width:100%;
    margin-top:5px;
    margin-bottom:15px;
    
    td,th {
        padding:5px 3px;
    }
    
    td {
        border:1px solid #eee;
        font-size:0.9em;
        
        i {
            margin-right:5px;
        }
    }
    
    th {
        background-color: #eee;
        color: #333;
    }
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: $color_leading;
    border-color: $color_leading;
}

.pagination > li > a, .pagination > li > span {
    color: $color_leading;
}

.pagination > li > a, .pagination > li > span {
    padding: 5px 10px;
    font-size: 12px;
}

.table-logs {
    
    border-radius: 0 !important;
    background-image: none !important;
    
    thead tr th {
        background-color:$color_grey !important;
        background-image: none !important;
        border-radius: 0 !important;
        color:#fff;
        font-weight:600;
        font-size: 0.9em;
    }
    
    tbody {
        font-size:0.8em;
    }
    
    tbody tr:nth-child(odd) {
       background-color: rgba($color_purple,0.3);
    }
    
    tbody tr:hover {
        background-color: rgba(#000,0.1);
    }
    
    tbody tr td:nth-child(1) {
        text-align: center;
    }
}

.table > tbody > tr > td, .table-widget > tbody > tr > td {
    vertical-align: middle;
}

.table > thead > tr > th, .table-widget > thead > tr > th {
    vertical-align: middle !important;
	text-align: center !important;
}

.fixed-table-footer {
    font-size: 0.8em;
    color: $color_navy;
    font-weight:400;
}

.table-settled {
    thead {
        th {
            color: $color_purple;
        }
        th.checkable {
            width: 20px;
        }
        th.period {
            width:85px;
            text-align:center;
        }
        th.percent {
            width:70px;
            text-align:center;
        }
    }
    
    input {
        text-align: center;
        padding: 0;
    }
}

table > thead {
    small {
        font-size:72% !important;
        color:$color_grey;
    }
}

#rates-container {
    font-size: 0.8em;
}

table {
    .btn-break { 
        white-space: normal !important;
        color: #fff !important;
        font-size: 80%;
    }
}

.editable-input {
    textarea {
        line-height: 18px;
        font-size:12px;
    }
}

#table-report {
    font-size: 12px;
    
    /*th {
        .th-inner {
            font-weight: 400 !important;
            font-size: 11px;
        }
    }*/
}
/*.div-table-actions {
    .fixed-table-body {
        overflow-y: hidden !important;
        
        tbody.no-scroll {
            overflow-y: hidden !important;
        }
        .btn-group {  
            white-space: nowrap;              
        }
        .btn-group .btn {  
            float: none;
            display: inline-block;
        }
         .btn + .dropdown-toggle { 
            margin-left: -4px;
            position: absolute;
        }
    }
}*/

.bs-checkbox {
    width: 20px;
}