/**
*
* SASS Variables
*
**/

/* Colors */

$colorPrimary: #52524e; 
$colorSecondary: #9a9b94;
$colorThird: #d4d6c8;
$colorFourth: #e9e9e5;

$colorMain: #4A4A4A;
$colorDarkBlue: #0C163E;
$colorDarkBlueSecond: #252F68;
$colorBlue: #1F2171; //(logo is this colour)
$colorLightBlue: #A8BDD9; //(Used for prosecco bits)
$colorDarkGold: #B48A74;
$colorMidGold: #D5C3B6;
$colorVeryLightGold: #FAF3EE;
$colorGold: #CCAB7C;
$colorLightDimGray: #4C4D4F;
$colorWhite: #fff;
$colorRed: #F05A5D;
$colorNormalGray: #C2C2C2;
$colorDarkGray: #272726;
$colorBlack: #000;
$colorWhiteSmoke: #F7F8F8;
$colorWhiteHalfTransparent: rgba(255, 255, 255, 0.97);

$formInputBg: #F6F6F6;
$formInputBorder: #C2C2C2;
$colorPlaceholder: rgba($colorMain, 50%);

$colorPaleRed: #df8888;

$colorChampagne: $colorDarkGold;
$colorProsecco: $colorLightBlue;

$burgerColor: #1d2172;

$lineLong: 70px;

$shoppingBagSummargyBG: #F5F5F5;
/* BG colors */

$bgColors: (
    'main': $colorMain,
    'blue': $colorBlue,
    'darkBlue': $colorDarkBlue,
    'lightBlue': $colorLightBlue,
    'darkGold': $colorDarkGold,
    'midGold': $colorMidGold,
    'veryLightGold': $colorVeryLightGold,
    'paleRed': $colorPaleRed,
    'white': $colorWhite,
    'black': $colorBlack,
    'gray': $colorLightDimGray,
    'gold': $colorGold,
    'dark-gray': $colorDarkGray,
    'whiteSmoke': $colorWhiteSmoke,
    'whiteHalfTransparent': $colorWhiteHalfTransparent,
	'primary': $colorPrimary,
	'secondary': $colorSecondary,
	'third': $colorThird,
	'fourth': $colorFourth
);

// socials
$fb: #3c5b9a;
$insta: #d93175;
$twit: #1da1f2;
$gplus: #DB4437;

$socials: (
    'soc-fb': $fb,
    'soc-insta': $insta,
    'soc-twit': $twit,
    'soc-gplus': $gplus
);

$columns_width_set: (25, 30, 33, 40, 50, 67, 70, 75);

$colors: (
    'main': $colorMain,
    'blue': $colorBlue,
    'darkBlueSecond': $colorDarkBlueSecond,
    'gold': $colorGold,
    'red': $colorRed,
    'normal-gray': $colorNormalGray,
    'darkGray': $colorDarkGray,
);


.color {
    @each $colorName, $color in $colors {
        &-#{$colorName} {
            color: $color;
        }
    }
}