
.appointment-form input[type="text"], .appointment-form input[type="email"] {
    margin-bottom: 23px;
}

.appointment-form input[type="text"], .appointment-form input[type="email"], .appointment-form input[type="number"], .appointment-form textarea {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: -moz-use-text-color -moz-use-text-color #FFC596;
  border-image: none;
  border-style: none none solid;
  border-width: 0 0 2px;
  color: #FFF;
  display: inline-block;
  margin-bottom: 0;
  padding: 0 5px 5px;
  resize: none;
  width: 100%;
  font-weight: 500;
  height: auto;
  font-size: 14px;
  margin:5px;
}

.appointment-form .common {
    /*padding-left: 9px;*/
    padding-right: 9px;
}

form.appointment-form-page input, form.appointment-form-page input:hover, form.appointment-form-page input:focus {
  /*  background: #fbfbfb none repeat scroll 0 0;*/
    border: 0 none;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #a7a7a7 inset;
    box-sizing: border-box;
    color: #a09f9f;
   /* float: left;*/
    font-family: open sans;
    font-size: 12px;
    height: 35px;
    margin-bottom: 20px;
    padding: 10px 10px 10px 40px;
    width: 100%;
}
 form.appointment-form-page span {
    color: #626262;
    font-size: 12px;
    left: 4px;
    line-height: 9px;
    padding-right: 5px;
    position: absolute;
    top: 6px;
	position:relative;
}

i.ico-user {background: rgba(0, 0, 0, 0) url("../img/icons/user.png") no-repeat scroll center center; width:24px; height: 24px; display:block; }
i.ico-mail {background: rgba(0, 0, 0, 0) url("../img/icons/mail.png") no-repeat scroll center center; width:24px; height: 24px; display:block; }
i.ico-calendar {background: rgba(0, 0, 0, 0) url("../img/icons/calendar.png") no-repeat scroll center center; width:24px; height: 24px; display:block; }
i.ico-clock {background: rgba(0, 0, 0, 0) url("../img/icons/clock.png") no-repeat scroll center center; width:24px; height: 24px; display:block; }
i.ico-phone {background: rgba(0, 0, 0, 0) url("../img/icons/phone.png") no-repeat scroll center center; width:24px; height: 24px; display:block; }
i.ico-info {background: rgba(0, 0, 0, 0) url("../img/icons/info.png") no-repeat scroll center center; width:24px; height: 24px; display:block; }

input.ico-user { background: url(../img/icons/user.png) no-repeat scroll 7px 7px #fbfbfb; padding-left:30px; }
input.ico-mail { background: url(../img/icons/mail.png) no-repeat scroll 7px 7px #fbfbfb; padding-left:30px; }
input.ico-calendar { background: url(../img/icons/calendar.png) no-repeat scroll 7px 7px #fbfbfb; padding-left:30px; }
input.ico-clock { background: url(../img/icons/clock.png) no-repeat scroll 7px 7px #fbfbfb; padding-left:30px; }
input.ico-phone { background: url(../img/icons/phone.png) no-repeat scroll 7px 7px #fbfbfb; padding-left:30px; }
input.ico-info { background: url(../img/icons/info.png) no-repeat scroll 7px 7px #fbfbfb; padding-left:30px; }


.dd-select{ border-radius:2px; border:solid 1px #ccc; position:relative; cursor:pointer;}
.dd-desc { color:#aaa; display:block; overflow: hidden; font-weight:normal; line-height: 1.1em; font-size:0.7em;}
.dd-selected{ overflow:hidden; display:block; padding:2px 10px; font-weight:bold;}
.dd-pointer{ width:0; height:0; position:absolute; right:10px; top:50%; margin-top:-3px;}
.dd-pointer-down{ border:solid 5px transparent; border-top:solid 5px #000; }
.dd-pointer-up{border:solid 5px transparent !important; border-bottom:solid 5px #000 !important; margin-top:-8px;}
.dd-options{ border:solid 1px #ccc; border-top:none; list-style:none; box-shadow:0px 1px 5px #ddd; display:none; position:absolute; z-index:2000; margin:0; padding:0;background:#fff; overflow:auto;}
.dd-option{ padding:2px 10px; display:block; border-bottom:solid 1px #ddd; overflow:hidden; text-decoration:none; color:#333; cursor:pointer;-webkit-transition: all 0.25s ease-in-out; -moz-transition: all 0.25s ease-in-out;-o-transition: all 0.25s ease-in-out;-ms-transition: all 0.25s ease-in-out; }
.dd-options > li:last-child > .dd-option{ border-bottom:none;}
.dd-option:hover{ background:#f3f3f3; color:#000;}
.dd-selected-description-truncated { text-overflow: ellipsis; white-space:nowrap; }
.dd-option-selected { background:#f6f6f6; }
.dd-option-image, .dd-selected-image { vertical-align:middle; float:left; margin-right:5px; max-width:64px;}
.dd-image-right { float:right; margin-right:15px; margin-left:5px;}
.dd-container{ position:relative;}
.dd-selected-text { font-weight:bold; font-size:0.8em;}
.dd-option-text { font-size:0.8em;}

ul#doctorPlanner {
    list-style: none;
    padding-left: 0;
    width: auto;
	margin-top:30px;
}

ul#doctorPlanner li {
    background: #319997;
	color: #fff;
	font-size:0.8em;
    display: inline-block;
    padding: 5px;
    margin-left: -3px;
    margin-bottom: 1px;
    width:90px;
	text-align:center;
	cursor:pointer;
}

ul#doctorPlanner li:hover {
    background: #fff;
	color: #319997;
}

div#booking-appointment-errors {display: none;}
div#booking-appointment-success {display:none;}
.admin-link {margin-top:10px;}
.panel-footer {background-color:#CCF9FF;font-size:0.7em;}