
.block {
	display: block;


	&--table {
		display: table;

		&__cell {
			display: table-cell;
		}
	}

	&--same-height {
		position: relative;
		min-height: 250px;
		opacity: 0;
		visibility: hidden;

		transform: scale(0.1);

		@media all and (min-width: 768px) and (max-width: 991px) {
			min-height: 200px;
		}

		@media all and (max-width: 767px) {
			min-height: 80px;
			margin-bottom: 2em;
		}

		&.show {
			opacity: 1;
			visibility: visible;
			transform: scale(1.0);
			left: 0 !important;
			right: 0;
			transition: all 1s cubic-bezier(0.68,-0.55,0.27,1.55);
		}

		> p {
			padding-left: 20px;
			padding-right: 20px;
			font-size: 1.1em;
		}
	}

	&--red {
		margin-bottom: 3px; 
		padding: 15px 15px; 
		color: #fff; 
		text-align: justify;
		font-size: 0.9em;
		background-color: #FC9740; 
		border-top: 5px solid #F26D00;
	}

	&--blue {
		background-color: #46ADCD;
		margin-bottom: 3px;
		padding: 5px;
		color: #fff;
		font-size: .9em; 
		border-top: 5px solid #0195C1;
	}

	&--yellow {
		background-color: #F2B115;
		margin-bottom: 3px;
		padding: 5px;
		color: #fff;
		font-size: .9em;
		border-top: 5px solid #E8A200;
	}
}

a.block {
	//transition: all 0.3s ease;

	p,
	li,
	td {
		color: $color_main;
	}

	&:hover {
		background-color: rgba(70, 173, 200, .1);
		border-radius: 20px;

		.number {
			border-radius: 20%;
			background-color: $color_orange;
		}
	}
}
