.multiselect-container {
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0;
	.input-group {
		margin: 5px;
	}
	> li {
		padding: 0;
		> a {
			padding: 0;
			> label {
				margin: 0;
				height: 100%;
				cursor: pointer;
				font-weight: 400;
				padding: 3px 20px 3px 40px;
				&.radio {
					margin: 0;
				}
				&.checkbox {
					margin: 0;
				}
				> input[type=checkbox] {
					margin-bottom: 5px;
				}
			}
			&.multiselect-all label {
				font-weight: 700;
			}
		}
		&.multiselect-group label {
			margin: 0;
			padding: 3px 20px;
			height: 100%;
			font-weight: 700;
		}
		&.multiselect-group-clickable label {
			cursor: pointer;
		}
	}
}
span.multiselect-native-select {
	position: relative;
    width:100%;
	select {
		border: 0!important;
		clip: rect(0 0 0 0)!important;
		height: 1px!important;
		margin: -1px -1px -1px -3px!important;
		overflow: hidden!important;
		padding: 0!important;
		position: absolute!important;
		width: 1px!important;
		left: 50%;
		top: 30px;
	}
    
    .btn-group {
        width:100%;
        
        .btn {
            white-space: normal !important;
            color: $header-background-color;
        }
        
        .multiselect {
            width: 100%;
            text-align:right;
        }
    }
}
.btn-group > .btn-group:nth-child(2) > .multiselect.btn {
	
    //Instead of the line below you could use @include border-top-left-radius($radius)
	border-top-left-radius: 4px;
	//Instead of the line below you could use @include border-bottom-left-radius($radius)
	border-bottom-left-radius: 4px;
}
.form-inline .multiselect-container {
	label {
		&.checkbox {
			padding: 3px 20px 3px 40px;
		}
		&.radio {
			padding: 3px 20px 3px 40px;
		}
	}
	li a label {
		&.checkbox input[type=checkbox] {
			margin-left: -20px;
			margin-right: 0;
		}
		&.radio input[type=radio] {
			margin-left: -20px;
			margin-right: 0;
		}
	}
}