.chat-small {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
    
    small {
        font-weight: 300;
        font-size: 0.8em;
    }
    
    strong {
        font-weight: 600;
        font-size:0.9em;
    }
    
    li {
        border-bottom: 1px dotted #b3a9a9;
        margin-bottom: 10px;
        padding-bottom: 5px;
        width: 100%;
        
        .chat-img {
            width: 50px; 
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            display: inline-block;
        }
        
        .chat-body {
            p {
                color: #777777;
                margin: 0;
                font-size: 0.9em;
            }
        }
        
        i {
            margin-right: 5px;
        }
    }
    
    li.left {
        .chat-body {
            margin-left: 60px;
        }
    }
    
    li.right {
        .chat-body {
            margin-right: 60px;
        }
    }
}