.chart-legend {
    margin-bottom: 15px
}

.chart-legend li {
    font-size: 11px;
    color: #616670
}

.chart-legend li>span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px
}

.module-content-header {
    margin-bottom: 0
}

.module-content-inner {
    padding-bottom: 10px
}

.truncate {
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.progress-container {
    float: left;
    margin-top: 5px
}

.progress-container {
    .progress-pc {
        color: #616670;
        margin-right: 5px;
        line-height: 1;
        float: left;
        text-align: right;
        min-width: 40px;
        font-weight: 700
    }
    
    .progress {
        width: 100px;
        float: left;
        margin-bottom: 0
    }

}

.module-overview .chart-legend {
    margin-bottom: 0
}

.summary-container {
   padding: 30px;
   background-color: #fff;
   .item {
        border-right: 1px solid #f3f3f3;
        text-align: center;
        
        .item-title {
            font-size: 13px;
            color: #a2a6af;
            margin-bottom: 5px;
            
            .icon {
                font-weight: 700;
                display: inline-block;
                margin-right: 5px;
                padding: 4px;
                font-size: 2em;
                vertical-align: middle;
                text-align: center;
                color: #fff;
                border-radius: 3px;
                background-clip: padding-box;
                margin-bottom: 10px
            }
            
            .title-text {
                display: block
            }

        }
        
        .item-figure {
            font-size: 32px;
            font-weight: 300
        }
    }
    
    .item:last-child {
        border-right: none
    }
}

