.attachement-list {
	max-height: 350px;
    min-height: 50px;
    overflow-y: auto;
    /*padding-left:10px;*/
    padding-top: 10px;
    position: relative;
    
    a {
		color: darken($color_leading,20%) !important;
		&:hover {
			text-decoration: none;
			color: $color_leading;
		}
		&:focus {
			text-decoration: none;
			color: $color_leading;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		
        li.documents-empty {
           display: table;
           width: 100%;
        }
        li.document-normal {
			padding: 10px;
            background-color: #fafafa;
			display: table;
			width: 100%;
            border: 1px solid #e2e2e4;
            margin-bottom:2px;
            position:relative;
            
            .attachment-downloading {
                position: absolute;
                width:100%;
                height:100%;
                text-align:center;
                padding-top:10px;
                font-weight:600;
                background-color: rgba($color_leading, 0.8);
                color:#fff;
                margin: -10px -11px;
            }
			
            .attachment { 
                > div {
                    display: table-cell;
                    vertical-align: middle;
                }
                .attachment-thumb {
                    width: 60px;
                    height: 60px;
					padding-left:4px;
                    a {
                        color: $color_leading;
                        width: 60px;
                        height: 60px;
                        display: inline-block;
                        text-align: center;
                        background-color: $gray-lighter;
                        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
                        border-radius: 4px;
                        i {
                            width: 60px;
                            height: 60px;
                            line-height: 60px;
                            font-size: 20px;
                        }
                        &:hover {
                            background-color: $color_leading;
                            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
                            transition: all 0.2s ease-out;
                            color: #fff;
                        }
                    }
                }
                .attachment-info {
                    padding-left: 16px;
                    p {margin: 0 0 3px;}
                    .attachment-file-name {
                        display: block;
                        margin-bottom: 3px;
                        color: $color_leading;
                        
                           a {
                                color: $color_leading;
                                
                                &:hover {
                                    color: darken($color_leading,10%);
                                }
                           }
                    }
                    .attachment-file-creator {
                        color: $gray-light;
                    }
                    .attachment-file-category {
                        color: $blue;
                        font-size:0.9em;
                        i {
                            padding-right:2px;
                            color: lighten($blue,5%);
                        }
                    }
                    .attachment-action-bar {
                        a {
                            font-size:0.8em;
                            color: $teal !important;
                            &:hover {
                                text-decoration: none;
                            }
                            &:focus {
                                text-decoration: none;
                            }
                            
                            i {
                                margin-right:2px;
                                color: rgba($teal, 0.3);
                            }
                        }
                        .list-file-download a {
                            padding-right: 10px;
                        }
                        .list-file-del a {
                            padding-right: 10px;
                        }
                        .list-file-edit a {
                            padding-right: 10px;
                        }
                    }
                }
            }
		}
	}
}

.upload-container {
    position: relative;
    
    .btn {
        
        &-file {
            background-color: $purple;
            color: #fff;
        }
        
        &-file-send {
            background-color: $teal;
            color: #fff;
        }
    }
}

.progress-wrp {
    /*border: 1px solid #0099CC;
    padding: 1px;*/
    position: absolute;
    width:100%;
    height:100%;
    /*border-radius: 3px;
    margin: 10px;*/
    text-align: center;
   /* background: rgba(255,255,255,0.7);*/
    background: url(/images/loading.gif) no-repeat center center rgba(255,255,255,0.7);
    /*box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);*/
    box-shadow: -1px -1px 13px 0px rgba(0,0,0,0.75);
    z-index:3;
    
    
    .progress-bar{
        height: 20px;
        border-radius: 3px;
        background-color: #f39ac7;
        width: 0;
        box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
    }
    
    .status{
        top:3px;
        left:50%;
        position:absolute;
        display:inline-block;
        color: #000000;
    }
}
/*.files-container {
    padding: 0;
    
    li {
        list-style-type: none;
        padding:2px;
        margin-top:2px;
        background-color: rgba($color_leading,0.2);
        border: 1px solid $color_leading;
        
        position: relative;
        
        .desc {
            padding-right:40px;
            p {
                font-size:0.8em;
            }
        }
        
        a {
            color: $color_leading;
        }
        
        .file-delete {
            position:absolute;
            top:2px;
            right:5px;
        }
        
        .file-update {
            position:absolute;
            top:2px;
            right:25px;
        }
        
        &:first-child {
            margin-top:10px;
        }
    }
}*/

.docs-group {
	input.form-control{
		width:70%;
	}
	select.form-control{
		width:30%;
	}
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}