.access-panel {
	.inbox {
		/*max-width:400px;
		margin:50px auto;
		background:white;
		border-radius:5px;
		box-shadow:10px 10px 0 rgba(0,0,0,0.1);*/
		border: 1px solid $gray-lighter;
		margin-bottom:10px;
		
		h2 {
			font-size:1.2em;
			padding: 5px 10px;
			background-color: $gray-lighter;
			color: $gray-light;
			margin: 0 !important;
		}
    }
    
    .item {
		display: flex;
		align-items: center;
		border-bottom: 1px solid #F1F1F1;
        max-width: 100%;
        overflow-x: auto;
		
		&:hover {
			background-color:$alert-info-bg;
		}
    }
    
    .item:last-child {
		/*border-bottom:0;*/
    }


    input:checked + p {
		background:$alert-success-bg /*#F9F9F9*/;
		/*text-decoration: line-through;*/
    }
	input:disabled + p {
		/*background:$alert-success-bg #F9F9F9;*/
		/*text-decoration: line-through;*/
		color: #EEEEEE;
    }
	input.check-role-grant + p{
		color: #3c763d !important;
	}

    input[type="checkbox"] {
		margin:5px 10px;
    }
    
    p {
		margin:0;
		padding:5px 10px;
		transition:background 0.2s;
		flex:1;
		font-size: 1em;
		font-weight: 400;
		border-left: 1px solid #D1E2FF;
    }
  
    .details {
		text-align: center;
		font-size: 15px;
    }

}

/*.panel-grants {
    max-height:300px;
    overflow-y:auto;
}*/