.card {
    margin-bottom: 1.875rem;
    border: none;
    border-radius: 0;
    position: relative;
    display: block;
    /*border: 1px solid rgba(0,0,0,.06);*/
    background-color: #fff;
    
    .text-xs-center {
        text-align: center!important;
    }
    
    .card-block, .card-footer, .card-header {
        padding: 1.5rem;
    }
    
    .height-150 {
        height: 150px!important;
    }
    
    .list-group {
        padding-left: 0;
        margin-bottom: 0;
    }
    
    .list-group-item {
        border-right: 0;
        border-left: 0;
        border-radius: 0;
        position: relative;
        display: block;
        padding: 1.25rem;
        margin-bottom: -1px;
        background-color: #FFF;
        border: 1px solid #E4E7ED;
        margin: 0;
        border-left: none;
        border-right: none;
        border-bottom: none;
        color: $purple;
        
        i {
            margin-right:5px;
            color:$blue;
        }

    }
    
    .rounded-circle {
        border-radius: 50%;
    }
    
}

/*legend {
    font-size:1.1em;
    font-weight: 400;
    background-color: rgba($color_leading,0.1);
    color: darken($color_grey, 10%);
    padding:3px 10px;
}*/

fieldset {
    border: 1px solid rgba($color_leading, 0.5);
    padding: 40px 10px 10px 10px;
    margin:20px 0px;
    position: relative;
    border-radius: 0;
    
    legend {
        position: absolute;
        top: 0;
        left:0;
        display: block;
        margin: 0 100% 10px 0;  
        padding: 5px 40px 5px 10px;
        background: $color_leading;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-radius: 0 0 3px 0;  
        font-weight: 600;
        font-size: 1.0em;
        color: #fff;
        width: auto;
        white-space: nowrap;
        
        .pull-right {
            position:absolute;
            right:10px;
        }
    }
    
    p {
        padding: 10px;
    }
}
    
.info-container {
    margin-bottom: 15px;

    .label {
        font-weight: 300;
        font-size: 1em;
        color: $color_grey;
    }
    .label-view {
        font-weight: 400;
        font-size: 0.8em;
        color: $color_grey;
        line-height:1em;
    }
    p {
        font-size: 1.1em;
        font-weight:300;
        margin-top:2px;
        margin-bottom: 0;
        border-bottom: 1px dashed $color_lightgrey;
        padding-bottom:5px;
        padding-left:20px;
        color:darken($purple,10%);
    }
}