

.lazyload,
.lazyloading {
    position: relative;
    opacity: 0;
    transition: opacity 500ms;
    min-height: 200px;
}

.lazyloaded {
    position: relative;
    opacity: 1;
    transition: opacity 500ms;
}




.ratio-container {
    position: relative;

    &:after {
        content: '';
        display: block;
        height: 0;
        width: 100%;
        /* 16:9 = 56.25% = calc(9 / 16 * 100%) */
        padding-bottom: 56.25%;
        content: "";
        background: url("../images/ajax-loader-img.gif?v=1") no-repeat center center transparent;
    }

    &.animated {

        &.big-img-ratio {
            
            &:after {
                padding-bottom: 40%;
            }
        }
    }
}

.ratio-container > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* unknown ration variation */
.unknown-ratio-container {
    position: relative;

    &:after {
        content: '';
        display: block;
        height: 0;
        width: 100%;
        /* 16:9 = 56.25% = calc(9 / 16 * 100%) */
        padding-bottom: 41.7%;
        content: "";
        background: url("../images/ajax-loader-img.gif?v=1") no-repeat center center transparent;
    }

     > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
        max-width: 100%;
        width: 100%;
        height: auto;
    }

}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2200;

    width: 100%;
    height: 100%;

    opacity: 0.8;
    background: url("../images/ajax-loader-brown.gif?v=1") no-repeat center center;
}
