#table-messages {
    
    td {
 
        b {
            font-weight:800;
            color:$color_leading;
        }
    }
       
    td {
        vertical: middle;
    }
    
    td.td-email, th.td-email {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width:140px;
    }
    
    td.td-avatar-img {
        width:60px;
        text-align:center;
        img {
            width:50px !important;
            height:50px !important;
        }
    }
    
    td.td-date, th.td-date {
        width: 60px;
        text-align: right;
    }
    
    td.td-actions {
        width: 30px;
        text-align: center;
        
        a {
            margin-bottom:2px;
        }
    }
    
    td.td-type, th.td-type {
        width: 70px;
        text-align: center;
        
        span {
            font-size:0.8em !important;
            margin-bottom:2px;
        }
    }
}


$accent-color: #61C7B3;

$color-light-grey: #EFEFEF;
$color-dark-grey: #888;
$color-red: #D23B3D;
$color-orange: #E2A917;
$color-blue: #1BC3E1;
$color-green: #9AE14F;

$sidebar-background: #1D2127;
$sidebar-text-color: #ABB4BE;
$sidebar-dark-text-color: #465162;

$sidebar-width: 300px;
$sidebar-padding: 50px;



.circle-icon {
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 28px;
	border: 2px solid #B4BBC1;
	border-radius: 100px;
	font-size: 14px;
	color: #B4BBC1;
	cursor: pointer;
	display: block;
	float: left;

	&.small {
		height: 25px;
		width: 25px;
		line-height: 23px;
		font-size: 11px;
	}

	&:hover {
		color: #57636C;
		border-color: #57636C;
	}

	&.red {
		color: $color-red;
		border-color: $color-red;

		&:hover {
			color: #791C1E;
			border-color: #791C1E;
		}
	}
}


.checkbox-wrapper {
	cursor: pointer;
	height: 20px;
	width: 20px;
	position: relative;
	display: inline-block;
	box-shadow: inset 0 0 0 1px #A3ADB2;
	border-radius: 1px;

	input {
		opacity: 0;
		cursor: pointer;

		&:checked ~ label {
			opacity: 1;
		}
	}

	label {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		cursor: pointer;
		background: #A3ADB2;
		opacity: 0;
		transition-duration: .05s;

		&:hover {
			background: darken(#A3ADB2, 5%);
			opacity: .5;
		}
		&:active {
			background: darken(#A3ADB2, 10%);
		}
	}
}



#message {
	/*position: fixed;
	top: 0;
	left: 60%;
	bottom: 0;
	width: 40%;
	z-index: 5;
	transform: translateX(200%);
	transition-duration: .5s;*/
	padding: 10px 5px;
	/*background: $color-light-grey;*/

	.show-message & {
		transition-duration: .3s;
	}

	.header {
		margin-bottom: 30px;
		padding: 0;

		.page-title {
			display: block;
			float: none;
			margin-bottom: 20px;

			.icon {
				margin-top: 4px;
				margin-right: 10px;
			}
		}

		.grey {
			margin-left: 10px;
			color: #999;
		}
	}

	.message-container {
		/*padding: 0 30px;*/

		li {
			padding: 25px;
			border: 1px solid rgba(0,0,0,.15);
			background: #FFF;
			margin: 0 0 30px 0;
			position: relative;

			&:hover .details .left {

				.arrow {
					background: $accent-color;
					border: 0px solid $accent-color;

					&.orange {
						background: $color-orange;
						border: 0px solid $color-orange;
					}
				}
			}

			.details {
				padding-bottom: 20px;
				border-bottom: 1px solid rgba(0,0,0,.1);
				margin-bottom: 30px;
				overflow: hidden;

				.left {
					float: left;
					font-weight: 600;
					color: $color-dark-grey;
					transition-duration: .3s;

					.arrow {
						display: inline-block;
						position: relative;
						height: 2px;
						width: 20px;
						background: rgba(0,0,0,.15);
						vertical-align: top;
						margin-top: 12px;
						margin: 12px 20px 0 15px;
						border: 0px solid rgba(0,0,0,.15);
						transition-duration: .3s;

						&:after {
							position: absolute;
							top: -4px;
							left: 100%;
							height: 0;
							width: 0;
							border: inherit;
							border-width: 7px;
							border-style: solid;
							content: '';
							border-right: 0;
							border-top-color: transparent;
							border-bottom-color: transparent;
							border-top-width: 5px;
							border-bottom-width: 5px;
						}
					}
				}

				.right {
					float: right;
					color: #999;
				}
			}


			.message {
				margin-bottom: 40px;

				p:last-child {
					margin-bottom: 0;
				}
			}

			&:hover .tool-box {
				.red-hover {
					color: $color-red;
					border-color: $color-red;

					&:hover {
						color: #791C1E;
						border-color: #791C1E;
					}
				}
			}

			.tool-box {
				position: absolute;
				bottom: 0;
				right: 0;
				border: 0px solid #DDDFE1;
				border-top-width: 1px;
				border-left-width: 1px;
				padding: 8px 10px;
				transition-duration: .3s;

				a {
					margin-right: 10px;

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
}


.show-message #message {
	transform: none;
}
.show-message #main {
	margin-right: 40%;
}







@media only screen and (min-width: 1499px) {
	
	#main .overlay {
		display: none;
	}

}

@media only screen and (max-width: 1500px) {
	
	.show-message {
		#main {
			margin-right: 0;
		}
		#message {
			left: 50%;
			width: 50%;
		}
	}

}

@media only screen and (max-width: 1024px) {

	#sidebar {
		transform: translateX(-100%);
	}

	#main {
		left: 0;
		box-shadow: none;

		.header .page-title .sidebar-toggle-btn {
			margin-right: 20px;
			opacity: 1;
			width: 20px;
		}
	}


	.show-sidebar {
		#sidebar {
			transform: none;
		}
		
		#main {
			transform: translateX($sidebar-width);
		}
	}



	
	.show-message {
		#main {
			margin-right: 0;
		}
		#message {
			left: 20%;
			width: 80%;
		}
	}

}


@media only screen and (max-width: 600px) {
	#main .header {
		.search-box {
			float: none;
			width: 100%;
			margin-bottom: -110px;
			margin-top: 70px;

			input, input:focus {
				width: 100%;
			}
		}

		.page-title {
			margin-bottom: 50px;
		}
	}


	#main .message-list li {
		.col-1 {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 120px;
			width: auto;
		}
		.col-2 {
			right: 0;
			left: auto;
			width: 120px;

			.date {
				padding-left: 0;
				position: static;
			}
			.subject {
				display: none;
			}
		}
	}
}

