
.number {
	display: block;
	width: 80px;
	height: 80px;
	margin-right: 10px;
	float: left;
	border-radius: 50px;
	background-color: $color_blue;

	text-align: center;
	font-size: 19px;
	font-weight: 400;
	color: #fff;
	line-height: 4.2;
	transition: all 0.3s ease;

	+ [class*="headline-"] {
		+ p {
			padding-left: 90px;
			font-size: 1.1em !important;
		}
	}
}