//colors
$color_alto_approx: #ddd;
$gold: #ffd700;
$color_sweet_corn_approx: #ffed85;

//fonts
$font_0: FontAwesome;

.rating {
	border: none;
	float: left;
	> input {
		display: none;
		&:checked {
			~ label {
				color: $gold;
				&:hover {
					color: $color_sweet_corn_approx;
					~ label {
						color: $color_sweet_corn_approx;
					}
				}
			}
			+ label:hover {
				color: $color_sweet_corn_approx;
			}
		}
	}
	> label {
		color: $color_alto_approx;
		float: right;
		&:before {
			margin: 5px 8px;
			font-size: 1.25em;
			font-family: $font_0;
			display: inline-block;
			content: "\f005";
		}
		&:hover ~ input:checked ~ label {
			color: $color_sweet_corn_approx;
		}
	}
	> .half:before {
		content: "\f089";
		position: absolute;
	}
	&:not(:checked) > label:hover {
		color: $gold;
		~ label {
			color: $gold;
		}
	}
}