/**
*
* Section
*
**/

.section {
	width: 100%;
	/*padding: 40px 0;*/
	padding: 0;
	clear:both;

	&--nopad {
		padding: 0;
	}

	&--blocks {
		overflow: hidden;
		
		.container {
			.row-g-20 {
				> [class*="col-"] {
					&:nth-of-type(1),
					&:nth-of-type(4) {
						a {
							left: -500px;
						}
					}

					&:nth-of-type(3),
					&:nth-of-type(6) {
						a {
							left: 500px;
						}
					}
				}
			}
		}
	}

	.grid > * {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
