//colors
$color_alto_approx: #ddd;
$color_mountain_mist_approx: #999999;
$color_black_squeeze_approx: #f3f8fc;

.kv-sidenav {
	ul {
		padding: 0;
		margin: 0;
	}
	.opened {
		float: right;
	}
	.closed {
		float: right;
	}
	.indicator {
		color: $color_mountain_mist_approx;
	}
	.active {
		> ul {
			background-color: $color_black_squeeze_approx;
			display: block;
		}
		> a > span > .indicator {
			color: $white;
		}
	}
	.nav {
		display: none;
		.nav {
			display: none;
			a {
				padding-left: 18%;
			}
		}
		a {
			padding-left: 9%;
		}
		.active > ul {
			display: block;
		}
	}
	li a {
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		border-bottom: 1px solid $color_alto_approx;
	}
}