//colors

.card-profile {
    background: #FFF;
    padding: 10px;
    margin-bottom: 30px;
    
    &__purple {
        .profile-header {
            background-color: $purple;
        }
        
        i {
            color: rgba($purple, 0.2);
        }
    }
    
    &__teal {
        .profile-header {
            background-color: $teal;
        }
        
        i {
            color: rgba($teal, 0.3);
        }
    }
    
    &__green {
        .profile-header {
            background-color: $green;
        }
        
        .label {
            background-color: rgba($green, 0.6);
        }
    }
    
    &__red {
        .profile-header {
            background-color: $red;
        }
        
        .label {
            background-color: rgba($red, 0.6);
        }
    }
    
    &__blue {
        .profile-header {
            background-color: $blue;
        }
        
        .label {
            background-color: rgba($blue, 0.6);
        }
    }
    
    .profile-header {
        height: 115px;
        margin: -10px;
        text-align: center;
        position: relative;
        
        h4 {
            position:absolute;
            top:7px;
            color:rgba(255,255,255,0.6);
            width:100%;
            text-align: center;
            
            small {
                font-size:70%;
                color:rgba(255,255,255,0.8);
            }
        }
        
        &__avatar {
            background-color: #ccc;
            border-radius: 50%;
            display: block;
            height: 120px;
            width: 120px;
            margin: 0.5rem;
            overflow: hidden;
            position: absolute;
            bottom: -55px;
            margin: 0px auto;
            display: inline-block;
            left: 0;
            right: 0;
            border: 2px solid #fff;
            
            img {
                min-width: 100%;
                /*width: 120px;
                height: 120px;
                border-radius: 50%;
                position: absolute;
                bottom: -55px;
                margin: 0px auto;
                display: inline-block;
                left: 0;
                right: 0;
                border: 2px solid #fff;*/
            }
        }
    }
    
    .profile-body {
        margin-top: 80px;
        text-align: center;
        
        ul.profile-contact {
            margin: 0px;
            padding: 0px;
            text-align:left;
                        
            li {
                list-style: none;
                /*display: list-item;*/
                position: relative;
                padding: 9px 0 10px 10px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                
                .media-body {
                    width: auto;
                }
                
                .media-left, .media > .pull-left {
                    padding-right: 20px;
                }
                
                .teaser_icon[class*='label-'] {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    line-height: 32px;
                    border-radius: 3px;
                    vertical-align: bottom;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: baseline;
                    color: #fff;
                }
                
                .teaser_icon {
                    line-height: 1;
                    -webkit-transition: all 0.2s ease-in-out 0s;
                    transition: all 0.2s ease-in-out 0s;
                }
                
                small {
                    font-size:75%;
                    color: $grey;
                }
                
               /* i {
                    margin-right: 8px;
                    font-size: 16px;
                }*/
            }
        }
    }
}