/**
*
* Top header
*
**/

.l-header {
    width: 100%;

    &--right-border {
        border-right: 1px solid $colorDarkGray;

        @media all and(max-width: 1024px) {
            border-right: none;
            border-bottom: 1px solid $colorDarkGray;
        }
    }

    &--red-links {
        a {
            color: #f05a5d;
            transition: all 0.3s;
        
            &:hover {
                color: #f48a8c;
            }
        }
    }

    &__links-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__link{
        color: #f05a5d;
        transition: all 0.3s;

        &:not(:last-child) {
            margin-right: 10px;
            

            &:after {
                padding-left: 10px;
                display: inline-block;
                content: "|";
            }
        }
    
        &:hover {
            color: #f48a8c;
        }
    }

    &-bg-img {
        background-size: cover;
    }

    &--white-bg {
        background-image: url(../images/backgrounds/landing-page-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &--banner {
        width: 100%;
        height: 100vh;
        overflow: hidden;

        @supports (-webkit-overflow-scrolling: touch) {
            height: calc(var(--vh, 1vh) * 100);
        }

        @media (min-width: 768px) {
            min-height: 500px;
        }

        @media screen and (min-width: 768px) and (max-height: 650px) {
            min-height: 650px;
        }

        &__headline {
            margin: 0 auto;
            color: $colorBlue;
            font: {
                size: rem(19px);
                weight: 400;
            }
            text-align:center;
            line-height:1;
            max-width:95%;
            letter-spacing: rem(4px);

            @media screen and (max-width: 1024px) {
                padding-top: 100px;
                line-height: rem(32px);
            }
        }

        &__spacer {
            width: 100%;
            height: 19.3vw; // height of 'skinny'

            @media screen and (max-height: 500px) {
                height: 150px;
            }

            @media screen and (max-height: 500px) and (min-width: 1025px) {
                height: 250px;
            }
        }
    }

    &--logo {
        background-image: url(../images/backgrounds/background-logo.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 97% auto;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        @media all and (max-width: 1023px) {
            height: auto;
            background-repeat: repeat;
            background-size: 400% auto;
        }
        
        .l-header__flex-container {

            @media all and (max-width: 1023px) {
                height: auto;
            }
            
            @media screen and (min-width: 1024px) {
                order: 2;
            }
        }
    }

    &--fullscreen-image {
        position: relative;
        z-index: 11;
        background-color: #000;

        @media (min-width: 769px) {
            display: flex;
            align-items: center;
        }

        &__bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;

            background-size: cover;
            background-position: center;

            &--mobile {
                @media (min-width: 769px) {
                    display: none;
                }
            }

            &--desktop {
                display: none;

                @media (min-width: 769px) {
                    display: block;
                }
            }
        }

        &__wrapper {
            position: relative;
            z-index: 2;
            color: #fff;

            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;

                width: 100%;
                height: 100%;
                padding: 90px 0 0 0;

                text-align: center;
            }

            @media (min-width: 769px) {
                width: 580px;
                margin-left: 10%;
            }
        }

        &__headline {
            @media (max-width: 768px) {
                height: 100%;
            }
        }

        &__content {
            padding: 1.5em 0 2.5em 0;

            @media (min-width: 769px) {
                max-width: 85%;
            }
        }

        &__bottom {
            margin: 0;
            text-align: center;

            &--mobile {
                @media (min-width: 769px) {
                    display: none;
                }
            }

            &--desktop {
                display: none;

                @media (min-width: 769px) {
                    display: block;
                    max-width: 85%;
                }
            }
        }

        &__headline,
        &__content {
            @media (max-width: 768px) {
                padding: {
                    left: 4%;
                    right: 4%;
                }
            }
        }
    }

    &--fullscreen-gradient {
        &:before,
        &:after {
            content: '';
            position: absolute;
            z-index: 1;
        }

        &:before {
            @media (max-width: 768px) {
                top: 0;
                left: 0;
                width: 100%;
                height: 50vh;
                background: -moz-linear-gradient(top, rgba(0,0,0,0.91) 1%, rgba(0,0,0,0.91) 35%, rgba(0,0,0,0.14) 90%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(0,0,0,0.91) 1%,rgba(0,0,0,0.91) 35%,rgba(0,0,0,0.14) 90%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(0,0,0,0.91) 1%,rgba(0,0,0,0.91) 35%,rgba(0,0,0,0.14) 90%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
            }

            @media (min-width: 769px) {
                top: 0;
                left: 0;
                width: 80vw;
                height: 100%;
                background: -moz-linear-gradient(left, rgba(0,0,0,0.91) 17%, rgba(0,0,0,0.91) 21%, rgba(0,0,0,0.59) 49%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left, rgba(0,0,0,0.91) 17%,rgba(0,0,0,0.91) 21%,rgba(0,0,0,0.59) 49%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, rgba(0,0,0,0.91) 17%,rgba(0,0,0,0.91) 21%,rgba(0,0,0,0.59) 49%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
            }
        }

        &:after {
            @media (max-width: 768px) {
                bottom: 0;
                left: 0;
                width: 100%;
                height: 40vh;
                background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.14) 10%, rgba(0,0,0,0.91) 65%, rgba(0,0,0,0.91) 99%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.14) 10%,rgba(0,0,0,0.91) 65%,rgba(0,0,0,0.91) 99%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.14) 10%,rgba(0,0,0,0.91) 65%,rgba(0,0,0,0.91) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e8000000',GradientType=0 ); /* IE6-9 */
            }
        }
    }

    &__content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;

        @media all and (max-height: 568px) {
            height: auto;
        }

        &-box {
            padding: 2em;
        }

        @media screen and (max-height: 500px) {
            position: relative;
            display: block;
        }
    }

    &__wrapper {
        z-index:1;
        display:flex;
        align-items:flex-end;
        width: 100%;
        flex-grow:1;
        height:10px;

        @media screen and (max-height: 500px) {
            height: 200px;
        }
        
        @media screen and (max-height: 500px) and (min-width: 1024px) {//!
            height: 150px;
        }

        @media screen and (max-width: 1024px) {
            align-items: center;
        }
    }

    &--fixed {
        position: static;
        top: 0;
        left: 0;
        z-index: 3;
        height: 100%;
        min-height: 100vh;

        padding: 150px 80px 74px 80px;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;

        &-no-padded {
            padding: 0;
        }

        @media screen and (max-width: 1024px) {
            position: static;
            min-height: 200px;
            height: auto;
            padding: 20px 15px 20px 15px;
        }

        @media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
            > * {
                width: 100%;
            }
        }

        .block-grow {
            width: calc(100% + 80px);
            margin-top: 74px;
            margin-bottom: -74px;

            @media screen and (min-width: 200px) and (max-width: 1024px) {
                width: calc(100% + 30px);
                margin: 0 0 0 -15px;
            }
        }
    }

    &--product {
        position: fixed;
        height: calc(100vh - 150px - 74px);

        @media screen and (max-width: 1024px) {
            position: relative;
            height: auto;
            min-height: 400px;
            order: 0 !important;
        }

        @media screen and (max-width: 1024px) and (orientation: portrait) {
            min-height: 400px;
        }

        .share {
            position: absolute;
            z-index: 2;
            bottom: 3rem;
            right: 50px;

            @media screen and (max-width: 1024px) {
                right: 0;
                bottom: 1rem;
            }
            
            .share-bar__button {
                margin-right: 0;
                align-self: flex-end;
                color: $colorDarkGray;

                @media screen and (max-width: 1024px) {
                    right: 15px;
                }

                svg {
                    fill: $colorDarkGray;
                }

                &:hover {
                    color: $colorMidGold;

                    svg {
                        fill: $colorMidGold;
                    }
                }
            }

        }


        &.two-third {

            @media screen and (min-width: 1921px) {
                width: 70%;
            }
        }
    }

    &--top {
        justify-content: flex-start;
    }

    &--image {
        background-repeat: no-repeat;
        background-position: 50% 75%;
        background-size: cover;

        @media screen and (min-width: 421px) and (max-width: 1024px) {
            height: 580px !important;
            background-position: 100% 15%;
        }

        @media screen and (max-width: 420px) {
            height: 350px !important;
            background-position: center top;
        }
    }

    &--gradient {
        background-image: linear-gradient(202deg, rgba(255,255,255,0) 35%, rgba(171,188,215,0.35) 100%);
    }


    &.half {
        @media screen and (min-width: 200px) and (max-width: 1024px) {
            margin-top: 74px;
        }
    }

    &--mobile-top.one-fourth,
    &--mobile-top.two-third {
        @media screen and (min-width: 200px) and (max-width: 1024px) {
            order: 0;
            margin-top: 74px;
        }

        + .l-main {
            @media screen and (min-width: 200px) and (max-width: 1024px) {
                margin-top: -1px;
            }
        }
    }

    &--form {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;

        @media screen and (min-width: 1919px) {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }






    &__headline-top,
    &__description-bottom {
        max-width: 924px;
        width: 92%;
        text-align: center;
    }

    &__headline-top {
        margin-top: 50px;

        .headline-2 {
            @media screen and (max-height: 799px) and (min-width: 1023px) {
                font-size: 26px;
            }
        }

        @media screen and (min-width: 1024px) {
            order: 1;
        }

        @media screen and (max-width: 1023px) {
            margin-top: 130px;
        }
    }

    &__description-bottom {
        @media screen and (min-width: 1024px) {
            order: 3;
            margin-bottom: 30px;
        }

        @media screen and (max-width: 1023px) {
            margin-top: 36px;
            margin-bottom: 18px;
        }

        .headline-13 {
            font-weight: 400;

            @media screen and (max-height: 799px) and (min-width: 1023px) {
                font-size: 16px;
            }
        }
    }
}



.mobile {

    &--ios-less-10 {
        .l-header--banner {
            background-image: url(../images/loading-min.jpg), linear-gradient(45deg, rgba(#e0f6fb, 1) 25%, rgba(#fbece1, 1) 75%);
            background-position: center center, center;
            background-repeat: no-repeat, no-repeat;
            background-size: 100% auto, cover;

            @media all and (orientation: landscape) {
                background-size: 200% auto, cover;
            }
        }

        video {
            display:none;
        }
    }

}


.l-header {

    &__logo {
        width: 55%;
        margin-bottom: 30px;

        &--amp {
            margin: 0 auto 30px;
        }

        @media all and (max-width: 1023px) {
            max-width: 200px;
            align-self: center;
        }
        @media all and (max-width: 420px) {
            max-width: 150px;
            margin-bottom: 0;
        }
    }

    &__product-wrapper {
        position: relative;
        
        @media all and (min-width: 2000px) {
            height: 100%;
            display: flex;
            
            justify-content: center;
            align-items: center;
        }
    }

    &__product-description {
        margin: 0;
        text-transform: uppercase;
        font-size: 12px;
        color: $colorMain;
        will-change: transform;
        transition: transform 1s, opacity 1s;
    }

    &__product-img {
        position: relative;
        z-index: 1;
        max-height: 40vh;
        margin-bottom: 30px;

        will-change: transform;

        transform: translateY(-200px);
        opacity: 0;

        @media screen and (max-height: 629px)  and (min-width: 1023px) {
            // height: 160px;
            width: 40px;
            margin-bottom: 15px;
        }

        @media screen and (min-height: 630px) and (max-height: 740px) and (min-width: 1023px) {
            // max-height: 25vh;
            width: 44px;
            margin-bottom: 15px;
        }

        @media screen and (min-height: 741px) and (max-height: 900px) and (min-width: 1023px) {
            // max-height: 30vh;
            width: 64px;
            margin-bottom: 18px;
        }

        @media screen and (min-height: 901px) and (max-height: 1040px) and (min-width: 1023px) {
            // max-height: 30vh;
            width: 86px;
        }

        @media all and (max-width: 1023px) {
            width: 26%;
            height: auto;
            max-height: 100%;
        }

        @media all and (min-width: 1024px) {
            max-width: 138px;
        }


        // animation: bottle-intro 1.25s 0s 1, bottle-loop 4s 1.25s infinite;
        // animation-timing-function: ease-out, ease-in-out;

        &.anim-in {
            animation: bottle-intro 1.25s 0s forwards;
            animation-timing-function: ease-out;
        }

        &.show {
            transform: translateY(0);
            opacity: 1;
        }

        .l-header__block:hover &:not(.anim-in).show {
            animation: bottle-loop 2s 0s infinite;
            animation-timing-function: ease-in-out;
        }

        &-shadow {
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: 0;
            transform: translateX(-50%);

            // transform: scale(2), translateX(-50%);
            opacity: 0;

            // @media all and (max-width: 1023px) {
            //     width: 26vw;
            // }

            @media screen and (max-height: 629px)  and (min-width: 1023px) {
                // height: 160px;
                width: 40px;
            }
    
            @media screen and (min-height: 630px) and (max-height: 740px) and (min-width: 1023px) {
                // max-height: 25vh;
                width: 44px;
            }
    
            @media screen and (min-height: 741px) and (max-height: 900px) and (min-width: 1023px) {
                // max-height: 30vh;
                width: 64px;
            }
    
            @media screen and (min-height: 901px) and (max-height: 980px) and (min-width: 1023px) {
                // max-height: 30vh;
                width: 90px;
            }

            &.anim-in {
                animation: shadow-intro 1.25s 0s forwards;
                animation-timing-function: ease-out;
            }

            &.show {
                opacity: 1;
            }

            .l-header__block:hover &:not(.anim-in).show {
                animation: shadow-loop 2s 0s infinite;
                animation-timing-function: ease-in-out;
            }

            .l-header__block.animate &:not(.anim-in).show {
                animation: shadow-loop 2s 0s infinite;
                animation-timing-function: ease-in-out;
            }
        }

        .l-header__block.animate &:not(.anim-in).show {
            animation: bottle-loop 2s 0s infinite;
            animation-timing-function: ease-in-out;
        }
    }

    &__flex-container {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
        align-content: center;
        
        @media all and (max-width: 1023px) { 
            flex-direction: column;
        }

        &--four-block {

            .l-header__block--one {
                order: 1;
            }
            .l-header__block--two {
                order: 3;
            }

            .l-header__block--three {
                order: 4;
            }

            .l-header__block--four {
                order: 2;
            }

            .l-header__label {
                &--brown-mask {
                    margin: 0;
                }
            }

            @media all and (min-width: 576px) and (max-width: 1024px) {  
                flex-flow: row wrap;

                .l-header__block--four {
                    order: 4;
                }

                .l-header__block {
                    flex-basis: 50%;
                    height: 50%;
                }
            }
            
            @media all and (max-width: 575px) {  
                .l-header__block--four {
                    order: 4;
                }

                .l-header__block {
                    flex-basis: 25%;
                }

                .l-header__logo {
                    max-width: 100px;
                }
            }
        }

        &--3cols {
            
            > * {
                width: 33%;
                max-width: 33%;
                flex-basis: 33%;

                @media all and (max-width: 1023px) {
                    width: 100%;
                    max-width: 100%;
                    flex-basis: 100%;
                }
            }
        }
    }

    &__container-column {

    }

    &__block {
        position: relative;
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        transition: transform 0.3s ease-in-out;
        z-index: 2;

        &:hover {

            .l-header__block-wrapper {
                transform: scale(1.1);
            }
        }

        @media all and (max-width: 1000px) {
            flex: 1 0 33.3333333%;
        }

        &-wrapper {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            transition: all .5s;
            z-index: -1;

            display: flex;
            align-items: center;
        }

        &--fours-part {
            flex: 1 0 25%;
        }

        &--bottom {
            align-items: flex-end;
            overflow: visible;

            @media all and (min-width: 1024px) {
                height: 100%;
                width: 60%;
                margin: {
                    left: auto;
                    right: auto;
                }
            }

            @media all and (min-width: 2000px) {
                align-items: stretch;
            }

            .l-header__label {
                @media all and (min-width: 2000px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }

            .headline-top-gold-border {
                position: relative;
                width: auto;
                display: inline-flex;
                margin: {
                    left: auto;
                    right: auto;
                }

                &:before {
                    transition: width 1s;
                }

                span {
                    will-change: transform;
                    transition: transform 1s, opacity 1s;
                }
            }

            &:hover {
                .headline-top-gold-border {
                    &:before {
                        width: 100%;
                    }

                    span {
                        transform: translateY(10px);
                        opacity: 0.7;
                    }
                }

                .l-header__product-description {
                    transform: translateY(10px);
                    opacity: 0.7;
                }
            }
        }
		
		&--column {
			flex-direction: column;
			justify-content: center;
			align-items: stretch;
			
			@media all and (min-width: 1001px) {
				width: 20%;
			}
			
			@media all and (max-width: 1000px) {
				flex: 1 0 20% !important;
			}
		}
		
		&-color1,
		&-color2,
		&-color3 {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			color: #52524e;
			font-size: 3vw;
			letter-spacing: 0.5vw;
			font-weight: bold;			
		}
		
		&-color1 {
			background-color: #e9e9e5;
		}
		
		&-color2 {
			background-color: #d4d6c8;
		}
		
		&-color3 {
			background-color: #9a9b94;
		}
    }

    &__label {
        padding: 50px 0;
        width: 100%;

        @media all and (max-width: 1000px) {
            padding: auto;
        }

        &--mt {
            margin-top: -50px;
        }

        &--bg-white {
            /*background-image: url(../images/backgrounds/white-bg.png);*/
			background-color: rgba(255,255,255,0.7);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            @media all and (max-width: 1024px) {
                padding: 10px 0;
            }
        }


        &--brown-mask {
            margin: 0 20px;
            background-image: url(../images/backgrounds/brown-mask.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            &-no-marg {
                margin: 0;
            }

            @media all and (max-width: 1024px) {
                padding: 20px 0;
            }
        }
    }

    &__links {
        color: $colorRed;
        letter-spacing: 2px;
        font-size: 12px;
    }

    &--black-mask {
        background-image: url(../images/backgrounds/black-mask-explore.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;

        @media all and (max-width: 1152px) {
            background-size: contain;
        }
    }

    &__anim-corner {
        position: relative;
        margin-top: 2rem;
        padding: 2rem;

        $lineLong: 70px;

        &-top-left,
        &-top-right,
        &-bottom-left,
        &-bottom-right {
            position: absolute;

            &:before,
            &:after {
                content: ' ';
                position: absolute;
                background-color: #f05a5d;
            }

            &:before {
                height: 4px;
                width: 0;
                animation: divWidth 0.3s linear forwards 2.5s;
            }

            &:after {
                width: 4px;
                height: 0;
                animation: divHeight 0.3s linear forwards 2.8s;
            }
        }

        &-top-left {
            top: 0;
            left: 0;

            // ,
            &:after {
                top: 0;
                left: 0;
            }

            &:before {
                right: calc(100% - #{$lineLong});
                top:0;
            }
        }

        &-top-right {
            top: 0;
            right: 0;

            // &:before,
            &:after {
                top: 0;
                right: 0;
            }

            &:before {
                left: calc(100% - #{$lineLong});
                top:0;
            }
        }

        &-bottom-left {
            bottom: 0;
            left: 0;

            // &:before,
            &:after {
                bottom: 0;
                left: 0;
            }

            &:before {
                right: calc(100% - #{$lineLong});
                bottom:0;
            }
        }

        &-bottom-right {
            bottom: 0;
            right: 0;

            // &:before,
            &:after {
                bottom: 0;
                right: 0;
            }

            &:before {
                left: calc(100% - #{$lineLong});
                bottom:0;
            }
        }
    }

    &__with-svg {
        position: relative;
        overflow: hidden;

        .l-header__content {
            
            @media all and (max-height: 870px) {
                height: auto;
            }
        }
    }

    &__svg {
        position: absolute;
        left: 0;
        top: 0;
        stroke-dasharray: 2000;
        stroke-dashoffset: 2000;
        animation: dash 2.5s linear forwards 0.5s;

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            -webkit-animation: none;
            animation: none;

            stroke-dasharray: none;
            stroke-dashoffset: none;
        }
    }

    &--with-ctr {
        &[class*="container"] {
            @media screen and (min-width: 1025px) and (max-width: 1500px) {
                max-width: 80%;
            }
        }
    }
}






@keyframes dash {
    0% {
        stroke-dasharray: 0,2000;
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dasharray: 2000,0;
        stroke-dashoffset: 0;
    }
}

@keyframes divWidth {
    0% {
        width: 0;
    }
    100% {
        width: #{$lineLong};
    }
}

@keyframes divHeight {
    0% {
        height: 0;
    }
    100% {
        height: #{$lineLong};
    }
}