
// header
.one-fourth {
    width: 25%;

    @media screen and (min-width: 1025px) and (max-width: 1300px) {
        width: 33%;
    }

    @media screen and (min-width: 200px) and (max-width: 1024px) {
        position: static;
        width: 100%;
        order: 2;
    }
}

// main
.three-fourth {
    width: 75%;
    margin-left: 25%;

    overflow-x: hidden;
    overflow-y: auto;

    @media screen and (min-width: 1025px) and (max-width: 1300px) {
        width: 67%;
        margin-left: 33%;
    }

    @media screen and (min-width: 200px) and (max-width: 1024px) {
        width: 100%;
        margin-left: 0;
    }
}


// ------------------------

// header
.two-third {
    width: 67%;

    @media screen and (min-width: 1025px) and (max-width: 1400px) {
        width: 50%;
    }

    @media screen and (min-width: 200px) and (max-width: 1024px) {
        width: 100%;
        order: 2;
    }

    &--right {
        margin-left: 33%;

        @media screen and (min-width: 1025px) and (max-width: 1400px) {
            width: 67%;
            margin-left: 33%;
        }

        @media screen and (min-width: 200px) and (max-width: 1024px) {
            width: 100%;
            margin-left: 0;
        }
    }
}
// main
.one-third {
    width: 33%;
    margin-left: 67%;

    @media screen and (min-width: 1025px) and (max-width: 1400px) {
        width: 50%;
        margin-left: 50%;
    }

    @media screen and (min-width: 200px) and (max-width: 1024px) {
        width: 100%;
        margin-left: 0;
    }

    &--left {
        margin-left: 0;

        @media screen and (min-width: 1025px) and (max-width: 1400px) {
            width: 33%;
        }
    }
}


.half {
    width: 50%;

    @media screen and (min-width: 200px) and (max-width: 1024px) {
        width: 100%;
    }

    &--right {
        margin-left: 50%;

        @media screen and (min-width: 200px) and (max-width: 1024px) {
            margin-left: 0;
        }
    }

    + .half--right {
        @media screen and (min-width: 200px) and (max-width: 1024px) {
            margin-top: 0;
        }
    }
}