/**
*
* Top navigation
*
**/

.l-navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;
    height: 74px;

    &--white-strip {

        @media all and (max-width: 1024px) {
            background-color: $colorWhite;
            z-index: 4;
        }
    }

    &--white {
        z-index: 2;
        background-color: #fff;

        @media screen and (max-width: 1024px) {
            z-index: 4;
        }
    }

    &--white-text {
        .burger {
            svg {
                fill: #fff;
            }
        }
    }

    &--dark-bg {
        @media screen and (max-width: 768px) {
            background-color: #fff;
        }

        .l-navbar__basket-items {
            @media all and (min-width: 769px) {
                color: #fff;
            }
        }

        .burger {
            svg {
                @media all and (min-width: 769px) {
                    fill: #fff;
                }
            }

            &:hover {
                svg {
                    @media all and (min-width: 769px) {
                        fill: $colorGold;
                    }
                }
            }
        }
    }

    &__right {
        position: absolute;
        right: 30px;
        top: 30px;
        z-index: 2;
        display: flex;

        @media screen and (max-width: 768px) {
            top: 25px;
        }
    }

    &__basket {
        display: inline-block;
        margin-right: 40px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        &-items {
            display: inline-block;
            margin-left: 5px;
            font: {
                size: rem(18px);
                weight: 600;
            }
            color: $colorDarkGray;
            letter-spacing: rem(1.8px);
        }
    }
}