/* Colours */

.color {
    @each $color, $color_code in $fontColors {
        &-#{$color} {
            color: $color_code;
        }
    }
}

/** Mixins **/

// Inline-block
@mixin inline-block (){
    display: inline-block;
    vertical-align: middle;
}

// Clearfix
@mixin clearfix () {
    &:before, &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both
    }
}

// Hide-text
@mixin hidetext() {
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}

// Vendor prefixes
// IMPORTANT NOTE: Starter Kit includes autoprefixer in Grunt task "grunt prod" so you don't have to worry about vendors in your CSS/SCSS
@mixin vendor($property, $value, $prefixes) {
  @each $prefix in $prefixes {
      @if $prefix == webkit {
          -webkit-#{$property}: $value;
      }
      @else if $prefix == moz {
          -moz-#{$property}: $value;
      }
      @else if $prefix == ms {
          -ms-#{$property}: $value;
      }
      @else if $prefix == o{
          -o-#{$property}: $value;
      }
      @else if $prefix == spec {
          #{$property}: $value;
      }
      @else {
          @warn "Unrecognized prefix: #{$prefix}";
      }
  }
}


// Transition
@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
     -moz-transition: $transition-property $transition-time $method;
      -ms-transition: $transition-property $transition-time $method;
       -o-transition: $transition-property $transition-time $method;
          transition: $transition-property $transition-time $method;
}

// Flexbox
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// Order
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

// Transform
@mixin transform($property: none) {
    @include vendor(transform, $property, webkit moz ms o spec);
}

@mixin transform-origin($axes: 50%) {
    @include vendor(transform-origin, $axes, webkit moz ms o spec);
}

@mixin transform-style ($style: flat) {
    @include vendor(transform-style, $style, webkit moz ms o spec);
}


@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}
@function rem($px, $base: $base-font-size) {
    @return ($px / $base) * 1rem;
}

/** -------------------------------------------
    Positions
    ------------------------------------------- **/

@mixin center() {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translateY(-50%) translateX(-50%));
    -webkit-font-smoothing: antialiased;
}

@mixin center-vertical() {
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
    -webkit-font-smoothing: antialiased;
}

@mixin center-horizontal($type: absolute) {
    @if $type == absolute {
        position: absolute;
        left: 50%;
        @include transform(translateX(-50%));
        -webkit-font-smoothing: antialiased;
    } @else {
        margin: {
            left: auto;
            right: auto;
        }
    }
}