/* *********************** */
/* configuration variables */
/* *********************** */

$base-font-size: 16px;

/* colors */
$color1: #8B3D88;
$color2: #9AC14D;
$color3: #98878f;
$colorGreyDark: #6e7376;
$colorGreyMiddle: #cdcdcd;
$colorGreyLight: #f8f8f8;

$colorMain: #878787;
$color_leading: $colorMain;
$colorDarkblue: #04388e;
$colorGreen: #4cd964;
$colorRed: #ff3b30;
$colorGrey: #4d485b;
$colorBlue: #3771a8;
$colorTeal: #afe0de /*#87E6E9*/ /*#4acebf*/;
$colorBeige: #dcc88b;
$colorPink: #dd009b;

$colorPurple: #522E91 /*#592895*/;
$colorOrange: #F5821F/*#e77817*/;
$colorCream: #FAF6F3;

$main-font-color: #888a8c;

$body-background-color: #fff;
$main-background-color: #fff;
$header-background-color: #424A55;
$logo-area-background-color: #424A55;

$navbar-background-color: #fff;
$navbar-item-background-color: transparent;
$navbar-item-background-color-active: #dcd2ef;
$navbar-item-background-color-hover: transparent;
$navbarMobileBgColor: #fff;

$navbar-font-color: $colorDarkblue;
$navbar-font-color-hover: $colorRed;
$navbar-font-color-active: $colorRed;

$burger-lines-color: #fff;

$header-font-icon-color: #fff;

$fontColors: ('main': $colorMain, 'red': $colorRed, 'green': $colorGreen, 'blue': $colorDarkblue);

/* megamenu */

$megamenuBgColor: $colorDarkblue;

/*nav dropdown menu */

$navbarDropdownBgMenu: #777;

/* burger nav */

$burgerBgColor: $colorCream;
$burgerBgColorHover: $colorPurple;
$burgerBgColorActive: $colorPurple;

/* Footer */
$footerBgColor: #7E263C;
$footerBottomBgColor: #8484f9;
$footerFontColor: #fff;
$footerFontColorHover: #000;
$footerFontColorActive: #fff;

/* font sizes */

$navbar-font-size: 0.75em;

/* sizes */

$navbar-width: 220px;

/* transition */

$standard-transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);

/* standard GRID */

$columns_numbers: (1,2,3,4,5,6,7,8,9,10,11,12);
$columns_names: xs, sm, md, lg;
$iteration: (1/12);
$tmp: '';

$gutters: 0, 10, 20, 30, 40, 50;

$main_container_max_width: 1280;
$narrow_container_max_width: 850;
$large_container_max_width: 1500;
$max_container_max_width: calc(100% - 100px);

 /* cols - small-grid */
 $columns_width_set: (10,25, 30, 33, 35, 40, 45, 50, 55, 60, 65, 67, 70, 75, 80, 85, 90);


 /*
  * FORMS
  */

$formFontSize: rem(20px);

$labelColor: $colorGrey;

$inputPlaceholderColor: rgba($colorGrey, 0.6);

$inputTextColor: $colorMain;
$inputBgColor: white;
$inputBorderColor: $colorDarkblue;

$inputFocusTextColor: $colorMain;
$inputFocusBgColor: rgba($colorGrey, 0.3);
$inputFocusBorderColor: $colorMain;

$inputDisableTextColor: rgba($colorMain, 0.6);
$inputDisableBgColor: rgba($colorGrey, 0.6);
$inputDisableBorderColor: rgba($colorGrey, 0.8);

/* radio, checkbox, select */

$cbxDefaultBg: #e6e6e6;
$cbxFocusBg: #ccc;
$cbxCheckedBg: #2aa1c0;
$cbxDisabledBg: #e6e6e6;
$cbxCheckedFocusBg: #0e647d;
$cbxHoverBg: #ccc;

$radioCbxDisabled: #7b7b7b;

$selectFontColor: #7b7b7b;
$selectDefaultBg: #e6e6e6;

$selectFontColorFocus: #000;
$selectFocusBg: #ccc;

$selectArrowColor: #7b7b7b;
$selectFocusArrowColor: #000;
$selectDisaledArrowColor: #ccc;