/*
 * Boilerplate for traditional websites
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

button {
  border: 0; }

/**
*
* SASS Variables
*
**/
/* Colors */
/*#f8f8f8;*/
.color-main {
  color: #838383; }

.clear::before, .clear::after {
  content: '';
  display: table; }
.clear::after {
  clear: both; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 0; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
  outline: 0; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

address {
  font-style: normal; }

/*==========  GLOBAL STYLES  ==========*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, button {
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

html {
  background: #fff; }

body {
  font-family: 'Signika', sans-serif;
  font-size: 100%;
  line-height: 1.5;
  font-weight: 300;
  color: #9b9b9b; }

ul, li {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }
a:not([class]) {
  color: inherit;
  transition: 0.3s opacity; }
a:not([class]):hover {
  opacity: 0.6; }

audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.alert.fade {
  opacity: 1 !important; }

/**
*
* Top navigation
*
**/
.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  padding: 1rem 2rem;
  background-color: rgba(250, 249, 248, 0.4); }
@media all and (min-width: 200px) and (max-width: 768px) {
  .l-navbar {
    padding: 1rem 0; } }
.l-navbar__right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center; }
.l-navbar__button {
  background-color: transparent; }
.l-navbar__button:hover .icon-search {
  opacity: 0.6; }

.l-burger {
  display: inline-block;
  height: 50px;
  text-align: center;
  background-color: transparent; }
@media all and (min-width: 200px) and (max-width: 767px) {
  .l-burger {
    width: 80px; } }
.l-burger__line {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 3px;
  background-color: #838383;
  transition: opacity 0.3s ease; }
.l-burger__line:before, .l-burger__line:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: -12px;
  display: block;
  width: 40px;
  height: 3px;
  background-color: #838383;
  -webkit-transform-origin: center right;
          transform-origin: center right;
  will-change: transform;
  transition: -webkit-transform 0.5s ease, width 0.5s ease, opacity 0.5s ease, top 0.25s ease;
  transition: transform 0.5s ease, width 0.5s ease, opacity 0.5s ease, top 0.25s ease; }
.l-burger__line:after {
  top: 12px; }
.l-burger:hover .l-burger__line {
  opacity: 0.6; }
.l-burger--open .l-burger__line {
  background-color: transparent; }
.l-burger--open .l-burger__line:before {
  top: -14px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
.l-burger--open .l-burger__line:after {
  top: 14px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

/**
*
* Top header
*
**/
.l-header {
  position: relative; }
.l-header--page {
  position: relative;
  height: 60vh;
  width: 100%;
  position: relative;
  /*margin-top:80px;*/ }
.l-header--page:after {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  opacity: 0.1;
  background-image: url(/images/hp_banner.jpg);
  content: ''; }
.l-header--page_title {
  position: relative;
  padding: 30px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center; }
@media (min-width: 900px) {
  .l-header--page_title {
    padding: 120px 0; } }
.l-header--page_title h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #E1EED4; }
@media (min-width: 1200px) {
  .l-header--page_title h4 {
    font-size: 4em; } }
.l-header--page_title .breadcrumb {
  padding-left: 1rem;
  padding-right: 1rem; }
.l-header--page_title .breadcrumb li {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.02em;
  display: inline-block; }
.l-header--page_title .breadcrumb li:not(:last-child):after {
  content: '/';
  padding: 0 10px;
  color: #dedede; }
.l-header--page h1.site-title {
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #fff;
  font-size: 9em;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 0.6;
  /*&::after {
      border-bottom: 3px solid $colorBeige;
      content: "";
      display: block;
      margin: 0 auto 10px;
      padding-bottom: 20px;
      width: 10%;
  }*/ }
.l-header--full {
  height: 100vh;
  min-height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; }
.l-header--full .tile-wrapper {
  position: absolute;
  bottom: 0;
  left: 0; }
.l-header--full .tile-wrapper .tile--link:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 200%;
  height: 100%;
  box-shadow: 0 0 1px #fcebd9;
  background-color: #fcebd9;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  transition: all 0.3s; }
.l-header--full .tile-wrapper .tile--link:first-child:after {
  left: auto;
  right: 0;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  box-shadow: 0 0 1px #E1EED4;
  background-color: #E1EED4; }
.l-header--full .tile-wrapper .tile--link:first-child:hover:after {
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg); }
.l-header--full .tile-wrapper .tile--link:hover:after {
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg); }

.megamenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: #838383;
  color: #fff;
  overflow: auto;
  will-change: transform;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out; }
.megamenu--open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  z-index: 9999; }
.megamenu--open .megamenu__link {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0); }
.megamenu--close .megamenu__link {
  transition: opacity 0.3s ease !important; }
.megamenu__close {
  display: inline-block;
  position: absolute;
  top: 16px;
  right: 9px;
  height: 50px;
  background-color: transparent; }
.megamenu__close-line {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 3px;
  background-color: #fff;
  will-change: transform;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  transition: background-color 0.5s ease; }
.megamenu__close-line:after {
  content: ' ';
  position: absolute;
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 3px;
  background-color: #fff;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  transition: background-color 0.5s ease; }
.megamenu__close:hover .megamenu__close-line {
  background-color: #787878; }
.megamenu__close:hover .megamenu__close-line:after {
  background-color: #787878; }
.megamenu__nav {
  position: relative;
  padding-top: 100px;
  text-align: center; }
.megamenu__list {
  margin: 2rem 0; }
.megamenu__item {
  margin: 2.5vh 0; }
.megamenu__link {
  font-size: 2rem;
  font-weight: 300;
  color: #B8B8B8;
  transition: opacity 0.3s ease; }
@media all and (min-width: 200px) and (max-width: 567px) {
  .megamenu__link {
    font-size: 1.5rem; } }
.megamenu__link:hover {
  opacity: 0.5; }

.search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
  overflow: auto;
  background-color: #D9C290;
  color: #fff;
  will-change: transform;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out; }
.search--open {
  -webkit-transform: translateY(0);
          transform: translateY(0); }
.search__close {
  display: inline-block;
  position: absolute;
  top: 16px;
  right: 9px;
  height: 50px;
  background-color: transparent; }
.search__close-line {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 3px;
  background-color: #fff;
  will-change: transform;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  transition: background-color 0.5s ease; }
.search__close-line:after {
  content: ' ';
  position: absolute;
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 3px;
  background-color: #fff;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  transition: background-color 0.5s ease; }
.search__close:hover .megamenu__close-line {
  background-color: #787878; }
.search__close:hover .megamenu__close-line:after {
  background-color: #787878; }
.search__input {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 5em;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%; }
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .search__input {
    font-size: 3em; } }
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .search__input {
    font-size: 2.3em; } }
@media screen and (min-width: 568px) and (max-width: 767px) {
  .search__input {
    font-size: 1.8em; } }
@media screen and (min-width: 400px) and (max-width: 567px) {
  .search__input {
    font-size: 1.5em; } }
@media screen and (min-width: 200px) and (max-width: 399px) {
  .search__input {
    font-size: 1.2em; } }
.search__input:focus {
  outline: none; }
.search__headline {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 1rem; }
