/* Application styles */
.steps {
    list-style: none;
    padding: 0;
    border: 1px solid #fff;
    font-family: "Marcellus", serif;
    font-size: 1.2em;

    @media all and (min-width: 48em) {
        margin: 4em 0;
        display: table;
        width: 100%;
        height: 40px;
    }

    li {
        background-color: $colorCream;
        text-align: center;
        width: 100%;
        border-top: 1px solid $colorCream;
        margin: 0;
        position: relative;
        padding: 1em 0;
        box-sizing: border-box;
        color: $colorOrange;
        line-height:39px;

        @media all and (max-width: 768px) {
            padding: 0.5em 0;
        }

        &:first-child {
            border-top: 0;
        }

        @media all and (min-width: 48em) {
            display: table-cell;
            width: auto;
            vertical-align: middle;
            padding: 0 0 0 15px; /* left padding should compensate for arrow width */
            margin: 0;
            border: none;

            &:before {
                content:"";
                position: absolute;
                left: 100%;
                top: -1px;
                width: 0;
                height: 0;
                border-top: 21px solid transparent;
                border-left: 15px solid #fff;
                border-bottom: 21px solid transparent;
                z-index: 4;
            }
            &:after {
                content:"";
                position: absolute;
                left: 99%; /* IE8 and Android don't do calc so well */
                left: calc(100% - 1px);
                top: 0;
                width: 0;
                height: 0;
                border-top: 20px solid transparent;
                border-left: 14px solid $colorCream;
                border-bottom: 20px solid transparent;
                z-index: 5;
            }

            &:last-child {
                &:before, &:after {
                    border: none;
                }
            }
        }

        a {
            color: $colorOrange;
            text-decoration: none;
            border: none;
            display: block;
        }
        
        &:hover {
            background-color: tint($colorPurple, 90%);
      
            &:after {
                border-left: 14px solid tint($colorPurple, 90%);
            }
        }

        &.active {
            background-color: $colorOrange;
            color: $colorCream;
      
            &:after {
                border-left: 14px solid $colorOrange;
            }

            a {
                color: $colorCream;
            }
        }
        
        &.done {
            background-color: $colorPurple;
            color: $colorTeal;
      
            &:after {
                border-left: 14px solid $colorPurple;
            }

            a {
                color: $colorTeal;
            }
        }
    }
}


.apl-info {
    // background-color: $colorTeal;
    background-color: $colorPurple;
    color: $colorCream;
    text-align: justify;
}