

.bg {

    &--teal {
        background-color: $colorTeal;

        > * {
            color: #fff;
        }
    }
    
    &--blue {
        background-color: $colorDarkblue;

        > * {
            color: #fff;
        }
    }
    
    &--red {
        background-color: $colorRed;

        > * {
            color: #fff;
        }
    }
    
    &--cream {
        background-color: $colorCream;
    }

    &--orange {
        background-color: $colorOrange;
        color: $colorCream;
        
        .ft_icon {
            float: left;
            padding-right: 30px;
            padding-bottom: 30px;
            color: #fff;
        }
    }

    &--lightgrey {
        background-color: #f9f9f9;
    }
   
    &--calendar {
        padding: 30px 0;
        background: url('../img/calendar-numbers-date.png') no-repeat fixed right top;

        > * {
            color: #fff;
        }

    }

    &--stetoscope {
        background: url('../img/stetoskop.png') no-repeat fixed right top;

        > * {
            color: #fff;
        }

    }
    
    &--gradient {
        /*background: linear-gradient(to bottom, rgba($colorRed, 0.7) 0%, rgba($colorDarkblue, 0.7) 100%);*/
        background: rgba(0, 0, 0, 0) linear-gradient(154deg, $colorRed 0px, $colorDarkblue 100%) repeat scroll 0 0;
        
        > * {
            color: #fff;
        }
    }

    &-envelopes {
        background: url('../img/envelopes.jpg') repeat fixed right top;
    }
}
