//colors
$color_breaker_bay_approx: #4d9e91;
$color_celeste_approx: #cccccc;
$color_concord_approx: #7c7c7c;
$color_mountain_mist_approx: #949494;
$color_froly_approx: #ef7583;
$color_geyser_approx: #d0e9e6;
$color_mantle_approx: #8a9a96;
$color_pattens_blue_approx: #e1f1fc;
$color_picton_blue_approx: #55acee;
$color_mystic_approx: #e6eaf6;
$color_azure_approx: #3b5998;
$color_cosmos_approx: #fbdbda;
$color_thunderbird_approx: #cd201f;
$color_ziggurat_approx: #bddfea;
$color_scooter_approx: #1ab7ea;
$color_ghost_approx: #c5cfdc;
$color_pickled_bluewood_approx: #35465c;
$color_cinderella_approx: #f9e1e0;
$color_monza_approx: #bd081c;
$color_regent_st_blue_approx: #b0d4e7;
$color_deep_cerulean_approx: #0077b5;
$color_link_water_approx: #d9e4eb;
$color_regal_blue_approx: #004879;
$color_botticelli_approx: #c7d7e6;
$color_steel_blue_approx: #4183c4;
$color_valencia_approx: #dc4e41;
$color_melanie_approx: #ecc8d6;
$color_french_rose_approx: #ea4c89;
$color_spindle_approx: #b5cfe5;
$color_azure_radiance_approx: #007ee5;
$color_periwinkle_gray_approx: #c0d4ed;
$color_science_blue_approx: #0063dc;
$color_oyster_pink_approx: #f0c8d2;
$color_violet_red_approx: #f94877;
$color_blue_ribbon_approx: #1769ff;
$color_skeptic_approx: #ccebe3;
$color_persian_green_approx: #00b488;
$color_almond_approx: #efd6ca;
$color_orange_approx: #f26522;
$color_quill_gray_approx: #d3d3d3;
$color_aqua_squeeze_approx: #e8f2f0;

//fonts
$font_0: Rufina;
$font_1: serif;
$font_2: Source Sans Pro;
$font_3: sans-serif;

.blog-post {
	margin-bottom: 50px;
	&:last-child {
		margin-bottom: 0;
	}
}
.blog-post-cats {
	margin: 0;
	padding: 0;
	color: $colorGreyLight;
	border-bottom: 2px solid $color3;
	font-size: 12px;
	font-weight: 900;
	letter-spacing: 2px;
	line-height: 1.36;
	margin-bottom: 33px;
	text-transform: uppercase;
	text-align: left;
	a {
		display: inline-block;
		background: $color3;
		padding: 0 15px;
		line-height: 35px;
		margin-right: 10px;
        color: $colorGreyLight;
	}
}
.blog-post-title {
	margin-bottom: 15px;
	h2 {
		margin: 0;
		color: $color3;
		font-size: 38px;
		font-weight: 400;
		font-family: $font_0, $font_1;
		line-height: 1.2;
		display: block;
		a {
			color: $color3;
		}
	}
}
.blog-post-meta {
	margin-bottom: 30px;
	font-size: 0;
	line-height: 0;
}
.blog-post-meta-author {
	display: inline-block;
	vertical-align: middle;
}
.blog-post-meta-comments-count {
	display: inline-block;
	vertical-align: middle;
	font-family: $font_2;
	font-weight: 300;
	color: $color_concord_approx;
	span {
		display: inline-block;
		vertical-align: middle;
		line-height: 32px;
		font-size: 16px;
	}
	.fa {
		color: $color_breaker_bay_approx;
		font-size: 30px;
		margin-right: 10px;
	}
	a {
		color: inherit;
	}
}
.blog-post-meta-share-count {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	line-height: 0;
	font-family: $font_2;
	font-weight: 300;
	color: $color_concord_approx;
}
.blog-post-meta-share {
	display: inline-block;
	vertical-align: middle;
	border-right: 0;
	padding-right: 0;
	margin-right: 0;
	font-size: 0;
	line-height: 0;
	vertical-align: middle;
	a {
		display: inline-block;
		font-size: 14px;
		background: $color_geyser_approx;
		color: $color_mantle_approx;
		line-height: 25px;
		width: 25px;
		text-align: center;
		margin-right: 10px;
	}
}
.blog-post-meta-cats {
	display: inline-block;
	vertical-align: middle;
	a {
		display: inline-block;
		line-height: 28px;
		padding: 0 10px;
		background: $color3;
		font-size: 12px;
		color: $color_froly_approx;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 900;
	}
}
.blog-post-meta-separator {
	margin: 0 20px;
	vertical-align: middle;
	display: inline-block;
	width: 1px;
	height: 32px;
	background: $color_celeste_approx;
	&:last-child {
		display: none;
	}
}
.blog-post-meta-author-avatar {
	float: left;
	margin-right: 13px;
	img {
		display: block;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 50%;
	}
}
.blog-post-meta-author-main {
	overflow: hidden;
	margin-top: 5px;
	text-align: left;
	float: left;
}
.blog-post-meta-author-name {
	font-size: 14px;
	font-weight: 300;
	color: $color_concord_approx;
	margin-bottom: 7px;
	a {
		line-height: 1;
		font-weight: 700;
	}
}
.blog-post-meta-author-date {
	font-size: 10px;
	color: $color_mountain_mist_approx;
	line-height: 1;
	text-transform: uppercase;
}
.blog-post-meta-share-count-text {
	line-height: 32px;
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
}
.blog-post-meta-share-count-num {
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
	font-size: 40px;
	color: $color_froly_approx;
	line-height: 32px;
	margin-right: 10px;
}
.blog-post-thumb {
	margin-bottom: 25px;
	a {
		display: block;
		width: 100%;
	}
	img {
		display: block;
		width: 100%;
	}
}
.blog-post-main {
	overflow: hidden;
	text-align: left;
}
.blog-post-excerpt {
	margin-bottom: 27px;
}
.blog-post-excerpt-big-cap {
	display: block;
	float: left;
	font-family: $font_0;
	font-size: 85px;
	line-height: 65px;
	color: $color_froly_approx;
	padding-right: 15px;
	margin-right: 15px;
	border-right: 1px solid $color_quill_gray_approx;
}
.blog-posts-listing-1_fc_12 {
	padding: 0 80px;
	.blog-post {
		text-align: center;
	}
	.blog-post-excerpt {
		padding: 0 40px;
	}
}
body a {
	&.social-link-twitter {
		background: $color_pattens_blue_approx;
		color: $color_picton_blue_approx;
	}
	&.social-link-facebook {
		background: $color_mystic_approx;
		color: $color_azure_approx;
	}
	&.social-link-youtube {
		background: $color_cosmos_approx;
		color: $color_thunderbird_approx;
	}
	&.social-link-vimeo {
		background: $color_ziggurat_approx;
		color: $color_scooter_approx;
	}
	&.social-link-tumblr {
		background: $color_ghost_approx;
		color: $color_pickled_bluewood_approx;
	}
	&.social-link-pinterest {
		background: $color_cinderella_approx;
		color: $color_monza_approx;
	}
	&.social-link-linkedin {
		background: $color_regent_st_blue_approx;
		color: $color_deep_cerulean_approx;
	}
	&.social-link-instagram {
		background: $color_link_water_approx;
		color: $color_regal_blue_approx;
	}
	&.social-link-github {
		background: $color_botticelli_approx;
		color: $color_steel_blue_approx;
	}
	&.social-link-google-plus {
		background: $color_cinderella_approx;
		color: $color_valencia_approx;
	}
	&.social-link-dribbble {
		background: $color_melanie_approx;
		color: $color_french_rose_approx;
	}
	&.social-link-dropbox {
		background: $color_spindle_approx;
		color: $color_azure_radiance_approx;
	}
	&.social-link-flickr {
		background: $color_periwinkle_gray_approx;
		color: $color_science_blue_approx;
	}
	&.social-link-foursquare {
		background: $color_oyster_pink_approx;
		color: $color_violet_red_approx;
	}
	&.social-link-behance {
		background: $color_botticelli_approx;
		color: $color_blue_ribbon_approx;
	}
	&.social-link-vine {
		background: $color_skeptic_approx;
		color: $color_persian_green_approx;
	}
	&.social-link-rss {
		background: $color_almond_approx;
		color: $color_orange_approx;
	}
	&.social-link-email {
		background: $color3;
		color: $color_froly_approx;
	}
}
.blog-post-read-more a {
	display: inline-block;
	background: $color_aqua_squeeze_approx;
	color: $color_breaker_bay_approx;
	font-size: 12px;
	font-weight: 900;
	font-family: $font_2, $font_3;
	line-height: 38px;
	letter-spacing: 2px;
	padding: 0 16px;
	&:hover {
	}
}
.blog-posts-listing-1_fc_6 .blog-post-title h2 {
	font-size: 33px;
}

#sidebar {
	position: relative;
	margin-top: 11px;
}

body.single #sidebar {
	margin-top: 0;
}
	
	#sidebar .widget {
		margin-bottom: 35px;
	}

	#sidebar .widget:last-child {
		margin-bottom: 0;
	}

		#sidebar .widget-title {
			margin: 0;
			padding: 0;
			color: #4d9e91;
			border-bottom: 2px solid #d0e9e6;
			font-size: 12px;
			font-weight: 900;
			font-family: "Source Sans Pro", sans-serif;
			letter-spacing: 2px;
			line-height: 1.2;
			padding-bottom: 10px;
			margin-bottom: 25px;
			text-transform: uppercase;
		}
/*--------------------------------------------------------------
	## Widget - About Author
--------------------------------------------------------------*/

.about-author-widget {
	text-align: center;
	position: relative;
	border: 4px solid #ffe9ec;
	padding: 25px;
}

/*--------------------------------------------------------------
	## Blog Post Style 7 - Listing
--------------------------------------------------------------*/

.blog-post-s7 {
	margin-bottom: 30px;
	overflow: hidden;
}

.blog-post-s7:last-child {
	margin-bottom: 0;
}

	.blog-post-s7-thumb {
		margin-bottom: 23px;
		padding: 10px;
		background: #ffe9ec;
		position: relative;
	}

		.blog-post-s7-thumb img {
			display: block;
			width: 100%;
		}

		.blog-post-s7-thumb-cats {
			position: absolute;
			bottom: 0;
			left: 0;
			line-height: 34px;
			background: #ffe9ec;
			padding: 0 15px;
			font-size: 11px;
			font-weight: bold;
			color: #ef7583;
			text-transform: uppercase;
			letter-spacing: 2px;
		}

			.blog-post-s7-thumb-cats a {
				color: inherit;		
			}

	.blog-post-s7-number {
		font-size: 49px;
		line-height: 1;
		color: #bed8d3;
		font-family: "Rufina", serif;
		float: left;
		margin-right: 25px;
		margin-top: -10px;
	}

	.blog-post-s7-main {
		overflow: hidden;
	}

		.blog-post-s7-title {
			font-size: 17px;
			color: #21201f;
			margin-bottom: 9px;
			line-height: 22px;
			font-family: "Rufina", serif;
		}

			.blog-post-s7-title a {
				color: inherit;
				font-weight: 600;
			}

		.blog-post-s7-author {
			font-size: 14px;
			color: #7c7c7c;
			line-height: 1;
			margin-bottom: 7px;
		}

			.blog-post-s7-author a {
				font-weight: bold;
			}

		.blog-post-s7-date {
			color: #949494;
			font-size: 10px;
			line-height: 1;
			text-transform: uppercase;
		}

		.blog-post-s7-excerpt {
			margin-top: 10px;
			margin-bottom: 20px;
		}