.sliderRange {
    display: table-item;
   /* .sliderButton,
    .sliderMain {
      float: left;
    }
    
    &::after {
        clear: both;
    }*/
}

.calculator {
    label {
        width: 100%;
        text-align: center;
        font-weight: 600;
        color: $colorPurple;
    }
}

// input[type=range] {
//   height: 26px;
//   -webkit-appearance: none;
//   margin: 10px 0;
//   width: 100%;
// }
// input[type=range]:focus {
//   outline: none;
// }
// input[type=range]::-webkit-slider-runnable-track {
//   width: 100%;
//   height: 14px;
//   cursor: pointer;
//   animate: 0.2s;
//   box-shadow: 1px 1px 1px $colorCream;
//   background: $colorCream;
//   border-radius: 14px;
//   border: 0px solid #000000;
// }
// input[type=range]::-webkit-slider-thumb {
//   box-shadow: 0px 0px 0px #000000;
//   border: 0px solid #000000;
//   height: 20px;
//   width: 40px;
//   border-radius: 12px;
//   background: $colorOrange;
//   cursor: pointer;
//   -webkit-appearance: none;
//   margin-top: -3px;
// }
// input[type=range]:focus::-webkit-slider-runnable-track {
//   background: $colorCream;
// }
// input[type=range]::-moz-range-track {
//   width: 100%;
//   height: 14px;
//   cursor: pointer;
//   animate: 0.2s;
//   box-shadow: 1px 1px 1px $colorCream;
//   background: $colorCream;
//   border-radius: 14px;
//   border: 0px solid #000000;
// }
// input[type=range]::-moz-range-thumb {
//   box-shadow: 0px 0px 0px #000000;
//   border: 0px solid #000000;
//   height: 20px;
//   width: 40px;
//   border-radius: 12px;
//   background: $colorOrange;
//   cursor: pointer;
// }
// input[type=range]::-ms-track {
//   width: 100%;
//   height: 14px;
//   cursor: pointer;
//   animate: 0.2s;
//   background: transparent;
//   border-color: transparent;
//   color: transparent;
// }
// input[type=range]::-ms-fill-lower {
//   background: $colorCream;
//   border: 0px solid #000000;
//   border-radius: 28px;
//   box-shadow: 1px 1px 1px $colorCream;
// }
// input[type=range]::-ms-fill-upper {
//   background: $colorCream;
//   border: 0px solid #000000;
//   border-radius: 28px;
//   box-shadow: 1px 1px 1px $colorCream;
// }
// input[type=range]::-ms-thumb {
//   margin-top: 1px;
//   box-shadow: 0px 0px 0px #000000;
//   border: 0px solid #000000;
//   height: 20px;
//   width: 40px;
//   border-radius: 12px;
//   background: $colorOrange;
//   cursor: pointer;
// }
// input[type=range]:focus::-ms-fill-lower {
//   background: $colorCream;
// }
// input[type=range]:focus::-ms-fill-upper {
//   background: $colorCream;
// }




                input[type=range] {
                    /*removes default webkit styles*/
                    -webkit-appearance: none;
                    /*fix for FF unable to apply focus style bug */
                    //border: 1px solid white;

                    /*required for proper track sizing in FF*/
                    //width: 300px;
                    width: 100%;
                    background-color: transparent;
                }
                input[type=range]::-webkit-slider-runnable-track {
                    width: 100%;
                    height: 5px;
                    background: #ddd;
                    border: none;
                    border-radius: 3px;
                }
                input[type=range]::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    border: none;
                    height: 16px;
                    width: 16px;
                    border-radius: 50%;
                    background: $colorPurple;
                    margin-top: -5px;
                }
                input[type=range]:focus {
                    outline: none;
                }
                input[type=range]:focus::-webkit-slider-runnable-track {
                    background: #ccc;
                }

                input[type=range]::-moz-range-track {
                    width: 100%;
                    height: 5px;
                    background: #ddd;
                    border: none;
                    border-radius: 3px;
                }
                input[type=range]::-moz-range-thumb {
                    border: none;
                    height: 16px;
                    width: 16px;
                    border-radius: 50%;
                    background: $colorPurple;
                }

                /*hide the outline behind the border*/
                input[type=range]:-moz-focusring{
                    outline: 1px solid white;
                    outline-offset: -1px;
                }

                input[type=range]::-ms-track {
                    width: 100%;
                    height: 5px;

                    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
                    background: transparent;

                    /*leave room for the larger thumb to overflow with a transparent border */
                    border-color: transparent;
                    border-width: 6px 0;

                    /*remove default tick marks*/
                    color: transparent;
                }
                input[type=range]::-ms-fill-lower {
                    background: #777;
                    border-radius: 10px;
                }
                input[type=range]::-ms-fill-upper {
                    background: #ddd;
                    border-radius: 10px;
                }
                input[type=range]::-ms-thumb {
                    border: none;
                    height: 16px;
                    width: 16px;
                    border-radius: 50%;
                    background: $colorPurple;
                }
                input[type=range]:focus::-ms-fill-lower {
                    background: #888;
                }
                input[type=range]:focus::-ms-fill-upper {
                    background: #ccc;
                }









.calculator {
    box-shadow: 0 0 30px rgba(63,56,124,0.39);
    -moz-box-shadow: 0 0 30px rgba(63,56,124,0.39);
    -webkit-box-shadow: 0 0 30px rgba(63,56,124,0.39);
   /* background-color: rgba($colorPurple, 0.6);*/
    border-radius: 15px;
    padding:15px;
    text-align:center;
    background: linear-gradient(45deg, rgba($colorOrange,0.7), rgba($colorPurple,0.5));
    text-align: center;

    &__range {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        width: 100%;

        &-button {
            display: block;
            // padding: 0px;
            width: 32px;
            height: 32px;
            padding: 2px 6px 3px;
            text-align: center;
            // line-height: 26px;
            border-radius: 50%;
            font: {
                size: 2.5rem;
                weight: 700;
            }
            color: $colorPurple;
            background-color: $colorTeal;
            // box-shadow: 0 0 0 1px $colorPurple;
            transition: color 0.2s ease-in-out;

            &:hover {
                // box-shadow: 0 0 1px 1px $colorPurple;
                color: rgba($colorPurple, 0.6);
            }

        }

        &-input {
            margin: 0 8px;
            width: 100%;
        }
    }

    &__plus,
    &__minus {
        position: relative;
        display: block;
        width: 24px;
        height: 24px;

        &:after {
            content: ' ';
            position: absolute;
            top: 50%;
            left: 0;
            width: 22px;
            height: 3px;
            margin-top: -1px;
            background-color: $colorPurple;
            transition: background-color 0.2s ease-in-out;
        }

        &:hover {
            &:before,
            &:after {
                background-color: rgba($colorOrange, 1);
            }
        }
    }

    &__plus {
        &:before {
            content: ' ';
            position: absolute;
            left: 50%;
            top: 1px;
            width: 3px;
            height: 22px;
            margin-left: -3px;
            background-color: $colorPurple;
            transition: background-color 0.2s ease-in-out;
        }
    }



    label {
        color: $colorCream;
    }
    
    .info-tab {
        width:100%;
        color:$colorCream;
        font-size:1.1em;

        tr {
            @media all and (max-width: 768px) {
                border-bottom: 1px solid rgba(255,255,255,0.05);
            }
        }
        
        td, th {
            width:50%;
        }
        
        td {
            text-align: right;
            padding-right:20px;

            @media all and (max-width: 768px) {
                padding-right: 10px;
            }
        }
        th {
            padding-left:20px;
            color: $colorTeal;

            @media all and (max-width: 768px) {
                padding-left: 10px;
            }
        }
    }
    
    .summary {
        text-align: left;
        list-style: none;
        
        
        li {
            margin-bottom:5px;
            text-align:left;
            label {
                font-weight:400;
                color: $colorCream;
                width: 150px;
            }
            span {
                font-weight:600;
                color: $colorTeal;
            }
        } 
    }

    .info {
        background-color:rgba($colorCream,0.7);
        color:$colorPurple;
        text-align:left;
        padding:20px;
        margin-top:5px;
        border-radius:15px;
        text-align:center;
        
        ul {
            list-style: none;
            padding-left: 0;
            li {
                list-style: none;
                &::before {
                    display: none;
                }
                h4 {
                    color: $colorOrange;
                }
            }
        }
    }
}

.custom-steps {
  margin-left: 0;
  list-style: none;
  counter-reset: counter;
  font-size:2rem;

  > li:before {
    counter-increment: counter;
    content: counter(counter);
  }
}

.custom-steps--a {
    position: relative;
    
    @media (max-width: 768px) {
        width: 92%;
        margin: 0 auto;
        padding: 0;
    }

    > li {
        position: relative;
        display: block;
        margin-bottom: 2rem;
        padding-left: 3.5rem;
        color: $colorPurple;
        line-height: 1.2;
        text-align: left;

        @media (max-width: 768px) {
            font-size: 1.4rem;
        }
    
        &:before {
          position: absolute;
          left: 0;
          top: -6px;
          display: inline-block;
          width: 3rem;
          height: 3rem;
        //   margin-right: 1.25rem;
        //   margin-bottom: 1.25rem;
          border: 3px solid $colorTeal;
          line-height: 2.7rem;
          text-align: center;
          color: $colorTeal;
          background-color: white;
          border-radius: 100em;
          counter-increment: counter;
          content: counter(counter);
        }

        > p {
            margin: 0;
            padding: 0;
        }

        /*&:after {
          position: absolute;
          top: 0;
          bottom: 0;
          z-index: 90;
          left: 0.75rem;
          margin-left: 3px /2;
          border-left: 3px solid $colorOrange;
          content: "";
        }*/

        &:last-child:before {
          margin-bottom: 0;
        }
    }
    
    > li:last-child:before {
        margin-bottom: 0;
    }
}

.calculator-info {
    color: $colorPurple;
    font-weight:600;
    font-size:1.1em;
    text-align:justify;
    background-color:$colorCream;
    border-radius:4px;
    border: 1px solid darken($colorCream, 10%);
    padding:25px;

    @media all and (max-width: 768px) {
        margin-top: 1.5rem;
    }

}

.apl-calculator-aside {
    background: linear-gradient(45deg, rgba($colorOrange,0.7), rgba($colorPurple,0.5));
    margin-bottom:20px;
    padding:20px;
    color:$colorCream;
    border:5px solid $colorCream;
    border-radius:3px;
    
    h5 {
        color: $colorTeal;
        text-align: center;
        margin-bottom:10px;
        font-size:1.3em;
        
        b {
            font-family: "Muli",sans-serif;
            font-weight:600;
            color: $colorPurple;
            font-size:1.2em;
        }
    }
    
    table {
        width: 100%;
        th {
            text-align: right;
        }
        
        tr {
            &::hover {
                border:1px solid $colorTeal;
            }
        }
    }
}

.apl-info {
    margin-top: 1rem;
    // border:5px solid $colorCream;
    border-radius:3px;
    padding:20px;
  
    ul {
        li {
            list-style: none;
            border-bottom: 1px solid rgba(255,255,255,0.3);
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
                border: 0;
            }
            
            h3 {
                color: $colorCream;
            }
            p {
                // color: $colorPurple;
                color: rgba(#fff, 0.8);
            }
        }
    }
}