//colors

.card-profile {
    background: $colorCream;
    padding: 10px;
    margin-bottom: 30px;
    
    .teaser_icon {
        border-radius: 0.25em;
        background-color: #fff;
        display: inline;
        font-size: 75%;
        font-weight: bold;
        line-height: 1;
        padding: 0.2em 0.6em 0.3em;
        text-align: center;
        vertical-align: baseline;
        white-space: nowrap;
    }
    
    &__purple {
        .profile-header {
            background-color: $colorPurple;
        }
        
        i {
            color: rgba($colorPurple, 0.2);
        }
    }
    
    &__teal {
        .profile-header {
            background-color: $colorTeal;
        }
        
        i {
            color: rgba($colorTeal, 0.3);
        }
    }
    
    &__green {
        .profile-header {
            background-color: $colorGreen;
        }
        
        .label {
            background-color: rgba($colorGreen, 0.6);
        }
        
        i {
            color: $colorGreen;
        }
    }
    
    &__red {
        .profile-header {
            background-color: $colorRed;
        }
        
        .label {
            background-color: rgba($colorRed, 0.6);
        }
        
        i {
            color: $colorRed;
        }
    }

    &__blue {
        .profile-header {
            background-color: $colorBlue;
        }
        
        .label {
            background-color: rgba($colorBlue, 0.6);
        }
        
        i {
            color: $colorBlue;
        }
    }
    
    .profile-header {
        height: 115px;
        margin: -10px;
        text-align: center;
        position: relative;
        
        h4 {
            position:absolute;
            top:7px;
            color:rgba(255,255,255,0.6);
            width:100%;
            text-align: center;
            
            small {
                font-size:70%;
                color:rgba(255,255,255,0.8);
            }
        }
        
        &__avatar {
            background-color: #fff;
            border-radius: 50%;
            display: block;
            height: 120px;
            width: 120px;
            margin: 0.5rem;
            overflow: hidden;
            position: absolute;
            bottom: -55px;
            margin: 0px auto;
            display: inline-block;
            left: 0;
            right: 0;
            border: 2px solid #fff;
            
            i {
                /*width: 100%;*/
                font-size:4em;
                margin-top:25px;
            }
            
            img {
                min-width: 100%;
                /*width: 120px;
                height: 120px;
                border-radius: 50%;
                position: absolute;
                bottom: -55px;
                margin: 0px auto;
                display: inline-block;
                left: 0;
                right: 0;
                border: 2px solid #fff;*/
            }
        }
    }
    
    .profile-body {
        margin-top: 100px;
        text-align: center;
        
        ul.profile-contact {
            margin: 0px;
            padding: 0px;
            text-align:left;
            
            li {
                list-style: none;
                /*display: list-item;*/
                position: relative;
                padding: 9px 0 10px 10px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                
                .media-body {
                    width: auto;
                }
                
                .media-left, .media > .pull-left {
                    padding-right: 20px;
                }
                
                .teaser_icon[class*='label-'] {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    line-height: 32px;
                    border-radius: 3px;
                    vertical-align: bottom;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: baseline;
                    color: #fff;
                }
                
                .teaser_icon {
                    line-height: 1;
                    -webkit-transition: all 0.2s ease-in-out 0s;
                    transition: all 0.2s ease-in-out 0s;
                }
                
                small {
                    font-size:75%;
                    color: $colorGrey;
                }
                
               /* i {
                    margin-right: 8px;
                    font-size: 16px;
                }*/
            }
        }
    }
}