.chat-box {
    padding: 20px;
    /*border: 1px solid rgba(54, 64, 74, 0.05);*/
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    /*background-color: #ffffff;*/
    
    .comment {
        padding-top: 12px;
        
         .comment-avatar {
            position: relative;
            -webkit-border-radius: 3px;
            -webkit-background-clip: padding-box;
            -moz-border-radius: 3px;
            -moz-background-clip: padding;
            border-radius: 3px;
            background-clip: padding-box;
            display: block;
            float: left;
            height: 32px;
            width: 32px;
        }
        
        .comment-body {
            float: none;
            margin-left: 40px;
            position: relative;
            
            .comment-text {
                border: 1px solid #e5e5e5;
                border-radius: 2px;
                padding: 7px 12px 8px;
                background-color: #ffffff;
                
                .comment-header {
                    font-size: 12px;
                    padding-bottom: 2px;
                    
                    a {
                        font-weight: 600;
                    }
                    
                    span {
                        color: #98a6ad;
                        display: inline-block;
                        font-size: 11px;
                        margin-left: 5px;
                    }
                }
            }
            
            .comment-footer, .comment-footer a {
                color: rgba(54, 64, 74, 0.5);
            }
        }
    
         > .comment {
            margin-left: 32px !important;
        }
    }
}