.widget-contact-form {
	width: 90%;
	margin: 0 auto 3em auto;
	
	input, textarea, select {
		border: 1px solid $colorPurple;
		color: #352F2D;
		display: inline;
		font-size: 18px;
		/*margin: 0 0 0 20px;*/
        margin: 20px 0 0 0;
		padding: 0px 2px 0 5px;
		outline: none;
		width:100%;
        border-left: 5px solid $colorPurple;
        
        transition: border 0.2s ease, background 0.2s ease;

		&:focus {
			background-color: rgba($colorOrange,0.1);
			border: 1px solid $colorOrange;
			border-left: 5px solid $colorOrange;
			color: $colorPurple;
			/*padding: 4px 2px 0 5px;*/
		}
	}	
	input {
		height: 40px;
	    vertical-align: middle;
	}
	
	textarea, select {
		width: 100% !important;
	}
	
	label {
		padding-left:20px;
		color: #352F2D;
		width:40%;
	}
	
	
	
	input.formbutton {
		height: 0;
		padding: 47px 0 0;
		display: block;
		border: none;
		cursor: pointer; 
        color: #fff;
	}
	
	/*label {
		color: #114804;
		display: inline;
		float: left;
		font-size: 16px;
		font-weight: bold;
		text-align: right;
		
		span.small {
			color: #484848;
			display: block;
			font-size: 11px;
			margin-top: 5px; 
		}
	}*/
	
	div.indv_box {
		margin: 0;
		padding: 15px 0;
		position: relative; 
	}
	
	.btn {
		-webkit-border-radius: 28;
		-moz-border-radius: 28;
		border-radius: 28px;
		font-family: Arial;
		color: rgba($colorPurple,0.1);
		font-size: 20px;
		background: $colorTeal;
		padding: 10px 25px 10px 24px;
		text-decoration: none;
    
        color: #fff;
        font-size: 1em;
        font-weight: 400;
        letter-spacing: 0.1em;
        text-transform: uppercase;
	}
    
	.form-group {
	}
	.form-group-buttons {
		margin-top:1em;
		text-align:center;
	}
	.btn:hover {
	    background: $colorCream;
        color: $colorPurple;
	    text-decoration: none;
	}
}