.login-page {
    position:relative;
    padding:20px;
    
    .login-avatar {
        margin: 15px 20px 25px;
        padding-bottom: 25px;
        border-bottom: 1px dashed #DDD;
        
        img {
            display: block;
            margin: 0 auto;
            padding: 5px;
            border: 2px solid #DDD;
        }
    }
    
    .panel {
        /*background-color: #fff;*/
        border: 1px solid transparent;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        margin-bottom: 18px;
    }
    
    .panel-heading {
        /*background: #fafafa none repeat scroll 0 0;*/
        border-bottom: 1px solid $colorCream;
        border-radius: 2px 2px 0 0;
        color: $colorCream;
        font-size: 12px;
        font-weight: 600;
        line-height: 30px;
        min-height: 30px;
        padding: 0;
        position: relative;
        font-size:1.2em;
        margin-bottom:5px;
    }
    
    .panel-bg {
        padding: 10px;
        width: 320px;
        margin: 0 auto;
        background: linear-gradient(45deg, rgba($colorOrange,0.7), rgba($colorPurple,0.5));
        box-shadow: 0px 0 1px rgba(255, 255, 255, 0.8) inset;
        
        .panel {
            width: 300px;
            margin: 0 auto;
            position: relative;
            
            .panel-heading, .panel-footer {
                /*background: #FFF;*/
                border-color: #eee;
                color: $colorCream;
            }
        }
    }
    
    input {
        background-color: transparent;
        border: 1px solid $colorCream;
        color: $colorPurple;
        border-radius: 15px;
        line-height: normal;
        padding: 10px;
        width: 100%;
    }
    
    a {
        color: $colorPurple;
    }
    
    .panel-header-menu {
        font-size:0.7em;
        color:$colorPurple;
    }
    
    h5 {
        font-weight:400;
        font-size:1.1em;
        color: $colorPurple;
    }
    
    .help-block-error {
        background-color: $colorCream;
       /* padding:5px;*/
        border-radius:5px;
         color:red;
    }
}