.widget_latest-new {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: relative;
    
    .icon {
            position: absolute;
            top: -0.6em;
            left: 50%;
            display: block;
            margin-left: -0.5em;
            font-size: 3.2em;
            line-height: 1em;
            color: rgba($colorRed,0.8);
            z-index: 2;
        }
    
    .latest-news {
        position: relative;
        display: block;
       
        .latest-news__content {
            display: block;
            background-color: #ffffff;
            padding: 20px 24px 18px 24px;
            transition: all 100ms ease-out;
            
            .latest-news--inline .latest-news__title {
                font-size: 16px;
            }
            
            .latest-news__author {
                color: #aaaaaa;
                font-size: 13px;
            }
        }

        &__title {
            color: $colorDarkblue;
            transition: color 0.3s ease;
        }

        &:hover {
            .latest-news__title {
                color: $colorTeal;
            }
        }
    }
    
    .latest-news--more-news {
        position: relative;
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        background-color: #ffffff;
        padding: 20px 24px 18px 24px;
        transition: all 100ms ease-out;
        color: $colorTeal;
        transition: background-color 0.3s ease,
                    color 0.3s ease;
        
        &::after {
            position: absolute;
            content: "";
            font-family: "FontAwesome";
            content: "\f0da";
            right: 25px;
            color: #4ab9cf;
            transition: color 0.3s ease;
        }

        &:hover {
            color: #fff;
            background-color: $colorTeal;

            &:after {
                color: #fff;
            }
        }
    }
    
    .latest-news + .latest-news {
        border-top: 1px solid #e6e6e6;
    }
}