.slider {
    position: relative;
    height: 300px;
    
    &__headline {
        color: $colorDarkblue;
        font-size: 1.7em;
        text-align: center;

        &-desc {
            color: $colorRed;
            font-size: 1.9em;
        }
    }
    
    &__image-wrap {
        position: relative;
        max-width: 80%;
        
        &:after {
            content: "";
            display: inline-block;
            position: absolute;
            z-index: 0;
            width: 100%;
            height: 100%;
            top: 10%;
            left: 12.5%;
            background-color: $colorTeal;
        }
    }

    &__link {
        display: block;
        position: relative;
        margin-bottom: 10%;
        z-index: 2;
        background: #fff;
        overflow: hidden;
    }

    &__img {
        position: relative;
        z-index: 2;

        width: 100%;
        height: auto;
        transform: scale(1.1);
        transition: all 0.5s ease;

        &-overlay {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 1;
            z-index: 1;
            transition: all 0.3s ease;
            color: #fff;
        }
    }
}

.owl-item {
    .item {
        img {
            height: 500px!important;
            width:auto;
        }
    }
}

.owl-carousel {
    figure {
        width:100%; 
        height:650px; 
        background-size:cover; 
        background-position:center center; 
        background-repeat:no-repeat;

        @media all and (max-width: 1024px) {
            height: 400px;
        }
    }
    
    .item {
        position: relative;
        .slide-content {
            position: absolute;
            left: 10px;
            top: 35%;
            width: 45%;
            min-height: 300px;
            padding: 70px 70px 0;
            text-align: center;
            /*   transform: translate(-50%,-50%) rotate3d(1, 0, 0, -90deg); */
            transform-origin: top;
            background-color: rgba($colorPurple,.6);
            /*   -webkit-clip-path: polygon(0 0 , 100% 0 , 90% 100% , 10% 100% ); */
            color: #fff;
            /*   font-size: 2em; */

            mix-blend-mode: luminosity;

            @media all and (min-width: 1025px) and (max-width: 1200px) {
                top: 30%;
            }
            
            @media (max-width: 1024px)  {
                width: 60%;
            }
            
            @media (max-width: 767px)  {
                width: 90%;
            }

            @media all and (max-width: 1024px) {
                top: 25%;
                min-height: 1px;
            }
        }
        .slide-content, 
        .slide-content h3,
        .slide-content h2,
        .slide-content p,
        .slide-content h3:before,
        .slide-content h3:after {
              transition: all 2s ease;
        }
        .slide-content h3 {
            position: relative;
            display: inline-block;
            text-transform: uppercase;
            color: rgba($colorCream,.95);
            /*   transform: translate3d(-100%, 0,1px); */
        }
        .slide-content h3:before,
        .slide-content h3:after {
            content: '';
            display: block;
            width: 70px;
            height: 2px;
            position: absolute;
            top: 49%;
            background-color: #f1f1f1;
        }
        .slide-content h3:before {
            left: -90px;
            /* transform: translate3d(-700%, 0, 1px) */
        }
        .slide-content h3:after {
            right: -90px;
            /*   transform: translate3d(700%, 0, 1px) */
        }
        .slide-content h2 {
            color: $colorTeal;
            /*   font-size: 1.3em; */
            margin-top: 15px;
            margin-bottom: 20px;
            text-transform: uppercase;
            font-size: 3rem;
            /*   transform: translate3d(100%, 0,1px); */
            @media (max-width: 1024px)  {
                font-size: 2em;
            }
            
            @media (max-width: 768px)  {
                font-size: 1.4em;
            }
        }
        .slide-content p {
            /*   font-size: .6em; */
            /*   padding: 0 190px; */
            line-height: 1.4em;
            letter-spacing: 1px;
            text-transform: capitalize;
            color: rgba(255,255,255,.8);
            /*   transform: translate3d(0, 400%,1px); */
        }
            /* animate content */
        .owl-item.active .slide-content {
            transform: translate(-20%, 0%) rotate3d(1, 0, 0, 0);
            transition-delay: .7s
        }
    }
}