/* Acordeon styles */
.tab {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: #fff;
    overflow: hidden;
    
    input {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
    label {
        position: relative;
        display: block;
        padding: 0 0 0 1em;
        background: $colorTeal;
        font-weight: bold;
        line-height: 3;
        cursor: pointer;
        
        &::after {
            position: absolute;
            right: 0;
            top: 0;
            display: block;
            width: 3em;
            height: 3em;
            line-height: 3;
            text-align: center;
            -webkit-transition: all .35s;
            -o-transition: all .35s;
            transition: all .35s;
        }
    }
    label.small {
        position: relative;
        display: block;
        padding: 0 0 0 1em;
        background: $colorPurple;
        font-weight: 400;
        line-height: 1.5;
        cursor: pointer;
        font-size:0.9em;
        
        &::after {
            position: absolute;
            right: 0;
            top: 0;
            display: block;
            width: 3em;
            height: 1.5em;
            line-height: 1.5;
            text-align: center;
            -webkit-transition: all .35s;
            -o-transition: all .35s;
            transition: all .35s;
        }
    }
    .blue label {
      background: #2980b9;
    }
    .tab-content {
      max-height: 0;
      overflow: hidden;
      background: $colorCream;
      color:$colorPurple;
      -webkit-transition: max-height .35s;
      -o-transition: max-height .35s;
      transition: max-height .35s;
    }
    .blue .tab-content {
      background: #3498db;
    }
    .tab-content p {
      margin: 1em;
    }
    /* :checked */
    input:checked ~ .tab-content {
      max-height: 10em;
    }
    /* Icon */
    input[type=checkbox] + label::after {
      content: "+";
    }
    input[type=radio] + label::after {
      content: "\25BC";
    }
    input[type=checkbox]:checked + label::after {
      transform: rotate(315deg);
    }
    input[type=radio]:checked + label::after {
      transform: rotateX(180deg);
    }

}


.tab-block {
    .nav-tabs {
        li.active {
            margin-bottom: -1px;
            background-color: lighten($colorCream,2%);
            a {
                background-color: lighten($colorCream,2%);
                color:$colorPurple;
            }
        }
        
        li {
            
            a {
                margin-right: 0;
                border-radius: 4px 4px 0 0 ;
            }
        }
    }
    .tab-content {
        background-color: lighten($colorCream,2%);
        padding : 5px 15px;
        font-size:0.8em;
        border-left:1px solid #ddd;
        border-right:1px solid #ddd;
        border-bottom:1px solid #ddd;
        
        input.form-control, select.form-control {
            height: 32px !important;
            border-color: darken($colorCream, 2%);
        }
        
        input[disabled] {
            background-color: rgba($colorOrange, 0.2);
            cursor: not-allowed;
        }
        label {
            color: $colorPurple;
        }
    }
}
