blockquote {
    border-left: none;
    font-size: inherit;
    
    p {
        margin: 0;
    }
    
    .cite-job {
        margin-top: -5px;
        font-size: 12px;
    }
    
    .unit {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex: 0 1 100%;
        -webkit-flex: 0 1 100%;
        flex: 0 1 100%;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        
        .unit-body {
            padding-top: 0;
            padding-left: 27px;
        }
    }
    
    .unit-horizontal {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        
        .unit-left, .unit-right {
        -ms-flex: 0 0 auto;
            -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
            max-width: 100%;
        }
        
        .unit-left {
            img{
                border-radius: 50%;
                border: 2px solid $colorCream;
            }
        }
    }
  
    .quote-body {
        position: relative;
        border-radius: 10px;
        border: 1px solid #e5e5e5;
        padding: 20px 20px 30px;
        text-align: justify;
        
        p {
            text-indent: 20px;
        }
        
        &:before {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 8px 10px 8px;
            border-color: transparent transparent #e5e5e5 transparent;
        }
        
        &:after {
            top: -9px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 8px 10px 8px;
            border-color: transparent transparent #f5f5f5 transparent;
        }
    }
}

.quotes {
    .quote-card {
        background: #fff;
        color: #222222;
        padding: 20px;
        padding-left: 50px;
        box-sizing: border-box;
        box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
        position: relative;
        overflow: hidden;
        min-height: 120px;
        border-left:10px solid rgba(#fff, 0.3);
        
        p {
            font-size: 1.2em;
            line-height: 1.3;
            margin: 0;
            max-width: 90%;
            z-index:500;
        }
        
         cite {
            font-size: 16px;
            margin-top: 10px;
            display: block;
            font-weight: bold;
            opacity: 0.8;
            z-index:500;
            
            a {color:#fff; text-decoration:none;}
        }
        
        &::before {
            font-family: Georgia,serif;
            content: "\201C";
            position: absolute;
            z-index:-1;
            top: 10px;
            left: 10px;
            font-size: 5em;
            color: rgba(238, 238, 238, 0.8);
            font-weight: normal;
        }
        
        &::after {
            font-family: Georgia,serif;
            content: "\201D";
            position: absolute;
            bottom: -110px;
            line-height: 100px;
            right: -32px;
            font-size: 25em;
            color: rgba(238, 238, 238, 0.8);
            font-weight: normal;
        }
    }

    @media (max-width: 640px) {
      .quote-card:after {
        font-size: 22em;
        right: -15px;
      }
    }
    .quote-card.blue-card {
        background: $colorTeal;
        color: #ffffff;
        box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
        
        &::before, &::after {
            color: rgba(#fff, 0.5);
        }
    }
    
    .quote-card.red-card {
        background: $colorRed;
        color: #ffffff;
        box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
        
        &::before, &::after {
            color: rgba(#fff, 0.5);
        }
    }
    
    .quote-card.green-card {
        background: $colorGreen;
        color: #fff;
        box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
        
        &::before, &::after {
            color: rgba(#fff, 0.5);
        }
    }
    
    .quote-card.cream-card {
        background: $colorCream;
        color: $colorPurple;
        box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
        margin-top:10px;
        border-left:10px solid rgba($colorTeal, 0.3);
        
        &::before, &::after {
            color: rgba($colorTeal, 0.5);
        }
        
        .avatar {
            float: left;
            margin-right:5px;
        }
    }
}

